<ion-card>
  <ion-card-header class="card_header">
    <ion-row>
      <ion-col size="6">
        <div>
          <p>Nouveaux clients
          </p>
          <h4>+8
          </h4>
        </div>
      </ion-col>

      <!-- <ion-col size="6">
        <div class="ion-text-right">
          <p>+ 1,5 kg</p>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <canvas class="canvas" #lineCanvas></canvas>
  </ion-card-content>

  <ion-card-footer>
    <ion-row>
      <ion-col size="6">
        <div>
          <p class="p-disabled">1 Mar 19</p>
        </div>
      </ion-col>
  
      <ion-col size="6">
        <div class="ion-text-right">
          <p class="p-disabled">Aujourd'hui</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-footer>
</ion-card>
