<ion-content>

  <div class="main_container">
    <div class="description_section">
      <div class="header">
        <p>
          Bienvenue dans Transformatics 
        </p>
      </div>
  
      <div class="body">
        <p class="p1">
          Il s’agit de votre première connexion en tant que coach. Afin de développer votre Fiche de Coach, qui sera visible par vos futurs clients, et pour que Transformatics puisse vous authentifier dans sa base de données de coachs sportifs. Ces informations resteront strictement confidentielles et conservées dans l’application. Seules certaines informations seront visibles par vos clients potentiels. 

        </p>
        <!-- <p class="p2">
          Le <strong>Bodyscan</strong> dure environ 7 minutes. Cliquez sur le bouton ci-dessous pour commencer. 
        </p> -->
        <p class="p3">
          Note : il vous faut impérativement renseigner la Fiche de Coach dans son intégralité pour accéder à votre espace personnel et commencer à coacher.  

        </p>
      </div>
    </div>

    <div class="footer">
      <ion-button class="commencer" routerLink="/select-plan-coach">
        Commencer
      </ion-button>
    </div>
  </div>

</ion-content>
