ion-content {
    --background: url(../../../assets/images/landing_page_background_1.png)0 18%/100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    --overflow: hidden;

}

.body {
    color: #fff;
  
    .p1,
    .p2 {
        font-family: Oswald, serif;
        text-align: justify;
        font-size: 0.8rem;
        /* letter-spacing: 1px; */
        margin-top: 5%;
        line-height: 1rem;
    }

    .p3 {
        font-family: Oswald, serif;
    text-align: justify;
    font-style: italic;
    margin-top: 5%;
    line-height: 0.9rem;
    font-size: 0.7rem;
    }

}

.main_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10%;
    background-color: rgba(0,0,0,0.7);
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    p {
        color: var(--ion-color-primary);
        font-family: Oswald, serif;
        font-size: 18px;
        text-align: left;
    }
}


.footer {

    ion-button {
        width: 100%;
        border-radius: 10px;
        height: 40px;
    }
}

.description_section {
    padding-top: 50%;
}
.commencer{
    --background: var(--ion-btn-custom-color);
}
