<ion-header class="ion-no-border">
  <!-- <ion-toolbar mode="ios">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button>
        <ion-icon class="back-icon" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Transformatics</ion-title>
  </ion-toolbar> -->

  <div class="header-img">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button>
        <ion-icon class="back-icon" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/icon/header.png" />
  </div>


</ion-header>

<ion-content>
  <div class="main-container">
    <div class="segment_container">
      <ion-segment value="login" color="tertiary" scrollable="true" [(ngModel)]="segmentModel"
        (ionChange)="segmentChanged($event)">
        <ion-segment-button value="login">
          <ion-label class="segment-btn-text">CONNEXION</ion-label>
        </ion-segment-button>

        <ion-segment-button value="register">
          <ion-label class="segment-btn-text">INSCRIPTION</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <div class="segment_container_data">
    <div *ngIf="segmentModel === 'login'">
      <form [formGroup]="loginForm">

        <ion-item class="input_container">
          <ion-icon class="input-icon" name="mail-outline"></ion-icon>
          <ion-input placeholder="Adresse mail" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="input_container">
          <ion-icon class="input-icon" name="key-outline"></ion-icon>

          <ion-input type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
        </ion-item>


        <ion-button class="submit-btn" (click)="goToScanArrival()"> S’IDENTIFIER </ion-button>
      </form>
    </div>

    <div *ngIf="segmentModel === 'register'">
      <form [formGroup]="registrationForm">
        <!-- Input with placeholder -->
        <ion-item class="input_container">
          <ion-input placeholder="Nom" formControlName="last_name"></ion-input>
        </ion-item>

        <ion-item class="input_container">
          <ion-input placeholder="Prénom" formControlName="first_name"></ion-input>
        </ion-item>

        <ion-item class="input_container">
          <ion-icon class="input-icon" name="mail-outline"></ion-icon>
          <ion-input placeholder="Adresse mail" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="input_container">
          <ion-icon class="input-icon" name="key-outline"></ion-icon>

          <ion-input type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
        </ion-item>

        <ion-item class="input_container">
          <ion-icon class="input-icon" name="key-outline"></ion-icon>

          <ion-input type="password" placeholder="Répétez le mot de passe" formControlName="confirm_password">
          </ion-input>
        </ion-item>

        <ion-button class="submit-btn" (click)="registerAndRedirect()"> S’INSCRIRE </ion-button>
      </form>
    </div>
  </div>
</ion-content>