// ion-toolbar {
//     --background: #000;
// }

ion-content {
    --background: #000;
}

ion-header {
    background: #000;
}



ion-title {
    color: #fff;
    font-family: 'Anton', serif;

    font-size: 17px;
    letter-spacing: 4px;

}

.header-img {
    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
    // margin: 0 auto;

    img {
        height: 50px;
        width: 190px;
        
    }
}




.toolbar-background {
    border-color: transparent !important;
}

.back-icon {
    color: #fff;
}
ion-segment {
    background: transparent;
    
   
}
ion-segment-button {

    background: transparent;
    --background-checked: transparent;
    --indicator-height: 0px;
   
    
}

.segment_container {
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

.segment-btn-text {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    font-family: Oswald, serif;
}

.segment_container_data {
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 8%;
}



.input_container {
    margin-bottom: 10px;
    width: 100%;
    --background: transparent;
    --color: #fff;
    --border-color: #fff;
    height: 50px;
}

.submit-btn {
    width: 100%;
    margin-top: 10%;
    height: 39px;
    font-weight: 500;
    font-family: Oswald, sans-serif;
    --color: #fff;
    --background: var(--ion-btn-custom-color);
}

.input-icon {
    color: gray;
    padding-right: 10px;
    font-size: 20px;
}

ion-input {
    font-family: Oswald, serif;

}