.steptwofirstbtn ion-button {
    white-space: normal;
    font-size: 12px;
    --padding-start: 0;
    --padding-end: 0;
    height: 50px;
}

.plan_btn_section {
    padding-top: 2%;
    ion-col {
        padding: 0;

        .steptwofirstbtn {
            ion-button {
                // height: 72px;
                margin: 0;
            }
        }
    }
}

.select_box_section {
    ion-col {
        padding: 0;

        ion-item {
            --padding-start: 0;
            --padding-end: 0;

            ion-select {
                position: absolute;
                right: 0%;
            }

        }
    }
}


.masculation_section {
    ion-col {
        padding: 0;
    }
}
.coachingathlete {

    margin-top: 5px;
    --inner-border-width: 0 0 0px 0;
    background: linear-gradient(to right, #ffece3ff, #ffc9a4ff, #ffece3ff);
    display: flex;
    justify-content: center;
    height: 33px;

    img {
        padding: 2%;
    }
    ion-label {
        align-self: center;
    }
}

.coachingathleteCol {
    --inner-border-width: 0 0 0px 0;
    display: flex;
    justify-content: center;
    height: 33px;

    img {
        padding: 2%;
    }
    ion-label {
        align-self: center;
    }
}


ion-footer {
    ion-button {
        width: 100%;
        --background: var(--ion-btn-custom-color);
        font-size: 12px;
        
    }
}


.card_data_section {
    ion-card {
        width: 100%;
        margin: 0;
        // height: 210px;
    }
}


.ribbon-wrapper-1 {
    width: 51px;
    height: 65px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ribbon-1 {
    font: bold 15px Sans-Serif;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: rotate( 47deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: 0px;
    top: 16px;
    height: 44px;
    width: 150px;
    background: var(--ion-btn-custom-color);
    color: #fff;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    letter-spacing: 0.5px;
    z-index: 1;
}



.small_card_row {
    width: 100%;
    ion-card {
        width: 100%;
        margin: 0;

        height: 80px;
        display: flex;
        padding-left: 5%;

 
        ion-card-content {
            display: flex;
            flex-direction: column;    
        }
    }
}


.big_card_row {
    width: 100%;
    ion-card {
        width: 100%;
        margin: 0;

        height: 130px;
        display: flex;
        padding-left: 5%;

 
        ion-card-content {
            display: flex;
            flex-direction: row;    

            ion-img {
                width: 95px;
            }

            ion-label {
                align-self: center;
                padding-left: 5%;
            }
        }
    }
}


ion-button {
    text-transform: capitalize;
}


.list_item_col {
    margin-top: 1%;
    border-bottom: 1px solid #a7a6a6;
    // padding-bottom: 5%;
    padding-left: 0;
    ion-label {

    }
}


.bold_text {
    font-weight: 600;
    font-size: 0.7rem !important;
}

.black_box {
    width: 37px;
    background: #000;
    height: 30px;

}

.list_section_title {
    padding-left: 10px;
}


.list_item_col2 {
    margin-top: 1%;
    border-bottom: 1px solid #a7a6a6;
    // padding-bottom: 5%;
    padding-left: 0;
    ion-item {
        --padding-start: 0;
    }
}


.very_small_text_1 {
    font-size: 0.7rem !important;
    color: #000;
    font-weight: 500;
}

.select_body_section {
    border-style: dotted;
    border-color: #696969;
    padding: 5px;
    justify-content: center;
    border-width: 2px;
    border-radius: 10px;
    
}


.list_item_col3 {
    // padding-bottom: 5%;
    padding-left: 0;
    ion-item {
        --padding-start: 0;
    }
}


.select_section {
    display: flex;
    padding-right: 10px !important;
    ion-select {
        width: 100%;
        padding: 0;
    }
}