<ion-content>

  <div class="main_container">
    <div class="description_section">
      <div class="header">
        <p>
          Bienvenue dans Transformatics 
        </p>
      </div>
  
      <div class="body">
        <p class="p1">
          Il s’agit de votre première connexion. Afin de permettre au système de s’individualiser à votre personne, il vous faut premièrement répondre à une série de questions pour que nous sachions tout de votre passé sportif, pour mieux créer votre futur.
        </p>
        <p class="p2">
          Le <strong>Bodyscan</strong> dure environ 7 minutes. Cliquez sur le bouton ci-dessous pour commencer. 
        </p>
        <p class="p3">
          Note : il vous faut impérativement renseigner le Bodyscan dans son intégralité pour accéder à votre espace personnel. 
        </p>
      </div>
    </div>

    <div class="footer">
      <ion-button class="commencer" routerLink="/select-plan">
        Commencer
      </ion-button>
    </div>
  </div>

</ion-content>
