<ion-header class="chat-profile">

    <ion-toolbar>
        <ion-item>
            <ion-buttons class="ion-no-margin" slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-avatar slot="start">
                <img src="assets/icon/man.png">
            </ion-avatar>
            <ion-label>
                <h3>JEAN MICHEL ANDRAS</h3>
                <p>Connecté</p>
            </ion-label>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="header-button-box">
        <div class="header-button-box-button-right">
            <div class="header-button-box-button ">
                <img src="assets/icon/attach.png">
            </div>
            <div class="header-button-box-button">
                <img src="assets/icon/video.png">
            </div>
            <div class="header-button-box-button">
                <img src="assets/icon/call.png">
            </div>
        </div>
    </div>
    <div>
        <ion-list class="chat-screen-box">
            <div class="ion-text-center startchartdate">
                <p>Thursday,January 22,2015</p>
            </div>
            <ion-item class="chat-input">
                <ion-text slot="end" class="f10">4:31 PM</ion-text>
                <ion-text class="chat-text-custemer f12">
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                </ion-text>
            </ion-item>
            <ion-item class="chat-input">
                <ion-text slot="end" class="chat-text-user f12">
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                </ion-text>
                <ion-text slot="start" class="f10">4:31 PM</ion-text>
            </ion-item>
            <div class="ion-text-center seendate">
                <span>Thursday,January 22,2015</span>
            </div>
            <ion-item class="chat-input">
                <ion-text slot="end" class="f10">4:31 PM</ion-text>
                <ion-text class="chat-text-custemer f12">
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                </ion-text>
                <!-- <ion-avatar slot="start">
                    <img src="assets/icon/man.png">
                </ion-avatar> -->
            </ion-item>
            <ion-item class="chat-input">
                <ion-text slot="end" class="chat-text-user f12">
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                </ion-text>
                <ion-text slot="start" class="f10">4:31 PM</ion-text>
            </ion-item>
            <ion-item class="chat-input">
                <ion-text slot="end" class="f10">4:31 PM</ion-text>
                <ion-text class="chat-text-custemer f12">
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                </ion-text>
            </ion-item>
            <div class="ion-text-center seendate">
                <span>Thursday,January 22,2015</span>
            </div>
            <ion-item class="chat-input">
                <ion-text slot="end" class="chat-text-user f12">
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                </ion-text>
                <ion-text slot="start" class="f10">4:31 PM</ion-text>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="chat-input">
                        <ion-icon slot="start" name="image-outline"></ion-icon>
                        <ion-input placeholder="Ecrivez votre message ici"></ion-input>
                        <ion-icon slot="end" name="send-outline"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>