.line-progres-box {
    display: flex;
}

.line-progres-box .line-progres-box-content {
    flex-grow: 1;
}

.line-progres-box-content .line-progres-box-content-bar {
    width: 100%;
    height: 10px;
}

.bar1 {
    background: #8da9dbff;
}

.bar2 {
    background: #f7caacff;
}

.bar3 {
    background: #92d050ff;
}

.bar4 {
    background: #ed7d31ff;
}

.line-progres-box-content-text {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.progrss-velue h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.progrss-velue p {
    margin-top: 5px;
    font-size: 10px;
    color: #c1c1c1;
}

.card-box h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.card-box p {
    margin: 0;
    font-size: 10px;
}

.card-box img {
    width: 30px;
}

.card-box {
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px 1px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-round ion-button {
    font-size: 12px;
    --border-radius: 6px;
    --box-shadow: none;
}

.viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 10px;
    height: 25px;
    --background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
}

.viewall:before {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 100%;
    top: 13px;
    left: 0;
}