<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div>
                    <h4 class="f12 text-bold ion-text-center">FIN DE SEANCE – FELICITATIONS !
                    </h4>
                </div>
                <div class="ion-text-center">
                    <circle-progress [percent]="77.3" [radius]="70" [backgroundPadding]="15">aaaaa</circle-progress>
                </div>
                <div class="progrss-velue">
                    <h4>85.7% </h4>
                    <p>MOYENNE DES SEANCES </p>
                </div>
                <div class="line-progres-box">
                    <div class="line-progres-box-content">
                        <div class="line-progres-box-content-bar bar1"></div>
                        <div class="line-progres-box-content-text">60-70%
                        </div>
                    </div>
                    <div class="line-progres-box-content">
                        <div class="line-progres-box-content-bar bar2"></div>
                        <div class="line-progres-box-content-text">70-80%
                        </div>
                    </div>
                    <div class="line-progres-box-content">
                        <div class="line-progres-box-content-bar bar3"></div>
                        <div class="line-progres-box-content-text">80-90%
                        </div>
                    </div>
                    <div class="line-progres-box-content">
                        <div class="line-progres-box-content-bar bar4"></div>
                        <div class="line-progres-box-content-text">90-100%
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="card-box">
                    <img src="assets/icon/clock1.png">
                    <p>DUREE TOTALE</p>
                    <h4>49’55’’</h4>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="card-box">
                    <img src="assets/icon/law.png">
                    <p>VOLUME DE SEANCE</p>
                    <h4>1279kg</h4>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="card-box">
                    <img src="assets/icon/fire.png">
                    <p>CALORIES BRULEES</p>
                    <h4>339</h4>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="btn-round">
                    <ion-button expand="full" shape="round" color="light">Voir ma progression </ion-button>
                </div>
                <div class="btn-round">
                    <ion-button expand="full" shape="round" color="light">Partagez votre entraînement</ion-button>
                </div>
                <div class="btn-round">
                    <ion-button class="text-bold" expand="full" shape="round" color="light">Retour au Dashboard</ion-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="viewall">
                <ion-button>DETAILS DE LA SEANCE
                    <ion-icon name="chevron-forward-outline" aria-label="chevron forward outline"></ion-icon>
                </ion-button>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>