<ion-content>
    <div class="banner">
        <img src="assets/images/ebook.png">
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="ebook-title">
                    <h4>E-BOOKS TRANSFORMATICS</h4>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="ebook-filter">
                    <ion-item class="ion-no-padding">
                        <ion-label>Filtres</ion-label>
                        <ion-select value="notifications" interface="action-sheet">
                            <ion-select-option value="enable">Enable</ion-select-option>
                            <ion-select-option value="mute">Mute</ion-select-option>
                            <ion-select-option value="mute_week">Mute for a week</ion-select-option>
                            <ion-select-option value="mute_year">Mute for a year</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="ebook-filter">
                    <ion-item lass="ion-no-padding">
                        <ion-label>Classez par</ion-label>
                        <ion-select value="notifications" interface="action-sheet">
                            <ion-select-option value="enable">Enable</ion-select-option>
                            <ion-select-option value="mute">Mute</ion-select-option>
                            <ion-select-option value="mute_week">Mute for a week</ion-select-option>
                            <ion-select-option value="mute_year">Mute for a year</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="ebook-filter-result">
                    <h4>32 produits</h4>
                </div>
            </ion-col>
            <div>
                <app-book></app-book>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>