.ebook-filter {
    border: 1px solid #fff;
    padding: 0px 10px;
}

.ebook-filter ion-item {
    --inner-border-width: 0px 0px 0px 0px;
    --background: transparent;
    color: #fff;
}

ion-content {
    --background: #000;
}

.ebook-title h4 {
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.ebook-filter-result h4 {
    color: #fff;
    text-align: center;
    font-size: 12px;
}