<ion-content>
    <app-bodysvg *ngIf="face === 'front'"></app-bodysvg>
    <app-bodysvgback *ngIf="face === 'back'"></app-bodysvgback>
    <ion-grid>
        <ion-row style="justify-content: center;">
            <ion-img (click)="flipImage()" class="back_icon" src="assets/icon/switch_body.png"></ion-img>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-button class="back" expand="full" shape="round" routerLink="/add-exercise">
                        <img src="assets/icon/back-triangle.png" alt="" class="">
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button routerLink="/add-exercise" class="next" expand="full" shape="round">Ajouter [x] exercices
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>