<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-label class="medium_text">
        Sélectionnez un type de superset :
      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" [color]="typeOfSupersetBtnArray =='Biset' ? 'primary' : 'light'" class="small_text" (click)="typeOfSupersetBtnArray ='Biset'">
          Biset
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" [color]="typeOfSupersetBtnArray =='Triset' ? 'primary' : 'light'" class="small_text" (click)="typeOfSupersetBtnArray ='Triset'">
          Triset
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="12">
        <ion-button class="small_text" expand="full" [color]="typeOfSupersetBtnArray =='Giant set' ? 'primary' : 'light'" (click)="typeOfSupersetBtnArray ='Giant set'">
          Giant set
        </ion-button>
      </ion-col>
    </ion-row>



    <ion-row class="ion-margin-top">
      <ion-label class="medium_text">
        Créer un biset avec un exercice déjà sélectionné ?
      </ion-label>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" color="light" class="small_text" (click)="yesClick()" [color]="yesNoBtnClick =='yes' ? 'primary' : 'light'">
          Oui
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" class="small_text" (click)="noClick()" [color]="yesNoBtnClick =='no' ? 'primary' : 'light'">
          Non
        </ion-button>
      </ion-col>
    </ion-row>




  </ion-grid>
</ion-content>