#chart {
    width: 100%;
    height: 230px;
    margin: 0px auto 0;
    display: block;
    overflow-x: scroll;
    margin-top: 15px;
}

#chart #numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 29px;
    border-bottom: 1px solid #444;
    position: relative;
    bottom: 30px;
}

#chart #bars {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 230px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 1px #444;
    overflow-x: scroll
}

#chart #bars li {
    display: inline-table;
    width: 50px;
    height: 130px;
    margin: 15px 0px 0px 0px;
    text-align: center;
    position: relative;
}

#chart #bars li .bar {
    display: block;
    width: 40px;
    margin-left: 15px;
    background: #49E;
    position: absolute;
    bottom: 0;
    border-radius: 10px 10px 0px 0px;
    // background-color: #ff9800;
    // background-image: linear-gradient( to top, #ffc107, #e68c09);
}

#chart #bars li span {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: -5em;
    left: 21px;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0px;
    width: 28px;
    font-size: 12px;
}

#chart #bars li span.active {
    color: #000;
    width: 100%;
    position: absolute;
    bottom: -5em;
    left: 21px;
    text-align: center;
    background: #FFF;
    border-radius: 5px;
    padding: 6px 0px;
    width: 28px;
    font-size: 12px;
}

span.chartbar-velue {
    position: relative !important;
    left: 0px !important;
    top: -25px;
    font-size: 10px !important;
}