<div id="chart">
    <ul id="bars">
        <ion-slides [pager]="false" [options]="slideOpts" #mySlider>
            <ion-slide *ngFor="let item of Charts" style="height: 160px;">
                <li>
                    <div *ngIf="item?.data > 0" [ngStyle]="{'height' : item?.data ? (item.data+'%') : '0%'}" style="background-color: #ff9800;
                        background-image: linear-gradient( to top,  #926444, #f4b183);" class="bar">
                        <span class="chartbar-velue"> {{label}}</span>
                    </div>

                    <div *ngIf="item?.data <= 0" style="height: 2%;background-color: red;" class="bar">
                        <span class="chartbar-velue"> {{item?.data}}%</span>
                    </div>
                    <span [ngClass]="{'active': item.isToday}">{{item?.day}}<br>{{item?.dayName}}</span>
                </li>
            </ion-slide>
        </ion-slides>
    </ul>
</div>