
    
    <ion-row class="main_container">

      <ion-col size="12">
        <p class="performance_text">
          Vous pouvez observer le suivi de vos performances à l’entraînement
          depuis le début de votre dernier programme. Vous avez la possibilité de
          sélectionner les exercices et jours d’entraînement que vous souhaitez
          analyser.
        </p>
  
        
    
     
        <app-chart></app-chart>
  
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
            <ion-label class="filter-text">Filtrer</ion-label>
            <ion-select interface="action-sheet" class="custom-options">
                <ion-select-option value="Aux arachides">Volume Jour 1</ion-select-option>
                <ion-select-option value="Aux arachides">Volume Jour 2</ion-select-option>

                
            </ion-select>
        </ion-item>
    </ion-col>
      

    </ion-row>