.product-bg {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

.product-descrption {
    text-align: center;
}

.product-descrption p {
    margin: 0;
}

.product-descrption h4 {
    margin: 0;
    font-size: 14px;
}