<ion-grid>
    <ion-row>
        <ion-col size="6">
            <div class="product-bg" routerLink="/ebook-details">
                <div>
                    <img src="assets/images/e-book.png">
                </div>
                <div class="product-descrption">
                    <h4>365 RECETTES DE CUISINE</h4>
                    <p>
                        19,90€
                    </p>
                </div>
            </div>
        </ion-col>
        <ion-col size="6">
            <div class="product-bg" routerLink="/ebook-details">
                <div>
                    <img src="assets/images/e-book.png">
                </div>
                <div class="product-descrption">
                    <h4>365 RECETTES DE CUISINE</h4>
                    <p>
                        19,90€
                    </p>
                </div>
            </div>
        </ion-col>
        <ion-col size="6">
            <div class="product-bg" routerLink="/ebook-details">
                <div>
                    <img src="assets/images/e-book.png">
                </div>
                <div class="product-descrption">
                    <h4>365 RECETTES DE CUISINE</h4>
                    <p>
                        19,90€
                    </p>
                </div>
            </div>
        </ion-col>
        <ion-col size="6">
            <div class="product-bg" routerLink="/ebook-details">
                <div>
                    <img src="assets/images/e-book.png">
                </div>
                <div class="product-descrption">
                    <h4>365 RECETTES DE CUISINE</h4>
                    <p>
                        19,90€
                    </p>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>