<ion-header>
    <ion-toolbar class="ion-text-center">
        <ion-title>AJOUT D’ALIMENTS </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment value="aliments" color="primary" mode="android" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="aliments">
            <ion-label>ALIMENTS</ion-label>
        </ion-segment-button>

        <ion-segment-button value="recettes">
            <ion-label>RECETTES</ion-label>
        </ion-segment-button>

        <ion-segment-button value="favoris">
            <ion-label>FAVORIS </ion-label>
        </ion-segment-button>

    </ion-segment>
    <div class="aliments" *ngIf="segmentModel === 'aliments'">
        <ion-row>
            <ion-col size="12">
                <ion-item class="search">
                    <ion-input type="password" placeholder="Rechercher dans la base de données"></ion-input>
                    <ion-icon clear name="barcode-outline"></ion-icon>
                </ion-item>
                <ion-item (click)="openModal()">
                    <ion-label>Filtrer</ion-label>
                  
                   
                    <ion-icon name="chevron-down-outline" style="color: #000;"></ion-icon>
                    <!-- <ion-select value="notifications" interface="action-sheet">
                        <ion-select-option value="enable">Tout</ion-select-option>
                    </ion-select> -->
                </ion-item>
                <ion-item routerLink="/aliments-details">
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Beurre de cacahuète, 35g </ion-label>
                    <ion-note slot="end" color="secondary">44</ion-note>
                    <ion-icon slot="end" name="add-circle-outline" ></ion-icon>
                </ion-item>
                <ion-item routerLink="/aliments-details">
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Ketchup, 5g</ion-label>
                    <ion-note slot="end" color="secondary">17</ion-note>
                    <ion-icon slot="end" name="add-circle-outline" ></ion-icon>
                </ion-item>
                <ion-item routerLink="/aliments-details">
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Blancs de dinde, 250g </ion-label>
                    <ion-note slot="end" color="secondary">320</ion-note>
                    <ion-icon slot="end" name="add-circle-outline" ></ion-icon>
                </ion-item>
                <!-- <ion-item>
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Beurre de cacahuète, 35g </ion-label>
                    <ion-note slot="end" color="secondary">44</ion-note>
                    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Ketchup, 5g</ion-label>
                    <ion-note slot="end" color="secondary">17</ion-note>
                    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Blancs de dinde, 250g </ion-label>
                    <ion-note slot="end" color="secondary">320</ion-note>
                    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
                </ion-item> -->

            </ion-col>
        </ion-row>



        <ion-row *ngIf="showMore">
            <ion-col size="12">
      
                <ion-item routerLink="/aliments-details">
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Beurre de cacahuète, 35g </ion-label>
                    <ion-note slot="end" color="secondary">44</ion-note>
                    <ion-icon slot="end" name="add-circle-outline" ></ion-icon>
                </ion-item>
                <ion-item routerLink="/aliments-details">
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Ketchup, 5g</ion-label>
                    <ion-note slot="end" color="secondary">17</ion-note>
                    <ion-icon slot="end" name="add-circle-outline" ></ion-icon>
                </ion-item>
                <ion-item routerLink="/aliments-details">
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Blancs de dinde, 250g </ion-label>
                    <ion-note slot="end" color="secondary">320</ion-note>
                    <ion-icon slot="end" name="add-circle-outline" ></ion-icon>
                </ion-item>
     

            </ion-col>
        </ion-row>
        <ion-row>
            <div class="viewall">
                <ion-button (click)="showMore=!showMore">{{showMore ? 'VOIR TOUS LES ALIMENTS' : 'VOIR MOINS DE NOURRITURES'}}
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-row>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-card class="card-box ion-no-margin">
                        <ion-item>
                            <img class="logo" style="width: 40px;" slot="start" src="assets/icon/traficationlogo.png">
                            <ion-label>NOTE SUR LES ALIMENTS</ion-label>
                        </ion-item>

                        <ion-card-content>
                            Les aliments que vous utilisez le plus fréquemment apparaissent systématiquement en tête de liste lorsque vous recherchez un aliment en particulier.
                        </ion-card-content>
                        <div class="ribbon-wrapper-1">
                            <div class="ribbon-1">Ribbon</div>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="aliments" *ngIf="segmentModel === 'recettes'">
        <ion-row>
            <ion-col size="12">
                <ion-item class="search">
                    <ion-input type="password" placeholder="Rechercher dans la base de données"></ion-input>
                    <ion-icon clear name="barcode-outline"></ion-icon>
                </ion-item>
                <ion-item  (click)="openModal()">
                    <ion-label>Filtrer</ion-label>
                   
                    <ion-icon name="chevron-down-outline" style="color: #000;"></ion-icon>
                </ion-item>
                <ion-item >
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Bœuf Bourguignon</ion-label>
                    <ion-note slot="end" color="secondary">255</ion-note>
                    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Poulet au curry</ion-label>
                    <ion-note slot="end" color="secondary">179</ion-note>
                    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                    </ion-avatar>
                    <ion-label>Tajine</ion-label>
                    <ion-note slot="end" color="secondary">395</ion-note>
                    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
                </ion-item>

            </ion-col>
        </ion-row>
        <ion-row>
            <div class="viewall">
                <ion-button>VOIR TOTES LES RECETTES
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-row>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-card class="card-box ion-no-margin">
                        <ion-item>
                            <img class="logo" style="width: 40px;" slot="start" src="assets/icon/traficationlogo.png">
                            <ion-label>NOTE SUR LES ALIMENTS</ion-label>
                        </ion-item>

                        <ion-card-content>
                            Vous avez toujours la possibilité d’élaborer vous-même une recette, pour mieux la partager ensuite avec toute la communauté Tranformatics. Pour créer une recette, il vous suffit de cliquer sur le bouton ci-dessous.
                        </ion-card-content>
                        <div class="ribbon-wrapper-1">
                            <div class="ribbon-1">Ribbon</div>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>


    <div class="ion-padding ion-no-border" class="recettes_btn">
        <ion-button routerLink="/recipe-details">
            Créer une recette

        </ion-button>
    </div>
  
        </ion-grid>
    </div>

    <ion-card *ngIf="segmentModel === 'favoris'">
        <ion-card-header>
            <ion-card-subtitle>Segment Content</ion-card-subtitle>
            <ion-card-title>Profile</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>


</ion-content>