ion-grid {
    --padding-start: 10px;
    --padding-end: 10px
}

.performance_text {
    text-align: justify;
    line-height: 1.1rem;
    font-size: 13px;
    font-weight: 100;
}

.padding-start-0 {
    --padding-start: 0 !important;
}

.main_container {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
}

.date_label {
    text-align: justify;
    line-height: 1.1rem;
    font-size: 13px;
    font-weight: 800;
    font-family: 'Oswald-SemiBold';
}

ion-datetime {
    font-size: 12px;
    font-weight: 100;
}

// .segment_container_data {
//     margin-bottom: 25%;
// }
.image-compair {
    width: 300px !important;
    height: 350px !important;
}