<ion-row class="main_container">
    <ion-col size="12">
        <p class="performance_text">
            La simulation de progression vous permet d’observer votre progression à travers plusieurs photos depuis votre inscription au système Transformatics. Déplacez simplement le curseur vers la droite ou la gauche pour observer les progrès que vous avez fait
            sur une période donnée !
        </p>
    </ion-col>
    <ion-col size="12">
        <ion-item lines="none" class="padding-start-0">
            <ion-label class="date_label">Date des photos  « avant »
            </ion-label>
            <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-item lines="none" class="padding-start-0" style="margin-bottom: 15px;">
            <ion-label class="date_label">Date des photos  « avant »
            </ion-label>
            <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
        </ion-item>

        <ion-segment value="phote-de-face" color="tertiary" scrollable="true" [(ngModel)]="physiologySegmentModel" (ionChange)="physiologySegmentChanged($event)">
            <ion-segment-button value="phote-de-face">
                <ion-label class="segment-btn-text">PHOTO DE FACE</ion-label>
            </ion-segment-button>

            <ion-segment-button value="photo-de-dos">
                <ion-label class="segment-btn-text">PHOTO DE DOS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="photo-de-profil">
                <ion-label class="segment-btn-text">PHOTO DE PROFIL</ion-label>
            </ion-segment-button>
        </ion-segment>

        <div class="segment_container_data">
            <div *ngIf="physiologySegmentModel === 'phote-de-face'">
                <div style="margin-top: 15px;">
                    <img-comparison-slider>
                        <img slot="before" class="image-compair" src="/assets/images/before.jpg" />
                        <img slot="after" class="image-compair" src="/assets/images/after.jpg" />
                    </img-comparison-slider>
                </div>
            </div>

            <div *ngIf="physiologySegmentModel === 'photo-de-dos'">
                <div style="margin-top: 15px;">
                    <img-comparison-slider>
                        <img slot="before" class="image-compair" src="/assets/images/before.jpg" />
                        <img slot="after" class="image-compair" src="/assets/images/after.jpg" />
                    </img-comparison-slider>
                </div>
            </div>
            <div *ngIf="physiologySegmentModel === 'photo-de-profil'">
                <div style="margin-top: 15px;">
                    <img-comparison-slider>
                        <img slot="before" class="image-compair" src="/assets/images/before.jpg" />
                        <img slot="after" class="image-compair" src="/assets/images/after.jpg" />
                    </img-comparison-slider>
                </div>
            </div>
        </div>

    </ion-col>
</ion-row>