<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=12>
                <div class="book-details">
                    <div class="book-details-img">
                        <img src="assets/images/e-book.png">
                    </div>
                    <div class="book-details-content">
                        <div class="book-details-title">
                            <h4>LA PREPARATION PHYSIQUE
                            </h4>
                        </div>
                        <div class="book-details-catagory">
                            <p>
                                E-book
                            </p>
                        </div>
                        <div class="book-details-price">
                            <h4>
                                44,90€
                            </h4>
                        </div>
                        <div class="book-details-description">
                            <p>
                                L'intégralité des connaissances nécessaires pour maximiser le développement de vos pectoraux. Entre une revue anatomique et physiologique, et plus de 10 programmes d'entraînement disponibles, vous n'aurez pas d'autre choix que de progresser.
                            </p>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="back" expand="full" shape="round">Ajouter au panier</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="next" expand="full" shape="round">Acheté 7 fois aujourd’hui</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>