.book-details-title h4 {
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
}

.book-details-catagory p {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

.book-details-price h4 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.book-details-description p {
    margin: 0;
    font-size: 12px;
    margin-top: 5px;
    border-top: 1px solid #333;
}

.book-details-content {
    text-align: center;
}

.next {
    --background: black;
    --color: #c1c1c1;
}