<ion-content>
    <ion-toolbar>
        <ion-title>Paiement</ion-title>
    </ion-toolbar>
    <ion-item>
        <img class="ion-no-margin ion-margin-end" style="width: 40px;" slot="start" src="assets/icon/logo.png">
        <ion-label>
            <h3>Monthly</h3>
            <p class="f12">OWNUt</p>
        </ion-label>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="timeline-box-group">
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>lorenipsom:domy text</div>
                            <div class="ion-text-right">lorenipsom:domy text</div>
                        </div>
                    </div>
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>20 nov 2020</div>
                            <div class="ion-text-right">17,26 $US/mois</div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <p class="ion-no-margin f12">Vous bénéficiez des 15 premiers jours d’utilisation offerts. Cela signifie que votre premier prélèvement sera effectué dans 45 jours, c’est-à-dire un mois après la fin de vos 15 jours gratuits.
                </p>
            </ion-col>
            <ion-col size="12">
                <h4 class="ion-no-margin f14 ion-margin-top">Sélection de la méthode de paiement</h4>
            </ion-col>
            <ion-col size="12">
                <img src="assets/icon/payment.png">
            </ion-col>
            <ion-col size="12">
                <p class="ion-no-margin f12 color-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button class="payment-btn ion-margin-start ion-margin-end ion-margin-bottom" shape="round" expand="full">Sabonner</ion-button>
</ion-footer>