ion-item {
    --inner-border-width: 0 0 0px 0;
}

.timeline-box {
    position: relative;
    display: flex;
    padding: 0px 0;
    margin-left: 0px;
    padding-bottom: 15px;
}

.timeline-box:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    display: block;
    width: 2px;
    content: "";
    background-color: #3f9c64;
}

.timeline-box:last-child:before {
    display: none;
}

.timeline-badge {
    position: relative;
    z-index: 1;
    display: flex;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    margin-left: 0px;
    color: #000;
    align-items: center;
    background-color: #3f9c64;
    border-radius: 50%;
    justify-content: center;
    flex-shrink: 0;
}

.timeline-body {
    min-width: 0;
    max-width: 100%;
    margin-top: -5px;
    color: #000;
    flex: auto;
    display: flex;
}

.timeline-body div {
    flex-grow: 1;
    font-size: 12px;
}

.timeline-box:last-child .timeline-badge {
    background-color: transparent;
    border: 1px solid #3f9c64;
}

.payment-btn {
    --background: #3f9c64;
    --border-radius: 5px;
}

ion-toolbar {
    border-bottom: 1px solid #ccc;
}