<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h3>ALIMENTATION</h3>
      <p>Combien de repas prenez-vous par jour ?</p>
      <p>
        Suivez-vous un régime alimentaire particulier ? Si oui, cochez le régime
        correspondant dans la liste suivante :
      </p>
    </ion-col>
    <ion-col size="12">
      <div>
        <div float-left class="my-checkbox">
          <ion-label text-uppercase> OUI</ion-label>
          <ion-checkbox value="yes" [checked]="showNutrition" (ionChange)="checkValue1($event)">
          </ion-checkbox>
        </div>
        <div float-right class="my-checkbox">
          <ion-label text-uppercase>NON</ion-label>
          <ion-checkbox value="no" [checked]="!showNutrition" (ionChange)="checkValue2($event)">
          </ion-checkbox>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <div *ngIf="showNutrition">
    <ion-row>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-checkbox value="1" (ionChange)="addRemoveNutrition($event)"></ion-checkbox>
            <ion-label>Régime végétarien</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-checkbox value="2" (ionChange)="addRemoveNutrition($event)"></ion-checkbox>
            <ion-label>Régime végétalien</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-checkbox value="3" (ionChange)="addRemoveNutrition($event)"></ion-checkbox>
            <ion-label>Régime vegan</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-checkbox value="4" (ionChange)="addRemoveNutrition($event)"></ion-checkbox>
            <ion-label>Régime à base de viande</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-checkbox value="5" (ionChange)="addRemoveNutrition($event)"></ion-checkbox>
            <ion-label>Régime sans gluten</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item>
            <ion-checkbox value="6" (ionChange)="addRemoveNutrition($event)"></ion-checkbox>
            <ion-label>Régime méditerranéen</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col size="12">
      <p>
        <strong>Cyclage des calories</strong> : Transformatics peut cycler vos
        calories en fonction de votre activité physique journalière.
        Souhaitez-vous gérer vos calories vous-même, où préférez-vous que le
        cyclage soit effectué automatiquement ?
      </p>
    </ion-col>
    <ion-col size="6">
      <div class="process-btn">
        <ion-button [color]="calorieCycling == 'Automatic management' ? 'primary' : 'light'" expand="full"
          (click)="calorieCyclingSelection('Automatic management')">Gestion automatique</ion-button>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="process-btn">
        <ion-button [color]="calorieCycling == 'Manual management' ? 'primary' : 'light'" expand="full"
          (click)="calorieCyclingSelection('Manual management')">Gestion manuelle</ion-button>
      </div>
    </ion-col>
    <ion-col size="12">
      <p>
        <strong>Préférences alimentaires</strong> : sélectionnez dans les listes
        suivantes vos aliments préférés dans chaque catégorie
      </p>
    </ion-col>
  </ion-row>

  <div class="tran" *ngIf="calorieCycling == 'Automatic management' || calorieCycling == 'Manual management'">
    <ion-row>
      <ion-col size="12">
        <div class="vegiteble-box-title">
          <h3>Légumes</h3>
        </div>
      </ion-col>
      <ion-col size="6" *ngFor="let item of vagetables">
        <div [class]="item.active ? 'vegiteble-box active' : 'vegiteble-box'">
          <ion-button expand="full" (click)="selectVeg(item)">
            <img slot="start" [src]="item.icon" />
            <ion-label>
              {{ item.text }}
            </ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="vegiteble-box-title">
          <h3>Fruits</h3>
        </div>
      </ion-col>
      <ion-col size="6" *ngFor="let item of fruits">
        <div [class]="item.active ? 'vegiteble-box active ' : 'vegiteble-box'">
          <ion-button expand="full" (click)="selectFruits(item)">
            <img slot="start" [src]="item.icon" />
            <ion-label>
              {{ item.text }}
            </ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="vegiteble-box-title">
          <h3>Féculents</h3>
        </div>
      </ion-col>
      <ion-col size="6" *ngFor="let item of starchy">
        <div [class]="item.active ? 'vegiteble-box active' : 'vegiteble-box'">
          <ion-button expand="full" (click)="selectStarchy(item)">
            <img slot="start" [src]="item.icon" />
            <ion-label>
              {{ item.text }}
            </ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <!-- <div *ngIf="calorieCycling == 'Automatic management'">
    <p>Manual management</p>
  </div> -->
</ion-grid>