.my-checkbox {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 15px;
}

.my-checkbox ion-label {
    padding-right: 5px;
}

ion-item ion-label {
    white-space: normal;
    padding-left: 10px;
}

ion-item {
    --inner-border-width: 0px 0px 0px 0px;
    --min-height: 35px;
    --padding-start: 0px;
}

ion-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.process-btn ion-button {
    white-space: normal;
    font-size: 12px;
    --padding-start: 0;
    --padding-end: 0;
    height: 50px;
}

.vegiteble-box {
    ion-button {
        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }

        ion-label {
            margin-left: 10px;
        }
    }
}
.vegiteble-box ion-button {
    height: 80px;
    --background: #fff;
    border: 2px solid #c1c1c1;
    color: #000;
    border-radius: 5px;
}

// .vegiteble-box ion-button {
//     border: 2px solid #f57728;
//     color: #f57728;
// }

.active ion-button ion-icon {
    background: var(--ion-color-primary);
}

.active ion-button {
    border: 2px solid var(--ion-color-primary) !important;
    color: var(--ion-color-primary) !important;


}

.vegiteble-box ion-icon {
    background: #c1c1c1;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
}

.vegiteble-box-title {
    text-align: center;
}

.tran {
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
     } 
}