<ion-row class="main_container">
  <ion-col size="12">
    <p class="performance_text">
      Voici vos performances maximales reportées sur plusieurs types
      d’exercices. Ces valeurs évoluent en fonction de vos performances en temps
      réel à l’entraînement, et peuvent être modifiées manuellement en entrant
      vous-même vos nouvelles performances dans le tableau ci-dessous.
    </p>

    <app-chart></app-chart>
  </ion-col>
</ion-row>
<ion-grid>
  <ion-row>
    <!-- <ion-col size="12">
      <p class="performance_text">
        Voici vos performances maximales reportées sur plusieurs types
        d’exercices. Ces valeurs évoluent en fonction de vos performances en
        temps réel à l’entraînement, et peuvent être modifiées manuellement en
        entrant vous-même vos nouvelles performances dans le tableau ci-dessous.
      </p>
    </ion-col>
    <ion-col size="12">
      <p>CHART</p>
    </ion-col> -->
    <ion-col size="6">
      <div class="records-velue">
        <p class="t-a-r">DEVELOPPE COUCHE</p>
        <h4 class="t-a-r">100<sub> KG</sub></h4>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="records-velue">
        <p class="t-a-r">SOULEVE DE TERRE</p>
        <h4 class="t-a-r">160<sub> KG</sub></h4>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="records-velue">
        <p class="t-a-r">SQUAT BARRE</p>
        <h4 class="t-a-r">140<sub> KG</sub></h4>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="records-velue">
        <p class="t-a-r">COMBINE</p>
        <h4 class="t-a-r">400<sub> KG</sub></h4>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <h4 class="f-size-16">TABLEAU DES RECORDS</h4>
        <p class="f-size-13">
          Vous pourrez noter ici vos performances au fil de votre progression
          pour fixer les objectifs à atteindre durant vos entraînements. De
          cette manière, vous pourrez observer l’évolution de vos charges
          maximales avec le temps et progresser indéfiniment.
        </p>
      </div>
    </ion-col>
    <ion-col size="12">
      <ion-segment
        class="segmentOne"
        value="1rm"
        color="tertiary"
        scrollable="true"
        [(ngModel)]="segmentRMModel"
        (ionChange)="segmentChanged($event)"
      >
        <ion-segment-button class="segmentOne-button" value="1rm">
          <ion-label class="segment-btn-text">1 RM</ion-label>
        </ion-segment-button>

        <ion-segment-button class="segmentOne-button" value="3rm">
          <ion-label class="segment-btn-text">3 RM</ion-label>
        </ion-segment-button>
        <ion-segment-button class="segmentOne-button" value="5rm">
          <ion-label class="segment-btn-text">5 RM</ion-label>
        </ion-segment-button>
        <ion-segment-button class="segmentOne-button" value="10rm">
          <ion-label class="segment-btn-text">10 RM</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="segment_container_data">
        <div *ngIf="segmentRMModel === '1rm'">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">180 <sub>kg</sub></div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right">
                  <ion-icon name="add-circle-outline" class="add"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">160 <sub>kg</sub></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div *ngIf="segmentRMModel === '3rm'">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">140 <sub>kg</sub></div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right">
                  <ion-icon name="add-circle-outline" class="add"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">160 <sub>kg</sub></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="segmentRMModel === '5rm'">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">190 <sub>kg</sub></div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right">
                  <ion-icon name="add-circle-outline" class="add"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">180 <sub>kg</sub></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="segmentRMModel === '10rm'">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">110 <sub>kg</sub></div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right">
                  <ion-icon name="add-circle-outline" class="add"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/icon/rm.png" />
                  </ion-avatar>
                  <ion-label>
                    <p>Nom de l’exercice</p>
                    <p>Sous nom de l’exercice</p>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <div class="ion-text-right p-t-15">130 <sub>kg</sub></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
