ion-grid {
    --padding-start: 10px;
    --padding-end: 10px
}

.performance_text {
    text-align: justify;
    line-height: 1.1rem;
    font-size: 13px;
    font-weight: 100;

}

.main_container {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
}

.records-velue {
    position: relative;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 10px;
}

.segmentOne-button {
    --ripple-color: transparent;
    background: transparent;
    --color-checked: white;
    --color: #9c9c9c;
    --indicator-color: var(--ion-color-primary);
    --margin-bottom: 0px;
    height: 40px;
    --border-radius: 25px;
}

.segmentOne {
    background: rgb(170 170 170 / 11%);
    border-radius: 25px;
    margin-bottom: 15px;
}

ion-item ion-label {
    white-space: normal;
}

ion-item {
    --inner-border-width: 0px 0px 0px 0px;
    --min-height: 35px;
    --padding-start: 0px;
    --border-width: 0 0 0px 0;
}

ion-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

ion-avatar {
    --border-radius: 0%;
}
ion-label p{
    color: #000;
}
.p-t-15 {
    padding-top: 15px;
}
.add {
    font-size: 25px;
    padding-right: 10px;
    padding-top: 15px;
}