<ion-content>
    <div class="titlebox">
        <div class="titlebox-arrow">
            <div routerLink="/aliments">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
            <div class="ion-text-right">
                <ion-icon name="heart-outline"></ion-icon>
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
        <div class="title-img">
            <img src="assets/images/recipedetails.png">
        </div>
        <div class="titlebox-text">
            <h4>BOULETTES DE COCO</h4>
            <h5>Protéinées</h5>
        </div>
    </div>

    <div class="kcal-box-bg">
        <ion-grid>
            <ion-row>
                <ion-col size="7">
                    <div>Catégories nutritionnelles</div>
                </ion-col>
                <ion-col size="5">
                    <div class="flex-box">

                        <div class="icons">
                            <img src="assets/icon/cart.png">

                        </div>


                        <div class="icons">
                            <img src="assets/icon/usergroup.png">
                            <ion-badge color="primary">1</ion-badge>
                        </div>


                        <div class="icons">
                            <img src="assets/icon/network.png">
                            <ion-badge color="primary">2</ion-badge>
                        </div>


                        <div class="icons">
                            <img src="assets/icon/clock.png">
                            <ion-badge color="primary">20</ion-badge>
                        </div>

                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <div class="remove-box">
                    <ion-icon name="remove-outline" style="font-size: 2.0rem;"></ion-icon>
                </div>
            </ion-col>
            <ion-col size="8">
                <div class="content-box">
                    <h4 class="large_text_bold">2 personnes</h4>
                    <p>6 boulettes</p>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="add-box">
                    <ion-icon name="add-outline" style="font-size: 2.0rem;"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3">
                <div class="content-box b-l-r">
                    <h4 class="large_text_bold">277</h4>
                    <p>Kcalories</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="content-box">
                    <h4 class="large_text_bold">18</h4>
                    <p>g de protéines</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="content-box">
                    <h4 class="large_text_bold">6</h4>
                    <p>g de glucides </p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="content-box b-r-r">
                    <h4 class="large_text_bold">27</h4>
                    <p>g de lipides</p>
                </div>
            </ion-col>
            <ion-col size="12">
                <h4>INGREDIENTS </h4>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12 ">40g <span class="text-bold">Framboises</span></p>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12">40g <span class="text-bold"> Framboises</span></p>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12">30g <span class="text-bold"> Whey coco</span></p>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12">30g <span class="text-bold">Whey coco</span></p>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12">10g <span class="text-bold">Amandes effilées</span></p>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12">10g <span class="text-bold"> Amandes effilées</span></p>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12">40g <span class="text-bold"> Flocons d’avoine</span> </p>
            </ion-col>
            <ion-col size="6">
                <p class="ion-no-margin f12">40g <span class="text-bold">40g Flocons d’avoine </span></p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-row>
        <div class="viewall">
            <ion-button>VOIR TOUTES LES ETAPES DE REALISATION
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </div>
    </ion-row>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="timeline-box-group">
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>
                                <strong>ETAPE N°1</strong> : mélangez tous les ingrédients sauf les flocons dans un blender.
                            </div>
                        </div>
                    </div>
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>
                                <strong>ETAPE N°2</strong> : réalisez des boulettes avec le mélange, puis laissez-les reposer au réfrigérateur pendant 1h.
                            </div>
                        </div>
                    </div>
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>
                                <strong>ETAPE N°3</strong> : réalisez des boulettes avec le mélange, puis laissez-les reposer au réfrigérateur pendant 1h.
                            </div>
                        </div>
                    </div>
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>
                                <strong>ETAPE N°4</strong> : réalisez des boulettes avec le mélange, puis laissez-les reposer au réfrigérateur pendant 1h.
                            </div>
                        </div>
                    </div>
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>
                                <strong>ETAPE N°5</strong> : réalisez des boulettes avec le mélange, puis laissez-les reposer au réfrigérateur pendant 1h.
                            </div>
                        </div>
                    </div>
                    <div class="timeline-box">
                        <div class="timeline-badge "></div>
                        <div class="timeline-body">
                            <div>
                                <strong>ETAPE N°6</strong> : réalisez des boulettes avec le mélange, puis laissez-les reposer au réfrigérateur pendant 1h.
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="connect">
            <ion-button shape="round" expand="full">Ajouter la recette
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>