.titlebox {
    position: relative;
    color: #fff;
    height: 250px;
    overflow: hidden;
}

.titlebox-arrow {
    display: flex;
    position: absolute;
    width: 100%;
    top: 10%;
    padding: 0px 5%;
    transform: translateY(-10%);
}

.titlebox-arrow div {
    flex-grow: 1;
    font-size: 30px;
}

.titlebox-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.title-img {
    background: #000;
    height: 100%;
}

.title-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.titlebox-text h5 {
    font-size: 12px;
    margin: 0;
}

.titlebox {
    position: relative;
    color: #fff;
}

.kcal-box-bg {
    background: #eee;
    border-radius: 16px;
    margin: 5px;
    margin-top: 15px;
    padding-top: 5px;
}

.viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 10px;
    height: 25px;
    --background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
}

.viewall:before {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 100%;
    top: 13px;
    left: 0;
}

ion-item {
    --inner-border-width: 0 0 0px 0;
    --border-width: 0 0 0px 0;
}

.footer-md::before {
    display: none;
}

.icons img {
    background: #ffeb3b;
    padding: 4px;
    border-radius: 31px;
    border: 1px solid #000;
    width: 25px;
    height: 25px;
}

.flex-box {
    text-align: right;
}

.icons {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

ion-badge {
    position: absolute;
    font-size: 6px;
    top: -8px;
    left: 0px;
    border: 0.5px solid #000;
    border-radius: 25px;
    background: #fff;
    color: #000;
    height: 12px;
    width: 12px;
    padding: 2px;
}

.remove-box {
    text-align: center;
    background: #eee;
    padding: 5px 0px;
    font-size: 19px;
    border-radius: 5px 0px 0px 5px;
}

.content-box {
    text-align: center;
    background: #eee;
    padding: 5px 0px;
}

.content-box h4 {
    margin: 0px;
    // font-size: 12px;
}

.content-box p {
    font-size: 10px;
    margin: 0px;
}

.add-box {
    text-align: center;
    background: #eee;
    padding: 5px 0px;
    font-size: 19px;
    border-radius: 0px 5px 5px 0px;
}

.b-l-r {
    border-radius: 5px 0px 0px 5px;
}

.b-r-r {
    border-radius: 0px 5px 5px 0px;
}

.timeline-box {
    position: relative;
    display: flex;
    padding: 0px 0;
    margin-left: 0px;
    padding-bottom: 15px;
}

.timeline-box:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6px;
    display: block;
    width: 2px;
    content: "";
    background-color: #000;
}

.timeline-box:last-child:before {
    display: none;
}

.timeline-badge {
    position: relative;
    z-index: 1;
    display: flex;
    width: 13px;
    height: 13px;
    margin-right: 8px;
    margin-left: 0px;
    color: #000;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    justify-content: center;
    flex-shrink: 0;
}

.timeline-body {
    min-width: 0;
    max-width: 100%;
    margin-top: -5px;
    color: #000;
    flex: auto;
    display: flex;
}

.timeline-body div {
    flex-grow: 1;
    font-size: 12px;
}

.timeline-box .timeline-badge {
    background-color: #fff;
    border: 1px solid #000;
}

.connect ion-button {
    --background: var(--ion-btn-custom-color);
    --border-radius: 5px;
}