.titlebox {
    position: relative;
    color: #fff;
    // height: 250px;
    overflow: hidden;

    height: 57%;

}

.titlebox-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.title-img {
    background: #000;
    height: 100%;
}

.title-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: top;
}

.titlebox-text h5 {
    font-size: 12px;
    margin: 0;
}

.musculetion-vid h4 {
    font-size: 12px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.musculetion-vid {
    width: 100%;
}

.musculetion-vid-img img {
    object-fit: cover;
    object-position: top;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

ion-item {
    --inner-border-width: 0 0 0px 0;
    --border-width: 0 0 0px 0;
}

.musculetion-vid-title h6 {
    margin: 0;
    font-size: 10px;
    margin-top: 5px;
}

.titlebox-add {
    position: relative;
}

.titlebox-add ion-icon {
    position: absolute;
    display: flex;
    top: -26px;
    right: 3%;
    color: #fff;
    border-radius: 25px;
    background: var(--ion-btn-custom-color);
    padding: 4px;
    font-size: 35px;
}

.musculetion-vid-img {
    position: relative;
}

.musculetion-vid-img ion-icon {
    position: absolute;
    left: 30px;
    top: 30px;
    background: #fffafab3;
    border-radius: 25px;
    font-size: 31px;
}