
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item lines="none">
        <ion-label class="small_text">Filtres</ion-label>
        <ion-select interface="action-sheet" class="custom-options" [(ngModel)]="filterSelect">
            <ion-select-option value="Pectoraux">Pectoraux</ion-select-option>
            
        </ion-select>
    </ion-item>
    </ion-row>

    <ion-row class="search_section">
      <ion-input class="small_text" placeholder="Recherchez un exercice par écrit…"></ion-input>
    </ion-row>


    <ion-row class="select_body_section" routerLink="/select-body-groups">
      <ion-label class="small_text_bold">
        Sélectionner les groupes musculaires
      </ion-label>
    </ion-row>



    <ion-row class="ion-margin-top list_section" >
      <ion-item lines="none" *ngFor="let item of ['', '', '', '', '', '', '', '', '', '', '']">
        <div class="black_box"></div>

        <ion-label class="list_section_title">
          <ion-label class="small_text"> Nom de l’exercice </ion-label>
          <ion-label class="small_text">
            Sous nom de l’exercice
          </ion-label>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

    </ion-row>

  </ion-grid>
</ion-content>


<!-- <ion-footer class="ion-no-border footer_section">
  <ion-row>
      <ion-button routerLink="/add-exercise" class="next" shape="round">
      
      </ion-button>
    <ion-button routerLink="/add-exercise" class="next footer_section_btn" shape="round">
      Ajouter des exercices
    </ion-button>
  </ion-row>
</ion-footer>

 -->
 <ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button
            class="back"
            expand="full"
            shape="round"
            routerLink="/hypertrophy-strengthening-program-creation"
            >
            <img src="assets/icon/back-triangle.png" alt="">
          </ion-button>
        </ion-col>
        <ion-col>
          <!-- <ion-button
            class="next"
            expand="full"
            shape="round"
            routerLink="/excercise-sheet"
            >Ajouter [x] exercices
          </ion-button> -->

          <ion-button
          class="next"
          expand="full"
          shape="round"
          routerLink="/after-excercise-selection"
          >Ajouter [x] exercices
        </ion-button>

        
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
