<ion-toolbar>
  <ion-text class="large_text_bold ion-text-center"> MA DIETE </ion-text>
</ion-toolbar>


<ion-content class="ion-padding">
  <ion-row class="ion-margin-top">
    <ion-label class="small_text_bold"> OBJECTIFS SPORTIFS
    </ion-label>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-label class="small_text">
      Quel est votre objectif physique et sportif ? Choisissez l’un des
      objectifs suivants et sélectionnez un niveau de suivi :
    </ion-label>
  </ion-row>

  <ion-row class="plan_btn_section ion-margin-top">
    <ion-col size="4" class="first_col">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn == 'Gain muscle' ? 'primary' : 'light'"
          expand="full"
          (click)="plansBtn = 'Gain muscle'"
          >Prendre du muscle

        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn == 'detail_section' ? 'primary' : 'light'"
          expand="full"
          (click)="plansBtn = 'detail_section'"
          >Perdre du poids

        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn == 'free_session' ? 'primary' : 'light'"
          expand="full"
          expand="full"
          (click)="plansBtn = 'free_session'"
          >Se maintenir

        </ion-button>
      </div>
    </ion-col>
  </ion-row>



  <ion-row class="ion-margin-top">
    <ion-label class="small_text ion-margin-top">
      Choisissez cet objectif si votre priorité est de développer votre masse musculaire, d’avoir l’air plus massif et d’être plus fort. 

    </ion-label>
  </ion-row>


  <ion-row class="ion-margin-top">
    <ion-label class="small_text"> Rythme de prise de muscle
    </ion-label>
  </ion-row>

  <ion-row class="plan_btn_section ion-margin-top">
    <ion-col size="4" class="first_col">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="creationMode == 'deux' ? 'primary' : 'light'"
          expand="full"
          (click)="creationMode = 'deux'"
          >Doux
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="creationMode == 'mode' ? 'primary' : 'light'"
          expand="full"
          (click)="creationMode = 'mode'"
          >Modéré
        </ion-button>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="creationMode == 'fort' ? 'primary' : 'light'"
          expand="full"
          (click)="creationMode = 'fort'"
          >Fort

        </ion-button>
      </div>
    </ion-col>

  </ion-row>
</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-button>
    Enregistrer
  </ion-button>
</ion-footer>
