
ion-toolbar {
    border-bottom: 1px solid #d0d0d0;
    height: 9%;

    ion-text {
        display: block;
    }
}


.steptwofirstbtn ion-button {
    white-space: normal;
    font-size: 12px;
    --padding-start: 0;
    --padding-end: 0;
    height: 50px;
}

.plan_btn_section {
    ion-col {
        padding: 0;

        .steptwofirstbtn {
            ion-button {
                // height: 72px;
                margin: 0;
            }
        }
    }
}

.select_box_section {
    ion-col {
        padding: 0;

        ion-item {
            --padding-start: 0;
            --padding-end: 0;

            ion-select {
                position: absolute;
                right: 0%;
            }

        }
    }
}


.masculation_section {
    ion-col {
        padding: 0;
    }
}
.coachingathlete {

    margin-top: 5px;
    --inner-border-width: 0 0 0px 0;
    background: linear-gradient(to right,#ffece3ff, #ffc9a4ff, #ffece3ff);
    display: flex;
    justify-content: center;
    height: 50px;

    ion-avatar {
        padding: 18px;
        align-self: center;
    }
    ion-label {
        align-self: center;
    }
}


ion-footer {
    ion-button {
        width: 100%;
        --background: var(--ion-btn-custom-color);
        font-size: 12px;
        
    }
}