ion-content {
    --padding-start: 3%;
    --padding-end: 3%;  

    ion-text {
        display: block;
    }
}

ion-toolbar {
    border-bottom: 1px solid #f1f1f1;
    height: 9%;
}

.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}
ion-card {
    margin: 0;
}

.check-out-big-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    div {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
        color: #353535;
    }

    h4 {
        margin: 0;

    }

    ion-label {
        margin-top: 5px;
        margin-left: 3px;
        color: #353535;
    }
}

ion-card.program {
    width: 100%;
    margin-inline: 5px;
    margin: 20px 0px;
}

.check-out-small-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 88%;
    height: 70px;
    justify-content: center;
    padding-top: 5px;

    .small_card_title {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-self: center;
    }
    .small_card_desc {
        display: flex;
        flex-direction: row;
        // margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
    }

    p {
        margin-bottom: 0;
        color: #353535;
        margin-top: 0;
        text-align: -webkit-center;
       align-self: flex-end;
       margin-right: 15%;
       width: 55%;

    }

    h4 {
        margin: 0;

    }

    ion-label {
        // margin-top: 5px;
        margin-left: 3px;
        color: #353535;
    }

    .right-p {
        align-self: flex-end;
    }
}


ion-card.program.active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
    border: 2px solid var(--ion-color-primary);
    transition: all 0.5s ease;
}

.swiper-container {
    overflow-x: visible;
    overflow-y: visible;
}

ion-card.program.active:before {
    content: "";
    // background: url(../../../assets/icon/checkmark-circle-outline.svg);
    background: url(../../../../assets/icon/checkmark-circle-outline.svg);

    height: 25px;
    width: 25px;
    right: 5px;
    top: 5px;
    position: absolute;
}




.slide-img {
    max-height: 100px !important;

}

.validate_btn {
    width: 100%;
    --background: var(--ion-btn-custom-color)
    
}


ion-slide {
    overflow-y: auto;
}
.daybox {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.daybox-title {
    display: block;
    min-width: 100px;
    background: #626262;
    padding: 3px 20px;
    border-radius: 25px;
    border: 2px solid #333;
    z-index: 1;
    position: relative;
}

.back-icon {
    position: absolute;
    top: 30px;
    left: 95px;
    z-index: 2;
}

.forward-icon {
    position: absolute;
    right: 95px;
    top: 30px;
    z-index: 2;
}