<ion-toolbar class="ion-border">
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon name="close-outline" class="large_text_bold close-btn-icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="daybox">
          <ion-icon
            name="chevron-back-outline"
            (click)="goBack()"
            class="back-icon"
            color="primary"
          ></ion-icon>
          <ion-slides pager="false" [options]="options" #myslide>
            <ion-slide *ngFor="let day of days; index as i">
              <div class="daybox-title" (click)="openCalendar()">
                {{day.dayName}}
              </div>
            </ion-slide>
          </ion-slides>
          <ion-icon
            name="chevron-forward-outline"
            (click)="goAhead()"
            class="forward-icon"
            color="primary"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p>POIDS</p>
          <div>
         
            <h4 class="large_text_bold">88</h4>
            <ion-label class="small_text"> kg</ion-label>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p>TAILLE</p>
          <div>
         
            <h4 class="large_text_bold">182</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Biceps droit</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Biceps gauche</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Avant bras droit</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>



      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Avant-bras gauche</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

    </ion-row>





    <ion-row>
      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Cuisse droite</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Biceps gauche</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Avant bras ajit</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>



      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Avant-bras gauche</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

    </ion-row>



    <ion-row>
      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Biceps droit</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Biceps gauche</p>
          </div>
          <div class="small_card_desc">
         
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label>
          </div>
        </ion-card>
      </ion-col>

      

    </ion-row>


    <ion-row class="ion-margin-top">
      <ion-col size="4">
        <ion-card
        [class]="program"
        (click)="donsomething($event, src)"
      >
        <ion-card-content>
          <img [src]="morphotypeArray[0].src" class="slide-img" />
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card
        [class]="program"
        (click)="donsomething($event, src)"
      >
        <ion-card-content>
          <img [src]="morphotypeArray[1].src" class="slide-img" />
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card
        [class]="program"
        (click)="donsomething($event, src)"
      >
        <ion-card-content>
          <img [src]="morphotypeArray[2].src" class="slide-img" />
        </ion-card-content>
      </ion-card>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-slides pager="false" [options]="categories" #slides>
          <ion-slide *ngFor="let src of morphotypeArray">
            <ion-card
            [class]="src.activeClass ? 'program active': 'program' "
              (click)="donsomething($event, src)"
            >
              <ion-card-content>
                <img [src]="src.src" class="slide-img" />
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col> -->
    </ion-row>




  </ion-grid>
</ion-content>