<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-label class="medium_text">
        Sélectionnez le type d’exercice à ajouter :  
      </ion-label>
    </ion-row>



    <ion-row >
      <ion-col size="12">
        <ion-button class="small_text" (click)="goToNext()" expand="full" [color]="typeOfSupersetBtnArray =='excercise_de_force' ? 'primary' : 'light'" (click)="typeOfSupersetBtnArray ='excercise_de_force'">
          Exercice de force
        </ion-button>
        
      </ion-col>
    </ion-row>



    <ion-row >
      <ion-col size="12">
        <ion-button class="small_text" (click)="goToNext()" expand="full" [color]="typeOfSupersetBtnArray =='excercise_normal' ? 'primary' : 'light'" (click)="typeOfSupersetBtnArray ='excercise_normal'">
          Exercice normal
        </ion-button>
        
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>