ion-grid {
    --padding-start: 10px;
    --padding-end: 10px
}
.padding-start-0 {
    --padding-start: 0 !important;
}

.main_container {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
}
.performance_text {
    text-align: justify;
    line-height: 1.1rem;
    font-size: 12px;
    font-weight: 100;
}
ion-icon {
    padding: 0 !important;
    font-size: 14px;
    margin: 0;
    margin-right: 5px !important;
}
ion-item {
    height: 45px;
}
ion-label {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    white-space: unset !important;
    
}
.subscription {
    td {
        padding: 15px;
       
    }
    td{
        border-right: solid 1px grey;
    }
    td:last-child {
        border: none !important;
      
    }
    tr:nth-child(2) {
        border-bottom: solid 1px grey;
       
    }
}

.profile-viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 12px;
}

.profile-viewall:before {
    content: "";
    position: absolute;
    background: #c1c1c1;
    height: 1px;
    width: 100%;
    top: 19px;
    left: 0;
}
.container_data {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 15px;
}
.tag {
    background: #f5f6f9;
    padding: 8px;
    border-radius: 10px;
    p{
        padding: 0 !important;
        margin: 0 !important;
    }
}
.value {
    background: #f5f6f9;
    padding: 8px;
    border-radius: 10px;
    p{
        padding: 0 !important;
        margin: 0 !important;
    }
}
.next {
    --background: var(--ion-btn-custom-color);
        font-size: 16px;
        
}
.history {
    td {
        font-size: 10px;
        padding: 10px;
        padding-right: 40px;
        border-bottom: solid 1px grey;
        span {
            background: #2dd36f;
            font-size: 8px;
            padding: 5px 10px 5px 10px;
            margin-left: 5px;
        }
        span:after {
            content: url('../../../assets/icon/tick\ \(1\).png');
            
        }
    }
}