<ion-row class="main-container">
  <ion-col size="12">
    <p class="performance_text">
      Vous avez la possibilité d’améliorer temporairement votre classement au sein du classement des coachs du système Transformatics en mettant votre Fiche de Coach en valeur pour les clients. Grâce à cette publicité, vous serez propulsé au TOP 1 du classement de votre choix pendant une durée variable que vous fixerez au préalable.
    </p>
  </ion-col>
  <ion-col size="12">
    <p class="small_text"><u>Quelques chiffres:</u> un coach placé au TOP 1 du classement du système :</p>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        
        <ion-label class="small_text">
          Augmente sa sélection auprès des clients de 82%,
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
       
        <ion-label class="small_text">
          Acquiert en moyenne 13 clients supplémentaires par mois grâce à une publicité de 72 heures ; 
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      
        <ion-label class="small_text">
          Bénéficie d’un revenu moyen mensuel supplémentaire de 667€. 
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-col>
  <ion-col size="12">
    <p class="small_text"><u>Grille tarifaire:</u></p>
    <ion-col size="12">
    <table class="subscription">
      <tbody>
        <tr class="small_text">
          <td >Durée de la publicité
          </td>
          <td >24h</td>
          <td >48h</td>
          <td>72h</td>
        </tr>
        <tr class="small_text">
          <td >Membre depuis moins d’un an
          </td>
          <td >50€</td>
          <td >90€</td>
          <td>110€</td>
        </tr>
        <tr class="small_text">
          <td >Membre depuis plus d’un an
          </td>
          <td >30€</td>
          <td >60€</td>
          <td>80€</td>
        </tr>
      </tbody>
    </table>
  </ion-col>
  </ion-col>
  <div class="container_data">
  <ion-row>
    <div class="profile-viewall">
        <ion-button (click)="openChat()">Je me lance
            
        </ion-button>
    </div>
</ion-row>
</div>
<ion-grid>
<ion-row style="width: 100%;">

  <ion-col size="8">
    <div class="tag">
      <p class="small_text">Durée de la publicité
      </p>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="value">
      <p class="medium_text">72 heures
      </p>
    </div>
  </ion-col>
</ion-row>
<ion-row style="width: 100%;">
  <ion-col size="8">
    <div class="tag">
      <p class="small_text">Tarif pratiqué 
      </p>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="value">
      <p class="medium_text">110€
      </p>
    </div>
  </ion-col>
</ion-row>
<ion-row style="width: 100%;">
  <ion-col size="8">
    <div class="tag">
      <p class="small_text">Sélection de la date de mise en ligne
      </p>
    </div>
  </ion-col>
  <ion-col size="4">
    <div class="value">
      <p class="medium_text">02/11/2021
      </p>
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button class="next" expand="full" >Valider la campagne de visibilité
  </ion-button>
  </ion-col>
</ion-row>
<div class="container_data">
  <ion-row>
    <div class="profile-viewall">
        <ion-button (click)="openNewRequest()">Historique des campagnes
        </ion-button>
    </div>
</ion-row>
</div>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <table class="history">
        <tbody>
          <tr>
            <td>MONTANT</td>
            <td>DESCRIPTION</td>
            <td>DATE</td>
          </tr>
          <tr>
            <td>9.9€<span>Reused</span></td>
            <td>lorem ipsum</td>
            <td>02/11/2021</td>
          </tr>
          <tr>
            <td>11.24€ <span>Reused</span></td>
            <td>lorem ipsum</td>
            <td>02/11/2021</td>
          </tr>
          <tr>
            <td>9.99€ <span>Reused</span></td>
            <td>lorem ipsum</td>
            <td>02/11/2021</td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-row>