<ion-toolbar class="ion-border">
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon name="close-outline" class="large_text_bold close-btn-icon"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-text class="large_text_bold ion-text-center"> MA DIETE </ion-text>
</ion-toolbar>
<ion-content>
  <ion-grid>

    <ion-row class="card_item_section ion-margin-top ion-margin-bottom">
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button (click)="gotoAliments()">
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/tick.png"></ion-img>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>


      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button (click)="gotoAliments()">
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/add.png"></ion-img>
              <p>Ajouter</p>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>
      </ion-col>


    </ion-row>


    <ion-row class="card_item_section ion-margin-top">
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button (click)="gotoAliments()">
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/tick.png"></ion-img>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>

        
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button>
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/add.png"></ion-img>
              <p>Ajouter</p>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>
      </ion-col>


    </ion-row>

  </ion-grid>
</ion-content>
