<!-- <ion-header>
  <ion-toolbar>
    <ion-title>hypertrophy-strengthening-program-creation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid style="padding: 0">

    <ion-row class="arrow_section">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-img src="assets/images/payment_slide_3.png"></ion-img>
    </ion-row>


    <ion-row class="img_description">

      <ion-grid>
        <div class="edit-tag">
        <ion-row>
          <ion-label>
            PROGRAMME D’ENTRAINEMENT
          </ion-label>
  
        </ion-row>
        <ion-row>
  
          <ion-label>
            Force
          </ion-label>
        </ion-row>
      </div>
      </ion-grid>
    </ion-row>


    

    <ion-row class="btn_section row-padding">
      <ion-label class="medium_text_header">Jours d’entraînement </ion-label>
    </ion-row>




    <ion-row class="ion-margin-top row-padding">
      <ion-col size="8" >
        <ion-slides  [options]="btnSlideOptions" class="btnSlides" [pager]="false"  #theSlides>
          <ion-slide *ngFor="let item of btnArray">
            <ion-card [class]="item.active ? 'active_btn card_btn' : 'card_btn'" (click)="makeActive(item)">
              <ion-label class="medium_text_bold"> {{item.text}} </ion-label>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="4" class="add_btn_col">
        <ion-card class="card_btn" (click)="addBtn(theSlides)">
          <ion-label class="medium_text_bold"> + </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="ion-margin-top" class="btn_underline">
      <div class="profile-viewall">
        <ion-button
          >Jour {{filteredData.text}}
          <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
        </ion-button>
      </div>
    </div>

    <ion-row class="ion-margin-top row-padding">
      <ion-text class="small_text"> Aucun exercice pour le moment </ion-text>
    </ion-row>

    <ion-row class="ion-margin-top row-padding">
      <ion-item class="ion-no-padding" lines="none">
        <img class="jour_img" src="assets/icon/2body.png" />

        <ion-label>
          <ion-label class="medium_text_bold">
            Groupes musculaires sollicités :
          </ion-label>

          <ion-label class="small_text"> Pectoraux </ion-label>

          <ion-label>
            <ion-row class="ion-no-padding exercise-details-section">
              <ion-col size="8" class="detail_excercise_col">
                <ion-label class="small_text">
                  Détails des exercices
                </ion-label>
              </ion-col>

              <ion-col size="4" class="toogle_col_section">
                <ion-toggle (ionChange)="toggleChange($event)"></ion-toggle>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-label>
      </ion-item>
    </ion-row>

    <ion-row class="ion-margin-top" *ngIf="!showListItem">
      <ion-reorder-group disabled="false"  reorder='true' (ionItemReorder)="onItemReorder($event)">
        <!-- Default reorder icon, end aligned items -->
        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-list-header>BISET</ion-list-header>
        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-row>

    <ion-row class="ion-margin-top" *ngIf="showListItem">
      <ion-row>
        <ion-row class="biset_section_big">
          <h6>BISET – ENCHAINEMENT DE 2 EXERCICES</h6>
        </ion-row>

        <ion-row class="biset_section_first_row">
          <ion-item
            class="ion-no-padding"
            lines="none"
            class="biset_section_ion_item"
          >
            <div class="reorder_list_div_section"></div>

            <ion-label class="reorder_list_title">
              <ion-label class="medium_text_bold">
                Nom de l’exercice
              </ion-label>

              <ion-label class="small_text"> Sous nom de l’exercice </ion-label>
            </ion-label>
          </ion-item>

          <ion-row class="biset_section_second_row">
            <ion-col class="ion-no-padding" size="6">
              Séries effectives : 4
            </ion-col>

            <ion-col class="ion-no-padding" size="6" style="align-self: center">
              <ion-button class="biset_section_btn_one">
                Ajouter une série
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-row>

        <ion-row class="biset_section_btn_row">
          <ion-button fill="flat" style="--background: transparent">
            + Créer un triset
          </ion-button>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border footer_section">
  <ion-row>
    <ion-button class="next footer_section_btn" expand="full" shape="round" (click)="openClickAddExcercise()">
      Ajouter des exercices
    </ion-button>
  </ion-row>
</ion-footer>
