.titlebox {
    position: relative;
    color: #fff;
    height: 250px;
    overflow: hidden;
}

.titlebox-arrow {
    display: flex;
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 0px 5%;
    transform: translateY(-50%);
}

.titlebox-arrow div {
    flex-grow: 1;
    font-size: 30px;
}

.titlebox-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.title-img {
    background: #000;
    height: 100%;
}

.title-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.titlebox-text h5 {
    font-size: 12px;
    margin: 0;
}

.titlebox {
    position: relative;
    color: #fff;
}

.kcal-box {
    text-align: center;
}

.kcal-box h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
}

.kcal-box p {
    font-size: 12px;
    margin: 0;
}

.kcal-box-bg {
    background: #eee;
    border-radius: 16px;
    margin: 5px;
    margin-top: 15px;
}

.viewall {
    width: 100%;
    position: relative;
    // margin-top: 15px;
    margin-bottom: 5px;
}

.viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 12px;
}

.viewall:before {
    content: "";
    position: absolute;
    background: #c1c1c1;
    height: 1px;
    width: 100%;
    top: 19px;
    left: 0;
}

.protin ion-item {
    --inner-border-width: 0 0 0px 0;
    --border-width: 0 0 0px 0;
    --background: transparent;
    --padding-start: 0px;
}

ion-item {
    --inner-border-width: 0 0 0px 0;
    --border-width: 0 0 0px 0;
    height: 33px;
}

.protin {
    background: #ccc;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
}

.protin h4 {
    margin: 0;
}

.connect ion-button {
    --background: var(--ion-btn-custom-color);
    --border-radius: 5px;
}