<ion-content>
    <div class="titlebox">
        <div class="titlebox-arrow">
            <div>
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
            <div class="ion-text-right">
                <ion-icon name="heart-outline"></ion-icon>
            </div>
        </div>
        <div class="title-img">
            <img src="assets/images/food.png">
        </div>
        <div class="titlebox-text">
            <h4 style="margin: 0 !important; padding: 0 !important;">Blanc de poulet</h4>
            <h5>Sous-titre</h5>
        </div>
    </div>
    <div class="kcal-box-bg">
        <ion-row>
            <ion-col size="3">
                <div class="kcal-box">
                    <h4>119 kcal</h4>
                    <p>Calories</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="kcal-box">
                    <h4>4.0g</h4>
                    <p>Glucides</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="kcal-box">
                    <h4>1.0g</h4>
                    <p>Lipides</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="kcal-box">
                    <h4>119 kcal13.5g</h4>
                    <p>Protéines</p>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <div>
        <ion-list-header>VALEURS NUTRITIONNELLES
        </ion-list-header>
        <ion-item>
            <ion-label>Calories</ion-label>
            <ion-note slot="end" color="dark">119 kcal</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Glucides</ion-label>
            <ion-note slot="end" color="dark">35g</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Dont sucres </ion-label>
            <ion-note slot="end" color="dark">3g</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Lipides</ion-label>
            <ion-note slot="end" color="dark">12g</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Fibres alimentaires</ion-label>
            <ion-note slot="end" color="dark">5g</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Protéines</ion-label>
            <ion-note slot="end" color="dark">19g</ion-note>
        </ion-item>

    </div>
    <ion-row>
        <div class="viewall">
            <ion-button>VOIR TOUS LES ALIMENTS
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </div>
    </ion-row>
    <ion-row>
        <ion-col size="5">
            <div class="protin">
                <h4 class="small_text_bold">Nombre de portion</h4>
                <p class="p-b-0 m-b-0 p-t-0 m-t-0">1</p>
            </div>
        </ion-col>
        <ion-col size="7">
            <div class="protin">
               
                    <h4 class="small_text_bold">Taille de la portion</h4>
                    <h4 class="p-b-0 m-b-0 p-t-0 m-t-0">100<sub>g</sub></h4>
                    <ion-select value="notifications" interface="action-sheet" style="top: -50px;">
                        <ion-select-option value="enable">Enable</ion-select-option>
                        <ion-select-option value="mute">Mute</ion-select-option>
                        <ion-select-option value="mute_week">Mute for a week</ion-select-option>
                        <ion-select-option value="mute_year">Mute for a year</ion-select-option>
                    </ion-select>
                   
               
                <!-- <ion-item>
                    <ion-label class="small_text_bold">Taille de la portion</ion-label>
                    <ion-select value="notifications" interface="action-sheet">
                        <ion-select-option value="enable">Enable</ion-select-option>
                        <ion-select-option value="mute">Mute</ion-select-option>
                        <ion-select-option value="mute_week">Mute for a week</ion-select-option>
                        <ion-select-option value="mute_year">Mute for a year</ion-select-option>
                    </ion-select>
                </ion-item>
                <h4>100<sub>g</sub></h4> -->
            </div>
        </ion-col>
        <ion-col size="12">
            <div class="connect">
                <ion-button shape="round" expand="full" routerLink="/conseils-nutritionnels">Ajouter l’aliment
                </ion-button>
            </div>
        </ion-col>
    </ion-row>
</ion-content>