<ion-toolbar class="ion-border">
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon name="close-outline"  class="large_text_bold close-btn-icon"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-text class="large_text_bold">NEAT – ENREGISTREMENT MANUEL
  </ion-text>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row class="small_card_row ion-margin-top">
      <ion-card>
        <ion-card-content>
          <ion-label class="small_text">
            Nombre de pas

  
          </ion-label>
          <ion-label class="extra_large_text">10250
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-row>


    <ion-row class="small_card_row ion-margin-top">
      <ion-card>
        <ion-card-content>
          <ion-label class="small_text">
            Nombre de pasDistance (km)

          </ion-label>
          <ion-label class="extra_large_text">7,65
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-row>



    <ion-row class="big_card_row ion-margin-top">
      <ion-card>
        <ion-card-content>

          <ion-img src="assets/icon/run.png"></ion-img>
          <ion-label class="extra_large_text">
            550 kcal


          </ion-label>
         
        </ion-card-content>
      </ion-card>
    </ion-row>



  </ion-grid>
</ion-content>
