ion-content {
    --padding-start: 3%;
    --padding-end: 3%;

    ion-text {
        display: block;
    }

}

ion-toolbar {
    border-bottom: 1px solid #f1f1f1;
    height: 9%;
}

.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}

.header_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ion-label {
        align-self: center;

    }


    div {
        width: 48%;
        border-style: dashed;
        border-color: gray;
        height: 1px;
        border-width: 1px;
        align-self: center;
        position: absolute;
        right: 16%;
    }
}

.small_card_row {

    ion-card {
        width: 100%;
        margin: 0;

        height: 80px;
        display: flex;
        padding-left: 5%;

 
        ion-card-content {
            display: flex;
            flex-direction: column;    
        }
    }
}


.big_card_row {

    ion-card {
        width: 100%;
        margin: 0;

        height: 130px;
        display: flex;
        padding-left: 5%;

 
        ion-card-content {
            display: flex;
            flex-direction: row;    

            ion-img {
                width: 95px;
            }

            ion-label {
                align-self: center;
                padding-left: 5%;
            }
        }
    }
}
