<ion-header>
  <ion-toolbar>
    <div class="daybox">
      <ion-icon
        name="chevron-back-outline"
        (click)="goBack()"
        class="back-icon"
      ></ion-icon>
      <ion-slides pager="false" [options]="options" #myslide>
        <ion-slide *ngFor="let day of days; index as i">
          <div class="daybox-title" (click)="openCalendar()">
            {{day.dayName}}
          </div>
        </ion-slide>
      </ion-slides>
      <ion-icon
        name="chevron-forward-outline"
        (click)="goAhead()"
        class="forward-icon"
      ></ion-icon>
    </div>
    <app-chart-bar  *ngIf="segmentModel === 'training'" [label]="'HYP'"></app-chart-bar>
    <app-chart-bar  *ngIf="segmentModel !== 'training'" [label]="'CAL'"></app-chart-bar>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="scrollHandler($event)" [scrollEvents]="true">
  <div class="header-button-box">
    <div class="header-button-box-button-left">
      <div class="header-button-box-button" (click)="openCourseModal()">
        <img src="assets/icon/menu/listdecourses.png" />
      </div>
      <div class="header-button-box-button" (click)="openNotebookModal()">
        <img src="assets/icon/menu/moncarnet.png" />
      </div>
    </div>
    <div class="header-button-box-button-right" (click)="openCheckupModal()">
      <img src="assets/icon/menu/right.png" />
    </div>
  </div>
  <div class="ion-padding-start ion-padding-end">
    <ion-segment
      value="training"
      color="tertiary"
      scrollable="true"
      [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)"
      style="margin-top: 25px"
    >
      <ion-segment-button value="training">
        <ion-label class="segment-btn-text">TRAINING</ion-label>
      </ion-segment-button>

      <ion-segment-button value="alimentation">
        <ion-label class="segment-btn-text">ALIMENTATION</ion-label>
      </ion-segment-button>
      <ion-segment-button value="plus">
        <ion-label class="segment-btn-text">PLUS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="segment_container_data">
    <div *ngIf="segmentModel === 'training'">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h4 class="medium_text" style="padding-left: 1%;">Activités physiques du jour</h4>
          </ion-col>
          <div *ngIf="show">
            <ion-col size="12" class="p-b-0 m-b-0" style="padding: 0">
              <ion-card (click)="showDetail()" class="card-data">
                <ion-item>
                  <div class="exercise-head">
                    <img
                      src="assets/icon/masculation.png"
                      style="width: 20%; margin-left: 10px"
                    />
                    <p class="active-exercise">MUSCULATION</p>
                  </div>
                  <div *ngIf="detail">
                    <ion-icon
                      name="pencil"
                      class="edit-icon"
                      routerLink="/edit-physical-activity"
                    ></ion-icon>
                  </div>
                  <div *ngIf="!detail">
                    <p class="exercise-detail">Programme- Jour 1</p>
                  </div>
                  <p class="very_small_text" style="margin-right: 8px">
                    4:58<br />6:12
                  </p>
                  <img class="image-icon" src="assets/icon/timeline.png" />
                </ion-item>
              </ion-card>
            </ion-col>
          </div>
          <div *ngIf="detail">
            <p class="small_text">Jours d’entraînement</p>
            <div style="display: flex; flex-direction: row">
              <ion-card class="active_btn card_btn">
                <ion-label class="medium_text_bold"> 1</ion-label>
              </ion-card>
              <ion-card class="card_btn">
                <ion-label class="medium_text_bold"> 2</ion-label>
              </ion-card>
              <ion-card class="card_btn">
                <ion-label class="medium_text_bold"> 3 </ion-label>
              </ion-card>
            </div>
            <ion-row>
              <ion-col size="4">
                <img class="jour_img" src="assets/icon/2body.png" />
              </ion-col>

              <ion-col class="exercise_details" size="8">
                <ion-label class="small_text">
                  Groupes musculaires sollicités wsd fvef e efv e edgv edvg :
                </ion-label>

                <ion-label class="small_text"> Pectoraux </ion-label>
                <br />
                <ion-label class="small_text"
                  >Total: 5 exercises - 17 séries</ion-label
                >
              </ion-col>
            </ion-row>
          </div>
          <ion-col size="12" class="p-b-0 m-b-0" style="padding: 0">
            <ion-card routerLink="/physical-activity-creation-menu" style="margin-left: 1%;">
              <ion-item style="--padding-start: 2%;">
                <h4 class="medium_text"> Ajouter une activité physique</h4>
                <ion-icon slot="end" name="add-circle-outline"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <h4 class="medium_text" style="padding-left: 1%;">Historique des activités</h4>
          </ion-col>
          <ion-col size="12">
            <app-chart></app-chart>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="segmentModel === 'alimentation'">
      <ion-row class="list_device_row ion-margin-top">
        <ion-item lines="none">
          <ion-label class="list_section_title">
            <ion-label class="medium_text_bold">
              Alimentation – [OBJECTIF]
            </ion-label>
          </ion-label>
          <ion-label class="menu-icon" (click)="openMyDietHomeModal()">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="alimentation_row_one">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <div class="side-container">
                <ion-label class="large_text_bold"> 0 </ion-label>

                <ion-label class="extra_small_text"> KCAL CONSOMEES </ion-label>
              </div>

              <div class="inner-container">
                <div class="circle-container">
                  <ion-label class="large_text_bold"> 3240 </ion-label>

                  <ion-label class="small_text"> KCAL RESTANTES </ion-label>
                </div>
              </div>

              <div class="side-container">
                <ion-label class="large_text_bold"> 0 </ion-label>

                <ion-label class="extra_small_text"> KCAL BRULEES </ion-label>
              </div>
            </ion-row>

            <ion-row class="stepper_ui_section ion-margin-top">
              <ion-col size="2">
                <ion-label class="very_small_text"> PROTEINES </ion-label>
              </ion-col>

              <ion-col size="2">
                <div class="main_line_section">
                  <div class="yellow-back"></div>
                  <div class="black-back"></div>
                </div>
              </ion-col>

              <ion-col size="2">
                <ion-label class="very_small_text"> LIPIDES </ion-label>
              </ion-col>

              <ion-col size="2">
                <div class="main_line_section">
                  <div class="yellow-back"></div>
                  <div class="black-back"></div>
                </div>
              </ion-col>

              <ion-col size="2">
                <ion-label class="very_small_text"> LIPIDES </ion-label>
              </ion-col>
              <ion-col size="2">
                <div class="main_line_section">
                  <div class="yellow-back"></div>
                  <div class="black-back"></div>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row class="ion-margin-top card_item_section_main_row">
        <ion-row class="card_item_section ion-margin-top ion-margin-bottom">
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-button> Petit-Déjeuner </ion-button>
              </ion-card-header>

              <ion-card-content >
                <ion-img src="assets/icon/tick.png"></ion-img>
              </ion-card-content>
            </ion-card>

            <div class="card_footer_data ion-margin-top">
              <p class="medium_text">398 kcal</p>

              <p class="small_text">Recommandé : 667kcal</p>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-card  routerLink="/aliments">
              <ion-card-header>
                <ion-button> Petit-Déjeuner </ion-button>
              </ion-card-header>

              <ion-card-content>
                <ion-img src="assets/icon/add.png"></ion-img>
                <p>Ajouter</p>
              </ion-card-content>
            </ion-card>

            <div class="card_footer_data ion-margin-top">
              <p class="medium_text">398 kcal</p>

              <p class="small_text">Recommandé : 667kcal</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="card_item_section ion-margin-top">
          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-button> Petit-Déjeuner </ion-button>
              </ion-card-header>

              <ion-card-content>
                <ion-img src="assets/icon/tick.png"></ion-img>
              </ion-card-content>
            </ion-card>

            <div class="card_footer_data ion-margin-top">
              <p class="medium_text">398 kcal</p>

              <p class="small_text">Recommandé : 667kcal</p>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-card>
              <ion-card-header>
                <ion-button> Petit-Déjeuner </ion-button>
              </ion-card-header>

              <ion-card-content>
                <ion-img src="assets/icon/add.png"></ion-img>
                <p>Ajouter</p>
              </ion-card-content>
            </ion-card>

            <div class="card_footer_data ion-margin-top">
              <p class="medium_text">398 kcal</p>

              <p class="small_text">Recommandé : 667kcal</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-row>

      <!-- Alimentation Without Login Section-->
      <ion-row
        class="ion-padding ion-margin-top almentation_without_login_section"
      >
        <ion-row class="header_section">
          <ion-label class="margin_text_bold">
            FONCTIONNALITES NON ACCESSIBLES
          </ion-label>
        </ion-row>

        <ion-row class="ion-margin-top content_section">
          <ion-label class="small_text">
            Votre formule d’engagement ne vous permet pas d’accéder à ces
            fonctionnalités. Pour pouvoir en profiter, vous devez opter pour
            notre formule complète avec engagement 12 mois.
          </ion-label>
        </ion-row>

        <ion-row class="ion-margin-top content_section">
          <ion-label class="small_text_bold">
            Bénéficiez de 15 jours offerts sur votre tout nouvel abonnement en
            vous inscrivant maintenant !
          </ion-label>
        </ion-row>

        <ion-row class="ion-margin-top button_section">
          <ion-button> Sélectionner la formule </ion-button>
        </ion-row>

        <ion-row class="ion-margin-top card_section">
          <ion-card class="ion-margin-top">
            <img src="assets/images/payment_slide_1.png" class="slide_image" />
            <div class="price_section">
              <p class="p1">24.90€ /mois</p>
              <p class="p2">Ou 0.83 /jour</p>
            </div>
            <ion-card-header>
              <ion-card-title class="medium_text_bold">
                Abonnement avec engagement de 12 mois
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding">
              <p class="small_text_light">
                Notre formule la plus adéquate. Vous accèderez à l’intégralité
                fonctionnelle du système Transformatics, ses spécificités, ses
                check-ups et son coaching personnalisé. Prenez enfin le contrôle
                de votre rythme de vie et changez votre façon de voir les choses
                !
              </p>
              <ion-button class="select-plan ion-margin-top" expand="full">
                Sélectionner la formule
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-row>
    </div>
    <div *ngIf="segmentModel === 'plus'">
      <ion-row class="ion-padding-start ion-padding-top">
        <ion-label class="medium_text_bold">
          Informations complémentaires du jour
        </ion-label>
      </ion-row>

      <ion-row
        class="plan_btn_section ion-padding-start ion-padding-top ion-padding-end"
      >
        <ion-col size="4" class="first_col">
          <div class="steptwofirstbtn">
            <ion-card
              [class]="plansBtn == 'Gain muscle' ? 'custom_card_bg' : 'custom_card_bg_light'"
              expand="full"
              (click)="plansBtn = 'Gain muscle'"
            >
              <ion-label> NEAT </ion-label>

              <ion-label> Activité physique </ion-label>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="steptwofirstbtn">
            <ion-card
              [class]="plansBtn == 'detail_section' ? 'custom_card_bg' : 'custom_card_bg_light'"
              
              expand="full"
              (click)="plansBtn = 'detail_section'"
            >
              <ion-label> EAU </ion-label>

              <ion-label> Hydratation </ion-label>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="steptwofirstbtn">
            <ion-card
              [class]="plansBtn == 'free_session' ? 'custom_card_bg' : 'custom_card_bg_light'"
              expand="full"
              expand="full"
              (click)="plansBtn = 'free_session'"
            >
              <ion-label> SOMMEIL </ion-label>

              <ion-label>Heures de sommeil </ion-label>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="plansBtn == 'Gain muscle'"
        class="ion-padding-start ion-padding-top"
      >
        <ion-row class="ion-margin second_header_section">
          <ion-label class="large_text_bold">NEAT</ion-label>
          <ion-label class="small_text">Activité physique</ion-label>
        </ion-row>

        <ion-row class="details_seaction_row ion-padding-start ion-padding-end">
          <ion-col size="5" class="details_seaction_col">
            <div class="details_section">
              <div>
                <ion-label class="large_text_bold">216</ion-label>
                <ion-label class="small_text">pas</ion-label>
              </div>

              <div>
                <ion-label class="large_text_bold">0,34</ion-label>
                <ion-label class="small_text">km</ion-label>
              </div>

              <div>
                <ion-label class="large_text_bold">35</ion-label>
                <ion-label class="small_text">kcal</ion-label>
              </div>
            </div>

            <div class="step_icon_section">
              <ion-img src="assets/icon/step.png"></ion-img>
            </div>
          </ion-col>

          <ion-col size="7" class="button_section_row">
            <ion-button class="custom_btn_bg very_small_text">
              Connecter un appareil
            </ion-button>

            <ion-button color="dark" class="very_small_text">
              Enregistrer manuellement
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-row>

      <ion-row
        *ngIf="plansBtn == 'detail_section'"
        class="ion-padding-start ion-padding-top second_btn_header_section"
      >
        <ion-row>
          <ion-col size="4">
            <div class="first_header">
              <ion-label class="large_text_bold">EAU</ion-label>
              <ion-label class="small_text">Hydratation</ion-label>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="second_header">
              <ion-label class="small_text">Objectif:2,5L </ion-label>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="third_header">
              <ion-label class="small_text">Actuel:</ion-label>
              <ion-label class="large_text_bold"> 1,75L</ion-label>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="range_section" >
          <ion-item lines="none" style="width: 100%;">
            <ion-range  pin="true" [min]="eauMinRange" max="20" (ionChnage)="eauChange($event)" class="eau" style="margin-top: 30px;"> 
            <ion-label slot="start">{{eauMinRange}}</ion-label>
            <ion-label slot="end">{{eauChangeRange}}</ion-label>
          </ion-range>
          </ion-item>
        </ion-row>
      </ion-row>

      <ion-row
        *ngIf="plansBtn == 'free_session'"
        class="ion-padding-start ion-padding-top second_btn_header_section"
      >
        <ion-row>
          <ion-col size="4">
            <div class="third_header">
              <ion-label class="large_text_bold">SOMMEIL</ion-label>
              <ion-label class="small_text"> Heures</ion-label>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="range_section" >
          <ion-item lines="none" style="width: 100%;">
           
            <ion-range  pin="true" [min]="sommeilMinRange" max="15" (ionChnage)="sommeilChange($event)" class="sommeil" style="margin-top: 30px;">
              <ion-label slot="start">{{sommeilMinRange}}</ion-label>
              <ion-label slot="end">{{sommeilChangeRange}}</ion-label>
            </ion-range>  
          </ion-item>
        </ion-row>
      </ion-row>
    </div>
  </div>
</ion-content>
