ion-toolbar {
    --background: #000;
}

ion-item {
    --inner-border-width: 0 0 0px 0;
}

ion-card {
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

ion-label {
    font-family: 'Oswald' !important;
}

.segment_container_data {
    padding: 0px;
    margin-bottom: 25%;
}

.card_btn {
    height: 40px;
    width: 40px;
    border: 2px solid #565656;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-right: 5px;

    ion-label {
        align-self: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
    }
}

.active_btn {
    background: var(--ion-btn-custom-color);
}

.active-exercise {
    font-size: 0.8rem;
}

.exercise-detail {
    font-size: 0.7rem !important;
    margin-right: 38px;
}

.edit-icon {
    font-size: 1.2rem;
    margin-right: 100px;
}

.exercise-head {
    display: flex;
    background: #000;
    color: #fff;
    border-radius: 15px;
    width: 40%;
    margin-right: 15px;
}

ion-item {
    // --padding-start: 2px;
    --padding-top: 2px;
    --padding-bottom: 2px;
}

.daybox {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.daybox-title {
    display: block;
    min-width: 100px;
    background: #626262;
    padding: 3px 20px;
    border-radius: 25px;
    border: 2px solid #333;
    z-index: 1;
    position: relative;
}

.header-button-box {
    display: flex;
    position: fixed;
    z-index: 999;
    margin-top: -14px;
    color: #fff;
    width: 100%;
}

.header-button-box-button-right ion-icon {
    font-size: 26px;
    background: #333;
    border-radius: 25px;
    padding: 0px;
    border: 1px solid #ffd1b3;
}

.header-button-box-button-left ion-icon {
    font-size: 26px;
    background: #333;
    border-radius: 25px;
    padding: 0px;
    border: 1px solid #ffd1b3;
}

.header-button-box-button-right {
    position: absolute;
    right: 12%;
    display: inline-block;
    margin-right: 15px;
    background: #333;
    border-radius: 40px;
    padding: 4px 4px 0px 5px;
    border: 1px solid #ffd1b3;

    img {
        height: 25px;
        width: 25px;
    }
}

.header-button-box-button-left {
    left: 10%;
    position: absolute;
}

.header-button-box-button-left .header-button-box-button {
    display: inline-block;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    background: #333;
    border-radius: 40px;
    padding: 5px 8px 0px 8px;
    border: 1px solid #ffd1b3;
}

.back-icon {
    position: absolute;
    top: 25px;
    left: 110px;
    z-index: 2;
}

.forward-icon {
    position: absolute;
    right: 110px;
    top: 25px;
    z-index: 2;
}



.list_device_row {
    ion-item {
        width: 100%;



        div {
            ion-img {
                width: 50px;
            }
        }


        .list_section_title {
            padding-left: 2%;
        }

        .menu-icon {
            position: absolute;
            right: 7%;
            font-size: 25px;
            color: gray;
        }
    }
}


.alimentation_row_one {
    ion-card {
        width: 100%;
        // height: 161px;
        

        ion-card-content {
            ion-row {
                display: flex;
                flex-direction: row;
                justify-content: center;

                div {
                    justify-content: center;
                    flex-grow: 1;
                }
            }
        }
    }
}


.circle-container {
    border: 3px solid var(--ion-color-primary);
    padding: 14px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .small_text {
        text-align: center;
        font-size: 0.5rem;
    }

    .large_text_bold {
        text-align: center;
    }
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.side-container {
    display: flex;
    flex-direction: column;

    .large_text_bold {
        text-align: center;
    }

    .extra_small_text {
        text-align: center;
    }
}

.main_line_section {
    display: flex;
    flex-direction: row;
    height: 24px;

    .yellow-back {
        background: var(--ion-color-primary);
        width: 20px;
        height: 4px;
        align-self: center;
    }

    .black-back {
        background: #000;
        width: 20px;
        height: 4px;
        align-self: center;
    }
}




.card_item_section_main_row {
    display: flex;
    justify-content: center;

    .card_item_section {

        ion-col {
            ion-card {
                height: 150px;
                margin: 0;

                ion-card-header {
                    ion-button {
                        width: 100%;
                        --background: #2a2a2a;
                    }
                }

                ion-card-content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    ion-img {
                        width: 25px;
                        background: #bebebe;
                        border-radius: 50%;
                        align-self: center;
                    }

                    p {
                        align-self: center;

                    }
                }
            }
        }
    }

}


.card_footer_data {
    p {
        margin: 0;
    }
}

.steptwofirstbtn {
    ion-card {

        height: 100px;
        margin: 0;
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        margin: 0;
        display: flex;
        padding: 8px;


        ion-label {}
    }
}


.second_header_section {
    display: flex;
    align-self: flex-end;
    margin-left: 10px;
    width: 100%;

    .small_text {
        align-self: flex-end;
        margin-bottom: 1px;

        margin-left: 5px;

    }

    .large_text_bold {
        align-self: flex-end;

    }

}

.details_seaction_row {
    width: 100%;

    .details_seaction_col {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .details_section {
            div {
                .small_text {
                    padding-left: 7px;
                }
            }
        }

        .step_icon_section {
            padding-left: 10%;
            display: flex;
            justify-content: center;

            ion-img {
                width: 40px;
            }
        }
    }
}


.button_section_row {
    display: flex;
    flex-direction: column;

    .details_section {
        --background: var(--ion-btn-custom-color)
    }
}

.second_btn_header_section {
    ion-row {
        width: 100%;

        ion-col {
            .first_header {
                .small_text {
                    padding-left: 5px;
                }
            }
        }
    }
}

.almentation_without_login_section {
    .header_section {
        width: 100%;
        display: flex;
        justify-content: center;

    }


    .content_section {
        ion-label {
            text-align: justify;
        }
    }

    .button_section {
        width: 100%;

        ion-button {
            width: 100%;
            --background: var(--ion-btn-custom-color)
        }
    }

    .card_section {
        ion-card {
            margin: 0;
            padding: 1%;

            ion-card-content {
                p {
                    text-align: justify;
                }
            }
        }
    }
}



.price_section {
    position: absolute;
    top: 4%;
    left: 4%;
    text-align: left;

    .p1 {
        font-family: Oswald, serif;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .p2 {
        font-family: Oswald, serif;
        color: #d2d1d1;
        font-size: 10px;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }



}


.select-plan {
    --background: var(--ion-btn-custom-color);
}

ion-range  {
    --bar-height: 10px;
    --bar-border-radius: 15px;
    --knob-size: 50px;
    ion-label {
        padding: 10px;
    }
}
// ion-range {
//     --knob-background: url('../../../../assets/icon/eauknob.png');
//      background-size: contain;
//      background-repeat: no-repeat;
//      background: red !important;
//      box-shadow: none !important;
// }



.custom_btn_bg {
    --background: var(--ion-btn-custom-color)
}



.custom_card_bg {
    background: #2d2d2d;
    color: #fff;
}

.custom_card_bg_light {
    background: #fff;
    color: #000;
}