<ion-toolbar class="ion-border">
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon name="close-outline" class="large_text_bold close-btn-icon"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-text class="large_text_bold ion-text-center"> MA DIETE </ion-text>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row class="header_row">
      <ion-label class="medium_text_bold"> LUNDI 4 SEPTEMBRE </ion-label>

      <div class="dotted-line"></div>
      <ion-avatar>
        <img src="assets/icon/pen-icon.png" alt="" />
      </ion-avatar>
    </ion-row>

    <ion-row>
      <ion-item lines="none" class="toggle_btn_section">
        <ion-label>Utiliser comme diète par défaut </ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-label class="very_small_text"> PROTEINES </ion-label>
      </ion-col>

      <ion-col size="2">
        <div class="main_line_section">
          <div class="yellow-back"></div>
          <div class="black-back"></div>
        </div>
      </ion-col>

      <ion-col size="2">
        <ion-label class="very_small_text"> LIPIDES </ion-label>
      </ion-col>

      <ion-col size="2">
          <div class="main_line_section">
          <div class="yellow-back"></div>
          <div class="black-back"></div>
        </div>
      </ion-col>

      <ion-col size="2">
        <ion-label class="very_small_text"> LIPIDES </ion-label>
      </ion-col>
      <ion-col size="2">
          <div class="main_line_section">
          <div class="yellow-back"></div>
          <div class="black-back"></div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="card_item_section ion-margin-top ion-margin-bottom">
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button>
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/tick.png"></ion-img>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>


      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button>
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/add.png"></ion-img>
              <p>Ajouter</p>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>
      </ion-col>


    </ion-row>


    <ion-row class="card_item_section ion-margin-top">
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button>
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/tick.png"></ion-img>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>

        
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-button>
              Petit-Déjeuner
  
            </ion-button>
          </ion-card-header>

          <ion-card-content>
              <ion-img src="assets/icon/add.png"></ion-img>
              <p>Ajouter</p>
          </ion-card-content>
        </ion-card>

        <div class="card_footer_data ion-margin-top">
          <p class="medium_text">
            398 kcal

          </p>

          <p class="small_text">
            Recommandé : 667kcal

          </p>
        </div>
      </ion-col>


    </ion-row>

  </ion-grid>
</ion-content>
