ion-content {
    --padding-start: 3%;
    --padding-end: 3%;
}

ion-toolbar {
    border-bottom: 1px solid #f1f1f1;
    height: 9%;

    ion-text {
        display: block;
    }
}


.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}

.toggle_btn_section {
    width: 100%;
    --padding-start: 0;

    ion-toggle {
        height: 25px;
    }
}




ion-avatar {
    padding: 15px;
}

.header_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ion-label {
        align-self: center;

    }


    div {
        width: 48%;
        border-style: dashed;
        border-color: gray;
        height: 1px;
        border-width: 1px;
        align-self: center;
        position: absolute;
        right: 16%;
    }
}

.main_line_section {
    display: flex;
    flex-direction: row;
    height: 24px;

    .yellow-back {
        background: var(--ion-color-primary);
        width: 20px;
        height: 4px;
        align-self: center;
    }

    .black-back {
        background: #000;
        width: 20px;
        height: 4px;
        align-self: center;
    }
}



.card_item_section {
    ion-col {
        ion-card {
            height: 150px;
            margin: 0;

            ion-card-header {
                ion-button {
                    width: 100%;
                    --background: #2a2a2a;
                }
            }

            ion-card-content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                ion-img {
                    width: 25px;
                    background: #bebebe;
                    border-radius: 50%;
                    align-self: center;
                }

                p {
                    align-self: center;

                }
            }
        }
    }
}


.card_footer_data {
    p {
        margin: 0;
    }
}