<ion-content>
    <div class="title-box">
        <div class="title-box-img">
            <img src="assets/images/edit_physical_activity.png">


            <div class="back_btn_section" routerLink="/tabs/menu">
                <ion-icon name="arrow-back-outline" style="color: #fff;"></ion-icon>
            </div>
        </div>
        
        <div class="title-box-text">
            <h4>APPRENTISSAGE</h4>
            <p>Vidéos formatrices</p>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div>
                    <p class="small_text">
                        <strong>Transformatics</strong> met un point d’honneur à vous former pour que vous puissiez être à même de comprendre le fonctionnement de votre corps, son anatomie, les mécanismes nutritionnels et mentaux. Dans cet optique, nous
                        vous donnons accès à un panel de vidéos explicatives sur de nombreux sujets relatifs au sport en général. Tournées par des professionnels de santé et spécialistes des milieux étudiés, ils vous aideront à apprendre toujours plus.
                    </p>
                    <p class="small_text">
                        <strong>Transformatics</strong> est plus qu’une application de coaching sportif : c’est une école de vie.
                    </p>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <h4 class="large_text">Vidéos introductives</h4>
                </div>
                <div>
                    <ion-slides pager="false" [options]="categories" #slides>
                        <ion-slide>
                            <ion-card class="program active">
                                <ion-card-content>
                                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                        <ion-slide>
                            <ion-card class="program">
                                <ion-card-content>
                                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                        <ion-slide>
                            <ion-card class="program">
                                <ion-card-content>
                                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <h4 class="large_text">Vidéos introductives</h4>
                </div>
                <div>
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </ion-col>
            <ion-col size="12">
                <div>
                    <h4 class="large_text">Ces erreurs qui m’ont coûté des années</h4>
                </div>
                <div>
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>