ion-content {
    --padding-bottom: 4%;
}
.title-box {
    position: relative;
}

.title-box-text {
    position: absolute;
    bottom: 5px;
    background: #0c0c0c66;
    color: #fff;
    width: 50%;
    padding: 10px 10px;
}

.title-box-text h4 {
    margin: 0px;
    font-size: 14px;
}

.title-box-text p {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

ion-card.program {
    width: 85%;
    margin-inline: 5px;
}

ion-card-content {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}

ion-card.program.active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
}

.back_btn_section {
    position: absolute;
    left: 16px;
    top: 18px;

    ion-icon {
        font-size: 20px;
    }
}


.large_text {
    font-size: 1.0rem !important;
}