<ion-content>
    <div>
        <ion-item>
            <img class="logo ion-no-margin ion-margin-end" slot="start" src="assets/icon/repascomplets.png">
            <ion-label>REPAS COMPLETS
            </ion-label>
            <ion-icon (click)="closeModal()" slot="end" name="close-outline"></ion-icon>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div class="recipes">
                        <div>VIANDES</div>
                        <div>POISSONS</div>
                        <div>PATES</div>
                        <div>BURGERS, SANDWICHS, WRAPS</div>
                        <div>VEGAN</div>
                        <div>SALADES</div>
                        <div>PIZZAS</div>
                        <div>SOUPES</div>
                        <div>BASE D’ŒUF</div>
                        <div>ACCOMPAGNEMENTS</div>
                        <div>ENTREES</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div>
        <ion-item>
            <img class="logo ion-no-margin ion-margin-end" slot="start" src="assets/icon/snacks.png">
            <ion-label>DESSERTS, SNACKS & COLLATIONS</ion-label>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div class="recipes">
                        <div>VIANDES</div>
                        <div>POISSONS</div>
                        <div>PATES</div>
                        <div>BURGERS, SANDWICHS, WRAPS</div>
                        <div>VEGAN</div>
                        <div>SALADES</div>
                        <div>PIZZAS</div>
                        <div>SOUPES</div>
                        <div>BASE D’ŒUF</div>
                        <div>ACCOMPAGNEMENTS</div>
                        <div>ENTREES</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div>
        <ion-item>
            <img class="logo ion-no-margin ion-margin-end" slot="start" src="assets/icon/cup.png">
            <ion-label>REPAS COMPLETS
            </ion-label>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <div class="recipes">
                        <div>VIANDES</div>
                        <div>POISSONS</div>
                        <div>PATES</div>
                        <div>BURGERS, SANDWICHS, WRAPS</div>
                        <div>VEGAN</div>
                        <div>SALADES</div>
                        <div>PIZZAS</div>
                        <div>SOUPES</div>
                        <div>BASE D’ŒUF</div>
                        <div>ACCOMPAGNEMENTS</div>
                        <div>ENTREES</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>