ion-item {
    --inner-border-width: 0 0 0px 0;
}

.recipes div {
    width: auto;
    display: inline-block;
    padding: 5px 15px;
    margin: 0px 5px 5px 0px;
    font-size: 12px;
    background: #eaeaea;
    border-radius: 5px;
}

.recipes {
    position: relative;
}