


<ion-content>

  <ion-row class="stepper_section">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div [class]="activepage == 0 ? 'steps active' : 'steps' "></div>
        </ion-col>
        <ion-col>
          <!-- <div ng-class="(activepage == 2) ? 'active' : 'steps'"></div> -->
          <div [class]="activepage == 1 ? 'steps active' : 'steps' "></div>
        </ion-col>
        <ion-col>
          <div [class]="activepage == 2 ? 'steps active' : 'steps' "></div>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  </ion-row>
  
  <div class="main_container">
    <div class="description_section">
      <div class="header">
        <p>
          Commencez dès aujourd’hui à reprendre un rythme de vie sain.
          Sélectionnez ci-dessous l’une des formules d’abonnement suivantes pour
          accéder au contenu illimité de l’application
          <strong>Transformatics</strong>.
        </p>
      </div>
    </div>

    <div class="slider">
      <ion-slides
        pager="false"
        class="plan-slider"
        [options]="planSlideOptions"
        #slides
        class="select-plan"
       
        (ionSlideDidChange)="getIndex($event)"
      >
        <ion-slide>
          <ion-card>
            <img
              src="assets/images/JE SUIS UN COACH Page 3.jpg"
              class="slide_image"
            />
            <div class="price_section">
              <p class="p1">24.90€ /mois</p>
              <p class="p2">Ou 0.83 /jour</p>
            </div>
            <ion-card-header>
              <ion-card-title>
                Abonnement avec engagement de 12 mois
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="common-card-content">
              <p>
                Notre formule la plus adéquate. Vous accèderez à l’intégralité
                fonctionnelle du système Transformatics, ses spécificités, ses
                check-ups et son coaching personnalisé. Prenez enfin le contrôle
                de votre rythme de vie et changez votre façon de voir les choses
                !
              </p>
              <ion-button class="select-plan" (click)="openPaymentModal()">
                Sélectionner la formule
              </ion-button>
              <ion-button
                (click)="goToBodyScan()"
                class="skip-btn"
                fill="clear"
              >
                Skip
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <img
              src="assets/images/JE SUIS UN COACH Page 3.jpg"
              class="specific_slide_img"
            />
            <div class="price_section">
              <p class="p1">24.90€ /mois</p>
              <p class="p2">Ou 0.83 /jour</p>
            </div>
            <ion-card-header>
              <ion-card-title>
                Abonnement avec engagement de 12 mois
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="extra_p1_card_content">
              <p>
                Notre formule la plus complète. Vous devenez un coach à part
                entière du système Transformatics, certifié par vos diplômes
                personnels, vous amassez les clients, recevez vos paiements et
                gérez toute votre activité de coach du bout des doigts !
              </p>
    
              <!-- <ion-button
                (click)="goToBodyScan()"
                class="skip-btn"
                fill="clear"
              >
                Skip
              </ion-button> -->

              <ion-row class="header_section">
                <ion-col size="12">
                  <ion-col size="4"> </ion-col>

                  <ion-col size="2">
                    <ion-label class="very_small_text"> 1ère a. </ion-label>
                  </ion-col>

                  <ion-col size="2">
                    <ion-label class="very_small_text"> 2ème a. </ion-label>
                  </ion-col>

                  <ion-col size="3">
                    <ion-label class="very_small_text"> 3ème a. et + </ion-label>
                  </ion-col>
                </ion-col>
              </ion-row>

              <ion-row class="header_section">
                <ion-col size="12">
                  <ion-col size="4">
                    <ion-label class="very_small_text text-bold">
                      Rémunération du coach/coaching
                    </ion-label>
                  </ion-col>

                  <ion-col size="2">
                    <ion-label class="very_small_text"> 65% </ion-label>
                  </ion-col>

                  <ion-col size="2">
                    <ion-label class="very_small_text text-bold"> 70% </ion-label>
                  </ion-col>

                  <ion-col size="3">
                    <ion-label class="very_small_text text-bold"> 75% </ion-label>
                  </ion-col>
                </ion-col>
              </ion-row>

              <ion-row class="header_section">
                <ion-col size="12">
                  <ion-col size="4">
                    <ion-label class="very_small_text text-bold">
                      Abonnement mensuel
                    </ion-label>
                  </ion-col>

                  <ion-col size="2">
                    <ion-label class="very_small_text"> 29,90€ </ion-label>
                  </ion-col>

                  <ion-col size="2">
                    <ion-label class="very_small_text text-bold"> 19,90€ </ion-label>
                  </ion-col>

                  <ion-col size="3">
                    <ion-label class="very_small_text text-bold"> 19,90€ </ion-label>
                  </ion-col>
                </ion-col>
              </ion-row>


              <ion-button class="select-plan">
                Sélectionner la formule
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <img
              src="assets/images/TARIFS - TELECHARGER.jpg"
              class="slide_image"
            />
            <div class="price_section">
              <p class="p1">24.90€ /mois</p>
              <p class="p2">Ou 0.83 /jour</p>
            </div>
            <ion-card-header>
              <ion-card-title>
                Abonnement limité – Training only
              </ion-card-title>
            </ion-card-header>
            <ion-card-content  class="common-card-content">
              <p>
                Si vous ne souhaitez pas vous lancer dans un engagement à
                l’année, cette formule est idéale. Vous avez accès au créateur
                de programmes d’entraînement, ce qui vous permet de les
                télécharger en PDF pour les envoyer à vos clients en un clic !
              </p>
              <ion-button class="select-plan" routerLink="/body-scan-steps-coach">
                Sélectionner la formule
              </ion-button>
              <ion-button
                (click)="goToBodyScan()"
                class="skip-btn"
                fill="clear"
              >
                Skip
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="footer">
      <p>
        En sélectionnant une formule d’abonnement, vous acceptez les Conditions
        et Termes de Vente et la Politique de Confidentialité. La souscription
        sera automatiquement renouvelée 24 heures avant la date anniversaire de
        cette dernière.
      </p>
    </div>
  </div>
</ion-content>
