

.row-width-underline {
    width: 100%;
    border-bottom: 1px solid gray !important;
}

ion-content {
    --padding-top: 10%;
    --padding-start: 3%;
    --padding-bottom: 20%;
}

.slide-image img {

    height: 127px;

}

.slide_section {
    margin-top: 3%;
}



.select_row_section {
    margin-top: 10%;
}

.btn_section {
    margin-top: 10%;
}

.card_btn {
    height: 70px;
    width: 70px;
    border: 2px solid #565656;
    margin: 0;
    display: flex;
    justify-content: center;

    ion-label {
        align-self: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
    }
}


.btnSlides {
    ion-slide {
        width: 80px;
        margin-right: 10px;
    }
}


.profile-viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 12px;
}

.profile-viewall:before {
    content: "";
    position: absolute;
    background: #c1c1c1;
    height: 1px;
    width: 100%;
    top: 19px;
    left: 0;
}


ion-row {
    // padding-left: 5%;
}


.btn_underline {
    margin-top: 10%;
}


.add_btn_col {

    display: flex;
    justify-content: center;
}
ion-item {
    width: 100%;
    height: 40px;
    display: flex;
}

ion-reorder-group {
    width: 100%;
}

.jour_img {
    width: 100px;
}

.exercise-details-section {
    height: 35px;
    margin-top: -8px
}


.detail_excercise_col {
    align-self: center;
    padding: 0
}


.toogle_col_section {
    display: flex;
    justify-content: flex-end
}


.reorder_list_div_section {
    width: 50px;
    background: #000;
    height: 35px
}


.reorder_list_title {
    padding-left: 10px
}

.biset_section_big {
    width: 100%;
    justify-content: center;
    background: rgb(231, 230, 230);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 2px;
}

.biset_section_first_row {
    background: rgb(231, 230, 230);
    width: 100%;
    padding: 5px
}

.biset_section_ion_item {
    --background: transparent
}

.biset_section_second_row {
    width: 100%
}

.biset_section_btn_one {
    height: 27px;
    --border-radius: 15px
}


.biset_section_btn_row {
    width: 100%;
    justify-content: center;
    background: rgb(231, 230, 230);
    margin-top: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.footer_section {
    width: 100%;
    position: fixed;
    bottom: 10px
  
}


.footer_section_btn {
    
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 32px;
  
}



.active_btn {
    background: var(--ion-btn-custom-color);
}

ion-select::part(text) {
    font-size: 0.8rem !important;
    font-family: 'Oswald' !important;
  }

  .next {
    --background: var(--ion-btn-custom-color);
    --ion-button-round-border-radius: 5px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 5px;
  }

  .select_body_section {
      
    margin-top: 5%;
    margin-right: 4%;
    border-style: dotted;
    border-color: #696969;
    padding: 5px;
    justify-content: center;
    border-width: 2px;
    border-radius: 10px;
    width: 100%;
}