<!-- <ion-header>
  <ion-toolbar>
    <ion-title>hypertrophy-strengthening-program-creation</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-text class="small_text"> Image associée au programme </ion-text>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-slides
        pager="false"
        class="plan-slider"
        [options]="slideOptions"
        #slides
        class="select-plan"
      >
        <ion-slide>
          <div class="slide-image">
            <img src="assets/images/payment_slide_1.png" class="slide_image" />
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-image">
            <img src="assets/images/payment_slide_2.png" class="slide_image" />
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-image">
            <img src="assets/images/payment_slide_3.png" class="slide_image" />
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-text class="small_text"> Nom de votre programme </ion-text>
    </ion-row>

    <ion-row>
      <ion-item class="row-width-underline ion-no-padding">
        <ion-input class="medium_text_bold" placeholder="Nouveau programme" style="--placeholder-color: #000;"></ion-input>
      </ion-item>

      <ion-item class="row-width-underline ion-no-padding">
        <ion-input placeholder="Description" class="medium_text_bold_light"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row class="select_row_section">
      <ion-item lines="none" class="ion-no-padding row-width-underline">
        <ion-label class="small_text">Objectif</ion-label>
        <ion-select
          interface="action-sheet"
          class="custom-options"
          [(ngModel)]="objectif"
        >
          <ion-select-option value="Hypertrophie" class="small_text">
            Hypertrophie
          </ion-select-option>
          <ion-select-option value="Hypertrophie" class="small_text">
            Force
          </ion-select-option>
          <ion-select-option value="Hypertrophie" class="small_text">
            Aucun 
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding row-width-underline">
        <ion-label class="small_text">Format d’entraînement </ion-label>
        <ion-select
          interface="action-sheet"
          class="custom-options"
          [(ngModel)]="format_dentrainement" 
        >
          <ion-select-option value="SPLIT" class="small_text"> SPLIT </ion-select-option>
          <ion-select-option value="SPLIT" class="small_text"> Fullbody </ion-select-option>
          <ion-select-option value="SPLIT" class="small_text"> Halfbody </ion-select-option>
          <ion-select-option value="SPLIT" class="small_text"> Manuel </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding row-width-underline">
        <ion-label class="small_text"
          >Jours d’entraînement/semaine
        </ion-label>
        <ion-select
          interface="action-sheet"
          class="custom-options"
          [(ngModel)]="training_days"
        >
          <ion-select-option value="3" class="small_text"> 3 </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding row-width-underline">
        <ion-label class="small_text">Méthode de progression </ion-label>
        <ion-select
          interface="action-sheet"
          class="custom-options"
          [(ngModel)]="progression_method"
        >
          <ion-select-option value="Aucune" class="small_text"> Aucune </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding row-width-underline">
        <ion-label class="small_text"
          >Commencer le programme à partir de
        </ion-label>
        <ion-select
          interface="action-sheet"
          class="custom-options"
          [(ngModel)]="start_the_program"
        >
          <ion-select-option value="Aujourd’hui">
            Aujourd’hui
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item lines="none" class="ion-no-padding row-width-underline">
        <ion-label class="small_text_italic"
          >Je veux inclure un Deload à chaque cycle
        </ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item> -->

      <ion-row class="select_body_section" routerLink="/select-body-groups">
        <ion-label class="small_text_bold">
          Ajouter les exercices de force

        </ion-label>
      </ion-row>
    </ion-row>

    <ion-row class="btn_section">
      <ion-label class="medium_text_header">Jours d’entraînement </ion-label>
    </ion-row>


    <ion-row class="ion-margin-top row-padding" style="margin-right: 5%;">
      <ion-col size="8" >
        <ion-slides  [options]="btnSlideOptions" class="btnSlides" [pager]="false"  #theSlides>
          <ion-slide *ngFor="let item of btnArray">
            <ion-card [class]="item.active ? 'active_btn card_btn' : 'card_btn'" (click)="makeActive(item)">
              <ion-label class="medium_text_bold"> {{item.text}} </ion-label>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="4" class="add_btn_col">
        <ion-card class="card_btn" (click)="addBtn(theSlides)">
          <ion-label class="medium_text_bold"> + </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row class="ion-margin-top">
      <ion-item class="row-width-underline ion-no-padding">
        <ion-label>
          Jour {{filteredData.text}}
        </ion-label>
      </ion-item>
    </ion-row>
<!-- 
    <ion-row class="ion-margin-top">
      <ion-col size="9" >
        <ion-slides  [options]="btnSlideOptions" class="btnSlides" [pager]="false"  #theSlides>
          <ion-slide *ngFor="let item of btnArray">
            <ion-card [class]="item.text == 1 ? 'active_btn card_btn' : 'card_btn' ">
              <ion-label class="medium_text_bold"> {{item.text}} </ion-label>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="3" class="add_btn_col">
        <ion-card class="card_btn" (click)="addBtn(theSlides)">
          <ion-label class="medium_text_bold"> + </ion-label>
        </ion-card>
      </ion-col>
    </ion-row> -->

    <!-- <div class="ion-margin-top" class="btn_underline">
      <div class="profile-viewall">
        <ion-button
          >Jour 1 -->
          <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
        <!-- </ion-button>
      </div>
    </div> -->

    <!-- <ion-row class="ion-margin-top">
      <ion-text class="small_text"> Aucun exercice pour le moment </ion-text>
    </ion-row> -->

    <!-- <ion-row class="ion-margin-top">
      <ion-item class="ion-no-padding" lines="none">
        <img class="jour_img" src="assets/icon/2body.png" />

        <ion-label>
          <ion-label class="medium_text_bold">
            Groupes musculaires sollicités :
          </ion-label>

          <ion-label class="small_text"> Pectoraux </ion-label>

          <ion-label>
            <ion-row class="ion-no-padding exercise-details-section">
              <ion-col size="8" class="detail_excercise_col">
                <ion-label class="small_text">
                  Détails des exercices
                </ion-label>
              </ion-col>

              <ion-col size="4" class="toogle_col_section">
                <ion-toggle (ionChange)="toggleChange($event)"></ion-toggle>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-label>
      </ion-item>
    </ion-row> -->

    <!-- <ion-row class="ion-margin-top" *ngIf="!showListItem">
      <ion-reorder-group disabled="false"  reorder='true' (ionItemReorder)="onItemReorder($event)">
        
        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-list-header>BISET</ion-list-header>
        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
          <div class="reorder_list_div_section"></div>

          <ion-label class="reorder_list_title">
            <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>
            <ion-label class="medium_text_bold">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-row> -->

    <!-- <ion-row class="ion-margin-top" *ngIf="showListItem">
      <ion-row>
        <ion-row class="biset_section_big">
          <h6>BISET – ENCHAINEMENT DE 2 EXERCICES</h6>
        </ion-row>

        <ion-row class="biset_section_first_row">
          <ion-item
            class="ion-no-padding"
            lines="none"
            class="biset_section_ion_item"
          >
            <div class="reorder_list_div_section"></div>

            <ion-label class="reorder_list_title">
              <ion-label class="medium_text_bold">
                Nom de l’exercice
              </ion-label>

              <ion-label class="small_text"> Sous nom de l’exercice </ion-label>
            </ion-label>
          </ion-item>

          <ion-row class="biset_section_second_row">
            <ion-col class="ion-no-padding" size="6">
              Séries effectives : 4
            </ion-col>

            <ion-col class="ion-no-padding" size="6" style="align-self: center">
              <ion-button class="biset_section_btn_one">
                Ajouter une série
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-row>

        <ion-row class="biset_section_btn_row">
          <ion-button fill="flat" style="--background: transparent">
            + Créer un triset
          </ion-button>
        </ion-row>
      </ion-row>
    </ion-row> -->
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border footer_section">
  <ion-row>
    <ion-button routerLink="/add-exercise" class="next footer_section_btn" expand="full">
      Ajouter des exercices
    </ion-button>
  </ion-row>
</ion-footer>
