ion-content {
    --padding-start: 3%;
    --padding-end: 3%;

    ion-text {
        display: block;
    }

}

ion-toolbar {
    border-bottom: 1px solid #f1f1f1;
    height: 9%;
}


.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}


.header_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ion-label {
        align-self: center;

    }


    div {
        width: 48%;
        border-style: dashed;
        border-color: #dfdddd;
        height: 1px;
        border-width: 1px;
        align-self: center;
        position: absolute;
        right: 14%;
    }

    ion-avatar {
        padding: 8px;
    }
}


// ion-card {
//     width: 100%;
// }

.large_card_row {

    
    ion-card {
        overflow: inherit;
        width: 100%;
        // height: 130px;
        padding: 10px;
        margin: 0;

    }
}


.small_card_row {

    ion-card {
        width: 100%;
        margin: 0;

        height: 50px;
        display: flex;
        padding-left: 5%;

        ion-label {
            align-self: center;
        }
    }
}


.first_side_section {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -66%;
    right: -19%;
    justify-content: space-around;

    .circle {
        width: 30px;
        height: 30px;
        background: #d2d2d2;
        border-radius: 50%;
        align-self: center;
    }
    .second_circle {
        width: 30px;
        height: 30px;
        background:  var(--ion-btn-custom-color);
        border-radius: 50%;
        align-self: center;


    }

    ion-button {
        padding: 2px;
        --background: #d2d2d2;

    }

    .second_btn {
        --background: var(--ion-btn-custom-color);
    }
}


.second_side_section {

    display: flex;
    flex-direction: row;
    position: relative;
    top: -66%;
    right: -21%;
    justify-content: space-around;

    .circle {
        width: 30px;
        height: 30px;
        background: #f4f5f8;
        border-radius: 50%;
        align-self: center;
    }
    .second_circle {
        width: 30px;
        height: 30px;
        background:  var(--ion-btn-custom-color);
        border-radius: 50%;
        align-self: center;
        padding: 7px;

    }

    ion-button {
        padding: 2px;
    }

    .second_btn {
        --background: var(--ion-btn-custom-color);
    }
}




ion-col {
    padding: 0;
}