<ion-toolbar class="ion-border">
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon name="close-outline" class="large_text_bold close-btn-icon"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-text class="large_text_bold"> MA LISTE DE COURSES</ion-text>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row class="header_row">
      <ion-label class="medium_text_bold"> LUNDI 4 SEPTEMBRE </ion-label>

      <div class="dotted-line"></div>
      <ion-avatar>
        <img src="assets/icon/close-icon.png" alt="" />
      </ion-avatar>
    </ion-row>

    <ion-row class="large_card_row">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-label class="medium_text"> [Catégorie 1] </ion-label>
            </ion-col>

            <ion-col size="6">
              <div class="first_side_section">
                <ion-button class="small_text">
                  CATEGORIE
                </ion-button>

                <div class="circle"></div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label class="small_text"> Blancs de poulet </ion-label>
            </ion-col>

            <ion-col size="6">
              <div class="second_side_section">
                <ion-button class="small_text second_btn">
                  ALIMENT

                </ion-button>

                <div class="second_circle">
                  <img src="assets/icon/knife-spoon.png" alt="" />
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label class="small_text"> Blancs de dinde </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label class="small_text"> Knackis </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-label class="small_text"> Nuggets de poulet </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-row>

    <ion-row class="small_card_row ion-margin-top">
      <ion-card>
        <ion-label class="medium_text_bold">Catégorie 2 </ion-label>
      </ion-card>
    </ion-row>

    <ion-row class="small_card_row ion-margin-top">
      <ion-card>
        <ion-label class="medium_text_bold"> Catégorie 3 </ion-label>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
