<ion-content>
    <div class="titlebox">
        <div class="title-img">
            <img src="assets/images/food.png">
        </div>
        <div class="titlebox-text">
            <h4>Le gingembre</h4>
            <h5>et son influence sur la santé globale des individus</h5>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <p>
                    Le gingembre est une espèce de plantes originaire d'Inde, du genre Zingiber et de la famille des Zingiberaceae dont on utilise le rhizome en cuisine et en médecine traditionnelle.
                </p>
                <p>
                    Ce rhizome est une épice très employée dans un grand nombre de cuisines asiatiques, et en particulier dans la cuisine indienne. Il est aussi utilisé en Occident dans la confection du ginger ale et de desserts comme le pain d'épices.
                </p>
                <p>
                    L'huile essentielle de gingembre est obtenue par distillation à la vapeur d'eau des rhizomes. Il faut environ 50 kg de rhizomes secs pour obtenir 1 kg d'huile essentielle. L'huile essentielle de gingembre est notamment réputée pour ses vertus digestives.
                    Elle est supposée « stimuler et accélérer le passage du bol alimentaire »
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>