.input-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Oswald, sans-serif;
}

.display-price {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: Oswald, sans-serif;
}

ion-item ion-label {
    white-space: normal;
    font-family: Oswald, sans-serif;
}

ion-item {
    --inner-border-width: 0px 0px 0px 0px;
}

.sports-box ion-button {
    height: 80px;
    --ion-button-round-border-radius: 5px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 5px;
}

.sports-box ion-button ion-icon {
    font-size: 50px;
}

.gender ion-button {
    white-space: normal;
    font-size: 12px;
    --padding-start: 0;
    --padding-end: 0;
    height: 50px;
    font-family: Oswald, sans-serif;
}

.calendar-icon {
    position: absolute;
    right: 5px;
    bottom: 4px;
}

ion-item {
    --inner-border-width: 0px 0px 0px 0px;
    --min-height: 35px;
    --padding-start: 0px;
    --border-width: 0 0 0px 0;
}

ion-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

ion-range {
    --knob-background: var(--ion-color-primary);
    --bar-height: 8px;
    --knob-size: 30px;
    --height: 20px;
    --knob-border-radius: 22%;
    --bar-background-active: var(--ion-color-primary);
}

.dateDeNa {
    padding: 2px 0px;
}

.activitePhysiqueExterne {
    padding: 25px 0px;
}

ion-card-content {
    padding-inline-end: 0px !important;
    font-family: Oswald, sans-serif;
}

ion-segment-button {
    --ripple-color: transparent;
    background: transparent;
    --color-checked: white;
    --color: #9c9c9c;
    --indicator-color: var(--ion-color-primary);
    --margin-bottom: 0px;
    height: 40px;
    --border-radius: 25px;
}

ion-segment {
    background: rgb(170 170 170 / 11%);
    border-radius: 25px;
}

.segment-box {
    margin-bottom: 25px;
}

.remove {
    color: #000;
}

.add {
    color: #000;
}

.sports-box ion-button {
    --background: rgb(0 0 0 / 50%);
}

.sports-box ion-button.active {
    --background: var(--ion-color-primary);
}
.steper-heading {
    font-family: Oswald;
}
.steper-title {
    font-family: Oswald, sans-serif;
}




.numbered_data_section {
    .text_desc {
        text-align: left;
    }
}

.text_desc {
    ion-card {
        margin: 0;
        /* padding-left: 4%; */
        /* padding-top: 3%; */
        /* padding-bottom: 2%; */
        padding: 4%;
        height: 100%;
        border-radius: 5px;
    }
}