<ion-grid>
  <ion-row>
    <ion-col>
      <h3 class="steper-heading">INFORMATIONS GENERALES</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p class="steper-title">Vous êtes</p>
    </ion-col>
    <ion-col>
      <div class="gender">
        <ion-button
          [color]="gender == 'male' ? 'primary' : 'light'"
          expand="full"
          (click)="gender = 'male'"
          >Un homme
        </ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="gender">
        <ion-button
          [color]="gender == 'female' ? 'primary' : 'light'"
          color="light"
          expand="full"
          (click)="gender = 'female'"
          >Une femme
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="12">
      <p class="steper-title dateDeNa">Date de naissance</p>
    </ion-col>

    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Adresse postale : </strong> renseignez votre adresse afin que
        nous puissions vous envoyer vos factures papier autant que numériques.
      </p>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Adresse </ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Adresse 2 </ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <ion-row>
        <ion-col size="5" class="text_desc">
          <ion-card mode="ios">
            <ion-label class="small_text_light"> Code postal </ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="7" class="text_desc">
          <ion-card mode="ios">
            <ion-label class="small_text_light"> Ville </ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-row>
        <ion-col size="5" class="text_desc">
          <ion-card mode="ios">
            <ion-label class="small_text_bold"> FRANCE </ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Type de diplôme : </strong> sélectionnez votre ou vos diplômes
        dans la liste suivante. Une photo des diplômes sélectionnés et de votre
        carte professionnelle vous sera demandée pour authentifier votre
        déclaration.
      </p>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Liste de diplômes </ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Domaines de compétences : </strong> sélectionnez dans la liste
        suivante vos domaines de prédilection et votre activité principale de
        coaching. déclaration.
      </p>
    </ion-col>


    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Domaines de compétences
        </ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
