ion-tab-bar {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    --background: #e6e6e6;
    padding: 10px;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
    border: none;
}
ion-tab-button {
    border-radius: 15px;
    background: #fff;
    padding: 5px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    margin-right: 5px;
    margin-left: 5px;
}
ion-tabs {
    &.menu {
        background: linear-gradient(56deg, #500816, #630f1f) !important;
    }
    &.page {
        background: transparent !important;
    }
}


.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    cursor: pointer;
  }
  
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 50px;
    bottom: 4px;
    background-color: var(--ion-color-dark);
    padding: 5px 20px;
    font-size: 10px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-weight: bold;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  }
  

  .setting_icon {
    color: #615858;
  }

  .common_fab_btn {
    ion-img {
        width: 20px;
    }
  }

  ion-fab-list {
    margin-bottom: 90px;
    animation: zoom-in .40s;
  }



ion-fab {
  position: absolute;
  bottom: 2.5%;
  right: 7%;
  
    ion-fab-button {
        --background: transparent;
        --background-activated: transparent !important;
        --box-shadow: none;
    }
}
@keyframes zoom-in {

  from {

      opacity: .5;
      transform: scale3d(.4, .4, .4);
  } 
  
  to {

     opacity: 1;
  }

}


// ion-fab {
//     @media (max-width: 150px) {
//       position: absolute;
//     bottom: 3%;
//     right: 4.8%;
//     }
 
//  }
 