<ion-tabs [ngClass]="{menu: this.userData.changeColor}">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="menu" (click)="myMethod1()">
      <ion-icon name="grid-outline"></ion-icon>
      <!-- <ion-label>Menu</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="myaccount" (click)="myMethod2()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <!-- <ion-label>My Account</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="home" (click)="myMethod2()">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="cart" (click)="myMethod2()">
      <ion-icon name="cart-outline"></ion-icon>
      <!-- <ion-label>Cart</ion-label> -->
    </ion-tab-button>
    <ion-tab-button  >

<ion-icon *ngIf="!showBackdrop" name="add-circle-outline" class="setting_icon"></ion-icon>
		

      <!-- <ion-fab 
  horizontal="end"
  vertical="bottom"
  slot="fixed"
  (click)="showBackdrop = !showBackdrop"
>
  <ion-fab-button class="">
    <ion-icon name="add-circle-outline" class="setting_icon"></ion-icon>

  </ion-fab-button>
  <ion-fab-list side="top"> -->

    <!-- <ion-fab-button
      color="light"
      routerDirection="forward"
      data-desc="Petit-déjeuner"
      class="common_fab_btn"
      routerLink="/aliments"
    >
      <ion-img src="assets/icon/p-designer.png"></ion-img>
    </ion-fab-button> -->
    <!-- <ion-fab-button color="light" routerDirection="forward" data-desc="Déjeuner" class="common_fab_btn" routerLink="/aliments">
      <ion-img src="assets/icon/designer.png"></ion-img>
    </ion-fab-button> -->
    <!-- <ion-fab-button color="light" routerDirection="forward" data-desc="Repas" class="common_fab_btn" routerLink="/aliments">
      <ion-img src="assets/icon/dinner.png"></ion-img>
    </ion-fab-button> -->
    <!-- <ion-fab-button
      color="light"
      routerDirection="forward"
      data-desc="Snack"
      class="common_fab_btn"
      routerLink="/aliments"
    >
      <ion-img src="assets/icon/snacks-one.png"></ion-img>
    </ion-fab-button> -->

    <!-- <ion-fab-button color="light" routerDirection="forward" data-desc="ACTIVITE PHYSIQUE" class="common_fab_btn">
        <ion-img src="assets/icon/activity_physique.png"></ion-img>
      </ion-fab-button>
    
      
  </ion-fab-list>
</ion-fab> -->

      <!-- <ion-icon name="add-circle-outline" class="setting_icon"></ion-icon> -->
     
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab  horizontal="end"
vertical="bottom"
slot="fixed"
(click)="showBackdrop = !showBackdrop">
	<ion-fab-button>
	</ion-fab-button>
	<ion-fab-list side="top"> 
		<ion-fab-button color="light" routerDirection="forward" data-desc="Repas" class="common_fab_btn" (click)="openManualModal()">
		  <ion-img src="assets/icon/dinner.png"></ion-img>
		</ion-fab-button>
	
		<ion-fab-button color="light" routerDirection="forward" data-desc="ACTIVITE PHYSIQUE" class="common_fab_btn">
			<ion-img src="assets/icon/activity_physique.png"></ion-img>
		  </ion-fab-button>
	  </ion-fab-list>

  </ion-fab>
<div *ngIf="showBackdrop" class="overlay"></div>
