<ion-card>
  <ion-card-content>
    <canvas class="canvas" #lineCanvas></canvas>
  </ion-card-content>

  <ion-card-footer>
    <ion-row>
      <ion-col size="6">
        <div>
          <p class="p-disabled">1 Mar 19</p>
        </div>
      </ion-col>
  
      <ion-col size="6">
        <div class="ion-text-right">
          <p class="p-disabled">Aujourd'hui</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-footer>


</ion-card>