<ion-grid>
  <ion-row>
    <ion-col>
      <h3 class="steper-heading">INFORMATIONS GENERALES</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p class="steper-title">Vous êtes</p>
    </ion-col>

    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong>Tarification : </strong>fixez vos tarifs en fonction de ceux des autres coachs du système Transformatics. Les tarifs fixés automatiquement sont établis en fonction de la concurrence et de la sélection client. 

      </p>
    </ion-col>



    <ion-col size="12">
      <ion-row>
        <ion-col size="7" class="text_desc">
          <ion-card mode="ios">
            <ion-label class="small_text_light">Domaine de compétences 1
            </ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="5" class="text_desc">
          <ion-card mode="ios">
            <ion-label class="large_text_bold"> 79,90€
            </ion-label>/mois
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-row>
        <ion-col size="7" class="text_desc">
          <ion-card mode="ios">
            <ion-label class="small_text_light">Domaine de compétences 2

            </ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="5" class="text_desc">
          <ion-card mode="ios">
            <ion-label class="large_text_bold"> 89,90€
            </ion-label>/mois
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>


    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Description : </strong>  dans l’encadré ci-dessous, écrivez quelques lignes que vos futurs clients pourront lire sur votre Fiche de Coach. Ces quelques mots doivent être accrocheurs, mentionner votre parcours ou votre expérience, votre passion du métier, …  

      </p>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Liste de diplômes </ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Domaines de compétences : </strong> sélectionnez dans la liste
        suivante vos domaines de prédilection et votre activité principale de
        coaching. déclaration.
      </p>
    </ion-col>


    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Domaines de compétences
        </ion-label>
      </ion-card>
    </ion-col>


    <ion-col size="12">
      <ion-row class="excercise_input_section">
        <ion-item class="small_text" style="border-bottom: 1px solid #a9a5a5;">
          <ion-input placeholder="Description de votre Fiche de Coach…">
          </ion-input>

          <ion-label class="small_text"> 0/200 </ion-label>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>


</ion-grid>
