<ion-grid>
    <form [formGroup]="stepFourForm">
        <ion-row>
            <ion-col size="12">
                <h3>ANTÉCÉDENTS MÉDICAUX</h3>
                <p>Avez-vous des antécédents médicaux ?</p>
            </ion-col>
            <ion-col size="12">
                <div>
                    <div float-left class="my-checkbox ">
                        <ion-label text-uppercase> OUI</ion-label>
                        <ion-checkbox value="yes" [checked]="showMeds" (ionChange)="showMedicines($event)">
                        </ion-checkbox>
                    </div>
                    <div float-right class="my-checkbox">
                        <ion-label text-uppercase>NON</ion-label>
                        <ion-checkbox value="no" [checked]="!showMeds" (ionChange)="hideMedicines($event)">
                        </ion-checkbox>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <ion-item *ngIf="showMeds">
                    <ion-label>Sélectionnez vos antécédents</ion-label>
                    <ion-select interface="action-sheet" class="custom-options" multiple formControlName="field2"
                        (ionChange)="onMedicineSelection($event)">
                        <ion-select-option value="allergies">Allergies</ion-select-option>
                        <ion-select-option value="cataracte">Cataracte</ion-select-option>
                        <ion-select-option value="dmla">DMLA</ion-select-option>
                        <ion-select-option value="diabète">Diabète</ion-select-option>

                        <ion-select-option value="Fatigue chronique">Fatigue chronique</ion-select-option>
                        <ion-select-option value="Hépatites">Hépatites</ion-select-option>
                        <ion-select-option value="Les troubles du comportement alimentaire">Les troubles du comportement
                            alimentaire</ion-select-option>
                        <ion-select-option value="Malaria">Malaria</ion-select-option>

                        <ion-select-option value="Méningite">Méningite</ion-select-option>
                        <ion-select-option value="Obésité">Obésité</ion-select-option>
                        <ion-select-option value="Paludisme">Paludisme</ion-select-option>
                        <ion-select-option value="Phlébite">Phlébite</ion-select-option>


                        <ion-select-option value="Saturnisme">Saturnisme</ion-select-option>
                        <ion-select-option value="Thyroïde">Thyroïde</ion-select-option>
                        <ion-select-option value="Arthrose">Arthrose</ion-select-option>
                        <ion-select-option value="Lombalgie">Lombalgie</ion-select-option>


                        <ion-select-option value="Ostéoporose">Ostéoporose</ion-select-option>
                        <ion-select-option value="Polyarthrite rhumatoïde">Polyarthrite rhumatoïde</ion-select-option>
                        <ion-select-option value="Rhumatismes">Rhumatismes</ion-select-option>
                        <ion-select-option value="Spondylarthropathies">Spondylarthropathies</ion-select-option>

                        <ion-select-option value="Sciatique">Sciatique</ion-select-option>
                        <ion-select-option value="Problèmes intestinaux">Problèmes intestinaux</ion-select-option>
                        <ion-select-option value="Reflux gastro-oesophagien">Reflux gastro-oesophagien
                        </ion-select-option>
                        <ion-select-option value="Les brûlures d'estomac">Les brûlures d'estomac</ion-select-option>

                        <ion-select-option value="Les maladies chroniques de l'intestin">Les maladies chroniques de
                            l'intestin</ion-select-option>
                        <ion-select-option value="Asthme">Asthme</ion-select-option>
                        <ion-select-option value="Bronchiolite">Bronchiolite</ion-select-option>
                        <ion-select-option value="Bronchite chronique et BPCO">Bronchite chronique et BPCO
                        </ion-select-option>

                        <ion-select-option value="Légionellose">Légionellose</ion-select-option>
                        <ion-select-option value="HyperCholestérolémie">HyperCholestérolémie</ion-select-option>
                        <ion-select-option value="Hypertension">Hypertension</ion-select-option>
                        <ion-select-option value="Infarctus">Infarctus</ion-select-option>

                        <ion-select-option value="Maladie veineuse">Maladie veineuse</ion-select-option>
                        <ion-select-option value="Maladies cardiovasculaires">Maladies cardiovasculaires
                        </ion-select-option>
                        <ion-select-option value="Cancer">Cancer</ion-select-option>
                        <ion-select-option value="Alzheimer">Alzheimer</ion-select-option>


                        <ion-select-option value="Attaques cérébrales">Attaques cérébrales</ion-select-option>
                        <ion-select-option value="Autisme">Autisme</ion-select-option>
                        <ion-select-option value="Migraine">Migraine</ion-select-option>
                        <ion-select-option value="Parkinson">Parkinson</ion-select-option>


                        <ion-select-option value="Sclérose en plaques">Sclérose en plaques</ion-select-option>
                        <ion-select-option value="Dépression">Dépression</ion-select-option>
                        <ion-select-option value="Sclérose Latérale Amyotrophique">Sclérose Latérale Amyotrophique
                        </ion-select-option>
                        <ion-select-option value="Syncopes">Syncopes</ion-select-option>

                        <ion-select-option value="Traumatismes crâniens">Traumatismes crâniens</ion-select-option>

                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <p>Avez-vous des intolérances alimentaires ?</p>
            </ion-col>
            <ion-col size="12">
                <div>
                    <div float-left class="my-checkbox ">
                        <ion-label text-uppercase> OUI</ion-label>
                        <ion-checkbox value="yes" [checked]="showIntolerance" (ionChange)="showIntolenrances($event)">
                        </ion-checkbox>
                    </div>
                    <div float-right class="my-checkbox">
                        <ion-label text-uppercase>NON</ion-label>
                        <ion-checkbox value="no" [checked]="!showIntolerance" (ionChange)="hideIntolenrances($event)">
                        </ion-checkbox>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <ion-item *ngIf="showIntolerance">
                    <ion-label>Sélectionnez vos antécédents</ion-label>
                    <ion-select interface="action-sheet" class="custom-options" multiple formControlName="field3"
                        (ionChange)="onIntolerenceSelection($event)">
                        <ion-select-option value="Aux arachides">Aux arachides</ion-select-option>
                        <ion-select-option value="Au blé">Au blé</ion-select-option>
                        <ion-select-option value="Aux fruits de mer (poisson, crustacés et mollusques)">Aux fruits de
                            mer (poisson, crustacés et mollusques)</ion-select-option>
                        <ion-select-option value="Aux fruits à coque">Aux fruits à coque</ion-select-option>


                        <ion-select-option value="Aux graines de sésame">Aux graines de sésame</ion-select-option>
                        <ion-select-option value="Au lactose">Au lactose</ion-select-option>
                        <ion-select-option value="Aux œufs">Aux œufs</ion-select-option>
                        <ion-select-option value="Au soja">Au soja</ion-select-option>

                        <ion-select-option value="Aux arachides">Aux arachides</ion-select-option>
                        <ion-select-option value="Aux sulfites">Aux sulfites</ion-select-option>
                        <ion-select-option value="A la moutarde">A la moutarde</ion-select-option>
                        <ion-select-option value="Aux fruits à coque">Aux fruits à coque</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
</ion-grid>