.my-checkbox {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 15px;
}

.my-checkbox ion-label {
    padding-right: 5px;
}

ion-item ion-label {
    white-space: normal;
}

ion-item {
    --inner-border-width: 0px 0px 0px 0px;
    --min-height: 35px;
    --padding-start: 0px;
    --border-width: 0 0 0px 0;
}

ion-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}