ion-content {
    --padding-start: 3%;
    --padding-end: 3%;  

    ion-text {
        display: block;
    }
}

ion-toolbar {
    border-bottom: 1px solid #f1f1f1;
    height: 9%;
}

.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}
.next {
    --background: var(--ion-btn-custom-color);
        font-size: 7px;
}
.header-button-box {
    display: flex;
    z-index: 999;
    margin-top: -20px;
    color: #fff;
    width: 100%;
}

.header-button-box-button-right {
    right: 0;
    top: -25px;
    position: absolute;
    z-index: 999;
}

.header-button-box-button-right .header-button-box-button {
    display: inline-block;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    background: #fff;
    border-radius: 40px;
    padding: 5px 5px 0px 6px;
    border: 2px solid #ffd1b3;
}

.chat-profile ion-item {
    --inner-border-width: 0 0 0px 0;
}

.chat-input {
    --border-width: 0 0 0px 0;
}

.chat-screen-box ion-item {
    --inner-border-width: 0 0 0px 0;
    margin-bottom: 15px;
}

.chat-screen-box ion-label {
    white-space: normal;
}

.chat-text-user {
    background: #e8f8ff;
    padding: 0px 15px;
    border-radius: 5px;
}

.chat-text-custemer {
    background: #adf;
    padding: 0px 15px;
    border-radius: 5px;
}

.seendate {
    position: relative;
    margin-bottom: 15px;
}

.seendate:before {
    content: "";
    position: absolute;
    height: 1px;
    background: #c1c1c1;
    left: 0;
    width: 100%;
    top: 14px;
    z-index: -1;
}

.seendate span {
    background: #ffffff;
    z-index: 2;
    padding: 0px 15px;
    font-size: 12px;
}

.startchartdate {
    font-size: 12px;
}