<ion-toolbar class="ion-border">
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon name="close-outline" class="large_text_bold close-btn-icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button class="next" expand="full" (click)="openCheckUp()">CHECK-UPS
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="next" expand="full" >MODIFIER LE PROGRAMME
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="next" expand="full" >CRÉER UN NOUVEAU PROGRAMME
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-buttons class="ion-no-margin" slot="start">
              <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-avatar slot="start">
              <img src="assets/icon/man.png">
          </ion-avatar>
          <ion-label>
              <h3>JEAN MICHEL ANDRAS</h3>
              <p>Connecté</p>
          </ion-label>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="header-button-box">
          <div class="header-button-box-button-right">
              <div class="header-button-box-button ">
                  <img src="assets/icon/attach.png">
              </div>
              <div class="header-button-box-button">
                  <img src="assets/icon/video.png">
              </div>
              <div class="header-button-box-button">
                  <img src="assets/icon/call.png">
              </div>
          </div>
      </div>
      <div style="margin-top: 10px;">
          <ion-list class="chat-screen-box">
              <div class="ion-text-center startchartdate">
                  <p>Thursday,January 22,2015</p>
              </div>
              <ion-item class="chat-input">
                  <ion-text slot="end" class="f10">4:31 PM</ion-text>
                  <ion-text class="chat-text-custemer f12">
                      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                  </ion-text>
              </ion-item>
              <ion-item class="chat-input">
                  <ion-text slot="end" class="chat-text-user f12">
                      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                  </ion-text>
                  <ion-text slot="start" class="f10">4:31 PM</ion-text>
              </ion-item>
              <div class="ion-text-center seendate">
                  <span>Thursday,January 22,2015</span>
              </div>
              <ion-item class="chat-input">
                  <ion-text slot="end" class="f10">4:31 PM</ion-text>
                  <ion-text class="chat-text-custemer f12">
                      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                  </ion-text>
                  <!-- <ion-avatar slot="start">
                      <img src="assets/icon/man.png">
                  </ion-avatar> -->
              </ion-item>
              <ion-item class="chat-input">
                  <ion-text slot="end" class="chat-text-user f12">
                      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                  </ion-text>
                  <ion-text slot="start" class="f10">4:31 PM</ion-text>
              </ion-item>
              <ion-item class="chat-input">
                  <ion-text slot="end" class="f10">4:31 PM</ion-text>
                  <ion-text class="chat-text-custemer f12">
                      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                  </ion-text>
              </ion-item>
              <div class="ion-text-center seendate">
                  <span>Thursday,January 22,2015</span>
              </div>
              <ion-item class="chat-input">
                  <ion-text slot="end" class="chat-text-user f12">
                      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                  </ion-text>
                  <ion-text slot="start" class="f10">4:31 PM</ion-text>
              </ion-item>
          </ion-list>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="chat-input">
                        <ion-icon slot="start" name="image-outline"></ion-icon>
                        <ion-input placeholder="Ecrivez votre message ici"></ion-input>
                        <ion-icon slot="end" name="send-outline"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
</ion-content>