<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>RECHERCHE DE VOTRE COACH IDEAL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <h4>Type de coach</h4>
            </ion-col>
            <ion-col size="6">
                <div class="gender">
                    <ion-button color="primary" expand="full">Un homme
                    </ion-button>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="gender">
                    <ion-button color="light" expand="full">Un homme
                    </ion-button>
                </div>
            </ion-col>
            <ion-col size="12">
                <h4 class="f14">
                    Sélectionnez un type de coaching dans la liste suivante :
                </h4>
            </ion-col>
            <ion-col size="12">
                <ion-item class="coachingathlete">
                    <ion-avatar slot="start">
                        <img src="assets/icon/masculation.png">
                    </ion-avatar>
                    <ion-label>
                        COACHING ATHLETE – Préparation physique
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <h4 class="f14">Sélectionnez le coach qui vous convient le mieux dans la liste suivante :
                </h4>
                <p class="f12">Voici tous les coachs que le système Transformatics met à votre disposition. Libre à vous de choisir celui ou celle qui vous correspond le mieux ! Les coachings TRANSFORMATICS sont établis suivant une tarification fixe. Vous pourrez les
                    observer dans la grille ci-dessous :
                </p>
            </ion-col>
            <ion-col size="12">
                <ion-slides class="coach-slider" [options]="categories">
                    <ion-slide *ngFor="let item of [1,2,3,4,5] ">
                        <ion-card class="program">
                            <ion-card-content>
                                <ion-row>
                                    <ion-col size="8">
                                        <p class="coach-first-name">Thomas</p>
                                        <h4 class="coach-last-name">zace</h4>
                                        <p class="coachstaps">STAPS MS </p>
                                        <P class="coachbpjeps">BPJEPS AGFF</P>
                                    </ion-col>
                                    <ion-col size="4">
                                        <p class="coachnumber ion-text-center">3</p>
                                    </ion-col>
                                    <ion-col size="12">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        </p>

                                    </ion-col>
                                    <ion-col size="6">
                                        <div class="ion-text-right coch-box-result">
                                            <p>NOMBRD DE COACHINGS</p>
                                            <p>ACTULS</p>
                                            <h4>18</h4>
                                        </div>
                                    </ion-col>
                                    <ion-col size="6">
                                        <div class="ion-text-right coch-box-result">
                                            <p>% DE SATISFACTION</p>
                                            <p>CLIENT</p>
                                            <h4>97%</h4>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12">
                                        <div class="domaine">
                                            <div>DOMAINE 1</div>
                                            <div>DOMAINE 2</div>
                                            <div>DOMAINE 3</div>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-col size="12">
                <p>Sélectionnez votre offre :
                </p>
            </ion-col>
            <ion-col size="12">
                <div class="coach-price">
                    <div class="coach-price-box">
                        <h4>420€ / 6 mois</h4>
                        <p>Soit 70€/mois</p>
                    </div>
                    <div>
                        <h4>420€ / 6 mois</h4>
                        <p>Soit 70€/mois</p>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="connect">
                    <ion-button shape="round" expand="full" routerLink="/chat">Commencer
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>