.gender ion-button {
    white-space: normal;
    font-size: 12px;
    --padding-start: 0;
    --padding-end: 0;
    height: 50px;
    font-family: Oswald, sans-serif;
}

.coachingathlete {
    --inner-border-width: 0 0 0px 0;
    --background: linear-gradient(to right, #ffc9a4ff, #ffece3ff);
}

ion-card.program {
    width: 95%;
    margin-inline: 5px;
    padding: 0px 10px;
    --background: linear-gradient(to top, #707070, #bebebe);
    color: #000;
    margin: 30px 0px;
}

ion-card-content {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}

ion-card.program.active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.coach-slider ion-slide {
    text-align: left;
}

.coachnumber {
    font-size: 118px;
    line-height: 83px;
    font-weight: bolder;
}

.coach-last-name {
    font-size: 18px;
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
}

.coach-first-name {
    font-size: 20px;
}

.coachstaps {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}

.coachbpjeps {
    font-size: 16px;
    text-transform: uppercase;
}

.coch-box-result {
    position: relative;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 5px;
    background: #fff;
}

.coch-box-result p {
    font-size: 10px;
}

.coch-box-result h4 {
    font-size: 16px;
    font-weight: bolder;
}

.domaine div {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.coach-price {
    display: flex;
}

.coach-price div {
    flex-grow: 1;
    padding: 10px;
    position: relative;
}

.coach-price-box:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background: #000;
    right: 5%;
    top: 23%;
}

.coach-price {
    border: 1px solid #7f7f7f;
}

.connect ion-button {
    --background: var(--ion-btn-custom-color);
    --border-radius: 5px;
}