ion-card.program {
    width: 85%;
    margin-inline: 5px;
}

ion-card-content {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

ion-card.program.active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease;
    border: 2px solid var(--ion-color-primary);
    transition: all 0.5s ease;
}

.swiper-container {
    overflow-x: visible;
    overflow-y: visible;
}

ion-card.program.active:before {
    content: "";
    background: url(../../../assets/icon/checkmark-circle-outline.svg);
    height: 25px;
    width: 25px;
    right: 5px;
    top: 5px;
    position: absolute;
}

.body-scan-slide2 .md { 
    padding-bottom: 20px;

}


.body-scan-slide2 .slides-md  { 
    --bullet-background: #4e4d4d;

}
