<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h3>PHYSIOLOGIE</h3>
      <p>
        <strong>Morphotype</strong> : laquelle des photos suivantes correspond
        le plus à votre morphologie ? Jugez l’aspect global de votre corps dans
        ses dimensions plutôt que sur la masse grasse.
      </p>
    </ion-col>
    <ion-col size="12">
      <ion-slides pager="false" [options]="categories" #slides>
        <ion-slide *ngFor="let src of morphotypeArray">
          <ion-card
          [class]="src.activeClass ? 'program active': 'program' "
            (click)="donsomething($event, src)"
          >
            <ion-card-content>
              <img [src]="src.src" class="slide-img" />
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p>
        <strong>Taux de masse grasse</strong> : laquelle des photos suivantes
        correspond le plus à votre taux de masse grasse actuel ? Essayez d’être
        le plus objectif possible.
      </p>
    </ion-col>
    <ion-col size="12">
      <ion-slides class="body-fat" [options]="categories" pager="true" class="body-scan-slide2">
        <ion-slide *ngFor="let item of fatMassRateArray">
          
          <ion-card [class]="item.activeClass ? 'program active': 'program' " (click)="fatMassRateArraySelect(item)">
            <ion-card-content>
              <img [src]="item.src" />
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>
