.advice-box-group {
    position: relative;
    color: #fff;
    height: 200px;
    margin-bottom: 5px;
}

.advice-box-group-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 100%;
}

.advice-box-group-text p {
    margin: 0;
}

.advice-box-group-img img {
    height: 200px;
    object-fit: cover;
}