<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>CONSEILS NUTRITIONNELS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="advice-box">
        <div class="advice-box-group" routerLink="/conseils-nutritionnels-details">
            <div class="advice-box-group-img"><img src="assets/images/Picture2.png"></div>
            <div class="advice-box-group-text">
                <h4>Le gingembre
                </h4>
                <p>et son influence sur la santé globale des individus
                </p>
            </div>
        </div>
        <div class="advice-box-group">
            <div class="advice-box-group-img"><img src="assets/images/Picture3.png"></div>
            <div class="advice-box-group-text">
                <h4>Le gingembre
                </h4>
                <p>et son influence sur la santé globale des individus
                </p>
            </div>
        </div>
        <div class="advice-box-group">
            <div class="advice-box-group-img"><img src="assets/images/Picture4.png"></div>
            <div class="advice-box-group-text">
                <h4>Le gingembre
                </h4>
                <p>et son influence sur la santé globale des individus
                </p>
            </div>
        </div>
        <div class="advice-box-group">
            <div class="advice-box-group-img"><img src="assets/images/Picture2.png"></div>
            <div class="advice-box-group-text">
                <h4>Le gingembre
                </h4>
                <p>et son influence sur la santé globale des individus
                </p>
            </div>
        </div>
    </div>
</ion-content>