<ion-content>
    <div class="title-box">
        <div class="title-box-img">
            <img src="assets/images/edit_physical_activity.png">


            <div class="back_btn_section" routerLink="/tabs/menu">
                <ion-icon name="arrow-back-outline" style="color: #fff;"></ion-icon>
            </div>
            
        </div>
        <div class="title-box-text">
            <h4>PREPARATION MENTALE</h4>
            <p>Pour vous aider à atteindre le niveau supérieur</p>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div>
                    <h4>Le corps contient l’esprit, et l’esprit renforce le corps.</h4>
                    <p class="small_text">
                        Aucun programme d’entraînement n’a jamais été efficace chez une personne n’ayant pas la bonne mentalité pour le suivre, aller de l’avant et progresser sur le long terme. Une profonde remise en question, ou une simple piqûre de rappel pour certain(e)s,
                        est nécessaire pour maximiser votre façon de voir les choses. Discerner le bon du mauvais et le vrai du faux est une chose ; en revanche, connaître vos motivations profondes et creuser au fond de vous peut-être la clé pour vous
                        aider à atteindre tous vos objectifs.
                    </p>
                </div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <h4>Recadrer votre rythme de vie
                    </h4>
                </div>
                <div>
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>