.title-box {
    position: relative;
}

.title-box-text {
    position: absolute;
    bottom: 5px;
    background: #0c0c0c66;
    color: #fff;
    width: auto;
    padding: 10px 10px;
}

.title-box-text h4 {
    margin: 0px;
    font-size: 14px;
}

.title-box-text p {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}



.back_btn_section {
    position: absolute;
    left: 16px;
    top: 18px;

    ion-icon {
        font-size: 20px;
    }
}