.titlebox {
    position: relative;
    color: #fff;
    height: 57%;
    overflow: hidden;
}

.titlebox-arrow {
    display: flex;
    position: absolute;
    width: 100%;
    top: 5%;
    padding: 0px 5%;
    transform: translateY(-5%);
}

.titlebox-arrow div {
    flex-grow: 1;
    font-size: 30px;
}

.titlebox-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.title-img {
    background: #000;
    height: 100%;
}

.title-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: top;
}

.titlebox-text h4 {
    margin: 0;
}

.titlebox-text h5 {
    font-size: 12px;
}

.musculetion-vid h4 {
    font-size: 12px;
    text-align: left;
    margin: 0;
    margin-top: 5px;
}

.musculetion-vid {
    width: 100%;
}

.musculetion-vid-img img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    object-position: top;
}

ion-item {
    --inner-border-width: 0 0 0px 0;
    --border-width: 0 0 0px 0;
}