<ion-content>
    <div class="titlebox">
        <div class="titlebox-arrow">
            <div>
                <ion-icon name="chevron-back-outline" [routerLink]="backpage"></ion-icon>
            </div>
        </div>
        <div class="title-img">
            <img src="assets/images/musculetion-auto.png">
        </div>
        <div class="titlebox-text">
            <h5>INTRODUCING</h5>
            <h4>GYMSHARK TRAIN</h4>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <h4 class="f14">
                    SEANCES D’ENTRAINEMENT TRANSFORMATICS
                </h4>
            </ion-col>
            <ion-col size="12">
                <ion-item class="ion-no-padding">
                    <ion-label>Filtres de séances</ion-label>
                    <ion-select value="notifications" interface="action-sheet">
                        <ion-select-option value="enable">Fullbody</ion-select-option>
                        <ion-select-option value="mute">Fullbody</ion-select-option>
                        <ion-select-option value="mute_week">Fullbody</ion-select-option>
                        <ion-select-option value="mute_year">Fullbody</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-slides [options]="categories" pager="false">
                    <ion-slide>
                        <div class="musculetion-vid" routerLink="/musculation-auto-seances-programms-session">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/musculetion-auto.png">
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>FULLBODY</h4>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/payment_slide_3.png">
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>FULLBODY</h4>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/payment_slide_2.png">
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>FULLBODY</h4>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/musculetion-auto.png">
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>FULLBODY</h4>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/musculetion-auto.png">
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>FULLBODY</h4>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>