<div class="human-body-back">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 841.9" style="enable-background:new 0 0 595.3 841.9;" xml:space="preserve">
<style type="text/css">
.st0{fill:#dad3d3;}
.st1{fill:none;}
</style>
<path d="M330.7,725.6c0,0,0.1,0.1,0.1,0.1c0-0.1,0-0.1,0.1-0.2C330.8,725.6,330.7,725.6,330.7,725.6z"/>
<path d="M363.4,638.7L363.4,638.7L363.4,638.7C363.4,638.6,363.4,638.6,363.4,638.7z M337.9,408.1c-0.3,0-0.5,0.1-0.8,0.1
c0.3,0.1,0.6,0.1,0.9,0.2C338,408.2,337.9,408.2,337.9,408.1z M309,210.8c-0.1,0.8-0.1,1.7,0,2.6C309.1,212.5,309.1,211.7,309,210.8
z M281.8,176.2L281.8,176.2c0,0.2,0,0.3,0.1,0.4C281.8,176.4,281.8,176.3,281.8,176.2z M259.9,247.7c-4.8-4.5-9.6-9.1-14.4-13.6
l-0.1,0.1c5,4.8,10.1,9.7,15.2,14.6C260.8,248.1,260.2,248,259.9,247.7z"/>
<path d="M395.8,396.9L395.8,396.9C395.8,397,395.8,396.9,395.8,396.9C395.8,396.9,395.8,396.9,395.8,396.9z"/>
<path d="M428.4,320.8c0,1.8,0,3.6,0,5.5c0.1,0,0.1-0.1,0.1-0.1S428.5,324.1,428.4,320.8z"/>
<path d="M429.4,338.5c-0.7-2.1-0.8-4.5-0.9-6.7c-0.1-1.8-0.1-3.7-0.1-5.5c0-1.8,0-3.6,0-5.5c-0.3-9.7-2.2-30.3-11.8-41.4
c-0.6-0.7-1.3-1.4-2-2.1c-1.4-1.3-2.9-2.4-4.6-3.2c-0.4-0.6-0.7-1.2-0.8-1.8c-0.6-3,0.1-6.3-0.3-9.3c-0.6-3.9-1.2-8-2.9-11.5
c-2.3-4.6-6.1-8.3-10.1-11.7c-5.9-5.1-12.5-7.8-20.4-7.4c-0.9,0.1-2,0.4-2.6,1.1c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0.1,0.1
c-0.3,0.3-0.6,0.6-0.9,0.9c0.3-0.3,0.6-0.6,0.8-0.9c-2-1.6-2.8-2.2-3.6-2.8c-5.4-4.2-11.1-7.7-18-8.9c-6.8-1.2-13.5-2.5-20.3-3.5
c-2.3-0.3-3.1-1.2-2.6-3.3c0.8-3.8,1.5-7.7,2.4-11.5c0.7-2.7,1.5-5.4,2.5-8c0.3-0.7,1.2-1.2,2-1.6c1.7-1,4-1.5,4.9-2.9
c3-4.5,4.5-9.7,4-15.2c-0.4-4.7-2.2-5.8-5.6-3c-0.1,0.1-0.3-0.1-0.6-0.2c1.9-6.7,1.8-13.4,0.6-20.1c-1.4-7.4-5.4-13.1-12.5-16
c-10.3-4.2-21-4-31.5-1c-4.7,1.3-8.6,3.9-11.1,7.9c-2.7,3.2-4,7.4-4.5,11.9c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.2v0.1
c0,1.2-0.1,2.5-0.2,3.7c0,0.6,0,1.3,0,1.9c0.1,2.4,0.3,4.8,0.7,7.1c-0.1,0-0.1,0-0.2,0c0.2,1.5,0.5,3,0.8,4.7
c-4-2.5-5.2-2.4-5.7,0.6c-0.2,1.1-0.1,2.3,0.1,3.4c0,0.2,0.1,0.3,0.1,0.5c0.1,0.4,0.1,0.8,0.2,1.2c0,0,0,0.1,0,0.1
c0,0.3,0.1,0.5,0.1,0.8c0.3,1.9,0.8,4.2,1.2,6c0.5,4.9,2.6,6.8,7.6,8.3c0.5,0.2,1,1.1,1.3,1.7c0.8,2.5,1.7,4.9,2.3,7.5
c1,4.2,1.9,8.4,2.5,12.7c0.1,0.7-0.9,2.1-1.6,2.3c-2.4,0.7-4.9,1.1-7.4,1.4c-12.5,1.4-24.7,3.7-35.2,14.6c4.8,4.5,9.6,9.1,14.4,13.6
c0.3,0.3,0.8,0.4,0.7,1.1c-5.1-4.9-10.2-9.8-15.2-14.6l0.1-0.1c-0.1-0.1-0.1-0.1-0.2-0.1c-0.7-0.7-1.8-1.6-2.6-1.5
c-3.4,0.3-6.9,0.5-10.1,1.5c-6.7,2-12,6.5-16.2,11.9c-2.1,2.7-5,5.1-5.7,8.8c-1.1,2.6-2.4,6.5-3,11.9c-0.2,1.2-0.3,2.4-0.4,3.8
c0,0.3-0.1,0.5-0.1,0.8c-5.8,9.1-14.1,12.1-16.8,46.1c-0.1-0.1-0.3-0.2-0.4-0.3c-0.4,7.7-0.8,14.8-1.2,22l0,0c0,0,0.1-0.1,0.1-0.1
c0.2-0.1,0.3-0.3,0.5-0.4c0.2-0.1,0.3-0.2,0.5-0.3c0.7-0.4,1.3-0.6,2-0.8c0.2,0,0.4-0.1,0.5-0.1c0.2,0,0.3,0,0.5,0s0.3,0,0.5,0
c0.2,0,0.3,0,0.5,0.1c0.2,0,0.4,0.1,0.7,0.2c0.2,0.1,0.3,0.1,0.5,0.2c0.1,0.1,0.3,0.1,0.4,0.2c0.1,0.1,0.3,0.2,0.4,0.2
c0.1,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.3,0.2,0.4,0.4c0.4,0.4,0.8,0.9,1.1,1.5c0.2,0.3,0.3,0.6,0.5,0.9c2,4.7,1.4,9.5,0.4,14.3
c-0.6,3-1.4,6.1-2.3,9.9c-0.9-3.9-1.6-7.1-2.5-10.2c-1.2-4-2.6-7.9-3.9-11.9c-0.5-1.5-0.8-3.1-1.1-4.6c-0.2,1.7-0.7,3.5-0.4,5.1
c1.2,5.2,2.5,10.4,4.2,15.5c3.4,10.8,4.9,22.3,10.9,32.3c1.5,2.6,3,5.8,0.2,8.9c-0.4,0.4-0.4,1.7-0.1,2.3c1.4,1.9,1.8,3.9,2.1,6.3
c0.8,5.5,3,10.7,4.5,16.1c0.3,1,0.5,1.9,0.6,2.9c1.1,5.9,3.3,8.2,8.2,8.2c2.2,0,4.5,0.1,6.7-0.1c0,0,0,0,0,0c0.1,0,0.5-0.2,0.9-0.4
c0,0,0,0,0,0c0.9-0.5,2.1-1.2,2.3-2.2c1.1-0.4,3-1.1,4-2.1c0,0,0.1,0,0.1-0.1c0.3-0.4,0.6-0.9,0.9-1.3c1.3-1.9,2.6-3.7,2.6-5.6
c0.1-2.5-1.6-5.1-2.5-7.6c0,0,0,0-0.1,0l0.1-1.6v-0.2c0.1,0.1,0.2,0.1,0.3,0.2c0,0,0,0,0,0c0.7,0.6,1.5,1.2,2.4,2v-0.2l1.4,1
c2.6,3.6,7.4,4,7.4,4s2.3-0.7,1.4-1.8c-0.9-1.1-2.7-7-2.7-7c-2.1-4.2-4.1-8.2-6.6-11.9c-1.1-1.6-3.1-3.2-4.9-3.5
c-3.1-0.5-6.3-0.4-9.6-0.4l0,0l-1.1,0h-0.1c-1.4-3-0.1-5.6,1.1-8.4c2.2-5.1,4.3-10.2,6.3-15.4c3.1-7.9,2.7-15.7-1-23.4
c-2.2-4.6-4-9.5-5.8-14.3c-0.3-0.8-0.1-2,0.4-2.7c4.8-6.7,9.7-13.2,14.5-19.9c1-1.5,2-3.1,2.5-4.8c1.2-3.9,2-7.9,3.1-11.9
c1.1,1,2.1,2.5,3.5,3.3c2.2,1.2,2.4,3,2.6,5.2c0.5,5.2,0.6,10.6,2.3,15.4c3.8,10,8.5,19.6,12.8,29.4c0.6,1.5,1.5,3,1.5,4.5
c-0.2,4-0.7,8-1.3,12c-0.9,6.1-3.9,12-1.8,18.4c0.2,0.6-0.4,1.5-0.7,2.2c-2.8,7-3.5,14.2-2.4,21.4c-0.8,6.1-3.1,21.9-4,25
c-0.5,1.6-0.8,3.3-0.9,4.8c-0.3,1.2-0.6,2.4-0.9,3.6c0,0,0,0,0,0c-1.2,3.5-4.3,12.3-5.1,16.8c-2.5,11.1-1.8,22.3-0.7,33.5
c0.9,8.8,2.3,17.6,3.4,26.4c1.3,10.2,2.6,20.5,3.7,30.7c0.9,8.3,1.9,16.7,2.3,25c0.4,8.5-2,16.6-6.1,24.1c-3.2,5.8-4.9,12-4.8,18.5
c0.2,8,1.8,15.6,7.6,21.7v0c0.3,1.7,0.6,3.4,0.9,5.1c1.3,7.7,2.4,15.5,4,23.2c1.3,6.1,3.3,12.1,1.8,18.7l-3.4,5.5
c-0.5,0.8-0.4,1.9,0.4,2.6l4.7,4.4c-1.5,0.7-11.4,5.3-19.2,8.2c-1.1,0.4-2.2,0.8-3.2,1.2h0c-2.5,0.8-4.4,1.4-5.5,1.3
c-4.3-0.1-5.9,6-1.7,6.3c0,0.3,0,0.6,0.1,0.9c1.5,0,3.1,0,4.6,0c1.4,0,2.9-0.1,4.3,0.2c2.3,0.5,4.6,1.3,6.8,1.9
c2,0.5,4.3,0.5,5.8,1.6c1.1,0.8,1.9,1.2,2.9,1.2l12.6,4.1v0.1c16,7.2,19.7-3.8,20.2-5.6c0-0.1,0-0.1,0.1-0.2c0,0,0-0.1,0-0.1
c-0.3-2.8-0.8-5.7-1.2-8.5c-0.2,0-0.5,0-0.7,0c-1.6-2.2-2.9-6.1-3.9-10.2c0.6-2,0.8-4.6,0.8-7.1c0-1.9-0.2-3.9-0.3-5.5
c0-0.1,0-0.3-0.1-0.4c0-0.3-0.1-0.5-0.1-0.8c-0.1-0.4-0.1-0.8-0.1-1.1c0-0.4-0.1-0.8-0.2-1.2c-0.4-3.1-1.7-6.2-1.3-9.2
c1.2-8.4,2.6-16.7,4.7-24.9c1.9-7.3,4.9-14.3,7.6-21.3c2.1-5.7,3.1-11.6,1.4-17.6c-1.8-6.3-3.4-12.7-6.1-18.6
c-2.8-6.1-3.6-11.6,0.5-17.3c0.2-0.2,0.2-0.6,0.3-0.9c2.3-9.3,4.4-18.6,6.8-27.8c4.4-17.2,5.1-34.8,6.6-52.3
c0.8-9.3,1.1-18.6,1.7-27.9c0.1-1.2,0.8-2.3,1.2-3.5h1c0.4,1.4,1,2.7,1.1,4.1c0.3,4.4,0.3,8.7,0.6,13.1c0.8,10.2,1.6,20.4,2.4,30.5
c0.5,5.6,0.9,11.1,1.7,16.7c0.8,5.8,1.9,11.5,3.1,17.2c2.5,12,4.3,24.2,9.8,35.4c1.3,2.6,1.1,4.8,0.2,7.5c-2.7,7.5-5.2,15-7.6,22.6
c-1.7,5.5-1.6,11,0.3,16.4c4.3,11.9,9.5,23.5,11.1,36.3c1,8,3.6,15.7-0.2,23.7c-0.9,1.8-0.7,4.4-0.1,6.4c1.4,5.1,2.2,10.1-0.8,14.3
c-0.2,0.3-0.4,0.6-0.7,0.9c0,0,0,0.1-0.1,0.1c-0.8,1.2-2.1,3.4-2.6,5.3c0,0-0.1,0.1-0.1,0.1c-2.1,3.3-0.3,8.3,3.4,9.7
c10.8,3.9,21,1.8,31-3c1.8-0.9,3.7-1.5,5.6-2c2.1-0.6,4.6-0.5,6.4-1.6c2.2-1.3,4.2-1.5,6.6-0.8c0.4,0.1,0.9,0.2,1.4,0.1c0,0,0,0,0,0
c0.8,0,1.6-0.2,2.3-0.3c0,0,0,0,0,0c1.3-0.5,2.5-1.7,0.4-4.4c-1.9-1.3-3.6-3.1-5.6-3.8c-2.9-1-6.1-1-9-1.9c-5.5-1.8-10.8-4-16.5-6.1
c0.4-0.6,1.2-1.6,2-2.7c1.6-2.3,4.2-4.6,2.3-7.6c-2.9-4.7-2.4-9.6-1.5-14.5c2.2-12.1,4.6-24.1,6.9-36.2h0c-0.3,0.8-0.6,1.7-0.9,2.5
c-0.4,1-0.7,1.9-1.1,2.9c-0.1,0.3-0.2,0.6-0.3,1c-0.1,0.3-0.2,0.6-0.3,1c-0.1,0.2-0.1,0.4-0.2,0.7c-0.1,0.2-0.1,0.4-0.2,0.7
c0,0.1-0.1,0.3-0.1,0.4c0,0.1-0.1,0.3-0.1,0.4c-0.1,0.2-0.1,0.5-0.1,0.8c-1.4,13-5.9,24.8-11.9,36.2c-1.2,2.2-2.1,4.5-3.7,6.7
c0.9-4.7,1.5-9.5,2.7-14.2c2.7-10.8,5.6-21.6,8.4-32.3c0.1-0.5,0.3-1,0.4-1.4c0.1-0.2,0.2-0.4,0.2-0.6c0.1-0.1,0.1-0.3,0.2-0.4
c0.1-0.2,0.1-0.3,0.2-0.5c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.2-0.3,0.2-0.4c0.1-0.2,0.2-0.4,0.4-0.5c0.1-0.2,0.2-0.3,0.3-0.4
c0.1-0.1,0.2-0.2,0.3-0.3c0.3-0.3,0.5-0.5,0.9-0.7c0.3-0.2,0.6-0.4,1-0.5c1-0.4,2-0.5,3.3-0.3c0,0,0,0,0,0v0
c0.3-0.5,0.5-1.1,0.9-1.5c6.1-7,7-15.3,6.3-24.1c-0.4-5.7-2.4-10.8-5.1-15.8c-2.8-5.1-4.3-10.6-5.2-16.2c-0.2-1.3-0.4-2.6-0.5-4V577
c-0.1-0.3-0.1-0.6-0.2-0.8h0.1c0,0.3,0.1,0.5,0.1,0.8c0,0,0,0.1,0,0.1v0l0.1,0.1l1-17.7l0.4-7.1l0.3-4.5h0.6
c0.4-3.5,0.8-7.1,1.3-10.6c1.2-8.9,2.7-17.8,3.8-26.7c1.1-8.6,2.3-17.2,2.9-25.9c0.6-9,0.8-18.1-1.6-26.9
c-1.8-6.6-3.9-13.1-5.9-19.7c-1.5-5.1-2.6-10.3-4.4-15.3c-1.1-3.1-1.6-5.9-1-9.2c1.8-9.2,1.7-18.3-2.1-27.1c-0.3-0.7,0-1.7,0.1-2.5
c0.2-2.5,1-5,0.6-7.4c-0.8-4.6-2.7-9-3.5-13.6c-0.8-4.9-1.1-9.6,1.6-14.6c4.7-8.8,8.3-18.2,12.2-27.3c0.3-0.7,0.3-1.6,0.4-2.4
c2.1-6.2,4.1-13.3,4.1-18.5c0.3-0.2,0.6-0.5,1-0.7c0.2-0.1,0.4-0.3,0.5-0.5c0,0,0,0,0,0c0,0,0,0,0,0.1c2.4,6.8,9.7,16.8,13.3,21.5
c1.8,4.9,5,8.5,8.4,12c1.1,1.1,1.7,1.9,0.9,3.6c-1.8,4-2.9,8.4-4.9,12.3c-4.6,8.9-5.1,17.9-1.1,27.1c2.2,5.1,4.4,10.2,6.3,15.4
c0.7,1.8,0.3,4,0.5,6c0,0,0,0,0,0c0,0,0,0,0,0c1.3,4.4,3.8,7.8,7.6,10.3c2.3,1.6,4.6,3,8.1,0.4c-1.6,4.9-3,9-4.3,13
c-1,3.1-2.2,6.2-3.1,9.4c-1.2,4.1-4.1,5.7-8.1,4.1c-0.4-0.2-1.1,0.1-1.6,0.2c-3.1,0.2-5-0.7-3.3-4.1c1.6-3.2,3.3-6.4,5-9.8
c2.5,0.4,2.8,2.2,2.2,4.2c-0.6,1.8-1.8,3.3-2.7,5c4.4,1.2,5.3,0.4,4.5-3.6c-0.2-1,0-2-0.2-3c-0.2-0.9-0.7-1.8-1.2-2.5
c-0.9-1.3-2.2-2.3-3-3.6c-1.3-2.2-1.8-4.6,0-6.9c0.3-0.4,0.3-1.1,0.4-1.7c-3.4,0.2-3.7,6.7-8.1,3.8c-1.8,0.4-3.7,0.5-5.2,1.3
c-3.5,1.9-5.3,5-5.5,9.2c-0.1,2-0.4,4.1-4,4.8c-0.3-4.1-0.8-8-0.9-11.8c0-0.9,1-2,1.8-2.7c2.9-2.7,6.2-5,6.9-9.4
c0.1-0.7,1.7-1.2,2.5-1.7c-0.1-0.2-0.2-1.1-0.2-1.2c1.3-0.4,2.7-0.9,4-0.9c3.2,0.1,5.9-1.1,8.4-2.7v0c-2.4,0.1-4.8,0.2-7.3,0.3
c-4.5,0.2-8,1.6-9.8,6.2c-0.9,2.2-1.8,4.8-3.6,6.2c-6,4.6-4.2,11.6-1.9,18.6c3.9,0.3,5.2-2.8,6.6-5.6c2.5,4.1,2.5,9.8,8.7,10.2
c0.4,2.6,1.9,3.5,4.5,3.4c2.1-0.1,4.3,0,6.4,0c3.5-0.1,5.7-1.7,6.7-5.1c1.9-6.7,3.5-13.5,5.5-20.3c0.9-3,0-6.5,2.9-8.9
c0.4-0.3,0.4-2,0-2.6c-2.7-3.3-1.1-6.1,0.5-9.1c1.8-3.4,3.9-6.7,4.9-10.3c2.5-8.4,4.4-17.1,6.6-25.6c0.6-2.4,0.8-4.9,1.7-7.2
C429.3,344.5,430.4,341.7,429.4,338.5z M385.1,414.8c-1.3,2.1-2.6,4.1-3.9,6.3C379.9,418.8,381.1,416.6,385.1,414.8z M383.7,427.1
c0,0.1-0.2,0-0.3,0c-2-3.4-0.7-3.8,4.6-12.4c1.9,1.4,2.5,3,0.9,5.1C387.2,422.2,385.5,424.6,383.7,427.1z M388.8,430.1
c-0.4,0.6-1.3,0.9-2,1.3c-0.4-0.9-1.3-1.8-1.2-2.6c0.2-1.1,1-2.2,1.7-3.1c1.8-2.6,3.7-5.1,5.7-7.8c1.4,1.9,1.4,3.3-0.1,5.1
C391.1,425,390.2,427.7,388.8,430.1z M409.2,274.7C409.2,274.7,409.2,274.8,409.2,274.7c0.5,0.4,3.3,3.3,6.6,8.3
c5.4,8.1,11.9,21.9,10.3,39.6c0.1,0.3,0.1,0.7,0.2,1v3.2c-0.7-1.7-1.4-3.3-2-4.8c-2.6-10.9-14.1-34-16.3-38.5
C407.8,280.8,408.9,278,409.2,274.7z M372.8,235.7c1.9-2.5,4.3-2.5,7-1.8c12.6,3.1,20.5,11.4,25.2,23c1.6,3.9,2.4,8,1.6,12.5
c-0.7,3.7,0.2,7.6,0.4,11.1c-3.2-3-6-6.4-9.5-8.8c-5.1-3.5-11-5.1-17.3-6c-8.8-1.3-17.4-4.1-26.1-6.3c-2.1-0.5-3.8-1.7-2.2-4.3
c0.8-1.3,1.5-3,2.7-3.8C361.4,246.9,367.9,242.1,372.8,235.7z M361.7,275.1c-1.1,1.5-2.3,3.4-3.6,5.6c0,0,0,0,0,0
c-0.4,0.6-0.7,1.3-1.1,2c0,0.1-0.1,0.1-0.1,0.2c-1.1,2-2.3,4.1-3.5,6.4c-3.2,6-12.6,11-16.9,13.2c-0.5,0.2-1,0.5-1.3,0.6
c-0.2,0.1-0.5,0.2-0.6,0.3c-0.2,0.1-0.4,0.2-0.4,0.2c2-3.4,3.4-5.9,4.9-8.4c0.9-1.5,2.1-2.8,2.7-4.4l1.4-4.4l4.4-13.8l-0.1-0.1
c0.3-1.3,0.3-2.7,1-3.8c1.6-2.5,1.1-5.5,2.2-8.2c6.8,2.1,13.5,4.1,19.8,6c-2.8,2.6-5.8,5.5-8.8,8.3
C361.6,274.9,361.7,275,361.7,275.1z M365.4,241.8c-2,1.9-4.2,3.5-6.4,5.2c-0.6,0.6-1.1,1.1-1.7,1.7c-0.1,0-0.2-0.1-0.2-0.1
c0.6-0.5,1.3-1,2-1.5c4.3-4.1,8.5-8.2,12.9-12.4C369.7,237,367.7,239.5,365.4,241.8z M328.9,202.5c-0.3-0.1-0.5-0.1-0.8-0.2
c-1.2-2.6-2.3-5.2-3.6-8c2.6-1,5.1-1.9,8.5-3.1C331.5,195.4,330.2,199,328.9,202.5z M326.8,216.8c-7.2-0.4-7.3-6-8.2-10.6
c-0.7-3.7-0.8-7.6-1.1-11.3c3.5-1.1,5.7-0.8,6.1,3.2c0.1,1.2,0.9,2.5,1.6,3.6c2.3,3.7,1.8,7.2,0.3,11
C325.1,213.6,326.4,215.3,326.8,216.8z M282.3,192.7c-2.7-1.6-2.8-1.7-4.7-6.8c-0.2-0.5-0.6-0.9-1.1-1.3c-0.5-1.9-0.7-4.1-0.8-5.9
c0.1-1.9,0.3-3.7,0.4-5.5c0.3-0.2,0.6-0.4,0.9-0.5c1.2,0.9,2.5,1.9,3.7,2.8c0.7,3,1.5,5.6,2.1,7.5c0,0,0,0,0,0.1
c0.2,1.3,0.5,2.6,0.9,3.9C284.5,189.3,283.8,191,282.3,192.7z M281.7,176.1C281.7,176.1,281.8,176.1,281.7,176.1
c0.1,0.2,0.1,0.3,0.2,0.4c-0.1-0.1-0.1-0.2-0.1-0.3C281.7,176.2,281.7,176.1,281.7,176.1z M283.3,180.3c-3.8-18.3-2.2-27.8-0.2-32.5
c1.2-2.9,2.6-4,3.1-4.3c0,0,0,0,0,0c0-0.1,0.1-0.1,0.1-0.1c1.9-2.2,4.2-3.9,7.1-5.1c7.6-3.1,15.4-4.1,23.5-2.4
c8.7,1.9,16,5.5,18.7,14.8c0.9,3.1,1.7,6.3,1.7,9.5c-0.1,5.4-0.8,10.8-1.3,16.3c0,0,0,0,0.1-0.1h0c0.4-0.3,0.8-0.6,1.2-0.9
c1.2-0.9,2.5-1.9,3.8-2.9c2.5,5.5-0.8,17.4-5.2,20.2c-1.5-1.7-2.4-3.2-1.6-5.8c0.4-1.3,0.7-2.7,0.9-4.1c0.1-0.7,0.2-1.4,0.3-2.1
c0-0.2,0.1-0.5,0.1-0.7c0.2-1.2,0.3-2.4,0.5-3.6c-1.2,3.3-2.3,6.6-3.7,9.8c-2.2,5.2-7.2,7-12.1,4.2c-2.4-1.4-4.5-3.3-6.8-5
c-0.4-0.3-0.9-0.5-1.4-0.7c-1.5-1.1-3.4-2.1-5.4-1.4c0-0.3-0.1-0.7-0.1-1c-1.2,1.6-2.1,3.3-3.5,4.5c-1.5,1.3-3.3,2.4-5.1,3.3
c-5.5,2.9-10.2,1.2-12.5-4.7C284.7,183.8,284,182,283.3,180.3z M300,194c0.8,7.1-0.6,13.4-2.5,19.4c-0.6,1.8-3.6,2.7-5.4,4
c-0.2-2.6,0-4.6-0.5-6.4c-1.6-5.9,2-10.4,3.7-15.4C295.5,194.6,298.2,194.5,300,194z M289.2,202.6c-1.3-3.5-2.7-7.1-4.3-11.3
c3.4,1.2,5.8,2.1,8.5,3.1c-1.1,2.6-2.3,5.3-3.4,8C289.7,202.4,289.4,202.5,289.2,202.6z M247.4,233.2c6.3-5.3,12.8-8.1,20-9.4
c7.4-1.3,14.8-2.1,22.1-3.8c7.5-1.7,13.8-5.8,17.3-13c1.9-4,1.7-8.3-0.2-12.3c-1.3-2.7-4.2-1.9-6.5-2.3c-0.1,0-0.2-0.3-0.3-0.5
c4.2-2.6,6.1-4.3,6.7-6.4c0.9-0.2,2.7-0.5,4.4-0.1c0,0.1-0.1,0.1-0.1,0.2c2.4,2.3,4.7,4.5,7.1,6.8c-0.4,0.1-1.1,0.3-1.7,0.3
c-3.4-0.1-4.9,1.7-5.8,4.9c-1.2,4.8,0,9,2.8,12.8c3.8,5.2,9.1,8.4,15.3,9.7c7.3,1.6,14.8,2.4,22.1,3.8c7.1,1.3,13.7,4.1,19.3,8.8
c-0.2,0.4-0.2,0.8-0.4,0.9c-4.6,4.4-9.4,8.6-13.9,13.1c-2.1,2.1-4.3,4.5-5.2,7.3c-1.9,5.4-3.3,11-4.9,16.8c-0.1,0.3-0.2,0.6-0.2,0.9
c-0.1,0.9-0.4,2.2-0.9,4.1c-0.4,1.5-1,3.3-1.8,5.4c0,0,0,0,0,0.1c-0.9,2.4-2.2,5.2-3.9,8.2c-0.2,0.5-0.4,1-0.7,1.5
c-1.6,3.5-3.3,6.9-5.3,10.1c-6.1,9.4-15.9,16-20.7,26.5c0.2-11.9,0.3-23.7,1.2-35.4c0.6-8,1.8-16,3.5-23.9c1.7-7.9,5.3-15,12-20.4
c-11.1-11.1-19-23.4-19.6-34.3c-0.6,11.1-8.6,23.3-19.1,33.9c2.6,3.5,5.3,6.5,7.3,9.9c5.8,10.1,6.9,21.5,7.8,32.7
c0.7,8.5,0.5,17.1,0.8,25.6c0.1,4,0.5,8,0.7,11.4c-3.9-4.9-7.5-10.5-12.1-15.1c-8.6-8.7-14.8-18.8-18.5-30.3
c-2.7-8.3-5-16.8-7.4-25.2c-1.2-4.2-3.4-7.4-6.7-10.2C257,241.9,252.4,237.7,247.4,233.2z M301,211.1c0.4-5.4,0.8-11,1.3-16.8
c2.3-0.9,3.4-0.4,4,2.4C307.6,202.9,305.4,208.4,301,211.1z M317,211.1c-4.1-1.9-7.3-9.8-4.9-15.6c0.4-1,2.4-1.4,3.6-2
C316.1,200,316.6,205.7,317,211.1z M318.3,389.5c-7.8-15.6-8.2-32.3-7.7-49.1c0-0.4,0.2-0.7,0.3-0.9c4.8,6.5,9.6,12.9,14.2,19.5
c3.7,5.2,4.8,11.2,5.6,17.4c0.9,7.7,3,15,8.2,21.6c-6.3,2.9-12.5,5.8-19.2,8.9C322.1,400.6,321,394.8,318.3,389.5z M298.4,406.9
c-6.7-3.1-12.9-5.9-19.3-8.9c6.1-7.4,7.7-16,8.7-24.7c0.9-7.9,4.7-14.3,9.4-20.4c3.3-4.3,6.6-8.7,9.9-13c-0.1-0.1,0.3,0.1,0.3,0.4
c0.6,9.6,0.3,19-1.2,28.5c-1.2,7.7-3.5,15-7,22C296.7,395.7,296.1,401.2,298.4,406.9z M306.8,299.6c-0.7-12.2-1.3-24.4-5.4-36.2
c-2.1-6-5.2-11.3-9.7-15.5c3.6-4.9,7.5-9.3,10.4-14.3c2.9-4.9,4.8-10.3,7.3-15.6c2.1,11.7,9.2,20.7,17.2,29.6
c-4.6,4.2-8.2,9.2-9.8,15.1c-1.9,7-3.6,14.1-4.3,21.3c-1.1,12-1.4,24.1-2,36.2c-0.2,4-0.4,7.9-0.7,11.9c-0.1,0.9-0.4,1.7-0.6,2.5
c-0.2,0-0.4,0-0.5,0c-0.2-0.8-0.5-1.5-0.5-2.3C307.7,321.4,307.4,310.5,306.8,299.6z M299.3,399.4c1.3-5.2,3.5-10.1,4.8-15.2
c1.4-5.6,2.5-11.4,3.3-17.1c0.7-5.5,0.9-11.1,1.2-16.6c0.2,0,0.4,0,0.6,0c0.4,5,1,10,1.2,15.1c0.3,9.4,2.8,18.2,6.5,26.8
c1.8,4.3,2,8.8,1.5,13.3c-0.6,4.9-7.9,8.4-13,6.3C300.3,409.8,297.8,405.2,299.3,399.4z M283.2,302.7c-6-2.2-11.9-4.5-15.7-9.8
c-2.7-3.7-4.8-7.7-7.1-11.6c-3.4-5.9-7.5-11.2-13.2-14.7c6.7-2.1,13.3-4.1,20-6.2C271.4,274.9,274.4,289.9,283.2,302.7z
M212.9,256.9c4.7-11.7,12.7-19.7,25.2-23.1c4.5-1.2,6.8,1.2,9.1,4c4.1,5.2,9.4,9,14.8,12.6c1.2,0.8,2.5,1.9,3.3,3.1
c2.1,2.8,1.5,5-1.7,5.9c-8.3,2.3-16.7,5.4-25.2,6.1c-5.1,0.4-9.6,2-13.9,3.9c-4.2,1.9-7.6,5.9-11.3,9c-0.6,0.5-1,1.2-1.8,2.2
c0-3.7,0.7-6.9-0.2-9.8C210,265.8,211.2,261.2,212.9,256.9z M205.3,277.7c0.1,0.1,0.3,0.2,0.4,0.3c1-0.8,1.9-1.6,3.4-3
c0.3,4.2,0.5,7.8,0.7,11.5c1-1.2,2-2.5,3.1-3.8l-18.4,36.5l-0.1,0.3l-1.5,3C194,311.9,197.4,288.4,205.3,277.7z M206.7,398.4
c-0.1-1.8-0.3-3.6-0.6-5.4c-0.8-4.6-1.7-9.2-2.4-13.9v6.2c-3.8-7-6.2-13.5-4.8-20.9c0.6-2.9,0.9-5.8,1.7-8.6
c0.6-1.9,1.3-4.2,2.8-5.5c4.4-4.1,9.2-7.9,14.3-12.1c0,7.5,0.1,14.5,0,21.4c-0.1,5.4-2.6,10.2-5.4,14.6c-5.7,9.2-5.2,18.9-2.9,28.8
c0.1,0.3,0.4,0.5,1,1.3c-2.2-11.3-1.2-21.4,5.7-30.7c0.7,4.4,1.6,8.7,2.1,13.1c0.3,2.8,0.2,5.7,0.4,8.5c0.4,4.4-4.1,11.5-8.5,12.6
c-2.2,0.6-3.4-1.1-3.5-3.1C206.5,402.7,206.8,400.6,206.7,398.4z M220.7,359.3c2.2,7.7,1,14.5-0.2,22.1c-1.5-3.7-2.9-6.6-3.9-9.6
c-0.2-0.7,0.7-1.8,1-2.7C218.6,366,219.5,363,220.7,359.3z M233,430.2c-0.9,1.7-2.6,2.8-3.7,3.3c0-0.1,0-0.1,0-0.2
c0.1-1.1-0.6-3.4-1.2-5c0,0,0,0,0,0c-0.3-2.1-1.3-3.7-2.7-5.2c-1.7-1.7-1.7-3.2-0.2-5.2c1.9,2.5,2.6,3.3,3.4,3.6
C230,423.1,234,428.1,233,430.2z M235.7,426.8c-0.3,0.1-0.6,0.3-0.9,0.4c-0.1,0-0.2-0.1-0.3-0.1l-5.3-7.1l-0.2-0.2
c-1.2-1.7-2.4-3.4-3.5-5c0.4-0.2,0.9-0.3,1.4-0.3h0c1.4-0.1,3.2,0.1,4.9,0.4l1.1,2.8c0.3,1.2,0.6,2.4,1,3.6
C234.6,423,235.2,424.9,235.7,426.8z M222.1,397.9l1.2-0.1c2.8,0.9,5.5,1.9,8.6,2c1.8,0.1,5.1,2.6,4.9,3.3c-0.6,2.7,1.7,3.5,2.5,4.9
c0.6,1,1.4,1.9,2.4,2.7v0c1.9,3.1,2.6,8.9,1.9,8.9c-0.8,0-3.7-2.9-3.7-2.9l-2.8-2l-0.7-0.5c-1.1-0.9-2-2.4-3.5-1.5c0,0,0,0,0,0
c-2.2-0.5-4.2,0.1-5,0.4c-1.9-1.8-3.7-3.5-5.4-5.1c-0.4,1-0.4,1.8,0,2.3c2.7,3.5,0.5,6.8-1.6,8.8c-2,2-2.9,3.8-3.1,6.5
c-0.4,4.3,0.1,5,4.8,4.3c-1-1.7-2.2-3.2-2.9-5c-0.7-1.9-0.5-3.8,2-4.5c1.9,3.6,3.7,7,5.7,10.8c0,0,0,0,0,0c0.2,0.9,0.3,1.9-0.1,2.6
c-2.1,0.4-4.2,0.8-6.3,1.2c-2.8,0.5-6-1.2-6.9-3.7c-1.6-4.4-3.2-8.9-4.6-13.3c-1-3.1-1.7-6.3-2.7-10c3.3,2.4,5.6,0.8,8-0.8
C218.5,404.9,220.3,401.4,222.1,397.9z M228.4,355c2,5.9,1.4,11.6-0.7,17.4c-1.8,5.1-3.5,10.3-5.2,15.4c-0.2,0.7-0.6,1.3-0.9,2
c-0.2-0.1-0.5-0.2-0.7-0.2c0.6-3.2,1.1-6.4,1.8-9.6c2-8.5,2.1-16.8-1.5-25.2c-1.8-4.2-1.7-9.2-2.3-13.9c-0.1-1,0.3-2.2,0.7-3.2
c0.2-0.4,1-0.7,1.4-0.7c0.5,0.1,1.1,0.5,1.3,1C224.5,343.6,226.5,349.3,228.4,355z M202.2,349.3c-1.2-4-2.5-8.2-4-13
c8.3-8.5,21.9-8.4,32.2-15.2C223.2,333,210.7,339.3,202.2,349.3z M241.4,298.3c-0.7,3.8-2.2,7.3-3.4,10.7c-1.6,4.7-5.5,8.1-9.9,10.3
c-6,3-12.3,5.5-18.5,8.3c-3.2,1.4-6.5,2.8-9.4,4.6c-1.4,0.9-2.2,2.8-3.3,4.3h-6.7c0.1-0.8,0.1-1.7,0.4-2.4c1.4-3.7,2.9-7.3,4.2-11
l18.5-40.6c0.3-0.3,0.5-0.6,0.8-0.9c2.3-2.7,4.1-5.9,6.9-7.8c3.1-2.1,7-3,10.5-4.6c2.7-1.2,4.4-0.1,5.7,2.1c0.6,0.9,1.1,2,1.2,3.1
c0.5,4,1.2,8.1,1.2,12.1C239.6,290.4,242.2,293.7,241.4,298.3z M245.8,295.5c-1.8-2.8-3.4-6.1-3.9-9.4c-1-6.2-0.3-12.8-5.7-17.9
c9.1-2.3,14.2,2.6,18.6,8.5c2.6,3.6,4.9,7.5,7,11.4c4.3,8,10.9,12.9,19.5,15.1c0.4,0.1,0.7,0.3,1.1,0.5c-2.4,2-9.8,2.8-13.6,1.8
c-3.2-0.9-6.7-1.4-9.9-2.4c-2.7-0.9-5.3-2.2-7.8-3.6C249.2,298.5,246.9,297.3,245.8,295.5z M256.3,327.2c-3.6-7.6-6.3-15.5-5.5-24
c10.6,3.7,21.1,7.4,32.4,2.4c1.3-0.6,2.3-0.6,3.4,0.6c2.8,3,6,5.7,8.6,8.8c2.8,3.2,5.7,6.5,7.7,10.3c1.6,3.1,2.8,6.9,2.5,10.3
c-0.2,3-2.3,6.1-4.2,8.8c-3.4,4.8-7.3,9.1-10.8,13.8c-1.1,1.5-1.7,3.5-2.5,5.3c-0.4,0.9-1,1.7-1.8,3.2c-0.5,4.4-0.6,10-1.9,15.4
c-1.2,5.2-3.5,10.2-5.3,15.3c-0.4-0.1-0.9-0.2-1.3-0.3c0-2.5-0.2-4.9,0-7.4c1.1-12.5-2.4-24-7.8-35.1
C265.4,345.5,260.7,336.4,256.3,327.2z M267.2,358.6c-0.1-0.8,0.1-1.5,0.1-2.3c7.3,12.1,9.9,25.1,9.4,38.9c-2.7-0.2-5-2.3-5.3-4.5
c-0.8-0.1-1.6,0.1-1.9-0.3c-2.6-3.3-6.1-6.3-3.8-11.2C263.9,372.1,268,365.5,267.2,358.6z M257.9,543v-10.8c-0.2,0-0.3,0-0.5,0v7.2
c-1.7-8.8-3-17.5-4.2-26.4c-1.2-9.3-2.3-18.6-3.3-28c-1-9.2-0.9-18.3,1.1-27.4c0.7-2.3,1.6-5.1,2.5-7.3c0.1-0.2,0.2-0.4,0.3-0.6
l0,0.6l0.3,4.1c-0.4,0.5-0.8,1-0.7,1.4c0.6,6,1.1,12.1,2,18.1c1.2,7.8,3.7,15.5,3.4,23.6c-0.2,4.6,0.3,9.4,1,14
C261.3,522.1,259.5,532.5,257.9,543z M261.4,508.7c-0.3-7.9-0.5-15.8-0.2-23.6c0.1-2.6,1.7-5.2,2.8-7.6c1.6-3.5,4.8-3.8,8.1-3.8
c2,0,4,0.2,6,0.2c0.1,0,0.3,0,0.4,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0c0.1,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0.1
c0.2,0.1,0.3,0.2,0.4,0.3c0,0.1,0.1,0.1,0.1,0.2c0.1,0.2,0.1,0.5,0.1,0.9c0,0.1,0,0.2-0.1,0.2c0,0.1,0,0.2-0.1,0.3c0,0,0,0,0,0l0,0
c0,0,0,0.1,0,0.1h0c1-0.8,2-1.6,3.7-2.9c0.8,6.3,1.4,11.5,2,16.7c0.7,6.7,1.7,13.3,1.9,20c0.2,7.2-0.5,14.4-0.9,21.5
c-0.2,3.8-0.9,7.7-0.9,11.5c-0.2,8.2-0.1,16.4-0.1,24.6c-0.4,0-0.7,0.1-1.1,0.1c-1-3.4-2.3-6.8-3-10.3c-2.4-11-5.1-22-6.6-33.2
c-1.7-12.3-0.6-24.7,2.5-36.8c0.2-0.6,0.3-1.2,0.4-1.8c0.1-0.6,0.3-1.2,0.4-1.7c0.6-2.6,1.1-5.2,1.6-7.8c-0.2,0.7-0.5,1.5-0.7,2.2
c-0.5,1.5-1,3.1-1.5,4.6c-0.5,1.6-1,3.1-1.5,4.6c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.7-0.4,1.4-0.6,2c-0.2,0.7-0.4,1.4-0.6,2
c-3,11.4-1.9,23-1.3,34.5c0.2,3.5-0.6,7.1-1,10.6c-0.3,0-0.6-0.1-0.9-0.1v-8.1c-0.5,7.9,0,15.9-4.6,23.1c-0.2-0.6-0.3-1.1-0.5-1.7
c0.2,7.3-4.8,12.9-7,19.5c0-4.4-0.4-8.8,0.1-13.2c1.1-11.7,2.9-23.3,3.8-35C263,519,261.6,513.8,261.4,508.7z M280.7,566.4
c-0.8,2.2-2.2,4.2-3.5,6.7c-1.3-6.5-3.5-12.2-7.7-16.9c-0.4-0.4-0.5-1.3-0.4-1.9c1.5-5.4,3.1-10.8,4.6-16.1c0.1-0.3,0.3-0.7,0.8-1.5
c1.1,4.6,2,8.6,3,12.6c1.1,4.1,2.6,8,3.6,12.1C281.5,562.9,281.3,564.8,280.7,566.4z M254.4,633.8c-0.1,0.1-0.3,0.2-0.4,0.3
c-0.5-0.7-1.1-1.4-1.4-2.2c-3.5-10.5-4.6-20.9,0.6-31.2c3.5-7.1,5.1-14.6,6.1-22.4c0-0.1,0-0.3,0.1-0.4c0,0,0-0.1,0-0.1
c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0.1-0.4c0-0.2,0.1-0.3,0.1-0.4c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.1-0.1,0.1-0.2
c0.1-0.1,0.1-0.2,0.2-0.2c0.1-0.1,0.2-0.1,0.3-0.2c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1,0,0.2-0.1c0.1,0,0.3,0,0.4,0h0c0.1,0,0.2,0,0.3,0
c-0.4-1-0.5-1.9-0.3-2.8c0-0.1,0-0.3,0.1-0.4c0.1-0.4,0.2-0.7,0.3-1c0.1-0.2,0.2-0.4,0.3-0.5c0-0.1,0.1-0.1,0.1-0.1
c0.1-0.2,0.2-0.3,0.3-0.4c0.1-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.3-0.4,0.4-0.5c0.3-0.3,0.5-0.6,0.8-0.9v0h0v0c0.9-2.7,1.8-5.4,2.6-8.1
c0.4,0,0.8,0,1.1-0.1c1.6,4.6,3.2,9.2,4.8,13.8c0.3-0.1,0.5-0.2,0.8-0.3c-1.7-4.3-3.3-8.6-4.9-13c-0.4-1-0.5-2.1-0.8-3.2
c0.5-0.2,1-0.3,1.5-0.5c1.9,5.3,3.8,10.7,5.9,15.9c1.8,4.5-1.1,8.5-1.2,12.8c-0.1,13-0.2,26-0.3,38.9c0,0.9,0.4,1.8,0.6,2.7
c2,6.8-2.2,11.5-9.4,10.2c-0.3-0.1-0.6,0.1-0.9,0.1v0c0,0,0,0,0,0c-1.5-0.5-3.1-1-4.6-1.6v0h0c0,0,0,0,0.1-0.1c0,0-0.1,0-0.1,0
c-0.3,0.2-0.7,0.4-1,0.5c-0.1,0.1-0.2,0.1-0.2,0.1c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c-1.4-1.5-2.7-3.2-3.7-4.5
C254.1,632.5,254.2,633.1,254.4,633.8z M259.5,658.8c-0.9-5.8-2.2-11.5-3.4-17.2c-0.2-1-1-1.9-1.4-2.9c3.4-0.3,5.8,0.9,6.6,4
c3.3,11.9,6.5,23.9,9.5,35.9c1.1,4.3,1.7,8.8,2,13.3c-1.3-2.9-2.7-5.8-4-8.7C265.2,675.3,261,667.6,259.5,658.8z M260.5,719.8
c0,0,0.1-0.1,0.1-0.1c-3.7-1.3-7-2.5-10.4-3.6c-2.4-0.8-5-1.2-7.4-1.9c-1.3-0.4-2.2-1.1-3.8-0.3c-0.6,0.3-1.3,0.5-2.1,0.6
c1-0.6-0.9-1.4-0.9-1.4s-1.1-2,2-2.4c1.1-0.2,3.4-1.1,6-2.2h0c1.3-0.5,2.6-1.1,3.9-1.6h0c2.5-1.1,4.9-2,6.2-2.4
c0.3-0.1,0.5-0.1,0.6-0.2c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0c1.8,0,4.7,0,6.3-0.9c1-0.6,2.1-1.5,2.8-2.1c-0.3,1.9-0.4,3.1-0.4,4
c-0.1,0-0.1,0.1-0.2,0.1c-0.8,6.2,2.2,13,3.7,16.1L260.5,719.8z M265.1,708L265.1,708c0.4-2.4,0.7-4.6,1.1-7.1
c0.7,0.5,1.4,1,1.9,1.6c1.4,1.5,2.1,3.3,2.1,5.4c0,1.7,0,3.5,0,5.2c0.1,3,0.2,5.9,0.3,8.9C266.9,719.6,265.6,712.5,265.1,708z
M269.4,700.5c-0.5-0.4-1-0.8-1.5-1.2c-3.3-2.5-7.3-5.8-7.4-6.8c-0.2-1.8,2.7-5,2.7-5l0,0c1.7-2.2,0.6-5.4,1.7-8.3
c2.7,6.3,5.2,12,7.6,17.7c-0.2,1.7-0.5,3.6-0.7,5.4C271.2,701.9,270.3,701.3,269.4,700.5z M288.2,714.8c0.3,1.4,0.6,2.8,0.9,4.2
c0.1,0.6,0.3,1.1,0.5,1.7c-8.1,7-13.7,4.7-15.7,3.3c-1.3-2.9-3.1-5.5-2-8.8c6.9,2.6,11.4,1.7,14.8-2.6
C287.5,714,288.1,714.7,288.2,714.8z M284.2,683.6V694c0.1,0,0.1,0,0.2,0c-0.1,0.7-0.2,1.4-0.2,2c-0.5-2.6-0.8-5.1-1.1-7v-5.4
C283.5,683.6,283.8,683.6,284.2,683.6z M286.5,649.1c-0.6,2.7-1.2,5.5-1.6,8.3c-0.9,5.9-2,11.7-2.6,17.6c-0.5,4.9-0.7,9.8-0.9,14.8
l-0.1,0.5c-0.2,6.5,0.8,11.7,2.1,15.6c0,0,0,0,0,0c0.3,0.7,0.5,1.4,0.8,2c0.7,1.8,1.5,3.2,2.1,4.3c-1,0.4-2.1,0.9-2.6,0.9
c-2.8,0.4-5.6,1-8.5,1c-0.9,0-1.7-0.2-2.3-0.7v0c0.3-2.9,1.2-13.6,1.6-17.3c0.8-0.8,0.8-1.5,0.5-3.4c-1.5-8.6-2.7-17.3-4.9-25.8
c-2.3-9.1-5.6-17.9-8.5-26.8c6,0.5,11.7-0.5,14.4-7c3,3.3,5.7,6.4,8.5,9.4C286.7,644.4,287.1,646.5,286.5,649.1z M293.8,605.8
c3.8,10.8,1.6,20.5-3.4,30.7c0.6-5,1.2-9.4,1.7-13.9c-0.1,0-0.3,0-0.4,0c-1.3,6.9-2.5,13.9-3.8,20.8c-0.3-0.1-0.7-0.1-1-0.1v-15
h-0.5v12.5c-0.4,0.1-0.7,0.1-1,0.1c-0.8-5.3-1.6-10.7-2.4-16c-0.2,0-0.5,0.1-0.7,0.1c0.6,4.8,1.3,9.5,1.9,14.2
c-2.9-2.8-3.4-4.8-4.7-18.1c0,2-0.1,4,0,5.9c0.1,1.9,0.3,3.8,0.5,5.6c-4.5-4.8-5.1-10.7-4.9-16.9c0.3-8.9,0.1-17.9,0.8-26.8
c0.4-5.8,2-11.4,3-17.2c0.3,0.1,0.5,0.1,0.8,0.2v15c0.8-7.1,0-14,2-20.5c0.4,0,0.7-0.1,1.1-0.1c1,3.9,1.9,7.8,3,11.6
C288.4,587.4,290.6,596.8,293.8,605.8z M287.8,579c-2.8-8.9,0.2-42.6,1.6-51.3C291.8,533.5,290.4,575.2,287.8,579z M304,489.3
c-0.5,4.9-0.8,9.9-1.4,14.8c-1.1,10.3-2.1,20.5-3.7,30.7c-1.9,11.9-4.4,23.8-6.7,35.6c-0.3,1.5-0.9,3-1.9,4.4
c0.5-4.4,1.3-8.8,1.5-13.1c0.4-10.5,1-21.1,0.4-31.5c-0.7-11.6-2.7-23.1-4.2-34.6c-0.9-6.6-2-13.1-3.1-19.7c-0.3-1.9,0.1-2.2,2-2
c5.1,0.5,15.5-3.3,19.9-7.2C305.7,474.7,304.8,482,304,489.3z M307.6,456.4L307.6,456.4c0,0.9,0,1.6-0.1,2.4
c-0.8,5.8-4.8,9.4-11.7,11.1c-8,2-16.1,1.9-24.2,1.8c-5.4-0.1-8,1.6-10,6.7c-0.8,2.1-1.5,4.2-2.2,6.3c-1.2-5-2-9.8-2.6-14.7
c-0.5-4.2-0.6-8.5-1-12.7v-0.1c0-1.8-0.1-4.4-0.1-6.9c1-7.2,1.9-14.4,2.9-21.5l3.8-13.3c0.2-0.4,0.4-0.8,0.3-1.2
c-0.4-2.9-0.8-5.8-1.4-8.7c-0.8-4.1,0-14.5,2-17.6c2.8,8.3,9.9,12.3,17.3,16.9c-9,2.6-11.9,10.3-17.5,16.3c0.7,0.2,1.3,0.3,1.8,0.4
c-3.5,7.7-4.3,15.8-4,22.7c0.1,1,0.1,1.9,0.2,2.8c0.3,3,0.7,5.6,1.2,7.9c0.4,2.1,0.9,3.7,1.2,4.9c0,0,0,0,0,0c0,0.1,0.1,0.1,0.1,0.2
c0.2,0.3,0.3,0.7,0.5,1c2.9,5.1,9.9,8.8,15.1,8c-5.8-1.1-11.5-3.9-14.7-12.2c0,0,0,0,0,0c-0.6-2.4-1-4.9-1.1-7.5
c0.2,0.1,0.3,0.1,0.5,0.2c-0.2-0.6-0.4-1.3-0.5-1.8c0.7-0.3,1.8-0.9,2.7-1.5c0.1,0.1,0.2,0.2,0.3,0.3c2.5-2.7,5-5.5,7.5-8.3
c0,0-0.1-0.1-0.1-0.1c3.3-2.7,9.5-8,12-10c-0.2-0.3-0.4-0.5-0.6-0.8c-2.8,2.2-10.3,8.7-13.1,10.9c0.1,0.1,0.2,0.2,0.2,0.3
c-1.5,1.6-3,3.1-5.1,3.7h0c-0.7-0.1-1.7-0.1-2.5,0.1c-0.4-0.1-0.9-0.1-1.2-0.3c0.8-11.1,4.2-21.5,4.4-22.2c0,0,0,0,0,0
c2.7-5.1,6-9.8,11.2-13c2.3-1.5,3.8-1,5.5,0.7c-1.5,0.4-2.8,0.7-4.1,1.1c3.3,0,6.4,0.3,9.5,0.8c1,0.2,1.8,1.8,2.7,1.8
c0.7,0,1.3,0.2,1.9,0.4c0.8,0.3,1.5,0.9,2.1,1.5c1.3,0.9,2.6,2.3,3.8,3.8c3.9,5,6.7,12.2,7.9,15.6
C307,441.4,307.3,450.9,307.6,456.4z M263.5,444.6c0.1-0.6,0.4-1.1,0.7-1.6c0.5-0.2,1.4-0.6,2.2-0.7c0,0,0,0,0,0
c0.6,0.1,1.2,0.2,1.9,0.3c-0.7,1-1.2,1.8-1.8,2.6c-0.8,0.1-2.1,0.2-3,0.3c0,0-0.1,0-0.1,0C263.4,445.2,263.4,444.9,263.5,444.6
C263.5,444.6,263.5,444.6,263.5,444.6z M311.5,466.8c6.4,5.7,14,6.3,21.9,7.3c-0.7,5.1-1.5,10.2-2.2,15.4
c-1.4,9.8-2.6,19.7-4.2,29.4c-1.7,9.8-2.2,19.7-1.7,29.7c0.4,7.9,1.5,15.7,2.2,23.5c0.1,0.9,0.1,1.8,0.2,2.7
C317.1,539.8,315.5,503.5,311.5,466.8z M333.6,474.6c0.8-0.3,1.5-0.5,2.2-0.5c0.1,0,0.2,0,0.4,0c0.1,0,0.2,0,0.3,0.1
c0.1,0,0.1,0,0.2,0.1c0.2,0.1,0.3,0.1,0.5,0.2c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.1,0.1,0.2,0.2c0,0,0.1,0.1,0.1,0.1
c0.1,0.1,0.3,0.3,0.4,0.5c0.1,0.1,0.1,0.1,0.1,0.2c0.1,0.1,0.1,0.2,0.2,0.3c-0.8-1.7,0.3-2.1,1.7-2.1c1.8,0,3.7,0.3,5.5,0
c4.4-0.6,7.5,0.5,9.1,4.5c1.5,3.7,2.9,7.7,2.9,11.6c0,8.2-0.7,16.4-1.6,24.5c-1.1,9.4,0.6,18.6,1.5,27.9c0.2,1.9,0.5,3.7,0.8,5.4
h0.7l-0.6,23.1c-0.2-0.4-0.4-0.8-0.5-1.2c-0.1-0.6-0.2-1.2-0.5-1.7c-1.7-3-3.7-5.9-5.4-9c-0.6-1.2-0.7-2.7-1-4
c-1.2-4.2-2.6-8.4-3.5-12.7c-1-4.6-2.1-9.3-2-13.9c0.3-10.4,1.6-20.7-0.7-31c-1.7-7.3-4.2-14.4-6.3-21.6c0.1,0.5,0.2,0.9,0.3,1.4
c0.2,1,0.4,2,0.6,3c0.1,0.5,0.2,1,0.3,1.5c0.4,1.9,0.8,3.9,1.3,5.8c4.4,16.8,4.1,33.6,0.1,50.5c-2.1,8.8-4.2,17.6-6.3,26.4
c-0.2,1-0.6,2-1.2,3.9c-0.1-1.4-0.1-1.9-0.1-2.4c-0.4-11.1-0.5-22.1-1.4-33.1c-0.7-8.5-2.1-16.9-1.1-25.5c1-8.2,2-16.5,2.9-24.7
C333.8,480,333.6,477.3,333.6,474.6z M348,556.9l-0.1,0.2l-5,11.7c0-0.3-0.1-0.7-0.2-1c-0.2,0-0.4,0-0.6-0.1
c-0.4,1.6-0.7,3.2-1.2,5.3c-1.7-3-3.2-5.6-4.5-8.3c-0.4-0.8,0-2,0.2-2.9c1.5-5.3,3.1-10.6,4.6-16c0.8-2.9,1.5-5.8,2.2-8.8
c0.9,1.2,1,2.3,1.3,3.3c0.8,2.6,1.4,5.4,2.4,7.9C348.4,551.2,349.8,553.8,348,556.9z M328.8,528.1c1.2,16.9,4.1,33.8,1.7,50.9
C327.6,576.1,326,533.8,328.8,528.1z M329.1,639.7c0,0-0.3,0.1-0.3,0c-5.1-11.1-8.9-22.1-4.4-34.8c4.3-12.2,7.1-24.9,10.6-37.4
c0.1-0.4,0.3-0.8,0.5-1.3c0.3,0.1,0.7,0.1,1,0.2c-0.4,3.2-0.8,6.3-1.2,9.5c-0.5,3.3-1,6.6-0.8,9.9c0.8-5.4,1.7-10.9,2.5-16.3
c0.2,0,0.4-0.1,0.6-0.1c0.4,5.8,0.9,11.6,1.3,17.5v-12.5c0.2-0.1,0.3-0.1,0.5-0.2c0.7,2.9,1.9,5.8,2,8.7c0.6,12.1,1.2,24.2,1.1,36.2
c-0.1,4.5-2.2,8.9-3.8,13.2c0.2-3.8,0.4-7.6,0.6-11.4c-0.7,6-0.6,12.2-4.7,18.1c0.6-5.4,1.1-9.9,1.6-14.5c-0.2,0-0.4-0.1-0.6-0.1
c-0.7,5.3-1.4,10.5-2.1,15.8c-0.3,0-0.7-0.1-1-0.1v-12c-0.2,0-0.4,0-0.7,0c0,1.7,0,3.4,0,5.1c0,1.7-0.1,3.4-0.2,5.2
c-0.1,1.6,1.3,3.7-1.3,4.7c-1.2-7-2.3-14-3.5-20.9c-0.3,0-0.5,0.1-0.8,0.1C327.1,628.3,328.1,634,329.1,639.7z M333.8,683.7h0.9
v10.6c-0.3,0-0.6,0-0.9,0V683.7z M343,723.4c-1.9,1.4-6.7,1-8.7-0.6c-0.4-0.3-0.8-0.7-1.2-0.7c-2.5-0.1-4.3-1.7-4.2-4.2
c0-0.7,0.2-1.4,0.3-2.1c0.5-0.7,1-1.5,1.6-2.3c1,1,2.5,2.2,4.4,2.7c0.1,0,0.2,0.1,0.2,0.1c0.1,0,0.2,0,0.2,0h0c0,0,0,0,0,0
c0.6,0.1,1.1,0.1,1.7,0.1c2.9,0.1,5.8-0.2,8.9-0.3C347.2,719.7,345.6,721.4,343,723.4z M354.6,702c1,0.2,2.6,0.1,3.8,0.8
c2.8,1.8,6.6,1.4,8.7,5c0.8,1.3,5.1,1.4,7.5,0.7c3.3-0.9,5.4,0.4,7.7,2.2c0.6,0.5,1.2,1,1.8,1.5c0.2,0.5,0.8,1.9,0.1,2.8
c-1.5-0.2-3.1,0-4.2-0.8c-1.8-1.2-3.2-0.7-4.9,0c-1.6,0.7-3.3,1.3-5,1.8c-2.9,0.8-5.9,1.2-8.7,2.2c-4.9,1.7-9.7,3.7-14.5,5.6
c-0.2-0.3-0.4-0.6-0.5-1c4.1-1.6,7.8-4.1,8.5-8.3C355.5,710.7,354.7,706.4,354.6,702z M351.8,701c0.8,6.8,3.9,13.7-3.5,18.8
C346.4,710.7,347.5,704.5,351.8,701z M345.3,699.7c2.2-6.7,4.8-13.2,7.3-20.1c1.4,4.1,2.5,7.4,3.5,10.8c0.7,2.4-0.7,3.7-4.7,3.9
c1.1,0.3,1.7,0.5,2.4,0.6c-2.9,3.4-5.7,6.8-8.6,10.3C345.3,703.5,344.8,701.4,345.3,699.7z M353.4,647.6c-3.1,11-6.4,22-9,33.2
c-2.1,9.2-3.4,18.5,0.9,27.6c1.8,3.9,0.6,5.5-3.7,5.7c-2.4,0.1-4.8-0.7-7.3-1c-0.5-0.1-1-0.1-1.5-0.2c-0.4-0.2-0.9-0.6-1.2-1.1
c0.2-0.4,0.4-0.7,0.5-1c0.1,0.1,0.2,0.2,0.3,0.3c1.7-4.9,2.9-9.5,3.3-14.3c0.6-5.9,1.3-12,0.6-17.9c-1.2-10.4-3.5-20.7-5.2-31
c-0.2-1.2-0.1-2.9,0.6-3.8c3.1-3.9,6.5-7.6,9.9-11.5c2.8,7.1,8.7,7.5,15,7.3C355.7,642.7,354.2,645.1,353.4,647.6z M364.8,600.6
c2.5,4.6,3.7,9.5,3.4,14.6c-0.2,5.2-1.1,10.3-1.8,15.4c-0.3-0.1-0.7-0.1-1-0.1c0.4-3.1,0.8-6.2,1.2-9.3c-1.1,2.9-1.4,5.9-2,8.9
c-0.8,4-2.2,5.8-4.5,6.3c1.1-4.2,2.2-8.7,3.4-13.3c-1.7,4-2.8,8.2-4.4,12.2c-1,2.5-1.8,2.5-4.5,2c3-4.1,4.4-8.7,4.3-13
c-1.2,3.4-2.6,7.4-4.1,11.3c-0.8,2-2.3,2.7-4.4,2l0,0c-4.9-0.4-8.3-4.4-7.4-8.2c1-4.2,2.2-8.5,2.1-12.8c-0.1-10.2-0.8-20.4-1.5-30.6
c-0.3-3.9-0.9-7.8-1.1-11.8l8-15.7c-0.2-0.4-0.4-0.7-0.6-1.1l0.9,0.3l-0.4,0.7c1.8,3.6,2.3,7.1,0,10.9h0.9c0.4-1.6,0.9-3.2,1.3-5
c0.7,1.2,1.3,2.3,2,3.5l2.9,8.7l0.2,0.7c0-0.1,0-0.1,0-0.2c0.1,0.3,0.1,0.5,0.2,0.8l0,0.1C359.8,585.9,361,593.6,364.8,600.6z
M363.9,466.8c0.4-4.3,0.4-8.7,0.6-13.1c0.1-1,0-1.9,0-3.7c3.6,10.3,4.8,20.1,4,30.1c-0.6,7.9-1.7,15.7-2.6,23.5
c-0.7,5.9-1.5,11.8-2.2,17.7c-0.5,3.8-1.1,7.5-2.4,11.2c-0.1-1.1-0.1-2.1-0.2-3.2c-0.1,0-0.3,0-0.4,0v16.9c-0.3,0-0.5,0.1-0.8,0.1
c0-0.2-0.1-0.4-0.1-0.6c-0.3-2.5-0.6-4.9-1-7.4c-2-13.6-0.1-27.1,0.3-40.7C359.4,487.2,362.8,477.2,363.9,466.8z M358.5,484.7
c-0.5-1.7-0.9-3.4-1.5-5c-2.3-6.2-4.8-7.7-11.4-8c-6.9-0.2-13.8-0.3-20.6-1.3c-7.2-1-13.5-3.8-14.6-12.4c-0.1-0.5-0.2-1.1-0.4-1.6
c-3.1-28.1,11-43.6,11-43.6c2.4-1.2,4.6-3.1,7.1-3.8c2.9-0.8,6-0.8,9-1c-1.2-0.3-2.5-0.5-4-0.9c1.9-1.4,3.1-2.4,5.5-0.8
c6.3,4.2,10.5,10,12.9,17.1c0.5,1.5-0.2,3.7,0.6,4.8c2.9,3.9,1.1,8.5,2.4,12.6c0.5,1.7-0.7,1.8-2,1.3c2.4,1.2,2.4,1.2,1.9,6.1
c-1.7-2-3.2-3.8-4.9-5.8c1.4-0.1,2.3-0.1,3.1-0.2c-1.7-0.7-3.7-0.9-5.1-2c-3-2.5-5.6-5.6-8.6-8.2c-3-2.6-6.3-4.8-9.5-7.1
c-0.3,0.4-0.7,0.8-1,1.2c0.4,0.2,1,0.2,1.3,0.5c7.9,5.1,14.7,11.5,20.6,18.7c2.1,2.5,5.1,4.9,3.5,8.9c-0.3,0.9-1.2,1.7-1.1,2.5
c0.3,3.2-2.1,5-3.7,7c-1.2,1.5-3,2.6-4.7,3.5c-1.7,0.9-3.7,1.2-6.3,2c6.3,0.1,10.8-2.2,14.2-6.4c4.5-5.5,4.6-12.4,4.5-19.1
c-0.1-6-0.3-12-0.4-18c0-0.8,0.2-1.7,0.3-2.9C362.8,432.7,363.9,476.4,358.5,484.7z M356.7,405.1c-0.2,1.5-0.3,3-0.6,4.5
c-0.6,2.8-1.5,5.5-2.2,8.3c-0.3,1.1-0.2,2.3-0.3,3.7c-3.7-7.2-7.6-13.9-16-16.6c3.4-2.4,6.5-4.2,9.2-6.5c2-1.7,3.5-4,5.3-6.1
l-0.1,0.1c-7,6.7-15.1,11.4-24.2,14.8c-3.4,1.3-6.5,3.3-9.8,5c-3.7,2.7-6.2,7.2-7.8,12.5c-1.7-4.6-5.6-8.2-8.5-10.5
c-3.3-3.4-7.5-5.7-12.1-7.4c-8.2-3.1-15.9-7.1-22.1-13.5c-0.9-0.9-1.6-2.1-2.3-3.2c6.3,6,13.4,10.2,21.2,13.5
c5.5,2.4,11.1,4.8,16.3,8c4.6,2.8,8.4,2.6,12.9-0.1c5-3,10.5-5.1,15.7-7.8c4.9-2.5,9.8-5.1,14.5-8c2.5-1.5,4.5-3.8,7-6.1
c-0.4,1.2-0.6,1.9-0.9,2.7c1-1.5,1.9-3,3-4.7C356.7,393.5,357.5,399.2,356.7,405.1z M353.1,375.9c0.3,4.4,0.5,9.4-3.2,13
c-2.5,2.5-5.3,4.7-8.6,7.6c-0.6-14.9,2-27.9,8.7-40.2C351.2,363,352.7,369.4,353.1,375.9z M367.9,305.2c-0.4,3.5-1.2,8.5-2.9,14
c-4.6,12.2-10.6,23.8-16.7,35.3c-5.8,10.9-9.2,22.7-8,35.3c0.2,2.4,0,4.8,0,7.2c-5.4-7.2-8.1-14.9-7-23.6c-0.1,0.3-0.3,0.7-0.5,1.3
c-0.2-0.5-0.3-0.8-0.3-1c-0.3-6.9-2.9-12.9-6.9-18.3c-2.5-3.5-5.4-6.8-8.2-10.2c-3-3.7-6.1-7.4-5-12.5c0.6-2.9,1.6-5.9,3.2-8.4
c2.1-3.4,4.7-6.5,7.3-9.4c2.7-3.1,5.7-5.9,8.8-8.7c0.6-0.6,2.2-0.8,3-0.5c6.3,2.6,12.7,3,19.3,1.4c4.5-1.1,8.9-2.5,13.8-3.8V305.2z
M371.7,296.2c-3,2.4-5.8,5.1-9.2,6.5c-4.1,1.8-9,1.9-13.5,2.9c-4.1,0.8-8.9,0.5-11.8-0.9c3.9-1.4,15.4-9.7,18.3-14.8
c3-5.3,11.6-16.7,11.6-16.7s0-0.3-0.1-0.6c0.7-0.7,1.3-1.4,2-2c3.6-3.2,7.8-3.5,12.8-2.4c-2.1,2.4-3.8,4.8-4.2,7.5
C374.7,282.5,372.6,292.1,371.7,296.2z M385.9,317.7c-5.9-5.6-10.3-17.6-11.5-21.2c0-10.4,7.7-24.6,9.4-27.5c1-0.1,2.2,0.1,3.6,0.6
c1.4,0.5,2.8,1.2,4.3,1.6c5.2,1.5,9.1,4.5,11.7,9.4c1.3,2.5,2.8,5,4.2,7.5c1.3,2.9,4.1,8.9,6.9,15.2c0.3,0.6,0.5,1.2,0.8,1.8
c4,9.1,8,18.1,8,18.1s0,0,0.1,0c1,2.3,2,4.6,2.9,6.9c0.8,2.1,1.3,4.3,1.9,6.4h-6.8c-0.8-1.2-1.3-2.9-2.4-3.4
c-6.5-3.2-13.1-6-19.6-9.1c-3.9-1.8-8.2-2.9-11.5-6C387.3,317.6,386.6,317.6,385.9,317.7z M387.6,321.2c-0.1-0.1-0.1-0.2-0.2-0.3
c0.1,0,0.1,0.1,0.2,0.1v0c10.2,6.9,23.9,6.7,32.2,15.3c-1.5,4.8-2.8,8.9-4,12.9C407.2,339.4,394.9,332.9,387.6,321.2z M396.2,389.6
c-0.4-1-0.7-1.9-1.1-2.9c-1.9-5.6-3.9-11.2-5.7-16.8c-2-6.4-0.9-12.6,1.6-18.8c1.9-4.7,3.1-9.7,4.7-14.6c0.2-0.4,0.3-0.9,0.7-1.7
c1.6,3.4,2.7,6.3,1.8,9.8c-0.4,1.5,0.4,3.4,0,5c-0.5,2.6-1.3,5.3-2.3,7.8c-2.6,6.1-2.5,12.4-1.4,18.7c0.8,4.4,1.7,8.9,2.5,13.3
C396.7,389.4,396.5,389.5,396.2,389.6z M397.2,359.8c1.5,3.8,2.8,7.4,4.1,10.9c0.2,0.5,0,1.2-0.2,1.7c-1.1,2.7-2.2,5.3-3.3,7.9
C395.8,377.1,395.4,366.7,397.2,359.8z M419.1,372.4c-0.6,3.9-2.2,7.5-3.4,11.3c-0.2-0.1-0.5-0.1-0.7-0.2v-3.8
c-0.2,8.4-5.3,16.1-3.7,24.7c0.2,0.9-1.1,2.5-2.2,3.2c-0.5,0.4-2.1-0.1-2.8-0.7c-2.2-1.8-4.2-3.8-6.1-5.9c-0.6-0.7-1-1.9-0.9-2.8
c0.7-7.6-0.2-15.4,2.3-22.9c0.2-0.6,0.5-1.3,0.9-2.2c6.5,9.4,6.9,19.6,6.1,30.2c0.5-3,1.3-5.9,1.5-8.9c0.6-7.8-1-15.2-5.3-21.9
c-5.3-8.2-5.1-17.2-4-26.4c0.3-2.4,0-4.8,0-7.8c5.3,4.7,10.9,8.9,15.5,14.2c2,2.2,1.8,6.5,2.3,9.8
C419,365.7,419.6,369.2,419.1,372.4z M428.3,342c-3.7,6.9-4.2,14.6-6.4,21.9c-0.1,0.3-0.3,0.5-0.7,1.4c-1-5.9-2.1-11.1-2.6-16.5
c-0.2-2.7,0.7-5.5,1.5-8.2c0.3-1,1.4-2.4,2.3-2.6c1.8-0.4,3.8-0.5,5.5,0C428.4,338.1,428.9,340.9,428.3,342z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M282.3,192.7c-2.7-1.6-2.8-1.7-4.7-6.8c-0.2-0.5-0.6-0.9-1.1-1.3c-0.5-1.9-0.7-4.1-0.8-5.9
c0.1-1.9,0.3-3.7,0.4-5.5c0.3-0.2,0.6-0.4,0.9-0.5c1.2,0.9,2.5,1.9,3.7,2.8c0.7,3,1.5,5.6,2.1,7.5c0,0,0,0,0,0.1
c0.2,1.3,0.5,2.6,0.9,3.9C284.5,189.3,283.8,191,282.3,192.7z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M235.7,426.8c-0.3,0.1-0.6,0.3-0.9,0.4c-0.1,0-0.2-0.1-0.3-0.1l-5.3-7.1l-0.2-0.2c-1.2-1.7-2.4-3.4-3.5-5
c0.4-0.2,0.9-0.3,1.4-0.3h0c1.4-0.1,3.2,0.1,4.9,0.4l1.1,2.8c0.3,1.2,0.6,2.4,1,3.6C234.6,423,235.2,424.9,235.7,426.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M233,430.2c-0.9,1.7-2.6,2.8-3.7,3.3c0-0.1,0-0.1,0-0.2c0.1-1.1-0.6-3.4-1.2-5c0,0,0,0,0,0
c-0.3-2.1-1.3-3.7-2.7-5.2c-1.7-1.7-1.7-3.2-0.2-5.2c1.9,2.5,2.6,3.3,3.4,3.6C230,423.1,234,428.1,233,430.2z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M243.6,419.7c-0.8,0-3.7-2.9-3.7-2.9l-2.8-2l-0.7-0.5c-1.1-0.9-2-2.4-3.5-1.5c0,0,0,0,0,0
c-2.2-0.5-4.2,0.1-5,0.4c-1.9-1.8-3.7-3.5-5.4-5.1c-0.4,1-0.4,1.8,0,2.3c2.7,3.5,0.5,6.8-1.6,8.8c-2,2-2.9,3.8-3.1,6.5
c-0.4,4.3,0.1,5,4.8,4.3c-1-1.7-2.2-3.2-2.9-5c-0.7-1.9-0.5-3.8,2-4.5c1.9,3.6,3.7,7,5.7,10.8c0,0,0,0,0,0c0.2,0.9,0.3,1.9-0.1,2.6
c-2.1,0.4-4.2,0.8-6.3,1.2c-2.8,0.5-6-1.2-6.9-3.7c-1.6-4.4-3.2-8.9-4.6-13.3c-1-3.1-1.7-6.3-2.7-10c3.3,2.4,5.6,0.8,8-0.8
c3.6-2.2,5.4-5.7,7.3-9.3l1.2-0.1c2.8,0.9,5.5,1.9,8.6,2c1.8,0.1,5.1,2.6,4.9,3.3c-0.6,2.7,1.7,3.5,2.5,4.9c0.6,1,1.4,1.9,2.4,2.7v0
C243.7,413.9,244.3,419.7,243.6,419.7z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M343,723.4c-1.9,1.4-6.7,1-8.7-0.6c-0.4-0.3-0.8-0.7-1.2-0.7c-2.5-0.1-4.3-1.7-4.2-4.2c0-0.7,0.2-1.4,0.3-2.1
c0.5-0.7,1-1.5,1.6-2.3c1,1,2.5,2.2,4.4,2.7c0.1,0,0.2,0.1,0.2,0.1c0.1,0,0.2,0,0.2,0h0c0,0,0,0,0,0c0.2,0.1,0.5,0.1,0.8,0.1
c0.4,0,0.7,0,1,0c2.9,0.1,5.8-0.2,8.9-0.3C347.2,719.7,345.6,721.4,343,723.4z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M384.2,715c-1.5-0.2-3.1,0-4.2-0.8c-1.8-1.2-3.2-0.7-4.9,0c-1.6,0.7-3.3,1.3-5,1.8c-2.9,0.8-5.9,1.2-8.7,2.2
c-4.9,1.7-9.7,3.7-14.5,5.6c-0.2-0.3-0.4-0.6-0.5-1c4.1-1.6,7.8-4.1,8.5-8.3c0.7-4-0.1-8.2-0.3-12.7c1,0.2,2.6,0.1,3.8,0.8
c2.8,1.8,6.6,1.4,8.7,5c0.8,1.3,5.1,1.4,7.5,0.7c3.3-0.9,5.4,0.4,7.7,2.2c0.6,0.5,1.2,1,1.8,1.5C384.3,712.7,384.8,714.1,384.2,715z
"/>
<path class="st0" (click)="onClickPathBack($event)" d="M284.4,694c-0.1,0.7-0.2,1.4-0.2,2c-0.5-2.6-0.8-5.1-1.1-7v-5.4c0.4,0,0.8,0,1.2,0V694
C284.3,694,284.3,694,284.4,694z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M289.5,720.8c-8.1,7-13.7,4.7-15.7,3.3c-1.3-2.9-3.1-5.5-2-8.8c6.9,2.6,11.4,1.7,14.8-2.6
c0.8,1.3,1.4,2,1.5,2.1c0.3,1.4,0.6,2.8,0.9,4.2C289.2,719.6,289.4,720.2,289.5,720.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M270.5,722.1c-3.6-2.5-4.9-9.7-5.4-14.1l0,0c0.4-2.4,0.7-4.7,1.1-7.1l1.9,1.6c1.4,1.5,2.1,3.3,2.1,5.4
c0,1.7,0,3.5,0,5.2C270.3,716.2,270.4,719.1,270.5,722.1z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M260.5,719.8c0,0,0.1-0.1,0.1-0.1c-3.7-1.3-7-2.5-10.4-3.6c-2.4-0.8-5-1.2-7.4-1.9c-1.3-0.4-2.2-1.1-3.8-0.3
c-0.6,0.3-1.3,0.5-2.1,0.6c1-0.6-0.9-1.4-0.9-1.4s-1.1-2,2-2.4c1.1-0.2,3.4-1.1,6-2.2h0c1.3-0.5,2.6-1.1,3.9-1.6h0
c2.5-1.1,4.9-2,6.2-2.4c0.3-0.1,0.5-0.1,0.6-0.2c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0c1.8,0,4.7,0,6.3-0.9c1-0.6,2.1-1.5,2.8-2.1
c-0.3,1.9-0.4,3.1-0.4,4c-0.1,0-0.1,0.1-0.2,0.1c-0.8,6.2,2.2,13,3.7,16.1L260.5,719.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M344.5,680.8c-2.1,9.2-3.4,18.5,0.9,27.6c1.8,3.9,0.6,5.5-3.7,5.7c-2.4,0.1-4.8-0.7-7.3-1
c-0.5-0.1-1-0.1-1.5-0.2c-0.4-0.2-0.9-0.6-1.2-1.1c0.2-0.4,0.4-0.7,0.5-1c0.1,0.1,0.2,0.2,0.3,0.3c1.7-4.9,2.9-9.5,3.3-14.3
c0.6-5.9,1.3-12,0.6-17.9c-1.2-10.4-3.5-20.7-5.2-31c-0.2-1.2-0.1-2.9,0.6-3.8c3.1-3.9,6.5-7.6,9.9-11.5c2.8,7.1,8.7,7.5,15,7.3
c-1.2,2.6-2.7,5-3.4,7.5C350.3,658.7,347,669.7,344.5,680.8z M281.5,689.8c0.2-4.9,0.3-9.9,0.9-14.8c0.6-5.9,1.7-11.8,2.6-17.6
c0.4-2.8,1-5.6,1.6-8.3c0.6-2.6,0.2-4.7-1.7-6.7c-2.9-3-5.6-6.1-8.5-9.4c-2.8,6.5-8.5,7.5-14.4,7c2.8,8.9,6.1,17.8,8.5,26.8
c2.2,8.4,3.4,17.1,4.9,25.8c0.3,1.9,0.3,2.6-0.5,3.4c-0.4,3.8-1.4,14.4-1.6,17.3v0c0.6,0.5,1.3,0.7,2.3,0.7c2.8,0,5.7-0.6,8.5-1
c0.5-0.1,1.6-0.6,2.6-0.9c-0.6-1.1-1.4-2.5-2.1-4.3c-0.3-0.6-0.5-1.3-0.8-2c0,0,0,0,0,0c-1.3-3.9-2.3-9.1-2.1-15.6L281.5,689.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M348,556.9l-0.1,0.2l-5,11.7c0-0.3-0.1-0.7-0.2-1c-0.2,0-0.4,0-0.6-0.1c-0.4,1.6-0.7,3.2-1.2,5.3
c-1.7-3-3.2-5.6-4.5-8.3c-0.4-0.8,0-2,0.2-2.9c1.5-5.3,3.1-10.6,4.6-16c0.8-2.9,1.5-5.8,2.2-8.8c0.9,1.2,1,2.3,1.3,3.3
c0.8,2.6,1.4,5.4,2.4,7.9C348.4,551.2,349.8,553.8,348,556.9z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M352.8,389.8c-0.4,1.2-0.6,1.9-0.9,2.7c-7,6.7-15.1,11.4-24.2,14.8c-3.4,1.3-6.5,3.3-9.8,5
c-3.7,2.7-6.2,7.2-7.8,12.5c-1.7-4.6-5.6-8.2-8.5-10.5c-3.3-3.4-7.5-5.7-12.1-7.4c-8.2-3.1-15.9-7.1-22.1-13.5
c-0.9-0.9-1.6-2.1-2.3-3.2c6.3,6,13.4,10.2,21.2,13.5c5.5,2.4,11.1,4.8,16.3,8c4.6,2.8,8.4,2.6,12.9-0.1c5-3,10.5-5.1,15.7-7.8
c4.9-2.5,9.8-5.1,14.5-8C348.2,394.3,350.2,392,352.8,389.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M392.8,423c-1.7,2-2.6,4.7-4,7.1c-0.4,0.6-1.3,0.9-2,1.3c-0.4-0.9-1.3-1.8-1.2-2.6c0.2-1.1,1-2.2,1.7-3.1
c1.8-2.6,3.7-5.1,5.7-7.8C394.3,419.8,394.3,421.1,392.8,423z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M385.1,414.8c-1.3,2.1-2.6,4.1-3.9,6.3C379.9,418.8,381.1,416.6,385.1,414.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M388.9,419.8c-1.8,2.4-3.5,4.9-5.2,7.3c0,0.1-0.2,0-0.3,0c-2-3.4-0.7-3.8,4.6-12.4
C389.9,416.1,390.5,417.7,388.9,419.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M411.5,407.7c-1.6,4.9-3,9-4.3,13c-1,3.1-2.2,6.2-3.1,9.4c-1.2,4.1-4.1,5.7-8.1,4.1c-0.4-0.2-1.1,0.1-1.6,0.2
c-3.1,0.2-5-0.7-3.3-4.1c1.6-3.2,3.3-6.4,5-9.8c2.5,0.4,2.8,2.2,2.2,4.2c-0.6,1.8-1.8,3.3-2.7,5c4.4,1.2,5.3,0.4,4.5-3.6
c-0.2-1,0-2-0.2-3c-0.2-0.9-0.7-1.8-1.2-2.5c-0.9-1.3-2.2-2.3-3-3.6c-1.3-2.2-1.8-4.6,0-6.9c0.3-0.4,0.3-1.1,0.4-1.7
c-3.4,0.2-3.7,6.7-8.1,3.8c-1.8,0.4-3.7,0.5-5.2,1.3c-3.5,1.9-5.3,5-5.5,9.2c-0.1,2-0.4,4.1-4,4.8c-0.3-4.1-0.8-8-0.9-11.8
c0-0.9,1-2,1.8-2.7c2.9-2.7,6.2-5,6.9-9.4c0.1-0.7,1.7-1.2,2.5-1.7c-0.1-0.2-0.2-1.1-0.2-1.2c1.3-0.4,2.7-0.9,4-0.9
c3.2,0.1,5.9-1.1,8.4-2.7c1.3,4.4,3.8,7.8,7.6,10.3C405.7,408.9,408,410.3,411.5,407.7z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M358.5,484.7c-0.5-1.7-0.9-3.4-1.5-5c-2.3-6.2-4.8-7.7-11.4-8c-6.9-0.2-13.8-0.3-20.6-1.3
c-7.2-1-13.5-3.8-14.6-12.4c-0.1-0.5-0.2-1.1-0.4-1.6c-3.1-28.1,11-43.6,11-43.6c2.4-1.2,4.6-3.1,7.1-3.8c2.9-0.8,6-0.8,9-1
c0.3,0.1,0.6,0.1,0.9,0.2c0-0.1-0.1-0.2-0.1-0.3c-0.3,0-0.5,0.1-0.8,0.1c-1.2-0.3-2.5-0.5-4-0.9c1.9-1.4,3.1-2.4,5.5-0.8
c6.3,4.2,10.5,10,12.9,17.1c0.5,1.5-0.2,3.7,0.6,4.8c2.9,3.9,1.1,8.5,2.4,12.6c0.5,1.7-0.7,1.8-2,1.3c2.4,1.2,2.4,1.2,1.9,6.1
c-1.7-2-3.2-3.8-4.9-5.8c1.4-0.1,2.3-0.1,3.1-0.2c-1.7-0.7-3.7-0.9-5.1-2c-3-2.5-5.6-5.6-8.6-8.2c-3-2.6-6.3-4.8-9.5-7.1
c-0.3,0.4-0.7,0.8-1,1.2c0.4,0.2,1,0.2,1.3,0.5c7.9,5.1,14.7,11.5,20.6,18.7c2.1,2.5,5.1,4.9,3.5,8.9c-0.3,0.9-1.2,1.7-1.1,2.5
c0.3,3.2-2.1,5-3.7,7c-1.2,1.5-3,2.6-4.7,3.5c-1.7,0.9-3.7,1.2-6.3,2c6.3,0.1,10.8-2.2,14.2-6.4c4.5-5.5,4.6-12.4,4.5-19.1
c-0.1-6-0.3-12-0.4-18c0-0.8,0.2-1.7,0.3-2.9C362.8,432.7,363.9,476.4,358.5,484.7z M308.5,432.3c-1.2-3.4-4-10.6-7.9-15.6
c-1.2-1.5-2.4-2.8-3.8-3.8c-0.6-0.6-1.3-1.2-2.1-1.5c-0.6-0.2-1.2-0.4-1.9-0.4c-0.9-0.1-1.7-1.6-2.7-1.8c-3.1-0.6-6.2-0.8-9.5-0.8
c1.3-0.4,2.6-0.7,4.1-1.1c-1.7-1.7-3.2-2.2-5.5-0.7c-5.1,3.2-8.4,7.9-11.2,13c0,0,0,0,0,0c-0.2,0.7-3.6,11.1-4.4,22.2
c0.3,0.2,0.8,0.2,1.2,0.3c0.8-0.2,1.8-0.2,2.5-0.1h0c2-0.5,3.6-2.1,5.1-3.7c-0.1-0.1-0.2-0.2-0.2-0.3c2.8-2.2,10.3-8.7,13.1-10.9
c0.2,0.3,0.4,0.5,0.6,0.8c-2.5,2-8.7,7.3-12,10c0,0,0.1,0.1,0.1,0.1c-2.5,2.7-5,5.5-7.5,8.3c-0.1-0.1-0.2-0.2-0.3-0.3
c-0.9,0.6-2,1.2-2.7,1.5c0.1,0.6,0.3,1.2,0.5,1.8c-0.2-0.1-0.3-0.1-0.5-0.2c0.1,2.6,0.5,5.2,1.1,7.5c0,0,0,0,0,0
c3.2,8.3,8.9,11.2,14.7,12.2c-5.2,0.9-12.2-2.9-15.1-8c-0.2-0.3-0.4-0.7-0.5-1c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0,0
c-0.3-1.1-0.8-2.8-1.2-4.9c-0.5-2.2-0.9-4.9-1.2-7.9c-0.1-0.9-0.2-1.9-0.2-2.8c-0.3-6.9,0.4-15,4-22.7c-0.5,0-1.1-0.2-1.8-0.4
c5.6-6,8.6-13.7,17.5-16.3c-7.3-4.7-14.5-8.7-17.3-16.9c-2,3.1-2.8,13.5-2,17.6c0.6,2.9,1,5.8,1.4,8.7c0.1,0.4-0.1,0.8-0.3,1.2
l-3.8,13.3c-0.9,7.1-1.9,14.2-2.9,21.5c0,2.5,0.1,5.1,0.1,6.9v0.1c0.4,4.2,0.5,8.5,1,12.7c0.5,4.9,1.4,9.7,2.6,14.7
c0.7-2.1,1.4-4.2,2.2-6.3c2-5,4.6-6.7,10-6.7c8.1,0.1,16.2,0.1,24.2-1.8c6.9-1.7,10.9-5.4,11.7-11.1c0.1-0.8,0.1-1.6,0.1-2.3v-0.1
C307.3,450.9,307,441.4,308.5,432.3z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M318.5,405.7c-0.6,4.9-7.9,8.4-13,6.3c-5.2-2.2-7.6-6.7-6.2-12.6c1.3-5.2,3.5-10.1,4.8-15.2
c1.4-5.6,2.5-11.4,3.3-17.1c0.7-5.5,0.9-11.1,1.2-16.6c0.2,0,0.4,0,0.6,0c0.4,5,1,10,1.2,15.1c0.3,9.4,2.8,18.2,6.5,26.8
C318.8,396.7,319,401.1,318.5,405.7z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M326.6,247.6c-4.6,4.2-8.2,9.2-9.8,15.1c-1.9,7-3.6,14.1-4.3,21.3c-1.1,12-1.4,24.1-2,36.2
c-0.2,4-0.4,7.9-0.7,11.9c-0.1,0.9-0.4,1.7-0.6,2.5c-0.2,0-0.4,0-0.5,0c-0.2-0.8-0.5-1.5-0.5-2.3c-0.5-10.9-0.8-21.7-1.3-32.6
c-0.7-12.2-1.3-24.4-5.4-36.2c-2.1-6-5.2-11.3-9.7-15.5c3.6-4.9,7.5-9.3,10.4-14.3c2.9-4.9,4.8-10.3,7.3-15.6
C311.5,229.7,318.6,238.7,326.6,247.6z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M361.6,274.8c0.1,0.1,0.1,0.2,0.2,0.3c-1.1,1.5-2.3,3.4-3.6,5.6c0,0,0,0,0,0c-0.5,0.5-0.8,1.3-1.1,1.9
c0,0,0,0.1,0,0.1c0,0.1-0.1,0.1-0.1,0.2c-1.1,2-2.3,4.1-3.5,6.4c-3.2,6-12.6,11-16.9,13.2c-0.5,0.2-1,0.5-1.3,0.6
c-0.2,0.1-0.5,0.2-0.6,0.3c-0.2,0.1-0.4,0.2-0.4,0.2c2-3.4,3.4-5.9,4.9-8.4c0.9-1.5,2.1-2.8,2.7-4.4c0.6-1.5,1-2.9,1.4-4.4l4.4-13.8
l-0.1-0.1c0.3-1.3,0.3-2.7,1-3.8c1.6-2.5,1.1-5.5,2.2-8.2c6.8,2.1,13.5,4.1,19.8,6C367.6,269.2,364.6,272,361.6,274.8z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M381.8,268.2c-2.1,2.4-3.8,4.8-4.2,7.5c-2.9,6.8-5,16.3-5.9,20.5c-3,2.4-5.8,5.1-9.2,6.5
c-4.1,1.8-9,1.9-13.5,2.9c-4.1,0.8-8.9,0.5-11.8-0.9c3.9-1.4,15.4-9.7,18.3-14.8c3-5.3,11.6-16.7,11.6-16.7s0-0.3-0.1-0.6
c0.7-0.7,1.3-1.4,2-2C372.7,267.5,376.9,267.2,381.8,268.2z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M369.9,232.6c-0.2,0.4-0.2,0.8-0.4,0.9c-4.6,4.4-9.4,8.6-13.9,13.1c-2.1,2.1-4.3,4.5-5.2,7.3
c-1.9,5.4-3.3,11-4.9,16.8l-0.1-0.1c0,0,0,0.3-0.1,1c-0.4,1.4-0.8,2.7-1.1,4.1c0.1,0,0.2,0,0.2-0.1c-0.4,1.5-1,3.3-1.8,5.4
c0,0,0,0,0,0.1c-0.4,0.8-0.6,1.2-0.8,1.7c-1.1,2.2-2.1,4.3-3.1,6.5c-0.3,0.5-0.5,0.9-0.8,1.4c0.1,0,0.1,0,0.1,0
c-1.6,3.5-3.3,6.9-5.3,10.1c-6.1,9.4-15.9,16-20.7,26.5c0.2-11.9,0.3-23.7,1.2-35.4c0.6-8,1.8-16,3.5-23.9c1.7-7.9,5.3-15,12-20.4
c-11.1-11.1-19-23.4-19.6-34.3c0.1-0.9,0.1-1.7,0-2.6c-0.1,0.8-0.1,1.7,0,2.6c-0.6,11.1-8.6,23.3-19.1,33.9c2.6,3.5,5.3,6.5,7.3,9.9
c5.8,10.1,6.9,21.5,7.8,32.7c0.7,8.5,0.5,17.1,0.8,25.6c0.1,4,0.5,8,0.7,11.4c-3.9-4.9-7.5-10.5-12.1-15.1
c-8.6-8.7-14.8-18.8-18.5-30.3c-2.7-8.3-5-16.8-7.4-25.2c-1.2-4.2-3.4-7.4-6.7-10.2c-4.8-4-9.4-8.3-14.4-12.8
c6.3-5.3,12.8-8.1,20-9.4c7.4-1.3,14.8-2.1,22.1-3.8c7.5-1.7,13.8-5.8,17.3-13c1.9-4,1.7-8.3-0.2-12.3c-1.3-2.7-4.2-1.9-6.5-2.3
c-0.1,0-0.2-0.3-0.3-0.5c4.2-2.6,6.1-4.3,6.7-6.4c0.9-0.2,2.7-0.5,4.4-0.1c0,0.1-0.1,0.1-0.1,0.2c2.4,2.3,4.7,4.5,7.1,6.8
c-0.4,0.1-1.1,0.3-1.7,0.3c-3.4-0.1-4.9,1.7-5.8,4.9c-1.2,4.8,0,9,2.8,12.8c3.8,5.2,9.1,8.4,15.3,9.7c7.3,1.6,14.8,2.4,22.1,3.8
C357.7,225.1,364.3,227.9,369.9,232.6z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M336,176.4C336,176.4,336,176.3,336,176.4c-1.2,3.2-2.3,6.5-3.6,9.7c-2.2,5.2-7.2,7-12.1,4.2
c-2.4-1.4-4.5-3.3-6.8-5c-0.4-0.3-0.9-0.5-1.4-0.7c-1.5-1.1-3.4-2.1-5.4-1.4c0-0.3-0.1-0.7-0.1-1c-1.2,1.6-2.1,3.3-3.5,4.5
c-1.5,1.3-3.3,2.4-5.1,3.3c-5.5,2.9-10.2,1.2-12.5-4.7c-0.7-1.7-1.4-3.5-2.1-5.3c-3.8-18.3-2.2-27.8-0.2-32.5c1.2-2.9,2.6-4,3.1-4.3
c0,0,0,0,0,0c0.1-0.1,0.1-0.1,0.1-0.1s0,0,0,0c1.9-2.2,4.2-3.9,7.1-5.1c7.6-3.1,15.4-4.1,23.5-2.4c8.7,1.9,16,5.5,18.7,14.8
c0.9,3.1,1.7,6.3,1.7,9.5C337.2,165.5,336.5,171,336,176.4z"/>
<path d="M372.8,233.6c-0.3,0.3-0.5,0.6-0.8,0.9C372.2,234.2,372.5,233.9,372.8,233.6C372.8,233.6,372.8,233.6,372.8,233.6z
M357.1,248.5c0.1,0.1,0.2,0.1,0.2,0.1c0.6-0.6,1.1-1.1,1.7-1.7C358.4,247.5,357.7,248,357.1,248.5z M336,176.3L336,176.3L336,176.3
C336.1,176.3,336,176.3,336,176.3z"/>
<path d="M281.8,176.2C281.8,176.1,281.7,176.1,281.8,176.2C281.7,176.1,281.7,176.2,281.8,176.2c0,0.2,0,0.3,0.1,0.4
C281.8,176.4,281.8,176.3,281.8,176.2z"/>
<path d="M227,414.3c-0.5,0.1-1,0.3-1.4,0.3C225.9,414.5,226.4,414.4,227,414.3z"/>
<path d="M344.1,275.8c0.1,0,0.2,0,0.2-0.1c0.5-1.8,0.8-3.2,0.9-4.1C344.8,273,344.4,274.4,344.1,275.8z M341.7,282.9
c-1.1,2.2-2.1,4.3-3.1,6.5c1.7-3,3-5.8,3.9-8.2C342.1,281.9,341.9,282.4,341.7,282.9z M344.1,275.8c0.1,0,0.2,0,0.2-0.1
c0.5-1.8,0.8-3.2,0.9-4.1C344.8,273,344.4,274.4,344.1,275.8z M341.7,290.7c0.6-1.5,1-2.9,1.4-4.4L341.7,290.7z M341.7,282.9
c-1.1,2.2-2.1,4.3-3.1,6.5c1.7-3,3-5.8,3.9-8.2C342.1,281.9,341.9,282.4,341.7,282.9z"/>
<path d="M387.6,321L387.6,321c-0.1,0-0.1-0.1-0.2-0.1c0.1,0.1,0.1,0.2,0.2,0.3C387.6,321.2,387.6,321.1,387.6,321z"/>
<path d="M222.5,397.5h-0.2c0,0,0,0,0-0.1C222.4,397.5,222.5,397.5,222.5,397.5z"/>
<path d="M274.7,179.6L274.7,179.6c-0.1-0.3-0.1-0.5-0.1-0.8C274.6,179.1,274.7,179.3,274.7,179.6z"/>
<path d="M281.8,176.2L281.8,176.2C281.7,176.2,281.7,176.1,281.8,176.2C281.7,176.1,281.8,176.1,281.8,176.2z"/>
<path d="M233.3,431.4c0,0-0.1,0.1-0.1,0.1L233.3,431.4C233.3,431.5,233.3,431.5,233.3,431.4z"/>
<path class="st1" d="M309.2,489.5c0.3,5.2,0.6,9.6,0.9,14.3"/>
<path d="M278.7,161.2c-0.1-0.6-0.1-1.3,0-1.9C278.7,159.9,278.7,160.5,278.7,161.2z"/>
<path d="M415.2,305.1c-0.3-0.6-0.7-1.2-1-1.8c0.1,0,0.2,0,0.2,0C414.7,303.9,414.9,304.5,415.2,305.1z"/>
<path d="M265.2,442.2c-0.1,0-0.1,0-0.2,0v0C265.1,442.2,265.1,442.2,265.2,442.2z"/>
<path d="M360.8,280.2c-1,1.8-2,3.5-3,5.2c-0.4-0.1-0.8-0.1-1.2-0.2c0.1-0.8,0-1.6,0.3-2.3c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.1
c0.3-0.6,0.6-1.3,1.1-1.9c0,0,0,0,0,0C358.7,280.1,359.4,279.8,360.8,280.2z"/>
<path d="M354.7,624c-0.4,5.3-1.2,9.8-4.2,13.8l0,0C351.8,633.4,353.2,629,354.7,624z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M367.9,303.3v1.9c-0.4,3.5-1.2,8.5-2.9,14c-4.6,12.2-10.6,23.8-16.7,35.3c-5.8,10.9-9.2,22.7-8,35.3
c0.2,2.4,0,4.8,0,7.2c-5.4-7.2-8.1-14.9-7-23.6c-0.1,0.3-0.3,0.7-0.5,1.3c-0.2-0.5-0.3-0.8-0.3-1c-0.3-6.9-2.9-12.9-6.9-18.3
c-2.5-3.5-5.4-6.8-8.2-10.2c-3-3.7-6.1-7.4-5-12.5c0.6-2.9,1.6-5.9,3.2-8.4c2.1-3.4,4.7-6.5,7.3-9.4c2.7-3.1,5.7-5.9,8.8-8.7
c0.6-0.6,2.2-0.8,3-0.5c6.3,2.6,12.7,3,19.3,1.4C358.6,305.9,363,304.6,367.9,303.3z M256.3,327.2c4.4,9.2,9.1,18.2,13.6,27.4
c5.4,11.1,8.9,22.6,7.8,35.1c-0.2,2.4,0,4.9,0,7.4c0.4,0.1,0.9,0.2,1.3,0.3c1.8-5.1,4.1-10,5.3-15.3c1.2-5.4,1.4-11.1,1.9-15.5
c0.9-1.5,1.4-2.3,1.8-3.2c0.9-1.8,1.4-3.8,2.5-5.3c3.5-4.7,7.4-9,10.8-13.8c1.9-2.6,4-5.7,4.2-8.8c0.3-3.4-0.9-7.2-2.5-10.3
c-2-3.7-4.9-7-7.7-10.3c-2.7-3.1-5.8-5.8-8.6-8.8c-1.1-1.2-2.1-1.2-3.4-0.6c-11.3,4.9-21.8,1.2-32.4-2.4
C250,311.8,252.6,319.7,256.3,327.2z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M282.5,571.1c-0.2,0-0.5,0.1-0.7,0.1c0.7,4.9,1.5,9.9,2.2,14.8c0.2,0,0.5-0.1,0.7-0.1
C284,581,283.2,576,282.5,571.1z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M368.3,615.3c-0.2,5.2-1.1,10.3-1.8,15.4c-0.3-0.1-0.7-0.1-1-0.1c0.4-3.1,0.8-6.2,1.2-9.3
c-1.1,2.9-1.4,5.9-2,8.9c-0.8,4-2.2,5.8-4.5,6.3c1.1-4.2,2.2-8.7,3.4-13.3c-1.7,4-2.8,8.2-4.4,12.2c-1,2.5-1.8,2.5-4.5,2
c3-4.1,4.4-8.7,4.3-13c-1.2,3.4-2.6,7.4-4.1,11.3c-0.8,2-2.3,2.7-4.4,2c3-3.9,3.8-8.5,4.2-13.8c-1.5,4.9-2.9,9.4-4.2,13.8
c-4.9-0.4-8.3-4.4-7.4-8.2c1-4.2,2.2-8.5,2.1-12.8c-0.1-10.2-0.8-20.4-1.5-30.6c-0.3-3.9-0.9-7.8-1.1-11.8l8-15.7
c1.8,3.6,2.3,7.1,0,10.9h0.9c0.4-1.6,0.9-3.2,1.3-5c0.7,1.2,1.3,2.3,2,3.5l2.9,8.7c-1,0.9-1.1,2.7-0.4,6.6c0.2-2.3,0.4-4.1,0.6-6
l0.2,0.5l0,0.1c1.6,7.8,2.9,15.5,6.7,22.5C367.3,605.2,368.5,610.2,368.3,615.3z M265.6,584.3c-0.3,0-0.7,0.1-1,0.1
c-0.2-5.3-0.5-10.7-0.7-16c-2.1,2-3.5,4.3-2.4,7.4c0,4.3,0,8.7,0,13c-0.3,0-0.6,0-0.8,0c0.3-4.3,0.6-8.6,0.9-13
c-2.1-0.2-2.1,1.3-2.3,2.7c-1,7.7-2.5,15.3-6.1,22.4c-5.2,10.3-4.1,20.7-0.6,31.2c0.3,0.8,0.9,1.4,1.4,2.2c0.1-0.1,0.3-0.2,0.4-0.3
c-0.1-0.7-0.3-1.3-0.3-1.5c1.1,1.3,2.3,2.9,3.7,4.5c0.1,0.1,1-0.5,1.5-0.7c-3.4-3.8-3.7-8.4-3.7-12.5c1.1,3.8,2.3,8.2,3.6,12.6
c1.5,0.5,3.1,1,4.6,1.6c-2.5-4.4-4.5-9-3.9-14.4c0.2,0.9,0.3,1.7,0.5,2.6c0.2,1,0.3,2,0.6,3c0.9,3,1.9,5.9,2.8,8.8
c0.3,0,0.6-0.1,0.9-0.1c7.2,1.2,11.4-3.4,9.4-10.2c-0.3-0.9-0.6-1.8-0.6-2.7c0.1-13,0.2-26,0.3-38.9c0-4.3,2.9-8.3,1.2-12.8
c-2.1-5.3-3.9-10.6-5.9-15.9c-0.5,0.2-1,0.3-1.5,0.5c0.2,1.1,0.4,2.2,0.8,3.2c1.6,4.3,3.3,8.6,4.9,13c-0.3,0.1-0.5,0.2-0.8,0.3
c-1.6-4.6-3.2-9.2-4.8-13.8c-0.4,0-0.8,0-1.1,0c-0.9,2.7-1.8,5.4-2.7,8.1C264.4,573.7,265,579,265.6,584.3z M270.2,580.1
c-0.2,0.1-0.5,0.1-0.7,0.2c-1.2-4.9-2.4-9.9-3.6-14.8c0.3-0.1,0.5-0.1,0.8-0.2C267.9,570.2,269,575.2,270.2,580.1z M263.3,624.2
c0.2-0.1,0.4-0.1,0.6-0.2c1.1,4,2.1,8.1,3.2,12.1c-0.2,0.1-0.4,0.3-0.6,0.4C265.5,632.4,264.4,628.3,263.3,624.2z M282.9,625.1
c0.8,5.3,1.6,10.7,2.4,16c0.3,0,0.7-0.1,1-0.1c0-4.2,0-8.4,0-12.5c0.2,0,0.4,0,0.6,0c0,5,0,10,0,15c0.3,0,0.7,0.1,1,0.1
c1.3-6.9,2.6-13.9,3.8-20.8c0.1,0,0.3,0,0.4,0c-0.5,4.4-1.1,8.9-1.7,13.9c5-10.2,7.2-20,3.4-30.7c-3.2-9.1-5.4-18.4-8.1-27.7
c-1.1-3.8-2-7.7-3-11.6c-0.4,0-0.7,0.1-1.1,0.1c-2,6.5-1.2,13.4-2,20.5c0-5.3,0-10.2,0-15c-0.3-0.1-0.5-0.1-0.8-0.2
c-1,5.7-2.6,11.4-3,17.2c-0.7,8.9-0.5,17.9-0.8,26.8c-0.2,6.2,0.4,12.1,4.9,16.9c-0.2-1.8-0.4-3.7-0.5-5.6c-0.1-2,0-4,0-5.9
c1.3,13.2,1.8,15.3,4.7,18c-0.6-4.7-1.3-9.5-1.9-14.2C282.4,625.1,282.7,625.1,282.9,625.1z M326.9,622.5c1.1,6.9,2.3,13.9,3.5,20.9
c2.6-1,1.2-3.1,1.3-4.7c0.1-1.7,0.1-3.5,0.2-5.2c0-1.7,0-3.4,0-5.1c0.2,0,0.4,0,0.6,0c0,4,0,8,0,12c0.3,0,0.7,0.1,1,0.1
c0.7-5.3,1.4-10.5,2.1-15.8c0.2,0,0.4,0,0.6,0.1c-0.5,4.5-1,9-1.6,14.5c4.1-6,4.1-12.1,4.7-18.1c-0.2,3.8-0.4,7.6-0.6,11.4
c1.6-4.3,3.8-8.8,3.8-13.2c0.1-12.1-0.5-24.2-1.1-36.2c-0.1-2.9-1.3-5.8-2-8.7c-0.2,0.1-0.3,0.1-0.5,0.2c0,4.1,0,8.2,0,12.5
c-0.4-5.9-0.9-11.7-1.3-17.5c-0.2,0-0.4,0.1-0.6,0.1c-0.8,5.4-1.7,10.9-2.5,16.3c-0.2-3.4,0.3-6.7,0.8-10c0.4-3.2,0.8-6.3,1.2-9.5
c-0.3-0.1-0.7-0.1-1-0.2c-0.2,0.4-0.4,0.8-0.5,1.3c-3.5,12.5-6.3,25.2-10.6,37.4c-4.5,12.7-0.7,23.7,4.4,34.8c0,0.1,0.3,0,0.3,0
c-1-5.7-2-11.4-3-17.1C326.4,622.6,326.6,622.5,326.9,622.5z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M298.4,406.9c-6.7-3.1-12.9-5.9-19.3-8.9c6.1-7.4,7.7-16,8.7-24.8c0.9-7.9,4.7-14.3,9.4-20.4
c3.3-4.3,6.6-8.7,9.9-13c-0.1-0.1,0.2,0.1,0.3,0.4c0.6,9.6,0.3,19-1.2,28.5c-1.2,7.7-3.5,15-7,22
C296.7,395.7,296.1,401.2,298.4,406.9z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M310.9,339.5c4.8,6.5,9.6,12.9,14.2,19.5c3.7,5.2,4.8,11.2,5.6,17.4c0.9,7.7,3,15,8.2,21.6
c-6.3,2.9-12.5,5.8-19.2,8.9c2.4-6.3,1.4-12-1.3-17.4c-7.8-15.6-8.2-32.3-7.7-49.1C310.6,340,310.8,339.7,310.9,339.5z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M236.2,268.3c9.1-2.3,14.2,2.7,18.5,8.5c2.6,3.6,4.9,7.5,7,11.4c4.3,8,10.9,12.9,19.5,15.1
c0.4,0.1,0.7,0.3,1.1,0.5c-2.4,2-9.8,2.8-13.6,1.8c-3.3-0.9-6.7-1.4-9.9-2.4c-2.7-0.9-5.3-2.2-7.8-3.6c-2-1.1-4.2-2.2-5.4-4
c-1.8-2.8-3.4-6.1-3.9-9.4C240.9,280,241.5,273.4,236.2,268.3z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M247.2,266.6c6.7-2.1,13.3-4.1,20-6.2c4.2,14.4,7.2,29.4,16,42.3c-6-2.2-11.9-4.5-15.7-9.8
c-2.7-3.7-4.8-7.7-7.1-11.6C256.9,275.5,252.9,270.2,247.2,266.6z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M257.9,543v-10.8c-0.2,0-0.3,0-0.5,0v7.2c-1.7-8.8-3-17.5-4.2-26.4c-1.2-9.3-2.3-18.6-3.3-28
c-1-9.2-0.9-18.3,1.1-27.4c0.7-2.3,1.6-5.1,2.5-7.3h0.3l0.3,4.1c-0.4,0.5-0.8,1-0.7,1.4c0.6,6,1.1,12.1,2,18.1
c1.2,7.8,3.7,15.5,3.4,23.6c-0.2,4.6,0.3,9.4,1,14C261.3,522.1,259.5,532.5,257.9,543z M358.1,547.8c-0.3-1.7-0.6-3.6-0.8-5.4
c-1-9.3-2.6-18.5-1.5-27.9c0.9-8.1,1.6-16.4,1.6-24.5c0-3.9-1.5-7.9-2.9-11.6c-1.6-4-4.6-5.1-9.1-4.5c-1.8,0.2-3.6,0-5.5,0
c-1.4,0-2.5,0.3-1.7,2.1l0,0.1c2.1,7.2,4.6,14.3,6.3,21.6c2.4,10.2,1.1,20.6,0.7,31c-0.1,4.6,1,9.3,2,13.9c0.9,4.3,2.3,8.5,3.5,12.7
c0.4,1.3,0.4,2.9,1,4c1.7,3.1,3.7,5.9,5.4,9c0.3,0.5,0.4,1.1,0.5,1.7c0.2,0.4,0.4,0.8,0.5,1.2l0.6-23.1H358.1z M286.8,473.8
c-1.9-0.2-2.3,0.1-2,2c1.1,6.6,2.2,13.1,3.1,19.7c1.6,11.5,3.5,23,4.2,34.6c0.6,10.5,0,21-0.4,31.5c-0.1,4.4-1,8.8-1.5,13.1
c1.1-1.4,1.6-2.8,1.9-4.4c2.3-11.9,4.8-23.7,6.7-35.6c1.6-10.2,2.5-20.5,3.7-30.7c0.6-4.9,0.8-9.9,1.4-14.8
c0.8-7.3,1.7-14.6,2.7-22.7C302.3,470.6,292,474.3,286.8,473.8z M327.5,572.1c-0.8-7.8-1.9-15.7-2.2-23.5c-0.5-9.9,0-19.8,1.7-29.7
c1.7-9.8,2.8-19.6,4.2-29.4c0.7-5.2,1.5-10.3,2.2-15.4c-7.9-1-15.5-1.6-21.9-7.3c4,36.6,5.6,73,16.2,108
C327.6,573.9,327.6,573,327.5,572.1z M279.8,475.9c0.5-1.6,0.1-2.2-1.7-2.2c-2,0.1-4-0.2-6-0.2c-3.3,0-6.5,0.3-8.1,3.8
c-1.1,2.5-2.7,5.1-2.8,7.6c-0.3,7.9-0.1,15.8,0.2,23.6c0.2,5.2,1.6,10.4,1.2,15.5c-0.9,11.7-2.6,23.3-3.8,35
c-0.4,4.3-0.1,8.8-0.1,13.2c2.2-6.6,7.2-12.2,7-19.5c0.2,0.5,0.3,1.1,0.5,1.7c4.6-7.2,4.2-15.2,4.6-23.1c0,2.7,0,5.4,0,8.1
c0.3,0,0.6,0.1,0.9,0.1c0.4-3.5,1.2-7.1,1-10.6c-0.6-11.6-1.8-23.1,1.3-34.5C275.7,488.2,277.9,482.1,279.8,475.9L279.8,475.9z
M279.8,475.9c-0.8,3.8-1.5,7.6-2.5,11.4c-3.2,12.1-4.3,24.4-2.5,36.8c1.6,11.2,4.3,22.2,6.6,33.2c0.7,3.5,2,6.9,3,10.3
c0.4,0,0.7-0.1,1.1-0.1c0-8.2-0.1-16.4,0-24.6c0.1-3.8,0.7-7.7,0.9-11.5c0.4-7.2,1-14.4,0.9-21.5c-0.2-6.7-1.2-13.3-1.9-20
c-0.6-5.2-1.2-10.4-2-16.7C281.8,474.4,280.8,475.2,279.8,475.9C279.8,475.9,279.8,475.9,279.8,475.9z M340.7,487.5
c-0.5-1.9-0.9-3.8-1.3-5.8c-0.1-0.5-0.2-1-0.3-1.5c-0.2-1-0.4-2-0.6-3c-0.1-0.5-0.2-1-0.3-1.4c0,0,0,0,0,0l0-0.1
c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1-0.1-0.2-0.1-0.2c-0.1-0.2-0.3-0.4-0.4-0.5c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.1-0.2-0.2
c-0.1-0.1-0.1-0.1-0.2-0.1c-0.2-0.1-0.3-0.2-0.5-0.2c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.2,0-0.4,0
c-0.7,0-1.4,0.2-2.2,0.5c0,2.7,0.2,5.4,0,8c-0.9,8.2-1.9,16.5-2.9,24.7c-1.1,8.6,0.4,17,1.1,25.5c0.9,11,1,22.1,1.4,33.1
c0,0.5,0.1,1,0.1,2.4c0.6-1.8,1-2.8,1.2-3.9c2.1-8.8,4.2-17.6,6.3-26.4C344.8,521.1,345.1,504.3,340.7,487.5z M364.5,450
c0,1.7,0,2.7,0,3.7c-0.2,4.4-0.2,8.7-0.6,13.1c-1.1,10.4-4.4,20.4-4.8,31.1c-0.4,13.6-2.3,27.1-0.3,40.7c0.4,2.4,0.7,4.9,1,7.4
c0,0.2,0.1,0.4,0.1,0.6c0.3,0,0.5-0.1,0.8-0.1v-16.9c0.2,0,0.3,0,0.4,0c0.1,1.1,0.1,2.1,0.2,3.2c1.2-3.7,1.9-7.5,2.4-11.2
c0.8-5.9,1.5-11.8,2.2-17.7c0.9-7.8,2-15.6,2.6-23.5C369.3,470.2,368.1,460.4,364.5,450z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M426.2,322.6c0.1,0.3,0.1,0.7,0.2,1v3.2c-0.7-1.7-1.4-3.3-2-4.8c-2.6-10.9-14.1-34-16.3-38.5
c-0.2-2.7,0.9-5.4,1.2-8.7c0,0,0,0,0.1,0.1c0.4,0.4,3.3,3.3,6.6,8.2C421.3,291.1,427.8,304.9,426.2,322.6z M387.6,321
c0,0.1,0,0.1,0,0.2c7.3,11.7,19.6,18.2,28.2,28c1.2-4,2.5-8.1,4-12.9C411.5,327.8,397.8,328,387.6,321z M426.2,330.1
c-0.9-2.3-1.9-4.6-2.9-6.9c-0.1,0-0.1,0-0.1,0s-3.9-9-8-18.1c-0.3-0.6-0.7-1.2-1-1.8c0.1,0,0.2,0,0.2,0c-2.8-6.3-5.5-12.4-6.9-15.2
c-1.4-2.5-2.9-4.9-4.2-7.5c-2.5-4.9-6.5-7.9-11.7-9.4c-1.5-0.4-2.8-1.1-4.3-1.6c-1.4-0.5-2.6-0.7-3.6-0.6
c-1.7,2.9-9.5,17.2-9.4,27.5c1.2,3.5,5.6,15.6,11.5,21.2c0.7-0.1,1.4-0.1,1.8,0.3c3.3,3.1,7.6,4.1,11.5,6c6.5,3.1,13.2,5.9,19.6,9.1
c1.1,0.5,1.6,2.3,2.4,3.4h6.8C427.5,334.4,427,332.2,426.2,330.1z M209.9,286.6c-0.2-3.7-0.5-7.3-0.7-11.5c-1.5,1.3-2.5,2.1-3.4,3
c-0.1-0.1-0.3-0.2-0.4-0.3c-7.9,10.7-11.3,34.1-12.5,44.9l1.5-3l0.1-0.3h0.1l18.4-36.5C211.9,284.1,210.9,285.4,209.9,286.6z
M239.6,286.4c0-4-0.7-8.1-1.2-12.1c-0.1-1.1-0.6-2.2-1.2-3.1c-1.3-2.2-3-3.3-5.7-2.1c-3.5,1.6-7.5,2.4-10.5,4.6
c-2.8,1.9-4.7,5.2-6.9,7.8c-0.3,0.3-0.5,0.6-0.8,0.9L194.8,323c-1.4,3.7-2.9,7.3-4.2,11c-0.3,0.8-0.3,1.7-0.4,2.4h6.7
c1.1-1.5,1.9-3.4,3.3-4.3c3-1.8,6.2-3.2,9.4-4.6c6.2-2.8,12.5-5.2,18.5-8.3c4.4-2.2,8.3-5.6,9.9-10.3c1.2-3.4,2.7-6.9,3.4-10.7
C242.2,293.7,239.6,290.4,239.6,286.4z M198.2,336.4c1.5,4.8,2.8,9,4,13c8.5-10,21-16.4,28.2-28.2
C220.1,327.9,206.5,327.8,198.2,336.4z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M350.1,356.2c1.1,6.8,2.6,13.2,3,19.7c0.3,4.4,0.5,9.4-3.2,13c-2.5,2.5-5.3,4.7-8.6,7.6
C340.7,381.5,343.4,368.5,350.1,356.2z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M267.3,356.3c7.3,12.1,9.9,25.1,9.4,38.9c-2.7-0.2-5-2.3-5.3-4.5c-0.8-0.1-1.6,0.1-1.9-0.3
c-2.6-3.3-6.1-6.3-3.8-11.2c-1.8-7,2.3-13.6,1.6-20.6C267.1,357.8,267.3,357.1,267.3,356.3z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M351.9,392.5c1-1.5,1.9-3,3-4.7c1.7,5.7,2.5,11.5,1.7,17.4c-0.2,1.5-0.3,3-0.6,4.5c-0.7,2.8-1.5,5.5-2.2,8.3
c-0.3,1.1-0.2,2.2-0.3,3.7c-3.7-7.2-7.6-13.9-16-16.6c3.4-2.4,6.5-4.2,9.2-6.5c2-1.7,3.5-4,5.3-6.1
C352,392.4,351.9,392.5,351.9,392.5z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M363.4,638.6c-1.1,3.4-2.8,6.8-3.2,10.2c-1.4,13-5.9,24.8-11.9,36.2c-1.2,2.2-2.1,4.5-3.7,6.7
c0.9-4.7,1.5-9.6,2.7-14.2c2.7-10.8,5.6-21.6,8.4-32.3C357.1,640.1,359.5,638.2,363.4,638.6C363.4,638.7,363.4,638.6,363.4,638.6z"
/>
<path class="st0" (click)="onClickPathBack($event)" d="M272.8,691.9c-1.3-2.9-2.7-5.8-4-8.7c-3.7-8-7.9-15.7-9.3-24.5c-0.9-5.8-2.2-11.5-3.4-17.2
c-0.2-1-1-1.9-1.4-2.9c3.4-0.3,5.8,0.9,6.6,4c3.3,11.9,6.5,23.9,9.5,35.9C271.9,682.9,272.5,687.4,272.8,691.9z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M277.2,573c-1.3-6.5-3.5-12.2-7.7-16.9c-0.4-0.4-0.5-1.3-0.4-1.9c1.5-5.4,3.1-10.8,4.6-16.1
c0.1-0.4,0.3-0.7,0.8-1.5c1.1,4.6,2,8.6,3,12.6c1.1,4.1,2.6,8,3.6,12.1c0.4,1.6,0.1,3.5-0.4,5C279.9,568.6,278.5,570.6,277.2,573z"
/>
<path class="st0" (click)="onClickPathBack($event)" d="M328.8,528.1c1.2,16.9,4.1,33.8,1.7,50.9C327.6,576.1,326.1,533.8,328.8,528.1z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M289.4,527.7c2.4,5.8,1,47.6-1.6,51.3C285,570.1,288,536.4,289.4,527.7z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M352.7,679.6c1.4,4.1,2.5,7.4,3.5,10.8c0.7,2.4-0.7,3.7-4.7,3.9c1.1,0.3,1.7,0.4,2.4,0.6
c-2.9,3.4-5.7,6.8-8.6,10.3c0-1.7-0.5-3.8,0.1-5.5C347.6,693.1,350.1,686.5,352.7,679.6z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M351.8,701c0.8,6.8,4,13.7-3.5,18.8C346.4,710.7,347.5,704.5,351.8,701z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M401.2,372.5c-1.1,2.7-2.2,5.3-3.3,7.9c-2.1-3.3-2.5-13.7-0.7-20.5c1.5,3.8,2.8,7.4,4.1,10.9
C401.5,371.3,401.4,372,401.2,372.5z M398.2,344.6c1-3.5-0.2-6.4-1.8-9.8c-0.3,0.8-0.5,1.3-0.7,1.7c-1.5,4.9-2.7,9.9-4.7,14.6
c-2.5,6.2-3.7,12.3-1.6,18.8c1.8,5.7,3.8,11.2,5.7,16.8c0.3,1,0.7,1.9,1.1,2.9c0.3-0.1,0.6-0.2,0.8-0.3c-0.9-4.4-1.8-8.8-2.5-13.3
c-1.1-6.3-1.2-12.6,1.4-18.7c1.1-2.5,1.8-5.1,2.3-7.8C398.5,348,397.8,346.1,398.2,344.6z M427.9,338c-1.7-0.5-3.7-0.4-5.5,0
c-1,0.2-2,1.6-2.3,2.6c-0.7,2.7-1.7,5.5-1.5,8.2c0.4,5.3,1.6,10.6,2.6,16.5c0.4-0.9,0.6-1.1,0.7-1.4c2.2-7.3,2.7-15.1,6.4-21.9
C428.9,340.9,428.4,338.1,427.9,338z M418.6,362.4c-0.5-3.4-0.3-7.6-2.3-9.8c-4.6-5.2-10.2-9.5-15.5-14.2c0,3,0.3,5.4,0,7.8
c-1.2,9.2-1.3,18.2,4,26.4c4.3,6.7,5.9,14.1,5.3,21.9c-0.2,3-1,6-1.5,8.9c0.8-10.6,0.4-20.8-6.1-30.2c-0.4,0.9-0.6,1.6-0.9,2.2
c-2.5,7.4-1.6,15.2-2.3,22.9c-0.1,0.9,0.3,2.1,0.9,2.8c1.9,2.1,3.9,4.1,6.1,5.9c0.7,0.6,2.3,1.1,2.8,0.7c1-0.7,2.3-2.3,2.2-3.2
c-1.7-8.7,3.5-16.3,3.7-24.7v3.8c0.3,0.1,0.5,0.1,0.7,0.2c1.2-3.8,2.9-7.4,3.4-11.3C419.6,369.2,419,365.7,418.6,362.4z
M218.7,395.2c-0.2-2.8-0.1-5.7-0.4-8.5c-0.6-4.4-1.4-8.7-2.1-13.1c-6.9,9.3-7.9,19.4-5.7,30.7c-0.7-0.8-1-1.1-1-1.3
c-2.3-9.9-2.8-19.6,2.9-28.8c2.8-4.4,5.3-9.1,5.4-14.6c0.1-6.9,0-13.8,0-21.4c-5.1,4.2-9.9,8-14.3,12.1c-1.4,1.3-2.2,3.5-2.8,5.5
c-0.8,2.8-1.1,5.7-1.7,8.6c-1.4,7.4,1,13.9,4.8,20.9v-6.2c0.6,4.7,1.6,9.3,2.4,13.9c0.3,1.8,0.5,3.6,0.6,5.4c0.1,2.1-0.2,4.3,0,6.4
c0.2,2,1.3,3.6,3.5,3.1C214.6,406.7,219.1,399.7,218.7,395.2z M221.6,389.8c0.3-0.7,0.7-1.3,0.9-2c1.7-5.1,3.4-10.3,5.2-15.4
c2-5.7,2.7-11.5,0.7-17.4c-2-5.7-3.9-11.4-6-17c-0.2-0.4-0.8-0.9-1.3-1c-0.5,0-1.3,0.3-1.4,0.7c-0.4,1-0.9,2.2-0.7,3.2
c0.6,4.7,0.5,9.7,2.3,13.9c3.5,8.4,3.4,16.6,1.5,25.2c-0.7,3.2-1.2,6.4-1.8,9.6C221.2,389.6,221.4,389.7,221.6,389.8z M188.9,338.7
c0.4,1.5,0.7,3.1,1.1,4.6c1.3,4,2.7,7.9,3.9,11.9c0.9,3.1,1.6,6.3,2.5,10.2c0.9-3.9,1.6-6.9,2.2-9.9c1-4.8,1.6-9.6-0.4-14.3
C196.4,336.9,192.4,335.9,188.9,338.7C188.8,338.8,188.9,338.7,188.9,338.7z M217.6,369c-0.3,0.9-1.3,2-1,2.7c1,3,2.4,6,3.9,9.6
c1.2-7.6,2.4-14.4,0.2-22.1C219.5,363,218.6,366,217.6,369z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M334.6,683.7c0,3.5,0,7.1,0,10.6c-0.3,0-0.6,0-0.9,0c0-3.5,0-7.1,0-10.6C334,683.7,334.3,683.7,334.6,683.7z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M263.7,259.4c-8.3,2.3-16.7,5.4-25.2,6.1c-5.1,0.4-9.6,2-13.9,3.9c-4.2,1.9-7.6,5.9-11.3,9
c-0.6,0.5-1,1.2-1.8,2.2c0-3.7,0.7-6.9-0.2-9.8c-1.4-5-0.3-9.6,1.5-13.9c4.7-11.7,12.7-19.7,25.2-23.1c4.5-1.2,6.8,1.2,9.1,4
c4.1,5.2,9.4,9,14.8,12.6c1.2,0.8,2.5,1.9,3.3,3.1C267.4,256.3,266.9,258.5,263.7,259.4z M406.6,269.3c0.9-4.5,0-8.6-1.6-12.5
c-4.7-11.6-12.7-19.9-25.2-23c-2.7-0.7-5.1-0.7-7,1.8c-5,6.4-11.4,11.2-18.1,15.7c-1.2,0.8-1.9,2.5-2.7,3.8
c-1.6,2.6,0.1,3.7,2.2,4.3c8.7,2.2,17.3,5,26.1,6.3c6.3,0.9,12.2,2.5,17.3,6c3.5,2.4,6.3,5.8,9.5,8.8
C406.9,277,405.9,273,406.6,269.3z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M335.8,192.7c-1.5-1.7-2.4-3.2-1.6-5.8c0.4-1.3,0.7-2.7,0.9-4.1c0.1-0.7,0.2-1.4,0.3-2.1c0-0.2,0.1-0.5,0.1-0.7
c0.2-1.2,0.3-2.4,0.5-3.6c0,0,0,0-0.1,0.1l0.1-0.1c0,0,0,0,0,0c0.4-0.3,0.8-0.6,1.2-0.9c1.2-0.9,2.5-1.9,3.8-2.9
C343.5,178,340.3,189.9,335.8,192.7z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M292.1,217.3c-0.2-2.6,0-4.6-0.5-6.4c-1.6-5.8,2-10.4,3.7-15.4c0.3-0.9,3-1,4.7-1.5c0.8,7.1-0.6,13.4-2.5,19.4
C296.9,215.1,293.9,216,292.1,217.3z M306.3,196.8c-0.6-2.8-1.6-3.3-4-2.4c-0.4,5.8-0.9,11.4-1.3,16.8
C305.4,208.4,307.6,202.9,306.3,196.8z M289.2,202.6c0.3-0.1,0.5-0.1,0.8-0.2c1.2-2.7,2.3-5.4,3.4-8c-2.7-1-5.1-1.9-8.5-3.1
C286.5,195.5,287.8,199,289.2,202.6z M325.5,212.6c1.6-3.8,2-7.4-0.3-11c-0.7-1.1-1.5-2.3-1.6-3.6c-0.4-4-2.6-4.3-6.1-3.2
c0.3,3.7,0.4,7.6,1.1,11.3c0.9,4.7,1,10.2,8.2,10.6C326.4,215.3,325.1,213.6,325.5,212.6z M315.7,193.5c-1.2,0.7-3.2,1-3.6,2
c-2.4,5.7,0.8,13.7,4.9,15.6C316.6,205.7,316.1,200,315.7,193.5z M324.5,194.4c1.2,2.8,2.4,5.4,3.6,8c0.3,0.1,0.5,0.1,0.8,0.2
c1.3-3.6,2.6-7.1,4.2-11.3C329.6,192.5,327.1,193.4,324.5,194.4z"/>
<path d="M266.7,565.2c1.2,5,2.3,9.9,3.5,14.9c-0.2,0.1-0.5,0.1-0.7,0.2c-1.2-4.9-2.4-9.9-3.6-14.8
C266.2,565.4,266.4,565.3,266.7,565.2z"/>
<path d="M263.8,637.7c-2.5-4.4-4.5-9-3.9-14.4c0.2,0.9,0.3,1.7,0.5,2.6c0.2,1,0.3,2,0.6,3C261.9,631.9,262.8,634.8,263.8,637.7
C263.8,637.8,263.8,637.7,263.8,637.7z"/>
<path d="M263.9,568.4c0.6,5.3,1.2,10.6,1.8,15.9c-0.3,0-0.7,0.1-1,0.1C264.3,579.1,264.1,573.7,263.9,568.4
C263.9,568.4,263.9,568.4,263.9,568.4z"/>
<path d="M259.3,636.1c-3.4-3.8-3.7-8.4-3.7-12.5C256.7,627.4,257.9,631.8,259.3,636.1C259.2,636.2,259.3,636.1,259.3,636.1z"/>
<path d="M266.6,636.5c-1.1-4.1-2.2-8.2-3.2-12.3c0.2-0.1,0.4-0.1,0.6-0.2c1.1,4,2.1,8.1,3.2,12.1C267,636.2,266.8,636.4,266.6,636.5
z"/>
<path d="M261.5,575.7c0,4.3,0,8.7,0,13c-0.3,0-0.6,0-0.8,0C260.9,584.4,261.2,580.1,261.5,575.7
C261.5,575.7,261.5,575.7,261.5,575.7z"/>
<path d="M282.5,571.1c0.7,4.9,1.5,9.9,2.2,14.8c-0.2,0-0.5,0.1-0.7,0.1c-0.7-4.9-1.5-9.9-2.2-14.8
C282,571.2,282.3,571.1,282.5,571.1z"/>
<path d="M278.9,155.6c0,1.2-0.1,2.5-0.2,3.7C278.7,158,278.8,156.8,278.9,155.6z"/>
<path d="M286.4,143.4c0,0-0.1,0-0.1,0.1C286.3,143.4,286.3,143.4,286.4,143.4C286.4,143.4,286.4,143.4,286.4,143.4z"/>
<path d="M274.6,178.7c-0.1-0.4-0.1-0.8-0.2-1.2C274.5,177.9,274.5,178.3,274.6,178.7z"/>
<path d="M207.3,270.2c0.1-1.3,0.2-2.6,0.4-3.8C206.9,267.7,206.6,268.9,207.3,270.2z"/>
<path d="M194.5,319.3l-0.1,0.3L194.5,319.3L194.5,319.3z M194.5,319.3l-0.1,0.3L194.5,319.3L194.5,319.3z"/>
<path d="M285.6,687.9c0.2,1.7,0.3,3.6,0.3,5.5c0.1-0.1,0.2-0.2,0.2-0.3C285.9,691.4,285.8,689.6,285.6,687.9z"/>
<path d="M267.8,699.4c0.5,0.4,1.1,0.8,1.5,1.2C268.9,700.1,268.4,699.7,267.8,699.4z M261.5,685.5l-0.1,0.1
c-0.3,1.2-0.6,2.4-1.2,3.7c1.4-0.5,2.3-1.1,2.8-1.9L261.5,685.5z"/>
<path class="st0" (click)="onClickPathBack($event)" d="M272.4,696.9c-0.2,1.7-0.5,3.6-0.7,5.4c-0.5-0.4-1.3-1-2.3-1.7c-0.5-0.5-1-0.9-1.5-1.2
c-3.3-2.5-7.3-5.8-7.4-6.8c-0.2-1.8,2.7-5,2.7-5l0,0c1.7-2.2,0.6-5.4,1.7-8.3C267.5,685.5,269.9,691.2,272.4,696.9z"/>
<path d="M331.2,707.4c-0.2,0.3-0.4,0.6-0.7,0.9C330.9,707.7,331.1,707.3,331.2,707.4C331.1,707.3,331.1,707.4,331.2,707.4z"/>
<path d="M337.4,716.3c-0.2,0-0.5,0-1,0c-0.3,0-0.5-0.1-0.8-0.1C336.3,716.3,336.9,716.3,337.4,716.3z"/>
<path d="M263.1,687.5c-0.6,0.8-1.5,1.4-2.8,1.9c0.5-1.2,0.9-2.5,1.2-3.7l0.1-0.1L263.1,687.5z"/>
<path d="M268.1,702.6l-1.9-1.6C267,701.5,267.6,702,268.1,702.6z"/>
<path d="M384.4,715.9L384.4,715.9L384.4,715.9C384.4,715.9,384.4,715.9,384.4,715.9z"/>
<path d="M359.8,576.2L359.8,576.2c0,0.3,0,0.5,0.1,0.8C359.8,576.7,359.8,576.5,359.8,576.2z M357.7,576.8c-1,0.9-1.1,2.7-0.4,6.6
c0.2-2.3,0.4-4.1,0.6-6L357.7,576.8z"/>
<path d="M350,557.7c0.2,0.4,0.4,0.7,0.6,1.1l0.4-0.7L350,557.7z"/>
<path d="M358.1,578l-0.2-0.5c0-0.1,0-0.1,0-0.2C358,577.5,358.1,577.8,358.1,578z"/>
<path d="M360.4,581.1c-0.2-1.3-0.4-2.6-0.5-4V577c0,0,0,0.1,0,0.1v0C360.1,578.3,360.3,579.6,360.4,581.1z"/>
<path d="M360.7,545.2v1.2c-0.3,0-0.5,0.1-0.8,0.1c0-0.2-0.1-0.4-0.1-0.6L360.7,545.2z"/>
<path d="M359.8,576.2c0,0.3,0.1,0.5,0.1,0.8C359.8,576.7,359.8,576.5,359.8,576.2L359.8,576.2z"/>
<path d="M359.9,577.1L359.9,577.1C359.9,577.1,359.9,577.1,359.9,577.1L359.9,577.1z"/>
<path d="M351,558l-0.4,0.7c-0.2-0.4-0.4-0.7-0.6-1.1L351,558z"/>
<path d="M253.8,449.7c-0.1,0.2-0.2,0.4-0.3,0.6h0.3L253.8,449.7z"/>
<path d="M226,436.2c0.3,0,0.6-0.2,0.9-0.4C226.4,436,226.1,436.2,226,436.2z"/>
<path d="M234.3,430.2c-0.1,0.2-0.2,0.5-0.4,0.7c-0.1,0.2-0.3,0.4-0.5,0.6C233.6,431,234,430.6,234.3,430.2z"/>
<path d="M234.7,415.3c-0.1,0-0.2,0-0.3-0.1v-0.2C234.5,415.2,234.6,415.2,234.7,415.3z"/>
<path d="M338.6,289.4c-0.2,0.5-0.4,1-0.7,1.5c-0.1,0-0.1,0-0.1,0C338,290.3,338.3,289.9,338.6,289.4z"/>
<path d="M345.4,270.7c-0.1,0.3-0.2,0.6-0.2,0.9c0.1-0.6,0.1-1,0.1-1L345.4,270.7z"/>
<path d="M372.3,299C372.3,299,372.3,299,372.3,299C372.3,299,372.3,299,372.3,299C372.3,299,372.3,299,372.3,299z"/>
</svg>

</div>