ion-header {
    background: #000;
}

ion-content {
    --background: url(../../../assets/images/role.png) 0 0/100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    --overflow: hidden;
}


ion-title {
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 17px;
    letter-spacing: 4px;

}

.header-img {
    display: flex;
    justify-content: center;

    img {
        height: 50px;

    }
}


.steps {
    height: 5px;
    background: rgb(78, 78, 78);
    border-radius: 10px;
}

.steps.active {
    background: #c1c1c1;
}




.body {
    color: #fff;

    .p1,
    .p2 {
        font-family: Oswald, serif;
        text-align: justify;
        font-size: 0.9rem;
        letter-spacing: 1px;
        margin-top: 5%;
        line-height: 1rem;
    }

    .p3 {
        font-family: Oswald, serif;
        text-align: justify;
        font-style: italic;
        margin-top: 5%;
        line-height: 0.9rem;
        font-size: 0.8rem;
    }

}

.main_container {
     /* height: 100%; */
    /* padding-bottom: 10%; */
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 5%;
    padding-right: 5%;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin-top: 6%;
    p {
        font-family: Oswald, serif;
        text-align: center;
        font-size: 0.75rem;

        /* letter-spacing: 1px; */
        // margin-top: 2%;
        line-height: 0.9rem;
        color: #fff;

        margin: 0;

    }
}



.slider {
    // height: 60%;
    margin-top: 7%;
}

ion-slide {
    // padding-bottom: 15px;
}

.footer {
    margin-top: 7%;
    margin-bottom: 7%;

    p {
        font-family: Oswald, serif;
        text-align: center;
        font-size: 0.75rem;
        /* letter-spacing: 1px; */
        color: #fff;

    }
}

ion-card-header {
    padding-right: 5%;
    padding-left: 5%;
    height: 38px;
}

ion-card-title {
    font-family: Oswald, serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;


}

.select-plan {
    --background: var(--ion-btn-custom-color);
}

ion-card {
    margin: 0;
}
ion-card-content {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;

    // margin-top: 7%;
    // margin-bottom: 7%;

    p {
        font-family: Oswald, serif;
        font-size: 0.7rem;

        text-align: justify;
        color: #000;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    ion-button {
        width: 100%;
    }
}


.slide_image {
    height: 185px;
    object-fit: cover;
    width: 100%;
    object-position: center;
}


.skip-btn {
    margin-top: 5px;
    --background: transparent;
    --color: var(--ion-color-primary);

}

.price_section {
    position: absolute;
    top: 4%;
    left: 4%;
    text-align: left;

    .p1 {
        font-family: Oswald, serif;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .p2 {
        font-family: Oswald, serif;
        color: #d2d1d1;
        font-size: 10px;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }



}







.text-bold {
    font-weight: bold;
}