<ion-header class="ion-no-border">
    <div class="header-img">
        <img src="assets/icon/header.png" />
    </div>
</ion-header>

<ion-content>
    <div class="main_container">
        <div class="description_section">
            <div class="header">
                <p>
                    Commencez dès aujourd’hui à reprendre un rythme de vie sain. Sélectionnez ci-dessous l’une des formules d’abonnement suivantes pour accéder au contenu illimité de l’application Transformatics.
                </p>
            </div>
        </div>

        <div class="slider">
            <ion-slides pager="false" class="plan-slider" [options]="planSlideOptions" #slides class="select-plan">
                <ion-slide>
                    <ion-card>
                        <img src="assets/images/payment_slide_1.png" class="slide_image" />
                        <div class="price_section">
                            <p class="p1">24.90€ /mois</p>
                            <p class="p2">Ou 0.83 /jour</p>
                        </div>
                        <ion-card-header>
                            <ion-card-title>
                                Abonnement avec engagement de 12 mois
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p>
                                Notre formule la plus adéquate. Vous accèderez à l’intégralité fonctionnelle du système Transformatics, ses spécificités, ses check-ups et son coaching personnalisé. Prenez enfin le contrôle de votre rythme de vie et changez votre façon de voir les choses
                                !
                            </p>
                            <ion-button class="select-plan" (click)="openPaymentModal()">
                                Sélectionner la formule
                            </ion-button>
                            <ion-button (click)="goToBodyScan()" class="skip-btn" fill="clear">
                                Skip
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>

                <ion-slide>
                    <ion-card>
                        <img src="assets/images/payment_slide_2.png" class="slide_image" />
                        <div class="price_section">
                            <p class="p1">24.90€ /mois</p>
                            <p class="p2">Ou 0.83 /jour</p>
                        </div>
                        <ion-card-header>
                            <ion-card-title> Abonnement sans engagement </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p>
                                Si vous ne souhaitez pas vous lancer dans un engagement à l’année, cette formule est idéale. Vous payez mensuellement et pouvez résilier votre abonnement quand bon vous semble. Certaines fonctionnalités vous seront cependant inaccessibles.
                            </p>
                            <ion-button class="select-plan">
                                Sélectionner la formule
                            </ion-button>
                            <ion-button (click)="goToBodyScan()" class="skip-btn" fill="clear">
                                Skip
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>

                <ion-slide>
                    <ion-card>
                        <img src="assets/images/payment_slide_3.png" class="slide_image" />
                        <div class="price_section">
                            <p class="p1">24.90€ /mois</p>
                            <p class="p2">Ou 0.83 /jour</p>
                        </div>
                        <ion-card-header>
                            <ion-card-title>
                                Abonnement limité – Training only
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p>
                                Pour moins de 5€/mois, vous avez la possibilité de créer vos programmes d’entraînement et de les télécharger directement sur votre smartphone. Un outil indispensable si vous jugez que l’application dans son ensemble ne vous sera pas utile.
                            </p>
                            <ion-button class="select-plan" routerLink="/body-scan-steps">
                                Sélectionner la formule
                            </ion-button>
                            <ion-button (click)="goToBodyScan()" class="skip-btn" fill="clear">
                                Skip
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </div>

        <div class="footer">
            <p>
                En sélectionnant une formule d’abonnement, vous acceptez les Conditions et Termes de Vente et la Politique de Confidentialité. La souscription sera automatiquement renouvelée 24 heures avant la date anniversaire de cette dernière.
            </p>
        </div>
    </div>
</ion-content>