<ion-content>
    <div class="banner">
        <img src="assets/images/metrialstatus.png">
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size=12>
                <div class="ebook-title">
                    <h4>ALIMENTATION & COMPLEMENTATION</h4>
                </div>
            </ion-col>

            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo6.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo7.png">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo8.png">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>