<ion-content>
    <div class="banner">
        <img src="assets/images/metrialstatus.png">
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size=12>
                <div class="ebook-title">
                    <h4>MATERIEL SPORTIF</h4>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo9.png">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo10.png">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo11.png">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>