ion-content {}

ion-toolbar {
    border-bottom: 1px solid #c8c8c8;
    // height: 7%;
    padding-right: 10px;

    ion-text {
        display: block;
    }

    ion-buttons {
        ion-button {
            ion-img {
                width: 30px;
            }
        }
    }
}


.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}

.toggle_btn_section {
    width: 100%;
    --padding-start: 0;

    ion-toggle {
        height: 25px;
    }
}


.header_row {

    padding-left: 3%;
    padding-right: 3%;
}

.note_book_list_row {

    padding-left: 3%;
    padding-right: 3%;

    ion-col {
        ion-item {
            ion-avatar {
                display: flex;
                justify-content: center;

                ion-img {
                    width: 23px;
                    height: 17px;
                    align-self: center;
                }
            }

            ion-label {
                padding-left: 7px;
            }
        }
    }
}



.profile-viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 12px;
}

.profile-viewall:before {
    content: "";
    position: absolute;
    background: #c1c1c1;
    height: 1px;
    width: 100%;
    top: 19px;
    left: 0;
}

.tick_col {
    display: flex;
    justify-content: center;

}

.list_section_row {
    ion-col {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.tick_icon_background_add {
    ion-img {
        width: 30px;
    }

    display: flex;
    justify-content: center;
    align-self: center;
}

.tick_icon_background {
    height: 25px;
    background: #b2a847;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;

    ion-icon {
        align-self: center;
        font-weight: bold;
        color: #fff;
    }
}


.card_data_section {
    ion-card {
        width: 100%;
        // height: 210px;
    }
}

.my_note_row_two_section {
    ion-grid {
        ion-row {
            // padding-right: 3%;
            display: flex;
            justify-content: center;

            p {
                margin: 0;
            }
        }
    }
}

// .card-box:before {
//     content: "";
//     border-right: 20px solid #F4B183;
//     border-top: 20px solid #F4B183;
//     border-left: 20px solid #ff000000;
//     border-bottom: 20px solid #ff000000;
//     position: absolute;
//     top: 0;
//     right: 0;
//     z-index: 999;
// }

// .card-box {
//     box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
//     padding: 5px;
// }

.ribbon-wrapper-1 {
    width: 51px;
    height: 65px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ribbon-1 {
    font: bold 15px Sans-Serif;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: rotate( 47deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: 0px;
    top: 16px;
    height: 44px;
    width: 150px;
    background: var(--ion-btn-custom-color);
    color: #fff;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    letter-spacing: 0.5px;
    z-index: 1;
}
.validate_btn {
    width: 100%;
    --background: var(--ion-btn-custom-color)
}