<ion-toolbar class="ion-border">
  <ion-buttons
    slot="end"
    (click)="closeModal()"
    *ngIf="showRow == 'first' || showRow == 'third'"
  >
    <ion-button>
      <ion-img
        src="assets/icon/more_notebook.png"
        class="large_text_bold close-btn-icon"
      ></ion-img>
    </ion-button>
  </ion-buttons>

  <ion-text class="large_text_bold ion-text-center">
    {{
      showRow == "first"
        ? "MON CARNET"
        : showRow == "second"
        ? "PERSONNALISER MON CARNET"
        : "MON CARNET"
    }}
  </ion-text>
</ion-toolbar>

<ion-content>
  
  <!-- My Notebook-->
  <ion-row *ngIf="showRow == 'first'">
    <ion-grid>
      <ion-row class="header_row ion-margin-top">
        <ion-label class="medium_text_bold"> LUNDI 4 SEPTEMBRE </ion-label>
      </ion-row>

      <ion-row class="ion-margin-top note_book_list_row">
        <ion-col size="12">
          <ion-item lines="none" >
            <ion-avatar>
              <ion-img src="assets/icon/tick-plain.png"></ion-img>
            </ion-avatar>
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Vacuum </ion-label>
              <ion-label class="small_text_light"> 10 minutes </ion-label>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none">
            <ion-avatar>
              <ion-img src="assets/icon/tick-plain.png"></ion-img>
            </ion-avatar>
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Méditation </ion-label>
              <ion-label class="small_text_light"> 20 minutes </ion-label>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none">
            <ion-avatar>
              <ion-img src="assets/icon/close-faded.png"></ion-img>
            </ion-avatar>
            <ion-label class="list_section_title">
              <ion-label class="medium_text_light">
                Jeune intermittent
              </ion-label>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <div class="profile-viewall">
          <ion-button
            >VOIR LES QUESTIONNAIRES DES JOURS PRECEDENTS

            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-row>

      <ion-row class="ion-margin-top ion-margin-bottom" *ngIf="showRow == 'first'">
        <ion-button expand="full" class="validate_btn" (click)="showRow = 'third'">
          Lancer le questionnaire du jour
        </ion-button>
      </ion-row>
   
    </ion-grid>

    

  </ion-row>

  <!-- CARNET SUITE -->

  <ion-grid class="ion-margin-top list_section_row" *ngIf="showRow == 'second'">
      <ion-row class="row-padding-left">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Vacuum </ion-label>
              <ion-label class="medium_text_light"> 10 minutes </ion-label>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list_section_row row-padding-left">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Méditation </ion-label>
              <ion-label class="medium_text_light">
                Evacuation du stress
              </ion-label>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background">
            <ion-icon name="checkmark-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <!-- Add Rows -->
      <ion-row class="list_section_row row-padding-left">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Jeune intermittent </ion-label>
              <ion-label class="medium_text_light"> Alimentation </ion-label>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background_add">
            <ion-img src="assets/icon/add.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list_section_row row-padding-left">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Alcool </ion-label>
              <ion-label class="medium_text_light">
                Peu recommandable pour un sportif !
              </ion-label>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background_add">
            <ion-img src="assets/icon/add.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="list_section_row">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Fumer </ion-label>
              <ion-label class="medium_text_light">
                Peu recommandable pour un sportif !
              </ion-label>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background_add">
            <ion-img src="assets/icon/add.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="list_section_row">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Marcher  </ion-label>
              <ion-label class="medium_text_light">
                activité physique !
              </ion-label>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background_add">
            <ion-img src="assets/icon/add.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="list_section_row">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text">Souplesse ou étirements</ion-label>
              <ion-label class="medium_text_light">
                activité physique !
              </ion-label>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background_add">
            <ion-img src="assets/icon/add.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="list_section_row">
        <ion-col size="10">
          <ion-item lines="none">
            <ion-label class="list_section_title">
              <ion-label class="medium_text"> Consommer 5 fruits et légumes   </ion-label>
              <ion-label class="medium_text_light">
                alimentation
              </ion-label>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-col>

        <ion-col size="2" class="tick_col">
          <div class="tick_icon_background_add">
            <ion-img src="assets/icon/add.png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <div class="profile-viewall">
          <ion-button (click)="showRow = 'third'">
            VOIR TOUS LES THEMES

            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-row>

      <ion-row class="ion-margin-top card_data_section row-padding-left">
        <ion-card mode="ios" class="card-box">
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar>
                <ion-img
                  src="assets/icon/transformatics_small_logo.png"
                ></ion-img>
              </ion-avatar>
              <ion-label class="list_section_title">
                <ion-label class="medium_text">
                  NOTE SUR LES THEMES DU CARNET
                </ion-label>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-label class="small_text">
              Afin de créer un carnet riche en informations, sélectionnez les
              différents thèmes que vous souhaitez afficher en récurrence sur
              votre carnet. Ceux-ci seront directement intégrés dans votre base
              de données et vous permettra de les sélectionner plus rapidement
              et de gagner du temps !
            </ion-label>
          </ion-card-content>

          <div class="ribbon-wrapper-1">
            <div class="ribbon-1">Ribbon</div>
        </div>
        
        </ion-card>
      </ion-row>

  </ion-grid>

  <!--  CARNET SUITE-->
  <ion-row
    class="my_note_row_two_section ion-margin"
    *ngIf="showRow == 'third'"
  >
    <ion-grid>
      <ion-row>
        <ion-label> Hier, avez-vous… </ion-label>
      </ion-row>
       <ion-row>
        <p class="small_text_light">
          Swipez vers la droite la ou gauche pour répondre
        </p>
       </ion-row>
       
      
      
      <ion-row>
        <app-swiper-card [cards]="cards" (choiceMade)="logChoice($event)"></app-swiper-card>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-content>
