<ion-content>
    <div class="titlebox">
        <div class="titlebox-arrow">
            <div>
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
        </div>
        <div class="title-img">
            <img src="assets/images/edit_physical_activity.png">
        </div>
        <div class="titlebox-text">
            <h5>DAY 2</h5>
            <h4>PULL</h4>

        </div>

    </div>

    <ion-grid>
        <div class="titlebox-add" routerLink="/pendant-la-seance">
            <ion-icon name="play-outline"></ion-icon>
        </div>
        <ion-row>
            <ion-col size="12">
                <h4 class="f14">
                    SEANCES D’ENTRAINEMENT TRANSFORMATICS
                </h4>
            </ion-col>
            <ion-col size="12">
                <ion-item>
                    <img slot="start" src="assets/images/MODELE 2D TRAINING.png" style="width: 100px;">
                    <ion-label>
                        <h4>Groupes musculaires sollicités : </h4>
                        <p>Pectoraux</p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12"></ion-col>
            <h4 class="f14">
                EXERCISE PREVIEWS
            </h4>
            <ion-col size="12">
                <ion-slides [options]="categories" pager="false">
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/musculetion-auto.png">
                                <ion-icon name="play-circle-outline"></ion-icon>
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>[Nom de l’exercice]</h4>
                                <h6>3 séries</h6>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/payment_slide_3.png">
                                <ion-icon name="play-circle-outline"></ion-icon>
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>[Nom de l’exercice]</h4>
                                <h6>3 séries</h6>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/payment_slide_2.png">
                                <ion-icon name="play-circle-outline"></ion-icon>
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>[Nom de l’exercice]</h4>
                                <h6>3 séries</h6>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/musculetion-auto.png">
                                <ion-icon name="play-circle-outline"></ion-icon>
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>[Nom de l’exercice]</h4>
                                <h6>3 séries</h6>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="musculetion-vid">
                            <div class="musculetion-vid-img">
                                <img src="assets/images/musculetion-auto.png">
                                <ion-icon name="play-circle-outline"></ion-icon>
                            </div>
                            <div class="musculetion-vid-title">
                                <h4>[Nom de l’exercice]</h4>
                                <h6>3 séries</h6>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>