<ion-content>
  <!-- <select #select (change)="SelectLang(select.value)">
        <option value="fr">fr</option>
    <option value="en">En</option>
</select> -->
  <div>
    <!-- <mat-form-field class="example-user-input language" slot="secondary">
            <mat-select value="fr" (selectionChange)="SelectLang($event.value)">
               
                <mat-option value="fr">French</mat-option>
                <mat-option value="en">English</mat-option>
            </mat-select>
        </mat-form-field> -->
  </div>
  <div class="lending-content-box-">
    <div class="lending logo ">
      <img class="logo-img " src="assets/icon/Picture1.png ">

    </div>
    <!-- <div class="logo-title ">TRANSFORMATICS
        </div> -->
    <div class="lending-box">
      <div class="lending-box-title">
        <!-- <h2>{{ 'LENDING_PAGE.title-one' | translate }} <br>{{ 'LENDING_PAGE.title-two' | translate }}
                </h2> -->

        <h2>
          <span class="gray-text"> DEVENEZ </span>
          <br />

          <span class="orange-text">LA PERSONNE</span>

          <br />

          <span class="gray-text"> QUE VOUS</span>

          <br />
          <span class="gray-text"> AVEZ </span>
          <br />

          <span class="gray-text"> TOUJOURS </span>
          <br />

          <span class="gray-text"> VOULU </span>
          <br />

          <div class="orange-text">ETRE.</div>
        </h2>
      </div>
    </div>

    <div class="text-content">
      <div class="lending-box-content">
        <ion-button class="logIn" expand="full " shape="round " (click)="goToIdentify()">
          S’IDENTIFIER
        </ion-button>
      </div>
      <div class="lending-box-content">
        <ion-button class="sign-Up" expand="full" shape="round" (click)="goToIdentify()">
          S’INSCRIRE
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>