ion-content {
    --background: url(../../../assets/images/landing_page_background_1.png) 0 0/100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    --overflow: hidden;
}

.lending.logo {
    position: relative;
    // text-align: center;
    width: 100%;
    // margin: 0 auto;
    padding-top: 10%;
}

.lending-box {
    position: relative;
    width: 100%;
    // position: absolute;
    // bottom: 10%;
    // width: 100%;
    padding-top: 5%;
}

.lending-content-box- {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(0, 0, 0, .6);
    h2 {
        font-family: Oswald-Bold, sans-serif;
        line-height: 1.3;
        .gray-text {
            color: #a4a4a4;
        }
        .orange-text {
            color: var(--ion-color-primary);
        }
    }
}

.logIn {
    --background: var(--ion-btn-custom-color);
    color: #000;
    --border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    height: 45px;
    font-family: Oswald, sans-serif;
}

.sign-Up {
    --background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    height: 45px;
    font-family: Oswald, sans-serif;
}

// .lending-box-title {
//     background: linear-gradient(290deg, #fff, #fff);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent!important;
//     position: relative;
// }
.logo-title {
    color: #fff;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    top: 18%;
    left: 0;
    position: fixed;
    z-index: 5;
    transform: rotate(90deg);
}

.language {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 85px;
    z-index: 5;
}

// ::ng-deep .mat-select-arrow {
//     color: #ffffff;
// }
// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
//     color: #ffffff !important;
// }
// ::ng-deep .mat-select-value {
//     color: #ffffff;
// }
// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
//     background-color: transparent;
// }
// ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
//     display: none;
// }
// ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//     color: #000;
// }
// ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//     color: #fff;
// }
// ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
//     color: #000000;
// }
// ::ng-deep mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//     color: #fff;
// }
// .lending-box:before {
//     content: "";
//     position: fixed;
//     height: 100%;
//     width: 100%;
//     background: linear-gradient(transparent, #4c1811);
//     left: 0px;
//     top: 0;
//     z-index: 0;
// }
.text-content {
    position: absolute;
    bottom: 2%;
    width: 90%;
}