<ion-row class="main_container">
  <ion-col size="12">
    <p class="performance_text">
      Vous avez ci-dessus accès à toutes les données relatives à vos Check-ups
      hebdomadaires. Sélectionnez les groupes musculaires souhaités pour
      observer leur évolution.
    </p>


    <app-charts-checkup></app-charts-checkup>


    <app-chart> </app-chart>
  </ion-col>
 
</ion-row>
