ion-grid {
    --padding-start: 10px;
    --padding-end: 10px
}

.performance_text {
    text-align: justify;
    line-height: 1.1rem;
    font-size: 13px;
    font-weight: 100;

}

.main_container {
    // padding-left: 10px;
    padding-top: 15px;
    // padding-right: 10px;
}

