ion-content {
    --background: url(../../../../assets/images/menubg.jpg) 0 0/100% 100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    --overflow: hidden;
}

.menu-box {
    position: relative;
    border-radius: 15px;
    font-size: 14px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 15px;
    background: #fff;
    text-align: center;
    height: 65px;
    width: 65px;
    // border: 2px solid #f4b183;
    margin: 0 auto;
}

.menu .menu-title {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 10px;
}

.menu-box img {
    width: 50px;
}

.devider {
    height: 1px;
    background: #f4b183;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu-heading {
    color: #fff;
}


.coaching-menu-box {
    background: linear-gradient(to right, #ab8870, #e8b999);
}


.courses-menu-box {
    background: linear-gradient(to right, #36571e, #4f812d);
}   


.diate-menu-box {
    background: linear-gradient(to right, #8b230f, #be3319);
}   


.carnet-menu-box {
    background: linear-gradient(to right, #ac8020, #f7c133);
}   


.performances-menu-box {
    background: linear-gradient(to right, #e3f7d7, #e9f8e1);
}   


.record-menu-box {
    background: linear-gradient(to right, #90a880, #aac698);
}   



.apprentice-menu-box {
    background: linear-gradient(to right, #b37b54, #efa572);
}   


.ebook-menu-box {
    background: linear-gradient(to right, #0c0c0c, #0c0c0c);
}   



.appareils-menu-box {
    background: linear-gradient(to right, #2e2e2e, #3c3c3c);
}   




.parrinage-menu-box {
    background: linear-gradient(to right, #bdbe2d, #f5ee3b);
}   





.tutorial-menu-box {
    background: linear-gradient(to right, #5e2708, #823610);
}   



.disconnection-menu-box {
    background: linear-gradient(to right, #b33017, #f34423);
}   



.physiologie-menu-box {
    background: linear-gradient(to right, #b1b1b1, #f2f2f2);
}   



.preparetion-m-menu-box {
    background: linear-gradient(to right, #91d6fc, #d3ecfe);
}