<ion-content>
    <ion-grid>
        <ion-row>

        </ion-row>
        <ion-row>

        </ion-row>
        <ion-row>

        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="ion-text-center menu-heading">
                    <h3>Menu</h3>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" routerLink="/coaching">
                    <div class="menu-box coaching-menu-box">
                        <img src="assets/icon/menu/coaching.png" />
                    </div>
                    <div class="menu-title">Coaching</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openCourseModal()">
                    <div class="menu-box courses-menu-box">
                        <img src="assets/icon/menu/listdecourses.png" />
                    </div>
                    <div class="menu-title">Liste de courses</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openDietModal()">
                    <div class="menu-box diate-menu-box">
                        <img src="assets/icon/menu/madiets.png" />
                    </div>
                    <div class="menu-title">Ma diète</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openNotebookModal()">
                    <div class="menu-box carnet-menu-box">
                        <img src="assets/icon/menu/moncarnet.png" />
                    </div>
                    <div class="menu-title">Mon carnet</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openPerformance()">
                    <div class="menu-box performances-menu-box">
                        <img src="assets/icon/menu/performances.png" />
                    </div>
                    <div class="menu-title">Performances</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu">
                    <div class="menu-box record-menu-box" (click)="openPerformance()">
                        <img src="assets/icon/menu/records.png" />
                    </div>
                    <div class="menu-title">Records</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openPhysiologyModal()">
                    <div class="menu-box physiologie-menu-box ">
                        <img src="assets/icon/menu/physiology.png" />
                    </div>
                    <div class="menu-title">Physiologie</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openManualModal()"  >
                    <div class="menu-box">
                        <img src="assets/icon/menu/mesplan.png" />
                    </div>
                    <div class="menu-title">Mes plans</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" routerLink="/apprentissage">
                    <div class="menu-box apprentice-menu-box">
                        <img src="assets/icon/menu/apprentissage.png" />
                    </div>
                    <div class="menu-title">Apprentissage</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" routerLink="/preparation-mental">
                    <div class="menu-box preparetion-m-menu-box">
                        <img src="assets/icon/menu/preparation.png" />
                    </div>
                    <div class="menu-title">Préparation mentale</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openCart()">
                    <div class="menu-box ebook-menu-box">
                        <img src="assets/icon/menu/ebook.png" />
                    </div>
                    <div class="menu-title">eBooks</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu" (click)="openDeviceModal()">
                    <div class="menu-box appareils-menu-box">
                        <img src="assets/icon/menu/appareils.png" />
                    </div>
                    <div class="menu-title">Appareils</div>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="devider"></div>
            </ion-col>
            <!-- <ion-col size="3">
                <div class="menu">
                    <div class="menu-box">
                        <img src="assets/icon/menu/profil.png" />
                    </div>
                    <div class="menu-title">Profil</div>
                </div>
            </ion-col> -->
            <ion-col size="3">
                <div class="menu" (click)="openSponserShipModal()"> 
                    <div class="menu-box parrinage-menu-box">
                        <img src="assets/icon/menu/parrainge.png" />
                    </div>
                    <div class="menu-title">Parrainage</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu">
                    <div class="menu-box tutorial-menu-box">
                        <img src="assets/icon/menu/tutorial.png" />
                    </div>
                    <div class="menu-title">Tutoriel</div>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="menu">
                    <div class="menu-box disconnection-menu-box">
                        <img src="assets/icon/menu/deconnexion.png" />
                    </div>
                    <div class="menu-title">Déconnexion</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>