<ion-content (ionScroll)="scrollHandler($event)" scrollEvents="true">
    <div class="card">
        <div class="header">
            <div class="avatar">
                <img src="assets/icon/man.png" alt="" />
                <div class="profile-edit">
                    <ion-icon name="pencil-outline"></ion-icon>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="user-meta ion-text-center">
                <h6 class="username">@THOMAS</h6>
                <h3 class="playername">THOMAS CLARK</h3>
                <h6 class="username">23 - FRANCE</h6>
            </div>
            <ion-row>
                <ion-col size="6">
                    <div class="profile-member">
                        <p>CONNEXION CONTINUE DEPUIS</p>
                        <h4 class="activity_title">42 JOURS</h4>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <div class="profile-member">
                        <p>MEMBRE DEPUIS LE</p>
                        <h4 class="activity_title">12 Janvier 2020</h4>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <!-- ======================================= -->
                <ion-segment class="segmentOne" mode="ios" value="profile" color="tertiary" scrollable="true" [(ngModel)]="parentSegmentModel" (ionChange)="segmentChanged($event)">
                    <ion-segment-button class="segmentOne-button" value="profile">
                        <ion-label class="segment-btn-text">MON PROFIL </ion-label>
                    </ion-segment-button>

                    <ion-segment-button class="segmentOne-button" value="parameter">
                        <ion-label class="segment-btn-text">PARAMETRES</ion-label>
                    </ion-segment-button>
                </ion-segment>

                <div class="segment_container_data">
                    <div *ngIf="parentSegmentModel === 'profile'">
                        <ion-row>
                            <ion-col size="4">
                                <div class="profile-segment-box" routerLink="/edit-physical-activity">
                                    <img src="assets/icon/seance.png" />
                                    <p>NOMBRE TOTAL DE SEANCES</p>
                                    <h4>655</h4>
                                </div>
                            </ion-col>
                            <ion-col size="4">
                                <div class="profile-segment-box">
                                    <img src="assets/icon/pratiques.png" />
                                    <p>NOMBRE TOTAL DE SEANCES</p>
                                    <h4>655</h4>
                                </div>
                            </ion-col>
                            <ion-col size="4">
                                <div class="profile-segment-box">
                                    <img src="assets/icon/brules.png" />
                                    <p>NOMBRE TOTAL DE SEANCES</p>
                                    <h4>655</h4>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <div>
                                    <p class="p-b-0 m-b-0">ACTIVITES</p>
                                </div>
                            </ion-col>
                            <ion-col size="6">
                                <div class="ion-text-right">
                                    <p class="p-b-0 m-b-0">NB DE SEANCES</p>
                                </div>
                            </ion-col>
                            <ion-col size="8" class="p-b-0 m-b-0">
                                <ion-item class="height-40">
                                    <ion-avatar slot="start">
                                        <img src="assets/icon/masculation.png" />
                                    </ion-avatar>
                                    <ion-label class="activity_title">MUSCULATION</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="4" class="activities_count p-b-0 m-b-0">
                                <div class="ion-text-right">x 32</div>
                            </ion-col>
                            <ion-col size="8" class="p-b-0 m-b-0">
                                <ion-item class="height-40">
                                    <ion-avatar slot="start">
                                        <img src="assets/icon/natation.png" />
                                    </ion-avatar>
                                    <ion-label class="activity_title ">NATATION</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="4" class="activities_count p-b-0 m-b-0">
                                <div class="ion-text-right">x 12</div>
                            </ion-col>
                            <ion-col size="8" class="p-b-0 m-b-0">
                                <ion-item class="height-40">
                                    <ion-avatar slot="start">
                                        <img src="assets/icon/football.png" />
                                    </ion-avatar>
                                    <ion-label class="activity_title">FOOTBALL </ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="4" class="activities_count p-b-0 m-b-0">
                                <div class="ion-text-right">x 3</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <div class="profile-viewall">
                                <ion-button>VOIR TOUTES LES ACTIVITES
                                    <ion-icon name="chevron-forward-outline"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-row>
                        <ion-row>
                            <ion-segment value="performance" color="tertiary" scrollable="false" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
                                <ion-segment-button value="performance" style="padding-left: 5px">
                                    <ion-label class="segment-btn-text">PERFORMANCE</ion-label>
                                </ion-segment-button>

                                <ion-segment-button value="records">
                                    <ion-label class="segment-btn-text">RECORDS</ion-label>
                                </ion-segment-button>
                                <ion-segment-button value="physiologie">
                                    <ion-label class="segment-btn-text">PHYSIOLOGIE</ion-label>
                                </ion-segment-button>

                                <ion-segment-button value="check-ups">
                                    <ion-label class="segment-btn-text">CHECK-UPS</ion-label>
                                </ion-segment-button>
                            </ion-segment>

                            <div class="segment_container_data">
                                <div *ngIf="segmentModel === 'performance'">
                                    <app-performance-profile></app-performance-profile>
                                </div>

                                <div *ngIf="segmentModel === 'records'">
                                    <app-records-profile></app-records-profile>
                                </div>
                                <div *ngIf="segmentModel === 'physiologie'">
                                    <app-physiology-profile> </app-physiology-profile>
                                </div>
                                <div *ngIf="segmentModel === 'check-ups'">
                                    <app-check-ups-profile></app-check-ups-profile>
                                </div>
                            </div>
                        </ion-row>
                    </div>
                    <!-- ============================== -->
                    <div *ngIf="parentSegmentModel === 'parameter'">
                        <ion-segment value="autorisations" color="tertiary" [(ngModel)]="parameterSegmentModel" (ionChange)="parameterSegmentChanged($event)">
                            <ion-segment-button value="autorisations">
                                <ion-label class="segment-btn-text">AUTORISATIONS</ion-label>
                            </ion-segment-button>

                            <ion-segment-button value="language">
                                <ion-label class="segment-btn-text">LANGUE</ion-label>
                            </ion-segment-button>
                            <ion-segment-button value="notifications">
                                <ion-label class="segment-btn-text">NOTIFICATIONS</ion-label>
                            </ion-segment-button>
                            <ion-segment-button value="general">
                                <ion-label class="segment-btn-text">GENERAL</ion-label>
                            </ion-segment-button>
                        </ion-segment>

                        <div class="segment_container_data">
                            <div *ngIf="parameterSegmentModel === 'autorisations'" style="margin-bottom: 15%;">
                                <ion-list>
                                    <ion-item>
                                        <ion-label>Autoriser l’application à utiliser le GPS</ion-label>
                                        <ion-toggle></ion-toggle>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Autoriser l’application à utiliser l’appareil photo
                                        </ion-label>
                                        <ion-toggle></ion-toggle>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Autoriser l’application à évoluer en arrière plan
                                        </ion-label>
                                        <ion-toggle></ion-toggle>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Autoriser la synchronisation avec appareils</ion-label>
                                        <ion-toggle></ion-toggle>
                                    </ion-item>
                                </ion-list>
                            </div>

                            <div *ngIf="parameterSegmentModel === 'language'">
                                <ion-list>
                                    <ion-item>
                                        <ion-label>
                                            Langue : <span class="value-text">français</span>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>

                            </div>
                            <div *ngIf="parameterSegmentModel === 'notifications'"  style="margin-bottom: 25%;">

                                <p style="font-size: 14px;">Autoriser l'application à émettre des notifications pour les faits suivants:</p>
                                <ion-list>
                                    <ion-item>
                                        <ion-label class="text-list">
                                            <p>- Check-up</p>
                                            <p>- Connexion journalière</p>
                                            <p>- Entraînement du jour</p>
                                        </ion-label>
                                        <ion-toggle></ion-toggle>
                                    </ion-item>
                                </ion-list>

                            </div>
                            <div *ngIf="parameterSegmentModel === 'general'">
                                <ion-list>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Date d'inscription au système:</span> <span class="value-text"> 02/02/2021</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Id utilisateur:</span> <span class="value-text"> 1234-abcd-4567-zxcv</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text"> Nom et prénom:</span> <span class="value-text"> Martin Nicolas</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Poids:</span> <span class="value-text"> 97kg</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Taille:</span> <span class="value-text"> 184cm</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Sexe:</span> <span class="value-text"> masculin</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Date de naissance:</span> <span class="value-text"> 08/12/1997</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Email:</span> <span class="value-text"> nicolas.martin1997@yahoo.fr</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="change-pass">Modifier le mot de passe</span>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>
                                            <span class="property-text">Objectif actuel: Perte de poids</span>
                                        </ion-label>
                                    </ion-item>
                                </ion-list>

                                <div class="buttons">
                                    <ion-button class="next" expand="full">MODIFIER MON OBJECTIF</ion-button>
                                    <ion-button class="next" expand="full">VOIR LES RESULTATS DE MON BODYSCAN</ion-button>
                                    <ion-button class="next" expand="full">RESILIER L'ABONNEMENT</ion-button>
                                    <ion-button class="next" expand="full">EXPORTER MES DONNEES PERSONNELLES</ion-button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>