ion-toolbar {
    -–background: transparent;
}

.card {
    margin: 0 auto;
    background: url("../../../../assets/images/landing_page_background_1.png") 0 0/100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    --overflow: hidden;
}

.header {
    height: 160px;
    position: relative;
}

.header:before {
    content: "";
    background:#00000094;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.avatar {
    width: 110px;
    height: 110px;
    position: relative;
    margin: 0 auto;
    bottom: calc(-1*(100px + 4px));
}

.avatar img {
    display: block;
    border-radius: 50%;
    position: absolute;
    border: 5px solid #c1c1c1;
    background-color: #fff;
}

.card-body {
    background-color: #ffffff;
    padding: 50px 10px 15px 10px;
    height: calc(100vh – (200px + 56px));
    overflow: hidden;
}

.profile-member p {
    color: #a8a7a7;
    font-size: 12px;
}

.profile-edit {
    color: #000;
    font-size: 21px;
    top: 55px;
    right: -12px;
    position: absolute;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #000;
}

.user-meta {
    padding-top: 15px;
    padding-bottom: 5px;
}

.playername {
    font-size: 14px;
    font-weight: 600;
    color: #303940;
    margin-top: 5px;
    margin-bottom: 5px;
}

.username {
    font-size: 75%;
    color: #949ea6;
    text-transform: uppercase;
    margin: 0 auto;
}


.segmentOne-button {
    --ripple-color: transparent;
    background: transparent;
    --color-checked: var(--ion-color-primary);
    --color: #9c9c9c;
    --indicator-color: var(--ion-color-primary);
    --margin-bottom: 0px;
    height: 40px;
    --border-radius: 25px;
}

.segmentOne {
    background: rgb(170 170 170 / 11%);
    border-radius: 25px;
    margin-bottom: 15px;
}

.profile-segment-box img {
    width: 40px;
}

.profile-segment-box {
    position: relative;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 10px;
    border: 1px solid #000;
}

.profile-segment-box p {
    color: #7f7f7f;
    font-size: 12px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.profile-segment-box h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.segment-btn-text {
    font-family: 'Oswald-Medium';
}
ion-item ion-label {
    white-space: normal;
}

ion-item {
    --inner-border-width: 0px 0px 0px 0px;
    --min-height: 35px;
    --padding-start: 0px;
    --border-width: 0 0 0px 0;
   
}
.height-40 {
    height: 40px !important;
}
ion-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.profile-viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 12px;
}

.profile-viewall:before {
    content: "";
    position: absolute;
    background: #c1c1c1;
    height: 1px;
    width: 100%;
    top: 19px;
    left: 0;
}

ion-toggle {
    --background: #926444;
    --background-checked: #F4B183;
    --handle-background: #F4B183;
    --handle-background-checked: #926444;
}

.activity_title {
    text-align: justify;
    // line-height: 1.1rem;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}


ion-avatar {
    padding: 5px;
    margin-inline-end: 0px;
}

.activities_count {
    padding-top: 10px;
}

.segment_container_data {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 15px;
}
.value-text {
    color: #383a3e9c;
    font-size: 14px;
}
ion-label p{
            color: #000;
}
.property-text {
    font-family: 'Oswald-SemiBold';
    font-size: 14px;
}
.change-pass {
    font-family: 'Oswald-SemiBold';
    color: #f00;
    font-size: 14px;
}
ion-item {
    ion-label {
        font-size: 14px;
        font-family: 'Oswald';
    }
}
.next {
    --background: var(--ion-btn-custom-color);

}