ion-toolbar {
    -–background: transparent;
}

.card {
    margin: 0 auto;
    background: url("../../../../assets/images/landing_page_background_1.png") 0 0/100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    --overflow: hidden;
}

.header {
    height: 160px;
    position: relative;
}

.header:before {
    content: "";
    background: #00000094;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.avatar {
    width: 110px;
    height: 110px;
    position: relative;
    margin: 0 auto;
    bottom: calc(-1*(100px + 4px));
}

.avatar img {
    display: block;
    border-radius: 50%;
    position: absolute;
    border: 5px solid #c1c1c1;
    background-color: #fff;
}

.card-body {
    background-color: #ffffff;
    padding: 50px 10px 15px 10px;
    height: calc(100vh – (200px + 56px));
    overflow: hidden;
}

.activity_title {
    text-align: justify;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.profile-member p {
    color: #a8a7a7;
    font-size: 12px;
}

.profile-member p {
    color: #a8a7a7;
    font-size: 12px;
}

.profile-edit {
    color: #000;
    font-size: 21px;
    top: 55px;
    right: -12px;
    position: absolute;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #000;
}

.user-meta {
    padding-top: 15px;
    padding-bottom: 5px;
}

.playername {
    font-size: 14px;
    font-weight: 600;
    color: #303940;
    margin-top: 5px;
    margin-bottom: 5px;
}

.username {
    font-size: 75%;
    color: #949ea6;
    text-transform: uppercase;
    margin: 0 auto;
}

.segmentOne-button {
    --ripple-color: transparent;
    background: transparent;
    --color-checked: var(--ion-color-primary);
    --color: #9c9c9c;
    --indicator-color: var(--ion-color-primary);
    --margin-bottom: 0px;
    height: 40px;
    --border-radius: 25px;
}

.segmentOne {
    background: rgb(170 170 170 / 11%);
    border-radius: 25px;
    margin-bottom: 15px;
}

.profile-velue-box h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.profile-velue-box p {
    margin: 0;
    font-size: 12px;
}

.profile-velue-box {
    background: #c1c1c1;
    padding: 15px 5px;
    border-radius: 5px;
}

.profile-velue-box2 div {
    background: var(--ion-btn-custom-color);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 6px 5px;
    color: #fff;
    position: relative;
}

.profile-velue-box2 ion-icon {
    position: absolute;
    right: 10px;
    top: 9px;
}

.profile-velue-box3 div {
    background: #000;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 6px 5px;
    color: #fff;
    position: relative;
}

.profile-velue-box3 ion-icon {
    position: absolute;
    right: 10px;
    top: 9px;
}

.icon-box div {
    display: inline-block;
    margin-left: 5px;
}

.icon-box {
    position: relative;
    text-align: right;
}

.border-b {
    border-bottom: 1px solid;
}

.icon-box div img {
    width: 12px;
}

.border-b:last-child {
    border-bottom: 0px solid;
}

ion-card.program {
    width: 100%;
    margin-inline: 5px;
    padding: 0px 10px;
    --background: linear-gradient(to top, #707070, #bebebe);
    color: #000;
    margin: 0px 0px;
}

.coach-first-name {
    font-size: 20px;
}

.coach-last-name {
    font-size: 18px;
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
}

.coachstaps {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}

.coachbpjeps {
    font-size: 16px;
    text-transform: uppercase;
}

.coachnumber {
    font-size: 118px;
    line-height: 83px;
    font-weight: bolder;
}

.coch-box-result {
    position: relative;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 5px;
    background: #fff;
}

.coch-box-result p {
    font-size: 10px;
}

.coch-box-result h4 {
    font-size: 16px;
    font-weight: bolder;
}

.domaine div {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 12px;
}

// ======================================
ion-card.programsmall {
    width: 100%;
    margin-inline: 5px;
    padding: 0px 0px;
    --background: linear-gradient(to top, #707070, #bebebe);
    color: #000;
    margin: 0px 0px;
}

.programsmall p {
    font-size: 8px;
    line-height: 1;
}

.coach-first-namesmall {
    font-size: 20px;
}

.coach-last-namesmall {
    font-size: 10px;
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
}

.coachstapssmall {
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}

.coachbpjepssmall {
    font-size: 16px;
    text-transform: uppercase;
}

.coachnumbersmall {
    font-size: 50px !important;
    line-height: 44px !important;
    font-weight: bolder;
}

.coch-box-resultsmall {
    position: relative;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 5px;
    background: #fff;
    line-height: 7px;
}

.coch-box-resultsmall p {
    font-size: 8px;
}

.coch-box-resultsmall h4 {
    font-size: 10px;
    font-weight: bolder;
}

.domainesmall div {
    background: #000;
    color: #fff;
    padding: 5px 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 8px;
}

.programsmall ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
}

table,
td,
th {
    border: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    vertical-align: middle;
    padding: 5px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table span {
    background: #a7dfa7;
    margin-right: 10px;
    float: right;
    border-radius: 2px;
    padding: 0px 5px;
}
