<ion-content>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="assets/icon/man.png" alt="" />
          <div class="profile-edit">
            <ion-icon name="pencil-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h6 class="username">@THOMAS</h6>
          <h3 class="playername">THOMAS CLARK</h3>
          <h6 class="username">23 - FRANCE</h6>
        </div>
        <ion-row>
          <ion-col size="6">
            <div class="profile-member">
              <p>CONNEXION CONTINUE DEPUIS</p>
              <h4 class="activity_title">42 JOURS</h4>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="profile-member">
              <p>MEMBRE DEPUIS LE</p>
              <h4 class="activity_title">12 Janvier 2020</h4>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- ======================================= -->
          <ion-segment
            class="segmentOne"
            mode="ios"
            color="tertiary"
            value="paiements"
            [(ngModel)]="parentSegmentModel"
            (ionChange)="segmentChanged($event)"
          >
            <ion-segment-button class="segmentOne-button" value="paiements">
              <ion-label class="segment-btn-text">PAIEMENTS</ion-label>
            </ion-segment-button>
  
            <ion-segment-button class="segmentOne-button" value="mon-profile">
              <ion-label class="segment-btn-text">MON PROFIL</ion-label>
            </ion-segment-button>
            <ion-segment-button class="segmentOne-button" value="parametres">
              <ion-label class="segment-btn-text">PARAMETRES</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- ====================================== -->
    <div class="segment_container_data">
      <div *ngIf="parentSegmentModel === 'paiements'">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- ======================================= -->
              <ion-segment
                value="visibilite"
                color="tertiary"
                [(ngModel)]="parentSegmentModelChildPaiements"
                (ionChange)="segmentChangedChildPaiements($event)"
              >
                <ion-segment-button value="visibilite">
                  <ion-label class="segment-btn-text">VISIBILITE</ion-label>
                </ion-segment-button>
                <ion-segment-button value="facturation">
                  <ion-label class="segment-btn-text">FACTURATION</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="parentSegmentModelChildPaiements === 'visibilite'">
          <ion-grid>
            <ion-row>
              <app-coach-payment-visibility></app-coach-payment-visibility>
  
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="parentSegmentModelChildPaiements === 'facturation'">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <table>
                  <tr>
                    <th class="f12">MONTANT</th>
                    <th class="f12">DESCRIPTION</th>
                    <th class="f12">DATE</th>
                  </tr>
                  <tr class="f10">
                    <td>
                      9,99 &#8364;
                      <span
                        >Réussi <ion-icon name="checkmark-outline"></ion-icon
                      ></span>
                    </td>
                    <td>Reference site about Lorem Ipsum</td>
                    <td>12 avr. à 12:51</td>
                  </tr>
                  <tr class="f10">
                    <td>
                      9,99 &#8364;
                      <span
                        >Réussi <ion-icon name="checkmark-outline"></ion-icon
                      ></span>
                    </td>
                    <td>Reference site about Lorem Ipsum</td>
                    <td>12 avr. à 12:51</td>
                  </tr>
                  <tr class="f10">
                    <td>
                      9,99 &#8364;
                      <span
                        >Réussi <ion-icon name="checkmark-outline"></ion-icon
                      ></span>
                    </td>
                    <td>Reference site about Lorem Ipsum</td>
                    <td>12 avr. à 12:51</td>
                  </tr>
                  <tr class="f10">
                    <td>
                      9,99 &#8364;
                      <span
                        >Réussi <ion-icon name="checkmark-outline"></ion-icon
                      ></span>
                    </td>
                    <td>Reference site about Lorem Ipsum</td>
                    <td>12 avr. à 12:51</td>
                  </tr>
                  <tr class="f10">
                    <td>
                      9,99 &#8364;
                      <span
                        >Réussi <ion-icon name="checkmark-outline"></ion-icon
                      ></span>
                    </td>
                    <td>Reference site about Lorem Ipsum</td>
                    <td>12 avr. à 12:51</td>
                  </tr>
                  <tr class="f10">
                    <td>
                      9,99 &#8364;
                      <span
                        >Réussi <ion-icon name="checkmark-outline"></ion-icon
                      ></span>
                    </td>
                    <td>Reference site about Lorem Ipsum</td>
                    <td>12 avr. à 12:51</td>
                  </tr>
                </table>
              </ion-col>
              <ion-col size="12" class="ion-margin-top">
                <h4 class="f14" style="margin-left: 10px;">Voir plus</h4>
  
                <app-chart-one></app-chart-one>
              </ion-col>
              <!-- ===================================== -->
              <ion-col size="12">
                <ion-segment
                  value="onejor"
                  class="segmentOne"
                  mode="ios"
                  color="tertiary"
                  [(ngModel)]="parentSegmentModelChildFacturation"
                  (ionChange)="segmentChangedChildFacturation($event)"
                >
                  <ion-segment-button value="onejor" class="segmentOne-button">
                    <ion-label class="segment-btn-text">1 JOUR</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="twojor" class="segmentOne-button">
                    <ion-label class="segment-btn-text">1 SEM</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="threejor" class="segmentOne-button">
                    <ion-label class="segment-btn-text">1 MOIS</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="fourjor" class="segmentOne-button">
                    <ion-label class="segment-btn-text">1 AN</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="fivejor" class="segmentOne-button">
                    <ion-label class="segment-btn-text"> TOUT </ion-label>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="parentSegmentModelChildFacturation === 'onejor'">
            1 JOUR
          </div>
          <div *ngIf="parentSegmentModelChildFacturation === 'twojor'">
            <app-chart-two></app-chart-two>
          </div>
          <div *ngIf="parentSegmentModelChildFacturation === 'threejor'">
            3 JOUR
          </div>
          <div *ngIf="parentSegmentModelChildFacturation === 'fourjor'">
            4 JOUR
          </div>
          <div *ngIf="parentSegmentModelChildFacturation === 'fivejor'">
            5 JOUR
          </div>
        </div>
        <!-- ====================================== -->
      </div>
      <!-- ====================================== -->
      <!-- ====================================== -->
      <div *ngIf="parentSegmentModel === 'mon-profile'">
        <!-- ====================================== -->
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-segment
                value="mon-activite"
                color="tertiary"
                [(ngModel)]="parentSegmentModelChild"
                (ionChange)="segmentChangedChild($event)"
              >
                <ion-segment-button value="mon-activite">
                  <ion-label class="segment-btn-text">MON ACTIVITE </ion-label>
                </ion-segment-button>
                <ion-segment-button value="mes-coachings">
                  <ion-label class="segment-btn-text">MES COACHINGS</ion-label>
                </ion-segment-button>
                <ion-segment-button value="fiche-de-coach">
                  <ion-label class="segment-btn-text">FICHE DE COACH</ion-label>
                </ion-segment-button>
                <ion-segment-button value="classement">
                  <ion-label class="segment-btn-text">CLASSEMENT</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- ========================================= -->
        <!-- ====================================== -->
        <div *ngIf="parentSegmentModelChild === 'mon-activite'">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div class="profile-velue-box">
                  <p>NB DE COACHINGS ACTUELS</p>
                  <h4>16</h4>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="profile-velue-box">
                  <p>CHIFFRE D’AFFAIRE DU MOIS</p>
                  <h4>1770,76€</h4>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="profile-velue-box">
                  <p>CLASSEMENT ACTUEL</p>
                  <h4>N°7</h4>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="profile-velue-box">
                  <p>JOURS PASSES AU TOP 1</p>
                  <h4>3</h4>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="profile-velue-box">
                  <p>% DE SATISFACTION CLIENT</p>
                  <h4>140 KG</h4>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="profile-velue-box">
                  <p>NB TOTAL DE COACHINGS</p>
                  <h4>44</h4>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="profile-velue-box2">
                  <div class="f10">
                    Améliorez votre classement
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                  <div class="f10">
                    Redéfinissez vos tarifs
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                  <div class="f10">
                    Parrainez vos amis
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="profile-velue-box">
                  <p>PARRAINAGES VALIDES</p>
                  <h4>3</h4>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- ====================================== -->
        <!-- ====================================== -->
        <div *ngIf="parentSegmentModelChild === 'mes-coachings'">
          <ion-grid>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/light.png" />
                    </div>
                    <div><img src="assets/icon/chat.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/light.png" />
                    </div>
                    <div><img src="assets/icon/chat.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/light.png" />
                    </div>
                    <div><img src="assets/icon/chat.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/light.png" />
                    </div>
                    <div><img src="assets/icon/chat.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/light.png" />
                    </div>
                    <div><img src="assets/icon/chat.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/light.png" />
                    </div>
                    <div><img src="assets/icon/chat.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/light.png" />
                    </div>
                    <div><img src="assets/icon/chat.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div>
                      <img src="assets/icon/right.png" />
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div><img src="assets/icon/right.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div class="border-b">
              <ion-row>
                <ion-col>
                  <div class="f10">
                    <ion-text>JEAN-MICHEL <strong>ANDRAS</strong></ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="f10">
                    <ion-text> Ok, merci beaucoup ! J’es… </ion-text>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="icon-box f10">
                    <div><img src="assets/icon/right.png" /></div>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>
        <!-- ====================================== -->
        <!-- ====================================== -->
        <div *ngIf="parentSegmentModelChild === 'fiche-de-coach'">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-card class="program">
                  <ion-card-content>
                    <ion-row>
                      <ion-col size="8">
                        <p class="coach-first-name">Thomas</p>
                        <h4 class="coach-last-name">zace</h4>
                        <p class="coachstaps">STAPS MS</p>
                        <p class="coachbpjeps">BPJEPS AGFF</p>
                      </ion-col>
                      <ion-col size="4">
                        <p class="coachnumber ion-text-center">3</p>
                      </ion-col>
                      <ion-col size="12">
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the
                          industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and
                          scrambled it to make a type specimen book.
                        </p>
                      </ion-col>
                      <ion-col size="6">
                        <div class="ion-text-right coch-box-result">
                          <p>NOMBRD DE COACHINGS</p>
                          <p>ACTULS</p>
                          <h4>18</h4>
                        </div>
                      </ion-col>
                      <ion-col size="6">
                        <div class="ion-text-right coch-box-result">
                          <p>% DE SATISFACTION</p>
                          <p>CLIENT</p>
                          <h4>97%</h4>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div class="domaine">
                          <div>DOMAINE 1</div>
                          <div>DOMAINE 2</div>
                          <div>DOMAINE 3</div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- ====================================== -->
        <!-- ====================================== -->
        <div *ngIf="parentSegmentModelChild === 'classement'">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <p class="f12 ion-no-margin">
                  Les coachs du système TRANSFORMATICS sont notés et classés
                  hebdomadairement en se basant sur les avis et ressentis des
                  clients. Ceux-ci sont étudiés et analysés afin d’offrir un
                  classement le plus authentique possible. Ces valeurs sont
                  susceptibles d’être modifiées. Vous avez la possibilité de
                  sélectionner le type de classement et de l’intégrer efficacement
                  en vous investissant davantage dans votre statut de coach
                  sportif du système TRANSFORMATICS.
                </p>
                <p class="f12 ion-no-margin ion-margin-top">
                  Ce classement est établi afin de permettre aux clients de
                  trouver les coachs répondant le mieux à leurs attentes, et ainsi
                  avoir la possibilité de fidéliser et rassurer la clientèle sur
                  les capacités et les compétences de chacun d’entre vous. Afin de
                  vous rendre sur la Fiche de Coach du TOP 3 de ce classement, il
                  vous suffit de cliquer sur leur case correspondante.
                </p>
              </ion-col>
              <ion-col size="12">
                <div class="profile-velue-box3">
                  <div class="f10" color="dark">
                    Améliorer votre classement
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <!-- ======================================= -->
                <ion-segment
                  value="nombretotaldeclients"
                  class="segmentOne"
                  mode="ios"
                  color="tertiary"
                  [(ngModel)]="parentSegmentModelChildTwo"
                  (ionChange)="segmentChangedChildTwo($event)"
                >
                  <ion-segment-button
                    value="nombretotaldeclients"
                    class="segmentOne-button"
                  >
                    <ion-label class="segment-btn-text"
                      >NOMBRE TOTAL DE CLIENTS</ion-label
                    >
                  </ion-segment-button>
                  <ion-segment-button
                    value="desatisfaction"
                    class="segmentOne-button"
                  >
                    <ion-label class="segment-btn-text"
                      >% DE SATISFACTION</ion-label
                    >
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="parentSegmentModelChildTwo === 'nombretotaldeclients'">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card class="programsmall">
                    <ion-card-content>
                      <ion-row>
                        <ion-col size="8">
                          <p class="coach-first-namesmall">Thomas</p>
                          <h4 class="coach-last-namesmall">zace</h4>
                          <p class="coachstapssmall">STAPS MS</p>
                          <p class="coachbpjepssmall">BPJEPS AGFF</p>
                        </ion-col>
                        <ion-col size="4">
                          <p class="coachnumbersmall ion-text-center">1</p>
                        </ion-col>
                        <ion-col size="12">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                          </p>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>NOMBRD DE COACHINGS</p>
                            <p>ACTULS</p>
                            <h4>18</h4>
                          </div>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>% DE SATISFACTION</p>
                            <p>CLIENT</p>
                            <h4>97%</h4>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="domainesmall">
                            <div>DOMAINE 1</div>
                            <div>DOMAINE 2</div>
                            <div>DOMAINE 3</div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="6">
                  <ion-card class="programsmall">
                    <ion-card-content>
                      <ion-row>
                        <ion-col size="8">
                          <p class="coach-first-namesmall">Thomas</p>
                          <h4 class="coach-last-namesmall">zace</h4>
                          <p class="coachstapssmall">STAPS MS</p>
                          <p class="coachbpjepssmall">BPJEPS AGFF</p>
                        </ion-col>
                        <ion-col size="4">
                          <p class="coachnumbersmall ion-text-center">2</p>
                        </ion-col>
                        <ion-col size="12">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                          </p>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>NOMBRD DE COACHINGS</p>
                            <p>ACTULS</p>
                            <h4>18</h4>
                          </div>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>% DE SATISFACTION</p>
                            <p>CLIENT</p>
                            <h4>97%</h4>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="domainesmall">
                            <div>DOMAINE 1</div>
                            <div>DOMAINE 2</div>
                            <div>DOMAINE 3</div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="6">
                  <ion-card class="programsmall">
                    <ion-card-content>
                      <ion-row>
                        <ion-col size="8">
                          <p class="coach-first-namesmall">Thomas</p>
                          <h4 class="coach-last-namesmall">zace</h4>
                          <p class="coachstapssmall">STAPS MS</p>
                          <p class="coachbpjepssmall">BPJEPS AGFF</p>
                        </ion-col>
                        <ion-col size="4">
                          <p class="coachnumbersmall ion-text-center">3</p>
                        </ion-col>
                        <ion-col size="12">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                          </p>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>NOMBRD DE COACHINGS</p>
                            <p>ACTULS</p>
                            <h4>18</h4>
                          </div>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>% DE SATISFACTION</p>
                            <p>CLIENT</p>
                            <h4>97%</h4>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="domainesmall">
                            <div>DOMAINE 1</div>
                            <div>DOMAINE 2</div>
                            <div>DOMAINE 3</div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="6">
                  <ion-card class="programsmall">
                    <ion-card-content>
                      <ion-row>
                        <ion-col size="8">
                          <p class="coach-first-namesmall">Thomas</p>
                          <h4 class="coach-last-namesmall">zace</h4>
                          <p class="coachstapssmall">STAPS MS</p>
                          <p class="coachbpjepssmall">BPJEPS AGFF</p>
                        </ion-col>
                        <ion-col size="4">
                          <p class="coachnumbersmall ion-text-center">4</p>
                        </ion-col>
                        <ion-col size="12">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                          </p>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>NOMBRD DE COACHINGS</p>
                            <p>ACTULS</p>
                            <h4>18</h4>
                          </div>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>% DE SATISFACTION</p>
                            <p>CLIENT</p>
                            <h4>97%</h4>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="domainesmall">
                            <div>DOMAINE 1</div>
                            <div>DOMAINE 2</div>
                            <div>DOMAINE 3</div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="6">
                  <ion-card class="programsmall">
                    <ion-card-content>
                      <ion-row>
                        <ion-col size="8">
                          <p class="coach-first-namesmall">Thomas</p>
                          <h4 class="coach-last-namesmall">zace</h4>
                          <p class="coachstapssmall">STAPS MS</p>
                          <p class="coachbpjepssmall">BPJEPS AGFF</p>
                        </ion-col>
                        <ion-col size="4">
                          <p class="coachnumbersmall ion-text-center">5</p>
                        </ion-col>
                        <ion-col size="12">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                          </p>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>NOMBRD DE COACHINGS</p>
                            <p>ACTULS</p>
                            <h4>18</h4>
                          </div>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>% DE SATISFACTION</p>
                            <p>CLIENT</p>
                            <h4>97%</h4>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="domainesmall">
                            <div>DOMAINE 1</div>
                            <div>DOMAINE 2</div>
                            <div>DOMAINE 3</div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col size="6">
                  <ion-card class="programsmall">
                    <ion-card-content>
                      <ion-row>
                        <ion-col size="8">
                          <p class="coach-first-namesmall">Thomas</p>
                          <h4 class="coach-last-namesmall">zace</h4>
                          <p class="coachstapssmall">STAPS MS</p>
                          <p class="coachbpjepssmall">BPJEPS AGFF</p>
                        </ion-col>
                        <ion-col size="4">
                          <p class="coachnumbersmall ion-text-center">6</p>
                        </ion-col>
                        <ion-col size="12">
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                          </p>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>NOMBRD DE COACHINGS</p>
                            <p>ACTULS</p>
                            <h4>18</h4>
                          </div>
                        </ion-col>
                        <ion-col size="6">
                          <div class="ion-text-right coch-box-resultsmall">
                            <p>% DE SATISFACTION</p>
                            <p>CLIENT</p>
                            <h4>97%</h4>
                          </div>
                        </ion-col>
                        <ion-col size="12">
                          <div class="domainesmall">
                            <div>DOMAINE 1</div>
                            <div>DOMAINE 2</div>
                            <div>DOMAINE 3</div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div *ngIf="parentSegmentModelChildTwo === 'desatisfaction'">
            % DE SATISFACTION
          </div>
        </div>
        <!-- ====================================== -->
      </div>
  
      <!-- ====================================== -->
      <!-- ====================================== -->
      <div *ngIf="parentSegmentModel === 'parametres'">c</div>
      <!-- ====================================== -->
    </div>
  </ion-content>
  