ion-toolbar {
    --background: #000;
}

ion-content {
    --background: url(../../../assets/images/role.png) 0 0/100% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    --overflow: hidden;

}

ion-title {
    color: #fff;
    font-family: Anton, sans-serif;
    font-size: 17px;
    letter-spacing: 4px;

}

h4 {
    color: #fff;
    font-family: Oswald-SemiBold, serif;
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--ion-color-primary);
}

.main-container {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32%;
    padding-right: 32%;
}

p {
    color: #b9b8b8;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    font-family: Oswald, serif;
    line-height: 1rem;
}

.circle-container {
    border: 3px solid var(--ion-color-primary);
    padding: 5px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    img {
        padding-top: 12%;
    }
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.toolbar-background {
    border-color: transparent !important;
}