<!-- <ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Transformatics</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-container">
    <div class="inner-container">
      <div class="circle-container" (click)="goToAuth(false)">
        <img src="assets/icon/athlete.png" />
      </div>
      <h4>JE SUIS UN ATHLETE</h4>
      <p>Je me connecte en tant que sportif membre du système Transformatics</p>
    </div>

    <div class="inner-container">
      <div class="circle-container" (click)="goToAuth(true)">
        <img src="assets/icon/coach.png" />
      </div>
      <h4>JE SUIS UN COACH</h4>
      <p>Je me connecte en tant que coach certifié du système Transformatics</p>
    </div>

  </div>
</ion-content>
