<ion-grid>
  <ion-row>
    <ion-col>
      <h3 class="steper-heading">PIECES JUSTIFICATIVES
      </h3>
    </ion-col>
  </ion-row>
  <ion-row>


    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Informations d’auto-entreprise : </strong> entrez votre n° SIREN de votre auto-entreprise ci-dessous, ainsi que vos informations bancaires pour que Transformatics puisse effectuer vos virements mensuels. 

      </p>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> SIREN </ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Propriétaire du compte bancaire 
        </ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> IBAN </ion-label>
      </ion-card>
    </ion-col>
   

    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Type de diplôme : </strong> sélectionnez votre ou vos diplômes
        dans la liste suivante. Une photo des diplômes sélectionnés et de votre
        carte professionnelle vous sera demandée pour authentifier votre
        déclaration.
      </p>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light"> Liste de diplômes </ion-label>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Domaines de compétences : </strong> sélectionnez dans la liste
        suivante vos domaines de prédilection et votre activité principale de
        coaching. déclaration.
      </p>
    </ion-col>

    <ion-col size="12" class="text_desc">
      <ion-card mode="ios">
        <ion-label class="small_text_light">
          Domaines de compétences
        </ion-label>
      </ion-card>
    </ion-col>
  </ion-row>






<ion-row>
  <ion-col size="12">
    <ion-label class="small_text_bold">
      Carte professionnelle et diplômes
  
    </ion-label>
  </ion-col>
  
  
</ion-row>



  <ion-row class="card_item_section ion-margin-top">
    <ion-col size="6">
      <ion-card mode="ios">
  
        <ion-card-content>
          <p>Carte professionnelle

          </p>
            <ion-img src="assets/icon/add.png"></ion-img>
      
        </ion-card-content>
      </ion-card>

     
    </ion-col>


    <ion-col size="6">
      <ion-card mode="ios">
  
        <ion-card-content>
          <p>Diplôme STAPS MS
          </p>
            <ion-img src="assets/icon/add.png"></ion-img>
      
        </ion-card-content>
      </ion-card>

    
    </ion-col>

  </ion-row>


  <ion-row>
    <ion-col size="12">
      <p class="steper-title dateDeNa">
        <strong> Image : </strong> sélectionnez une photo qui sera utilisée comme fond de page sur votre Fiche de Coach. Elle devrait idéalement vous représenter et faire basculer le futur client vers votre coaching plutôt que celui d’un concurrent ! 

      </p>
    </ion-col>

  </ion-row>




  <ion-row class="card_item_section ion-margin-top">
    <ion-col size="6">
      <ion-card mode="ios">
  
        <ion-card-content>
          <p>Image
          </p>
            <ion-img src="assets/icon/add.png"></ion-img>
      
        </ion-card-content>
      </ion-card>

    </ion-col>



  </ion-row>


</ion-grid>
