<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div [class]="activepage == 1 ? 'steps active' : 'steps' "></div>
      </ion-col>
      <ion-col>
        <!-- <div ng-class="(activepage == 2) ? 'active' : 'steps'"></div> -->
        <div [class]="activepage == 2 ? 'steps active' : 'steps' "></div>
      </ion-col>
      <ion-col>
        <div [class]="activepage == 3 ? 'steps active' : 'steps' "></div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-header>
<!--=================================-->
<!--=================================-->
<ion-content>
  <!--=================================-->
  <app-coach-body-scan-step-one *ngIf="activepage == 1"> </app-coach-body-scan-step-one>
  <!--=================================-->
  <!--=================================-->
  <app-coach-body-scan-step-two *ngIf="activepage == 2"> </app-coach-body-scan-step-two>
  <!--=================================-->
  <!--=================================-->
  <app-coach-body-scan-step-three *ngIf="activepage == 3"> </app-coach-body-scan-step-three>
  <!--=================================-->

</ion-content>
<!--=================================-->
<!--=================================-->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            class="back"
            expand="full"
            shape="round"
            (click)="previousPage()"
            >Retour
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            class="next"
            expand="full"
            shape="round"
            (click)="nextPage()"
            >Etape suivante
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
