ion-content {
    --padding-start: 3%;
    --padding-end: 3%;  

    ion-text {
        display: block;
    }
}

ion-toolbar {
    border-bottom: 1px solid #f1f1f1;
    height: 9%;
}

.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}

ion-card {
    margin: 0;
}
.check-out-big-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    div {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
        color: #353535;
    }

    h4 {
        margin: 0;

    }

    ion-label {
        margin-top: 5px;
        margin-left: 3px;
        color: #353535;
    }
}

.profile-viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 12px;
}

.profile-viewall:before {
    content: "";
    position: absolute;
    background: #c1c1c1;
    height: 1px;
    width: 100%;
    top: 19px;
    left: 0;
}
.container_data {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 15px;
}
ion-item {
    ion-label {
        font-size: 14px;
        font-family: 'Oswald';
    }
}
ion-avatar {
    padding: 5px;
    margin-inline-end: 0px;
}
.next {
    --background: var(--ion-btn-custom-color);

}

.back {
    --background: linear-gradient(to right, #161616e0, #c1c1c1);
}
.back,
.next {
    --ion-button-round-border-radius: 5px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 5px;
    height: 40px;
}