<ion-toolbar class="ion-border">
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon name="close-outline" class="large_text_bold close-btn-icon"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-text class="medium_text">
    NOUVELLE DEMANDE DE COACHING
  </ion-text>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-buttons class="ion-no-margin" slot="start">
              <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-avatar slot="start">
              <img src="assets/icon/man.png">
          </ion-avatar>
          <ion-label>
              <h3>JEAN MICHEL ANDRAS</h3>
              <p>Connecté</p>
          </ion-label>
      </ion-item>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p  class="medium_text">SEXE
          </p>
          <div>
         
            <h4 class="large_text_bold">HOMME
            </h4>
          
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p class="medium_text">AGE</p>
          <div>
         
            <h4 class="large_text_bold">26
            </h4>
           
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p  class="medium_text">POIDS
          </p>
          <div>
            <h4 class="large_text_bold">88<span class="small_text">kg</span>
            </h4>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p class="medium_text">TAILLE</p>
          <div>
         
            <h4 class="large_text_bold">182<span class="small_text">cm</span>
            </h4>
           
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p  class="medium_text">OBJECTIF
          </p>
          <div>
            <h4 class="large_text_bold">PERTE DE POIDS
            </h4>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p class="medium_text">REGIME ALIMENTAIRE</p>
          <div>
            <h4 class="large_text_bold">AUCUN
            </h4>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p  class="medium_text">ANTECEDENTS MEDICAUX
          </p>
          <div>
            <h4 class="large_text_bold">AUCUN
            </h4>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p class="medium_text" style="text-align: right;">INTOLERANCES ALIMENTAIRES</p>
          <div>
            <h4 class="large_text_bold">LACTOSE
            </h4>
           
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p  class="medium_text">MORPHOTYPE
          </p>
          <div>
         
            <h4 class="large_text_bold">MESOMORPHE
            </h4>
          
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="ion-padding-end check-out-big-cards">
          <p class="medium_text">TAUX DE MASSE GRASSE
          </p>
          <div>
         
            <h4 class="large_text_bold">20%
            </h4>
           
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container_data">
    <ion-row>
      <div class="profile-viewall">
          <ion-button (click)="openNewRequest()">Historique des campagnes
          </ion-button>
      </div>
  </ion-row>
  </div>
  <ion-row>
    <ion-col size="12" class="p-b-0 m-b-0">
        <ion-item class="height-40" lines="none">
            <ion-avatar slot="start">
                <img src="assets/icon/masculation.png" />
            </ion-avatar>
            <ion-label class="activity_title">MUSCULATION</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size="12" class="p-b-0 m-b-0">
        <ion-item class="height-40" lines="none">
            <ion-avatar slot="start">
                <img src="assets/icon/natation.png" />
            </ion-avatar>
            <ion-label class="activity_title ">NATATION</ion-label>
        </ion-item>
    </ion-col>
    <ion-col size="12" class="p-b-0 m-b-0">
        <ion-item class="height-40" lines="none">
            <ion-avatar slot="start">
                <img src="assets/icon/football.png" />
            </ion-avatar>
            <ion-label class="activity_title">FOOTBALL </ion-label>
        </ion-item>
    </ion-col>
</ion-row>
</ion-content>
