<div class="swiper" [hidden]="!cards.length">

  <!-- <div class="swiper--status">

      <div [style.opacity]="crossVisible? '1':'0'">

      </div>

      <div [style.opacity]="heartVisible? '1':'0'">
         
      </div>

  </div> -->

  <div class="swiper--cards" >

      <div #swiperCard class="swiper--card" (transitionend)="handleShift()" *ngFor="let card of cards; let i = index"
          [ngStyle]="{ zIndex: cards.length - i, transform: 'scale(' + (15 - i) / 15 + ') translateY(' + 15 * i + 'px)' }">
          <ion-card>
            <ion-card-content>
              <h3 class="medium_text_bold">{{ card.title }}</h3>
              <p class="small_text">{{ card.description }}</p>
              <ion-range [min]="minutesMinRange" max="60" (ionChange)="minuteChange($event)">
                <ion-label slot="end">{{minutesChangeRange}}</ion-label>
            </ion-range>
            </ion-card-content>
            <div class="swiper--buttons">

              <button (click)="userClickedButton($event, false)" class="left">
                <ion-icon name="arrow-back-outline"></ion-icon>
                  No
              </button>
          
              <button (click)="userClickedButton($event, true)" class="right">
                <ion-icon name="arrow-forward-outline"></ion-icon>
                  Yes
              </button>
          
            </div>
          </ion-card>
          <!-- <img #swiperCardImage [src]="card.img" (load)="swiperCardImage.style.opacity = 1"> -->
         

      </div>

  </div>

  

</div>