<ion-content>
    <div class="banner">
        <img src="assets/images/cloth-assories.png">
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size=12>
                <div class="ebook-title">
                    <h4>VETEMENTS & ACCESSOIRES</h4>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo1.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo2.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo3.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo4.png">
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="brand-logo">
                    <img src="assets/icon/brand/logo5.png">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>