ion-content {
    --padding-top: 10%;
    --padding-start: 3%;
    --padding-bottom: 5%;
}



ion-item {
    width: 100%;
}

.search_section {
    padding-left: 4%;
    padding-right: 4%;
    ion-input {
        background: #f1f0f0;
        border-radius: 12px;
        --padding-start: 10px;
    }
}

ion-select::part(text) {
    font-size: 0.8rem !important;
    font-family: 'Oswald' !important;
  }
.select_body_section {
    margin-left: 4%;
    margin-top: 10px;
    margin-right: 4%;
    border-style: dotted;
    border-color: #696969;
    padding: 5px;
    justify-content: center;
    border-width: 2px;
    border-radius: 10px;

}


.list_section {
    
}


.black_box {
    width: 50px;
    background: #000;
    height: 35px
}

.list_section_title {
    padding-left: 10px;
}



.footer_section_btn {

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 32px;
    --background: var(--ion-btn-custom-color);
}


.back,
.next {
    --ion-button-round-border-radius: 5px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 5px;
    height: 40px;
}


.next {
    --background: var(--ion-btn-custom-color);

}

.back {
    --background: linear-gradient(to right, #161616e0, #c1c1c1);
    img {
        width: 70%;
    }
}


