ion-content {}

ion-toolbar {
    border-bottom: 1px solid #c8c8c8;
    // height: 7%;
    padding-right: 10px;

    ion-text {
        display: block;
    }

    ion-buttons {
        ion-button {
            ion-img {
                width: 30px;
            }
        }
    }
}


.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}

.list_device_row {
    ion-item {
        width: 100%;



        div {
            ion-img {
                width: 50px;
            }
        }


        .list_section_title {
            padding-left: 7%;
        }

        .menu-icon {
            position: absolute;
            right: 5px;
            font-size: 25px;
            color: gray;
        }
    }
}



.line {
    width: 100px;
    border-bottom: 2px solid black; 
    padding-bottom: 15px; 
    position: relative;
}

.line:before, 
.line:after {
    position: absolute; 
    bottom: -6px; 
    left: 0; 
    height: 10px; 
    width: 10px; 
    background: black; 
    content: ""; 
    border-radius: 5px;
}

.line:after {
    right: 0; 
    left: auto;
}

.logo_compare_section {
    ion-grid {
        .device_section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            ion-img {
                width: 50px;
            }

            .logo_one {
                margin-right: 10px;
            }


            div {
                align-self: center;
                margin-right: 10px;
                padding: 0;
            }
        }

        .description_section_one {
            ion-label {
                text-align: center;
            }
        }
    }
}

.device_compare_body_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    padding-left: 25px;
    padding-right: 25px;


    ion-label {
        text-align: center;
    }
}



ion-footer {
    ion-button {
        width: 100%;
        --background: var(--ion-btn-custom-color)
    }
}