<ion-toolbar class="ion-border">
  <ion-buttons slot="end">
    <ion-button  *ngIf="showRow == 'first'">
      <ion-img
        src="assets/icon/add-bold.png"
        class="large_text_bold close-btn-icon"
      ></ion-img>
    </ion-button>
  </ion-buttons>

  <ion-text class="large_text_bold ion-text-center"> MES APPAREILS </ion-text>
</ion-toolbar>

<ion-content>
  <!-- My Notebook-->
  <ion-row class="ion-margin-top ion-margin-start" *ngIf="showRow == 'first'">
    <ion-grid>
      <ion-row class="list_device_row ion-margin-top">
        <ion-item lines="none" (click)="showRow = 'second'">
          <div>
            <ion-img src="assets/icon/starva.png"></ion-img>
          </div>
          <ion-label class="list_section_title">
            <ion-label class="medium_text"> Strava </ion-label>
          </ion-label>
          <ion-label class="menu-icon">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="list_device_row ion-margin-top">
        <ion-item lines="none" class="ion-margin-top">
          <div>
            <ion-img src="assets/icon/google-fit.png"></ion-img>
          </div>
          <ion-label class="list_section_title">
            <ion-label class="medium_text"> Google Fit </ion-label>
          </ion-label>
          <ion-label class="menu-icon">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="list_device_row ion-margin-top">
        <ion-item lines="none" class="ion-margin-top">
          <div>
            <ion-img src="assets/icon/adidas.png"></ion-img>
          </div>
          <ion-label class="list_section_title">
            <ion-label class="medium_text"> Adidas Running </ion-label>
          </ion-label>
          <ion-label class="menu-icon">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-row>







  <!--Second Section-->
  <ion-row class="ion-margin-top logo_compare_section" *ngIf="showRow == 'second'">
    <ion-grid class="ion-margin-top">
      <ion-row class="device_section ion-margin-bottom">
        <ion-img class="logo_one" src="assets/icon/logo.png"> </ion-img>

        <div class="line"></div>

        <ion-img src="assets/icon/starva.png"> </ion-img>
      </ion-row>

      <ion-row class="ion-margin description_section_one">
        <ion-label
          class="small_text ion-margin-left ion-margin-top ion-margin-right ion-padding-start ion-padding-end"
        >
          Connectez votre compte Strava à Transformatics pour partager vos
          activités
        </ion-label>
      </ion-row>

      <ion-row class="ion-margin-top device_compare_body_section">
     
          <ion-label class="ion-margin-top"> SE CONNECTER AVEC STRAVA ? </ion-label>
    
          <ion-label class="ion-margin-top small_text">
            Cela signifie que vos données personnelles de Transformatics seront
            échangées avec Strava (géolocalisation, calories brûlées, …) afin de
            permettre une compréhension optimale de vos caractéristiques
            physiologiques durant un effort.
          </ion-label>

          <ion-label class="ion-margin-top small_text">
            En cliquant sur le bouton ci-dessous, vous acceptez la politique de
            confidentialité de Strava et Transformatics.
          </ion-label>
        </ion-row>
    </ion-grid>
  </ion-row>
</ion-content>


<ion-footer class="ion-padding ion-no-border">
  <ion-button>
    {{
      showRow == "first"
        ? "Connecter un nouvel appareil" : "Connecter Strava"
    }}

  </ion-button>
</ion-footer>
