<ion-content>
  <ion-grid>
    <ion-row class="excercise_subname_list">
      <ion-label class="medium_text_bold"> Nom de l’exercice </ion-label>

      <ion-label class="small_text subname_title">
        Sous-nom de l’exercice
      </ion-label>
    </ion-row>

    <ion-row class="excercise_section">
      <ion-row class="ion-margin-top">
        <ion-col size="4">
          <img class="jour_img" src="assets/icon/2body.png" />
        </ion-col>

        <ion-col class="exercise_details" size="8">
          <ion-label class="small_text">
            Groupes musculaires sollicités wsd fvef e efv e edgv edvg :
          </ion-label>

          <ion-label class="small_text"> Pectoraux </ion-label>
        </ion-col>

        <ion-row class="excercise_input_section">
          <ion-item class="small_text">
            <ion-input placeholder="Rédiger une note sur l’exercice…">
            </ion-input>

            <ion-label class="small_text"> 0/200 </ion-label>
          </ion-item>
        </ion-row>

        <ion-row (click)="openCreateSupersetModal()" class="select_body_section ion-margin-top">
          <ion-label class="small_text"> Créer un superset </ion-label>
        </ion-row>
      </ion-row>
    </ion-row>

    <ion-row class="slide_Section ion-margin-top">
      <h6 class="series_title">SÉRIES ET RÉPÉTITIONS</h6>

      <ion-row class="slide_Section">
        <ion-segment
          scrollable="false"
          mode="ios"
          [(ngModel)]="segmentModel"
          (ionChange)="segmentChanged($event)"
          style="width: 100%"
        >
          <ion-segment-button value="training">
            <ion-label  style="margin-top: -12%;">
              Répétitions x charge (kg)
            </ion-label>
          </ion-segment-button>

          <ion-segment-button value="alimentation" >
            <ion-label  style="margin-top: -12%;">Durée (secondes)</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div class="segment_container_data ion-margin-top">
          <div *ngIf="segmentModel === 'training'">
            <ion-grid>
              
              <ion-row>
                <ion-card
                style="
                  margin: 0;
                  height: 10%;
                  padding-bottom: 5px;
                  padding-top: 1px;
                "
              >
                <ion-row>
                  <ion-col size="1" class="card_side_data ">
                    <ion-label>1 </ion-label>
                  </ion-col>

                  <ion-col size="10" class="card_content_data ">
                    <ion-row>
                      <ion-col size="7" class="col-top-padding">
                        <ion-row>
                          <ion-col size="5" class="common_col">
                            <ion-label class="medium_text text-color">
                              12
                            </ion-label>
                          </ion-col>

                          <ion-col size="2">
                            <ion-icon
                              name="close-outline"
                              class="text-color"
                            ></ion-icon>
                          </ion-col>

                          <ion-col size="5" class="common_col">
                            <ion-label class="medium_text text-color">
                              36
                            </ion-label>
                          </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 5px">
                          <ion-item class="common_row">
                            <ion-icon name="stopwatch-outline"></ion-icon>
                            <ion-label class="small_text ion-padding-start">
                              45s de repos
                            </ion-label>
                          </ion-item>
                        </ion-row>

                        <ion-row class="common_row" style="margin-top: 5px">
                          <ion-label
                            class="small_text"
                            style="align-self: center"
                          >
                            Ajouter une technique d’intensification
                          </ion-label>
                        </ion-row>
                      </ion-col>
                      <ion-col class="common_row" size="5" style="padding-bottom: 0;">
                        <ion-grid>
                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="medium_text text-color">
                                RPE
                              </ion-label>
                            </ion-col>

                            <ion-col size="4">
                              <ion-label class="small_text text-color">
                                2
                              </ion-label>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="medium_text text-color">
                                RIR
                              </ion-label>
                            </ion-col>

                            <ion-col size="4">
                              <ion-label class="small_text text-color">
                                -
                              </ion-label>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="medium_text text-color">
                                %1RM
                              </ion-label>
                            </ion-col>

                            <ion-col size="4">
                              <ion-label class="small_text text-color">
                                -
                              </ion-label>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="7">
                              <ion-label class="medium_text text-color">
                                Tempo
                              </ion-label>
                            </ion-col>

                            <ion-col size="5">
                              <ion-label class="small_text text-color">
                                4112
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="1" class="card_side_data">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-col>
                </ion-row>

                <ion-row
                  class="excercise_input_section ion-padding"
                  style="padding-top: 0; padding-bottom: 5px"
                >
                  <ion-item class="card_input small_text">
                    <ion-input placeholder="Rédiger une note sur la série…">
                    </ion-input>

                    <ion-label class="small_text"> 0/200 </ion-label>
                  </ion-item>
                </ion-row>
                
              </ion-card>

              </ion-row>
        

     
              <ion-row class="ion-margin-top">
                <ion-card
                style="
                  margin: 0;
                  height: 10%;
                  padding-bottom: 5px;
                  padding-top: 1px;
                "
              >
                <ion-row>
                  <ion-col size="1" class="card_side_data ">
                    <ion-label>1 </ion-label>
                  </ion-col>

                  <ion-col size="10" class="card_content_data ">
                    <ion-row>
                      <ion-col size="7" class="col-top-padding">
                        <ion-row>
                          <ion-col size="5" class="common_col">
                            <ion-label class="medium_text text-color">
                              12
                            </ion-label>
                          </ion-col>

                          <ion-col size="2">
                            <ion-icon
                              name="close-outline"
                              class="text-color"
                            ></ion-icon>
                          </ion-col>

                          <ion-col size="5" class="common_col">
                            <ion-label class="medium_text text-color">
                              36
                            </ion-label>
                          </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 5px">
                          <ion-item class="common_row">
                            <ion-icon name="stopwatch-outline"></ion-icon>
                            <ion-label class="small_text ion-padding-start">
                              45s de repos
                            </ion-label>
                          </ion-item>
                        </ion-row>

                        <ion-row class="common_row" style="margin-top: 5px">
                          <ion-label
                            class="small_text"
                            style="align-self: center"
                          >
                            Ajouter une technique d’intensification
                          </ion-label>
                        </ion-row>
                      </ion-col>
                      <ion-col class="common_row" size="5" style="padding-bottom: 0;">
                        <ion-grid>
                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="medium_text text-color">
                                RPE
                              </ion-label>
                            </ion-col>

                            <ion-col size="4">
                              <ion-label class="small_text text-color">
                                2
                              </ion-label>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="medium_text text-color">
                                RIR
                              </ion-label>
                            </ion-col>

                            <ion-col size="4">
                              <ion-label class="small_text text-color">
                                -
                              </ion-label>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="medium_text text-color">
                                %1RM
                              </ion-label>
                            </ion-col>

                            <ion-col size="4">
                              <ion-label class="small_text text-color">
                                -
                              </ion-label>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size="7">
                              <ion-label class="medium_text text-color">
                                Tempo
                              </ion-label>
                            </ion-col>

                            <ion-col size="5">
                              <ion-label class="small_text text-color">
                                4112
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="1" class="card_side_data">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-col>
                </ion-row>

                <ion-row
                  class="excercise_input_section ion-padding"
                  style="padding-top: 0; padding-bottom: 5px"
                >
                  <ion-item class="card_input small_text">
                    <ion-input placeholder="Rédiger une note sur la série…">
                    </ion-input>

                    <ion-label class="small_text"> 0/200 </ion-label>
                  </ion-item>
                </ion-row>
                
              </ion-card>

              </ion-row>
            </ion-grid>

            <ion-row class="select_body_section_two ion-margin-top">
              <ion-label class="small_medium_text"> Ajouter une série </ion-label>
            </ion-row>

            
          </div>

          <div *ngIf="segmentModel === 'alimentation'">
            <ion-grid>
              <ion-card
                style="
                  margin: 0;
                  padding-bottom: 5px;
                  padding-top: 1px;
                "
              >
                <ion-row>
                  <ion-col size="1" class="card_side_data">
                    <ion-label>1 </ion-label>
                  </ion-col>

                  <ion-col size="10" class="card_content_data_two">
                    <ion-row>
                      <ion-col size="8" style="padding-top: 0;">
                        <ion-row>
                          <ion-col size="6" class="common_col col-height">
                            <ion-label class="medium_text text-color">
                              45
                            </ion-label>
                          </ion-col>

                    
                          <ion-col size="6" class="col-height col-top-padding ">
                            <ion-grid class="grid-top-padding ">
                              <ion-row class="common_row" style="height: 30px;
                              ">
                                <ion-label class="medium_text_bold text-color">
                                  Minutes
                                </ion-label>
                              </ion-row>
  
                              <ion-row class="common_row" style="margin-top: 5px; height: 30px">
                                <ion-label class="medium_text_light text-color">
                                  Secondes
                                </ion-label>
                              </ion-row>
                            </ion-grid>


                          </ion-col>
                        </ion-row>

                      </ion-col>
                      <ion-col class="common_row col-height" size="4">
                        <ion-grid class="grid-top-padding ">
                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="medium_text text-color">
                                RPE
                              </ion-label>
                            </ion-col>

                            <ion-col size="4">
                              <ion-label class="small_text text-color">
                                2
                              </ion-label>
                            </ion-col>
                          </ion-row>

                        </ion-grid>
                      </ion-col>
                    </ion-row>

                    <ion-row
                  class="excercise_input_section ion-padding ion-top-margin"
                  style="padding-top: 0; padding-bottom: 5px"
                >
                  <ion-item class="card_input small_text">
                    <ion-input placeholder="Rédiger une note sur la série…">
                    </ion-input>

                    <ion-label class="small_text"> 0/200 </ion-label>
                  </ion-item>
                </ion-row>

                  </ion-col>
                  <ion-col size="1" class="card_side_data">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-col>
                </ion-row>

                
              </ion-card>
            </ion-grid>


            <ion-row class="select_body_section_two ion-margin-top">
              <ion-label class="small_medium_text">Ajouter une série </ion-label>
            </ion-row>
          </div>
        </div>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer>
      <ion-row class="footer-row">
  
          <ion-button (click)="updateService()"
            class="next"
            expand="full"
            shape="round"
            >Ajouter [x] exercices
          </ion-button>
      </ion-row>
</ion-footer>

