.excercise_subname_list {

}

ion-content {
    --padding-top: 10%;
    --padding-start: 3%;
    --padding-end: 3%;

    --padding-bottom: 5%;
}




.subname_title {
    margin-left: 10px;
    align-self: center;
    color: rgb(136, 135, 135);
    letter-spacing: 0.1 rem;
}

.jour_img {
    width: 100px;
}


.exercise-details-section {
    height: 35px;
    margin-top: -8px
}

.exercise_details {
    display: flex;
    flex-direction: column;
}

ion-item {
    width: 100%;
}

.excercise_input_section {
    width: 100%;
}

.select_body_section {
    width: 100%;
    margin-left: 20px;
    margin-top: 5%;
    margin-right: 20px;
    border-style: dotted;
    border-color: #363636;
    background: #f0f0f0;
    padding: 5px;
    justify-content: center;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.series_title {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}


.slide_Section {
    width: 100%;
}

ion-segement {
    width: 100%;
}

ion-card {
    width: 100%;
}

.segment_container_data {
    width: 100%;

}



.card_side_data {
    display: flex;
justify-content: center;
align-self: center;
}

.card_content_data {
    height: 85%;
    // display: flex;
    // align-self: center;
    // background: #edeaea;
}

.common_col {
    background: #edeaea;
    // height: 35%;
    background: #edeaea;
    display: flex;
    justify-content: center;
    height: 50px;

    ion-label {
        align-self:center;
    }
}

.common_row {
    --background: #edeaea;
    background: #edeaea;

    height: 35%;
    display: flex;
    justify-content: center;
}

.text-color {
    color: #000;
}

.card_input {
    --border-color: #898787;
    padding-left: 3%;
    padding-right: 3%;
}

// ion-col {
//     padding: 0;
// }

// ion-grid {
//     padding: 0;
// }



.col-height {
    height: 65px !important;
}


.grid-top-padding {
    padding-top: 0 !important;
}

.col-top-padding {
    padding-top: 0 !important;
}


.select_body_section_two { 
    width: 100%;
    margin-top: 5%;
    margin-right: 20px;
    border-style: dotted;
    border-color: #363636;
    background: #f0f0f0;
    padding: 5px;
    justify-content: center;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.next {
    width: 100%;
}

.footer-row {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;

    ion-button {
        --background: var(--ion-btn-custom-color)
    }

}