/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Oswald';
    src: url(assets/fonts/Oswald-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Oswald-Bold';
    src: url(assets/fonts/Oswald-Bold.ttf);
  }
  @font-face {
    font-family: 'Oswald-SemiBold';
    src: url(assets/fonts/Oswald-SemiBold.ttf);
  }
  @font-face {
    font-family: 'Oswald-Medium';
    src: url(assets/fonts/Oswald-Medium.ttf);
  }
  @font-face {
    font-family: 'Oswald-Light';
    src: url(assets/fonts/Oswald-Light.ttf);
  }

// #toolbar {
//     border-color : transparent  !important;
// }
.pi-0 {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}

.mi-0 {
    margin-inline: 0px;
}

.p-0 {
    --padding-top: 0;
    --padding-start: 0em;
    --padding-end: 0em;
    --padding-bottom: 0;
}

.p-b-0 {
  padding-bottom: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.p-t-0 {
  padding-top: 2px !important;
}
.m-t-0 {
  margin-top: 2px !important;
}
.t-a-r {
  text-align: right;
}
.f-size-16 {
  font-size: 16px;
}
.f-size-14 {
  font-size: 14px;
}
.f-size-13 {
  font-size: 13px;
}
// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     font-family: 'Anton', sans-serif;
//   }

* {
  font-family: 'Oswald';
}


// .plan-slider .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets{
//   bottom: 0px;
//   left: 0;
//   width: 100%;
// }


// .body-scan-slide2 .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets{
//   bottom: -25px;
//   left: 0;
//   width: 100%;
//   --bullet-background: #4e4d4d;
// }



.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 0px;
  left: 0;
  width: 100%;
}
 
.create-a-superuser-modal  .modal-wrapper {
    --height: 50%;
    --width: 90vw !important;
    --border-radius: 5px !important;
}


 
.small_select_type_modal_after  .modal-wrapper {
  --height: 30%;
  --width: 90vw !important;
  --border-radius: 5px !important;
}


.aliments-modal .modal-wrapper {
  --height: 100vh;
  --width: 80vw !important;
  --border-radius: 5px !important;

  position: absolute !important;
  bottom: 0px;
  right: 0px;
}


.centerd-modal-wood-excercise .modal-wrapper {
  --height: 80vh;
  --width: 90vw !important;
  --border-radius: 5px !important;
}

.check-up-modal .modal-wrapper {
  --height:85%;
  // align-items: flex-end;
  position: absolute !important;
    bottom: 0px;
    right: 0px;

    // right: 0px;
  
}
.coach-chat-modal .modal-wrapper {
  --height:85%;
 
  position: absolute !important;
    bottom: 0px;
}
.coach-checkup-modal .modal-wrapper {
  --height:85%;
 
  position: absolute !important;
    bottom: 0px;
}
.coach-new-request-modal .modal-wrapper {
  --height:85%;
 
  position: absolute !important;
    bottom: 0px;
}
.calendar-style .modal-wrapper {
  --height: 58vh;
    position: absolute !important;
    top: 0px;

}
.calendar-style .modal-shadow {
  --height: 58vh;
    position: absolute !important;
    top: 0px;
}
.custom-calendar {
  background: transparent  !important;
}
.custom-calendar {
  ion-calendar-week {
    display: none !important;
  }
  ion-calendar-month {
    display: none !important;
  }
  ion-calendar-month-picker {
    display: none !important;
  }
  // .switch-btn{
    
  //   background: #626262 !important;
  //   border-radius: 25px !important;
  //   border: 2px solid #333 !important;
  //   width: 45% !important;
  //   color: #fff !important;
  // }
}
.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.switch-btn{
 
    background: #fff !important;
    // padding: 3px 20px !important;
    border-radius: 25px !important;
    border: 2px solid #333 !important;
    width: 45% !important;
    
}
.title .switch-btn {
  font-size: 12px !important;
}
.switch-btn .arrow-dropdown {
  display: none !important;
}
.title .forward {
  margin-left: -40px !important;
    right: -50px !important;
    width: 40px !important;
}

.title .back {
  margin-left: -20% !important;
    left: -100px !important;
    width: 40px !important;
}
.rainy-toggle .toggle-inner {
  background: url('./assets/icon/female.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: white;
  background-position: center;
}
.ion-activatable .ion-focusable  .fab-button-close-active .ion-activated {
  --background: transparent  !important;
}