<ion-toolbar class="ion-border" >
  <ion-buttons slot="start" (click)="closeModal()">
    <ion-button>
      <ion-icon
        name="close-outline"
        class="large_text_bold close-btn-icon"
      ></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-text class="large_text_bold"> CHECK-UP – </ion-text>
  <ion-text class="medium_text"> LUNDI 17 FEVRIER 2020 </ion-text>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="check-out-big-cards">
          <p>POIDS</p>
          <div>
            <!-- <h4 class="large_text_bold">88</h4>
            <ion-label class="small_text"> kg</ion-label> -->
            <ion-item>
              <ion-input placeholder="88 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="check-out-big-cards">
          <p>TAILLE</p>
          <div>
            <!-- <h4 class="large_text_bold">88</h4>
            <ion-label class="small_text"> kg</ion-label> -->
            <ion-item>
              <ion-input placeholder="182 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--          
            <h4 class="medium_text_bold">63</h4>
            <ion-label class="small_text"> cm</ion-label> -->

    <ion-row>
      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Biceps droit</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Biceps gauche</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Avant-bras droit</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Avant-bras gauche</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Cuisse droite</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Cuisse gauche</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Tour de taille</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Tour de poitrine</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Largeur d’épaules</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card class="check-out-small-cards">
          <div class="small_card_title">
            <p class="very_small_text">Largeur de hanches</p>
          </div>
          <div class="small_card_desc">
            <ion-item>
              <ion-input placeholder="63 kg"></ion-input>
            </ion-item>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      
        <ion-col size="4">
          <ion-card
          [class]="program"
          (click)="donsomething($event, src)"
          style="height: 100%;"
        >
          <ion-card-content class="slide_card_content">
            <img [src]="morphotypeArray[0].src" class="slide-img" />
          </ion-card-content>
        </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card
          [class]="program"
          (click)="donsomething($event, src)"
          style="height: 100%;"
        >
          <ion-card-content class="slide_card_content">
            <img [src]="morphotypeArray[1].src" class="slide-img" />
          </ion-card-content>
        </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card
          [class]="program"
          (click)="donsomething($event, src)"
          style="   height: 100%;"
        >
          <ion-card-content class="slide_card_content">
            <img [src]="morphotypeArray[2].src" class="slide-img" />
          </ion-card-content>
        </ion-card>
        </ion-col>
        <!-- <ion-slides pager="false" [options]="categories" #slides>
          <ion-slide *ngFor="let src of morphotypeArray">
            <ion-card
              [class]="src.activeClass ? 'program active' : 'program'"
              (click)="donsomething($event, src)"
            >
              <ion-card-content>
                <img [src]="src.src" class="slide-img" />
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides> -->
      
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-button expand="full" class="validate_btn">
        Valider le check-up
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
