ion-card {
    width: 94%;
    margin-top: 20px;
}

.canvas {
    display: block;
    height: 182px;
    width: 324px;
}

ion-card-content {
    padding: 0;
    margin-top: 25px;
    margin-left: 10px;
}
.card_header {
    padding-inline: 5px;
}
.card_header h4{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 16px;
    color: #000;
}
.card_header p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


.p-disabled {
    color: #bebcbc;
}