// .card-box:before {
//     content: "";
//     border-right: 20px solid #F4B183;
//     border-top: 20px solid #F4B183;
//     border-left: 20px solid #ff000000;
//     border-bottom: 20px solid #ff000000;
//     position: absolute;
//     top: 0;
//     right: 0;
//     z-index: 999;
// }
.card-box {
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 5px;
}

.ribbon-wrapper-1 {
    width: 51px;
    height: 65px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ribbon-1 {
    font: bold 15px Sans-Serif;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: rotate( 47deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: 0px;
    top: 16px;
    height: 44px;
    width: 150px;
    background: var(--ion-btn-custom-color);
    color: #fff;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    letter-spacing: 0.5px;
    z-index: 1;
}

// =================ribbon=====================
.card-box ion-item {
    --inner-border-width: 0 0 0px 0;
}

.logo {
    width: 40px;
    border: 1px solid #000;
    border-radius: 25px;
    height: 40px;
    padding: 0px;
}

.leftbtn {
    --background: var(--ion-btn-custom-color)
}