<!-- Header without a border -->
<ion-header>
    <ion-toolbar class="ion-text-center">
        <ion-title>LE COACHING TRANSFORMATICS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="f14 ion-text-justify">
                    <p class="small_text">
                        Vous faire coacher, c’est entreprendre un long voyage avec celui qui s’engage corps et âme à vous aider à attendre vos objectifs. Le système de coaching de Transformatics vous permet de sélectionner un de nos préparateurs physiques certifiés afin d’entamer
                        une collaboration sur une durée variable. Cette sélection se réalise en fonction de votre demande, à savoir le type de préparation que vous souhaitez suivre : un coaching standard, ou en vue d’une compétition ; ou même des préparations
                        dans d’autres sports (natation, football, rugby, …). Vous aurez également accès aux diplômes de nos coachs et une brève biographie qui vous permettront de faire votre choix plus facilement.
                    </p>
                    <h4 class="f16 ion-text-center medium_text_bold">POUR TOUT COACHING, TRANSFORMATICS VOUS OFFRE VOTRE ABONNEMENT ! </h4>
                </div>
            </ion-col>
            <ion-col size="12">
                <ion-card class="card-box ion-no-margin">
                    <ion-item>
                        <img class="logo" style="width: 40px;" slot="start" src="assets/icon/traficationlogo.png">
                        <ion-label>TARIFICATION & ENGAGEMENT
                        </ion-label>
                    </ion-item>

                    <ion-card-content class="ion-text-justify small_text_light">
                        Tous les coachings du système Transformatics reposent sur un engagement de 6 mois ou 1 an. En fonction de la prestation choisie, vous bénéficierez d’une réduction sur le tarif mensuel initial. Cependant, quelle que soit la prestation sélectionnée, votre
                        abonnement au système vous sera offert pendant toute la durée du coaching ! La première étape pour vous lancer dans un coaching personnalisé, c’est de vous inscrire !
                    </ion-card-content>
                    <div class="ribbon-wrapper-1">
                        <div class="ribbon-1">Ribbon</div>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-button class="leftbtn border-5" shape="round" expand="full" routerLink="/find-coach">Choisir son coach</ion-button>
            </ion-col>
            <ion-col size="6 ">
                <ion-button class="border-5" color="dark " shape="round" expand="full ">Voir le classement</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>