.markts-menu h4 {
    position: absolute;
    color: #fff;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
    text-align: center;
}

.markts-menu {
    position: relative;
    height: 180px;
}

.markts-menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


ion-content {
    --padding-bottom: 20% !important;
}