<ion-content (ionScroll)="scrollHandler($event)" scrollEvents="true">

    <div class="markts-menu" routerLink="/ebook">
        <img src="assets/images/market1.jpg">
        <h4>E-BOOKS TRANSFORMATICS</h4>
    </div>

    <div class="markts-menu" routerLink="/cloth-accessoires">
        <img src="assets/images/market2.jpg">
        <h4>VÊTEMENTS ET ACCESSOIRES</h4>
    </div>

    <div class="markts-menu" routerLink="/food-supplementation">
        <img src="assets/images/market3.jpg">
        <h4>ALIMENTATION ET COMPLÉMENTATION</h4>
    </div>

    <div class="markts-menu" routerLink="/sports-metrial">
        <img src="assets/images/market4.jpg">
        <h4>MATÉRIEL SPORTIF</h4>
    </div>

</ion-content>