<ion-grid>
    <ion-row>
        <ion-col size="12">
            <h3>OBJECTIFS ALIMENTAIRES</h3>
            <p>Quel est votre objectif physique et sportif ? Choisissez l’un des objectifs suivants et sélectionnez un
                niveau de suivi :
            </p>
        </ion-col>
        <ion-col size="4">
            <div class="steptwofirstbtn">
                <ion-button [color]="foodGoalsSelection == 'Gain muscle' ? 'primary' : 'light'" expand="full"
                    (click)="changeFoodGoalsSelection('Gain muscle')">Prendre du muscle</ion-button>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="steptwofirstbtn">
                <ion-button [color]="foodGoalsSelection == 'Losing weight' ? 'primary' : 'light'" expand="full"
                    (click)="changeFoodGoalsSelection('Losing weight')">Perdre du poids</ion-button>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="steptwofirstbtn">
                <ion-button [color]="foodGoalsSelection == 'Maintain' ? 'primary' : 'light'" expand="full" expand="full"
                    (click)="changeFoodGoalsSelection('Maintain')">Se maintenir</ion-button>
            </div>
        </ion-col>
        <div *ngIf="foodGoalsSelection == 'Gain muscle'">
            <ion-col size="12">
                <p>Choisissez cet objectif si votre priorité est de développer votre masse musculaire, d’avoir l’air
                    plus massif et d’être plus fort.
                </p>
                <h3>Rythme de prise de muscle</h3>
            </ion-col>
        </div>
        <div *ngIf="foodGoalsSelection == 'Losing weight'">
            <ion-col size="12">
                <p>Choisissez cet objectif si votre priorité est de perdre du poids, d’avoir un corps plus tonifié, sec
                    et dynamique.
                </p>
                <h3>Rythme de perte de poids</h3>
            </ion-col>
        </div>
        <div *ngIf="foodGoalsSelection == 'Maintain'">
            <ion-col size="12">
                <p>Choisissez cet objectif si vous êtes satisfait de votre niveau physique actuel et que vous souhaitez
                    simplement maintenir cette condition. Choisissez cette option si vous êtes satisfait(e) et que vous
                    souhaitez simplement conserver cette condition physique pendant un laps de temps à déterminer.
                </p>
            </ion-col>
        </div>

        <ion-col size="4">
            <div class="steptwofirstbtn" *ngIf="foodGoalsSelection != 'Maintain'">
                <ion-button [color]="paceOfMuscleGain == 'Soft' ? 'primary' : 'light'" expand="full"
                    (click)="changePaceOfMuscleGain('Soft')">Doux</ion-button>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="steptwofirstbtn" *ngIf="foodGoalsSelection != 'Maintain'">
                <ion-button [color]="paceOfMuscleGain == 'Moderate' ? 'primary' : 'light'" expand="full"
                    (click)="changePaceOfMuscleGain('Moderate')">Modéré</ion-button>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="steptwofirstbtn" *ngIf="foodGoalsSelection != 'Maintain'">
                <ion-button [color]="paceOfMuscleGain == 'Fort' ? 'primary' : 'light'" expand="full"
                    (click)="changePaceOfMuscleGain('Fort')">Fort</ion-button>
            </div>
        </ion-col>

        <ion-col size="12">
            <div *ngIf="foodGoalsSelection == 'Gain muscle'">
                <div *ngIf="paceOfMuscleGain == 'Soft'">
                    <p>Si vous souhaitez prendre du muscle mais tout en gardant une condition de sèche respectable,
                        choisissez cette option. Vous construirez du muscle plus lentement qu’en choisissant une option
                        plus agressive, mais prendrez moins de graisse durant cette période.
                    </p>
                </div>
                <div *ngIf="paceOfMuscleGain == 'Moderate'">
                    <p>Choisissez cette option si vous voulez prendre du muscle et gagner en force, et que vous ne vous
                        souciez pas vraiment du fait de prendre un peu de graisse durant cette période.
                    </p>
                </div>
                <div *ngIf="paceOfMuscleGain == 'Fort'">
                    <p>Choisissez cette option si vous désirez prendre du muscle le plus rapidement possible, même
                        quitte à prendre de la graisse dans le même temps. Sur cette prise de muscle agressive, votre
                        poids augmentera significativement, mais cela vous donnera la possibilité de construire beaucoup
                        plus de masse musculaire dans un laps de temps similaire.
                    </p>
                </div>
            </div>
            <div *ngIf="foodGoalsSelection == 'Losing weight'">
                <div *ngIf="paceOfMuscleGain == 'Soft'">
                    <p>Choisissez cette option si vous souhaitez perdre du poids de manière lente et contrôlée, tout en
                        gardant un maximum de force et de masse musculaire.
                    </p>
                </div>
                <div *ngIf="paceOfMuscleGain == 'Moderate'">
                    <p>Choisissez cette option si vous voulez perdre assez rapidement du poids sans prendre le risque de
                        perdre trop de volume musculaire.
                    </p>
                </div>
                <div *ngIf="paceOfMuscleGain == 'Fort'">
                    <p>Choisissez cette option si vous désirez perdre de la graisse le plus rapidement possible sans
                        prendre en considération l’éventuelle fonte musculaire. En choisissant cette option, vous
                        observerez une réduction de votre force et de votre énergie, et prendrez le risque de perdre
                        plus de muscle que de graisse durant cette période.
                    </p>
                </div>
            </div>
            <div>
                <ion-list>
                    <ion-item>
                        <ion-checkbox style="margin-right: 10px;"></ion-checkbox>
                        <ion-label>Vous avez déjà suivi vos macronutriments par le passé ? Cochez cette case.
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>