.steptwofirstbtn ion-button {
    white-space: normal;
    font-size: 12px;
    --padding-start: 0;
    --padding-end: 0;
    height: 50px;
}

ion-item ion-label {
    white-space: normal;
}

ion-item {
    --inner-border-width: 0px 0px 0px 0px;
}