ion-content {
    --padding-bottom: 2%;
    --padding-start:2%;
    --padding-top: 2%;

    --padding-end: 2%;

}


.black_box {
    width: 37px;
    background: #000;
    height: 30px;

}

.list_section_title {
    padding-left: 4%;
}

.very_small_text_1 {
    font-size: 0.75rem !important;
    color: #000;
    font-weight: 500;
}


.list_item_col2 {
    ion-item {


        --padding-start: 0;
    }
}

.active_btn {
    background: var(--ion-btn-custom-color);
}

.card_holder {
    display: flex;
}

.card_btn {
    height: 60px;
    width: 60px;
    border: 2px solid #565656;
    margin: 0;
    display: flex;

    justify-content: center;

    ion-label {
        align-self: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
    }
}


.add_btn_col {
    display: flex;
    justify-content: flex-end;
}


.card_btn_next {
    margin-left: 5px;
    ion-label {
        align-self: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
    }
}




.footer_section_btn {

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 32px;
    --background: var(--ion-btn-custom-color);
}


.back,
.next {
    --ion-button-round-border-radius: 5px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 5px;
    height: 40px;
}


.next {
    --background: var(--ion-btn-custom-color);

}

.back {
    --background: linear-gradient(to right, #161616e0, #c1c1c1);
    img {
        width: 70%;
    }
}

