<ion-content>
  <ion-row>
    <ion-col size="12" class="list_item_col2">
      <ion-item lines="none">
        <div class="black_box"></div>

        <ion-label class="list_section_title">
          <ion-label class="very_small_text_1"> Nom de l’exercice </ion-label>
          <ion-label class="very_small_text_1">
            Sous nom de l’exercice
          </ion-label>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-col>

    <ion-col size="12" class="list_item_col2">
      <ion-item lines="none">
        <ion-label class="small_text_bold"
          >Nombre de fois par semaine
        </ion-label>
        <ion-select value="2" class="small_text_bold">
          <ion-select-option value="2">2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-label class="small_text_bold"> Quels jours ? </ion-label>
    </ion-col>

    <div class="card_holder">
      <ion-card
        [class]="days == '1' ? 'active_btn card_btn card_btn_next': 'card_btn card_btn_next'"
        (click)="days = '1'"
      >
        <ion-label class="small_text_bold"> 1 </ion-label>
      </ion-card>

      <ion-card
        [class]="days == '2' ? 'active_btn card_btn card_btn_next': 'card_btn card_btn_next'"
        (click)="days = '2'"
      >
        <ion-label class="small_text_bold"> 2 </ion-label>
      </ion-card>

      <ion-card
        [class]="days == '3' ? 'active_btn card_btn card_btn_next': 'card_btn card_btn_next'"
        (click)="days = '3'"
      >
        <ion-label class="small_text_bold"> 3 </ion-label>
      </ion-card>
    </div>
    
    <ion-col size="12" class="list_item_col2">
      <ion-item>
        <ion-label class="small_text_bold"
          >Méthode de progression

        </ion-label>
        <ion-select value="2" class="small_text_bold">
          <ion-select-option value="2">Aucune</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  

  <ion-row class="ion-margin-top">
    <ion-col size="12" class="list_item_col2">
      <ion-item lines="none">
        <div class="black_box"></div>

        <ion-label class="list_section_title">
          <ion-label class="very_small_text_1"> Nom de l’exercice </ion-label>
          <ion-label class="very_small_text_1">
            Sous nom de l’exercice
          </ion-label>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-col>

    <ion-col size="12" class="list_item_col2">
      <ion-item lines="none">
        <ion-label class="small_text_bold"
          >Nombre de fois par semaine
        </ion-label>
        <ion-select value="2" class="small_text_bold">
          <ion-select-option value="2">2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-label class="small_text_bold"> Quels jours ? </ion-label>
    </ion-col>

    <div class="card_holder">
      <ion-card
        [class]="days1 == '1' ? 'active_btn card_btn card_btn_next': 'card_btn card_btn_next'"
        (click)="days1 = '1'"
      >
        <ion-label class="small_text_bold"> 1 </ion-label>
      </ion-card>

      <ion-card
        [class]="days1 == '2' ? 'active_btn card_btn card_btn_next': 'card_btn card_btn_next'"
        (click)="days1 = '2'"
      >
        <ion-label class="small_text_bold"> 2 </ion-label>
      </ion-card>

      <ion-card
        [class]="days1 == '3' ? 'active_btn card_btn card_btn_next': 'card_btn card_btn_next'"
        (click)="days1 = '3'"
      >
        <ion-label class="small_text_bold"> 3 </ion-label>
      </ion-card>
    </div>
    
    <ion-col size="12" class="list_item_col2">
      <ion-item>
        <ion-label class="small_text_bold"
          >Méthode de progression

        </ion-label>
        <ion-select value="2" class="small_text_bold">
          <ion-select-option value="2">Aucune</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button
            class="back"
            expand="full"
            shape="round"
            routerLink="/hypertrophy-strengthening-program-creation"
            >
            <img src="assets/icon/back-triangle.png" alt="">
          </ion-button>
        </ion-col>
        <ion-col>
          <!-- <ion-button
            class="next"
            expand="full"
            shape="round"
            routerLink="/excercise-sheet"
            >Ajouter [x] exercices
          </ion-button> -->

          <ion-button
          class="next"
          expand="full"
          shape="round"
          routerLink="/excercise-sheet"
          >Valider les exercices de force
        </ion-button>

        
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
