<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-label class="small_text">
        Sélectionnez une catégorie du <strong>WOD</strong> : 

      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" [color]="categoryWood =='warm-up' ? 'primary' : 'light'" class="small_text" (click)="categoryWood ='warm-up'">
          Warm-up

        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" [color]="categoryWood =='skill' ? 'primary' : 'light'" class="small_text" (click)="categoryWood ='skill'">
          Skill
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" [color]="categoryWood =='mini-wood' ? 'primary' : 'light'" class="small_text" (click)="categoryWood ='mini-wood'">
          Mini-WOD’s


        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" [color]="categoryWood =='etirements' ? 'primary' : 'light'" class="small_text" (click)="categoryWood ='etirements'">
          Etirements
        </ion-button>
      </ion-col>
    </ion-row>







  </ion-grid>




  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-label class="small_text">
        Sélectionnez un type de <strong>WOD</strong> :
 

      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" [color]="typeWood =='MetCon' ? 'primary' : 'light'" class="small_text" (click)="typeWood ='MetCon'">
          MetCon
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" [color]="typeWood =='Powerlifting' ? 'primary' : 'light'" class="small_text" (click)="typeWood ='Powerlifting'">
          Powerlifting
        </ion-button>
      </ion-col>
    </ion-row>







  </ion-grid>




  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-label class="small_text">
        Sélectionnez une consigne : 

 

      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" [color]="selectLocker =='for_time' ? 'primary' : 'light'" class="small_text" (click)="selectLocker ='for_time'">
          For Time

        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" [color]="selectLocker =='for_rounds' ? 'primary' : 'light'" class="small_text" (click)="selectLocker ='for_rounds'">
          For Rounds
        </ion-button>
      </ion-col>
    </ion-row>







  </ion-grid>













  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-label class="small_text">
        Sélectionnez un <strong>Mini-WoD</strong> :


      </ion-label>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" [color]="selectMiniWood =='faq_afap' ? 'primary' : 'light'" class="small_text" (click)="selectMiniWood ='faq_afap'">
          FAQAYC / AFAP 


        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" [color]="selectMiniWood =='sprints' ? 'primary' : 'light'" class="small_text" (click)="selectMiniWood ='sprints'">
          Sprints
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" [color]="selectMiniWood =='tabata' ? 'primary' : 'light'" class="small_text" (click)="selectMiniWood ='tabata'">
          Tabata

        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="full" [color]="selectMiniWood =='chipper' ? 'primary' : 'light'" class="small_text" (click)="selectMiniWood ='chipper'">
          Chipper
        </ion-button>
      </ion-col>
    </ion-row>







  </ion-grid>
</ion-content>