<ion-content>
    <div class="titlebox">
        <div class="titlebox-arrow">
            <div>
                <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
            <div class="ion-text-right">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
        <div class="title-img">
            <img src="assets/images/edit_physical_activity.png">
        </div>
        <div class="titlebox-text">
            <h4 class="f14">PROGRAMME</h4>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div class="ion-text-center content-box">
                    <div>
                        <ion-icon name="alarm-outline"></ion-icon>
                    </div>
                    <h4>6 semaines</h4>
                    <p>Durée du programme</p>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="ion-text-center content-box">
                    <div>
                        <ion-icon name="disc-outline"></ion-icon>
                    </div>
                    <h4>6 semaines</h4>
                    <p>Durée du programme</p>
                </div>

            </ion-col>
            <ion-col size="12">
                <ion-button color="dark" shape="round" expand="full" class="f10" routerLink="/start-begin-the-session">Commencer la séance du jour 2
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <div class="devider"></div>
            </ion-col>
            <ion-col size="12">
                <div>
                    <h4 class="f14">Jours d’entraînement
                    </h4>
                </div>
                <div class="traind-days">
                    <div class="traind-days-boxbox active">1</div>
                    <div class="traind-days-box">2</div>
                    <div class="traind-days-box">3</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="viewall">
                <ion-button>JOUR 1
                </ion-button>
            </div>
        </ion-row>
        <ion-row>
            <ion-item>
                <img slot="start" src="assets/images/MODELE 2D TRAINING.png" style="width: 100px;">
                <ion-label>
                    <h4>Groupes musculaires sollicités : </h4>
                    <p>Pectoraux</p>
                    <div class="toggle-box">
                        <p class="f12">Détails des exercices </p>
                        <ion-toggle></ion-toggle>
                    </div>
                </ion-label>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-reorder-group disabled="false" reorder='true' (ionItemReorder)="onItemReorder($event)">
                    <!-- Default reorder icon, end aligned items -->
                    <ion-item>
                        <div class="reorder_list_div_section"></div>

                        <ion-label class="reorder_list_title">
                            <ion-label class="samll_text_bold"> Nom de l’exercice </ion-label>
                            <ion-label class="samll_text_bold">
                                Sous nom de l’exercice
                            </ion-label>
                        </ion-label>
                        <ion-reorder slot="end">
                            <ion-icon name="menu-outline"></ion-icon>
                        </ion-reorder>
                    </ion-item>

                    <ion-item>
                        <div class="reorder_list_div_section"></div>

                        <ion-label class="reorder_list_title">
                            <ion-label class="samll_text_bold"> Nom de l’exercice </ion-label>
                            <ion-label class="samll_text_bold">
                                Sous nom de l’exercice
                            </ion-label>
                        </ion-label>
                        <ion-reorder slot="end">
                            <ion-icon name="menu-outline"></ion-icon>
                        </ion-reorder>
                    </ion-item>
                    <ion-item>
                        <div class="reorder_list_div_section"></div>

                        <ion-label class="reorder_list_title">
                            <ion-label class="samll_text_bold"> Nom de l’exercice </ion-label>
                            <ion-label class="samll_text_bold">
                                Sous nom de l’exercice
                            </ion-label>
                        </ion-label>
                        <ion-reorder slot="end">
                            <ion-icon name="menu-outline"></ion-icon>
                        </ion-reorder>
                    </ion-item>
                </ion-reorder-group>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>