.titlebox {
    position: relative;
    color: #fff;
    height: 250px;
    overflow: hidden;
}

.titlebox-arrow {
    display: flex;
    position: absolute;
    width: 100%;
    top: 5%;
    padding: 0px 5%;
    transform: translateY(-5%);
}

.titlebox-arrow div {
    flex-grow: 1;
    font-size: 30px;
}

.titlebox-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.title-img {
    background: #000;
    height: 100%;
}

.title-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.titlebox-text h5 {
    font-size: 12px;
    margin: 0;
}

.titlebox {
    position: relative;
    color: #fff;
}

.content-box p {
    font-size: 10px;
    margin: 0;
    margin-top: 5px;
}

.content-box h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.content-box ion-icon {
    font-size: 30px;
}

.devider {
    height: 1px;
    background: #c1c1c1;
    margin: 10px 0px;
}

.traind-days .traind-days-box {
    text-align: center;
    background: #fff;
    width: 50px;
    margin-right: 5px;
    height: 50px;
    padding: 12px;
    display: block;
    color: #000;
    border: 1px solid #000;
}

.traind-days .traind-days-boxbox.active {
    text-align: center;
    background: var(--ion-btn-custom-color);
    width: 50px;
    margin-right: 5px;
    height: 50px;
    padding: 12px;
    display: block;
    color: #fff;
    border: 1px solid #000;
}

.traind-days {
    display: flex;
    position: relative;
}

.viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.viewall:before {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 100%;
    top: 13px;
    left: 0;
}

.viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 10px;
    height: 25px;
    --background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
}

ion-item {
    --inner-border-width: 0 0 0px 0;
    --border-width: 0 0 0px 0;
}

.toggle-box {
    display: flex;
    margin-top: 5px;
}

.toggle-box ion-toggle {
    padding: 5px;
    margin-left: 10px;
}

.reorder_list_div_section {
    width: 50px;
    background: #000;
    height: 35px
}

.reorder_list_title {
    padding-left: 10px
}