<ion-content>
    <ion-item>
        <ion-label class="ion-text-center f12">
            Avatar Start, Button Item
        </ion-label>
        <ion-button class="f10 ion-no-margin header-right" shape="round" expand="full" slot="end">Ecourter </ion-button>
    </ion-item>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col size="9" class="ion-no-padding">
                <div class="recovery">Récupération : 00:17 restantes </div>
            </ion-col>
            <ion-col size="3" class="ion-no-padding ion-text-right">
                <div class="pass"> <span>Passer</span>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <h4 class="f12 text-bold">BISET – [NOM DE L’EXERCICE]
                </h4>
            </ion-col>
            <ion-col size="12">
                <ul class="serie-no">
                    <li>n°1
                    </li>
                    <li>n°2
                    </li>
                    <li>Série n°3
                    </li>
                    <li>n°4
                    </li>
                </ul>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col size="12" class="ion-no-padding">
                <div class="videobox">
                    <div class="videobox-img">
                        <img src="assets/images/edit_physical_activity.png"> </div>
                    <div class="videobox-icon">
                        <div class="close">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                        <div class="right">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="f12"><strong>Technique d’intensification </strong>: aucune </div>
                <div class="d-fleex">
                    <div class="d-fleex-box f12">
                        Série suivante : BISET -<strong> [nom de l’exercice]</strong>

                    </div>
                    <div class="d-fleex-box f12 ion-text-right">
                        <strong>50</strong>kg x <strong>8</strong>réps
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <ion-slides [options]="categories" pager="true">
                    <ion-slide>
                        <ion-grid>
                            <ion-row class="ion-justify-content-center">
                                <ion-col>
                                    <div class="slider-box">
                                        <h4>40</h4>
                                        <p>kilos</p>
                                    </div>
                                </ion-col>
                                <ion-col size="auto">
                                    <h4>x</h4>
                                </ion-col>
                                <ion-col>
                                    <div class="slider-box">
                                        <h4>12</h4>
                                        <p>répétitions</p>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-slide>
                    <ion-slide>
                        <ion-grid>
                            <ion-row class="ion-justify-content-center">
                                <ion-col>
                                    <div class="slider-box">
                                        <h4>40</h4>
                                        <p>kilos</p>
                                    </div>
                                </ion-col>
                                <ion-col size="auto">
                                    <h4>x</h4>
                                </ion-col>
                                <ion-col>
                                    <div class="slider-box">
                                        <h4>12</h4>
                                        <p>répétitions</p>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-col size=12>
                <div class="doted-box">
                    <p>Informations complémentaires sur la série :
                        <br> 90%1RM --- RPE 9 --- RIR 1 --- TEMPO 4122
                    </p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="number-box ion-text-center">
                    10
                </div>
            </ion-col>
            <ion-col size="1">
                <div class="number-box-border" style="background: #ff0000ff;"></div>
            </ion-col>
            <ion-col size="9">
                <div class="number-box-text">
                    <strong>Effort maximal</strong>
                    <br> Je n’aurais pas pu faire 1 répétition de plus

                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="number-box ion-text-center">
                    9
                </div>
            </ion-col>
            <ion-col size="1">
                <div class="number-box-border" style="background: #833c0bff;"></div>
            </ion-col>
            <ion-col size="9">
                <div class="number-box-text">
                    <strong>Effort maximal</strong>
                    <br> Je n’aurais pas pu faire 1 répétition de plus

                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="number-box ion-text-center">
                    8
                </div>
            </ion-col>
            <ion-col size="1">
                <div class="number-box-border" style="background: #ed7d31ff;"></div>
            </ion-col>
            <ion-col size="9">
                <div class="number-box-text">
                    <strong>Effort maximal</strong>
                    <br> Je n’aurais pas pu faire 1 répétition de plus

                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="number-box ion-text-center">
                    7
                </div>
            </ion-col>
            <ion-col size="1">
                <div class="number-box-border" style="background: #ffc000ff;"></div>
            </ion-col>
            <ion-col size="9">
                <div class="number-box-text">
                    <strong>Effort maximal</strong>
                    <br> Je n’aurais pas pu faire 1 répétition de plus

                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="number-box ion-text-center">
                    6
                </div>
            </ion-col>
            <ion-col size="1">
                <div class="number-box-border" style="background: #ffff00ff;"></div>
            </ion-col>
            <ion-col size="9">
                <div class="number-box-text">
                    <strong> Effort maximal</strong>
                    <br> Je n’aurais pas pu faire 1 répétition de plus

                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="number-box ion-text-center">
                    5
                </div>
            </ion-col>
            <ion-col size="1">
                <div class="number-box-border" style="background: #92d050ff;"></div>
            </ion-col>
            <ion-col size="9">
                <div class="number-box-text">
                    <strong>   Effort maximal</strong>
                    <br> Je n’aurais pas pu faire 1 répétition de plus

                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="number-box ion-text-center">
                    1 - 4
                </div>
            </ion-col>
            <ion-col size="1">
                <div class="number-box-border" style="background: #b3c6e7ff;"></div>
            </ion-col>
            <ion-col size="9">
                <div class="number-box-text">
                    <strong>Effort maximal</strong>
                    <br> Je n’aurais pas pu faire 1 répétition de plus

                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <ion-button class="back" expand="full" shape="round">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="next" expand="full" shape="round">Enregistrer</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>