ion-item {
    --inner-border-width: 0 0 0px 0;
    --border-width: 0 0 0px 0;
}

.header-right {
    --border-radius: 5px;
    --background: #ccc;
    --color: #000;
}

.recovery {
    background: var(--ion-btn-custom-color);
    color: #fff;
    font-size: 10px;
    padding: 5px 10px;
}

.pass {
    background: #ccc;
    color: #000;
    font-size: 10px;
    padding: 5px 10px;
}

.serie-no {
    display: block;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.serie-no li {
    display: inline-block;
    padding: 3px 15px;
    background: #c1c1c1;
    margin-right: 5px;
    font-size: 10px;
    border-radius: 25px;
}

.videobox-icon {
    display: flex;
    position: absolute;
    bottom: -13px;
    right: 5%;
}

.close {
    background: #000;
    height: 30px;
    width: 30px;
    font-size: 19px;
    padding: 2px 5px;
    border-radius: 50%;
    color: #fff;
}

.right {
    height: 35px;
    width: 35px;
    font-size: 19px;
    padding: 4px 9px;
    border-radius: 50%;
    color: #fff;
    background: var(--ion-btn-custom-color);
    margin-left: 10px;
}

.videobox-img img {
    height: 225px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.videobox {
    position: relative;
}

.d-fleex {
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    margin-top: 5px;
}

.d-fleex-box {
    flex-grow: 1;
}

.slider-box h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: #9e9e9e;
}

.slider-box p {
    margin: 0px;
    font-size: 12px;
    color: #9e9e9e;
}

ion-slides {
    height: 130px;
}

.doted-box {
    font-size: 12px;
    text-align: center;
    background: #f2f2f2;
    border: 1px dashed #c1c1c1;
    border-radius: 10px;
}

.number-box {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.number-box-border {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
    height: 15px;
    width: 5px;
    background: #000;
    border-radius: 25px;
}

.number-box-text {
    font-size: 12px;
}

.back,
.next {
    --ion-button-round-border-radius: 5px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 5px;
    height: 40px;
}

.next {
    --background: var(--ion-btn-custom-color);
}

.back {
    --background: linear-gradient(to right, #161616e0, #c1c1c1);
    img {
        width: 70%;
    }
}