<ion-toolbar class="ion-border">
  <ion-text class="large_text_bold ion-text-center"> PARRAINAGE </ion-text>
</ion-toolbar>

<ion-content class="ion-padding">
  <!-- My Notebook-->
  <ion-row *ngIf="showRow == 'first'">
    <ion-segment
      value="principle"
      color="tertiary"
      scrollable="false"
      [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="principle">
        <ion-label>PRINCIPE</ion-label>
      </ion-segment-button>

      <ion-segment-button class="second-second-btn" value="history">
        <ion-label>HISTORIQUE</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-row class="ion-margin-top">
      <div *ngIf="segmentModel === 'principle'" class="principle_section">
        <ion-label class="small_text_bold">
          CUMULEZ DES MOIS GRATUITS EN PARRAINANT VOS AMIS
        </ion-label>

        <ion-img src="assets/icon/principle_segment_section.png"> </ion-img>

        <ion-label class="small_text">
          Avec le système de parrainage de Transformatics, vous avez la
          possibilité d’inviter vos amis à s’inscrire sur l’application et à
          souscrire à une formule d’abonnement.
        </ion-label>

        <ion-row class="ion-margin-top numbered_data_section">
          <ion-col size="1">
            <ion-label> 1 </ion-label>
          </ion-col>

          <ion-col size="11" class="text_desc">
            <ion-label class="small_text">
              Vous entrez le mail de la personne que vous souhaitez inviter
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="numbered_data_section">
          <ion-col size="1">
            <ion-label> 2 </ion-label>
          </ion-col>

          <ion-col size="11" class="text_desc">
            <ion-label class="small_text">
              Votre ami s’inscrit sur Transformatics
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="numbered_data_section">
          <ion-col size="1">
            <ion-label> 3 </ion-label>
          </ion-col>

          <ion-col size="11" class="text_desc">
            <ion-label class="small_text_bold">
              Vous obtenez un mois gratuit, et votre ami aussi !
            </ion-label>
          </ion-col>

          <ion-col size="12" class="desc_text">
            <ion-label class="small_text">
              Commencez dès maintenant en remplissant la ligne ci-dessous :  
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="item_white_section ion-margin-top">
          <ion-card mode="ios">
            <ion-card-content>
              <ion-label class="small_text_light">
                nicolas.martin1997@yahoo.fr
              </ion-label>

              <div class="tick_icon_background">
                <ion-icon name="checkmark-outline"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>

        <ion-row class="item_white_section ion-margin-top">
          <ion-card mode="ios">
            <ion-card-content>
              <ion-label class="small_text_light">
                Entrez ici l’adresse mail de l’ami que vous souhaitez parrainer…
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </div>

      <div *ngIf="segmentModel === 'history'" class="history_section">
        <ion-row class="item_white_section ion-margin-top">
          <ion-card>
            <ion-card-content>
              <ion-label> 22/11/2021 </ion-label>

              <ion-label class="small_text_light">
                nicolas.martin1997@yahoo.fr
              </ion-label>

              <div class="main_tick_div">
                <ion-label> applied </ion-label>

                <div class="tick_icon_background">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>

        <ion-row class="item_white_section ion-margin-top">
          <ion-card>
            <ion-card-content>
              <ion-label> 22/11/2021 </ion-label>

              <ion-label class="small_text_light">
                nicolas.martin1997@yahoo.fr
              </ion-label>

              <div class="main_tick_div">
                <ion-label> applied </ion-label>

                <div class="tick_icon_background">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>

        <ion-row class="item_white_section ion-margin-top">
          <ion-card>
            <ion-card-content>
              <ion-label> 22/11/2021 </ion-label>

              <ion-label class="small_text_light">
                nicolas.martin1997@yahoo.fr
              </ion-label>

              <div class="main_tick_div">
                <ion-label> applied </ion-label>

                <div class="tick_icon_background_none">
                  <ion-img src="assets/icon/progress.png"></ion-img>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>

        <ion-row class="item_white_section ion-margin-top">
          <ion-card class="shadow_less_card">
            <ion-card-content>
              <ion-label class="small_text_light">
                Relancer votre ami en lui renvoyant un mail ?
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-row>


        <ion-row class="item_white_section ion-margin-top">
          <ion-card>
            <ion-card-content>
              <ion-label> 22/11/2021 </ion-label>

              <ion-label class="small_text_light">
                nicolas.martin1997@yahoo.fr
              </ion-label>

              <div class="main_tick_div">
                <ion-label> applied </ion-label>

                <div class="tick_icon_background_none">
                  <ion-icon name="close-outline" class="close_icon"></ion-icon>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>


        
        <ion-row class="ion-margin-top">
          <div class="profile-viewall">
            <ion-button>VOIR TOUS LES PARRAINAGES </ion-button>
          </div>
        </ion-row>

        <ion-row class="ion-margin-top card_data_section">
          <ion-card mode="ios" class="card-box">
            <ion-card-header>
              <ion-item lines="none">
                <ion-avatar>
                  <ion-img
                    src="assets/icon/transformatics_small_logo.png"
                  ></ion-img>
                </ion-avatar>
                <ion-label class="list_section_title">
                  <ion-label class="medium_text">
                    NOTE SUR LES THEMES DU CARNET
                  </ion-label>
                </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-label class="small_text ion-text-justify">
                Lorsque vous parvenez à 5 personnes parrainées en l’espace de 30
                jours, vous bénéficierez automatiquement d’un mois
                supplémentaire offert sur votre abonnement Transformatics, sans
                que vous n’ayez quoi que ce soit à faire !
              </ion-label>

              <ion-label class="small_text ion-margin-top ion-text-justify">
                Vos parrainages sont valables 3 mois. Passé ce délai,
                l’invitation à votre ami sera automatiquement supprimée.
              </ion-label>
            </ion-card-content>

            <div class="ribbon-wrapper-1">
              <div class="ribbon-1">Ribbon</div>
          </div>
            
          </ion-card>
        </ion-row>
      </div>
    </ion-row>
  </ion-row>

</ion-content>
