ion-content {}

ion-toolbar {
    border-bottom: 1px solid #c8c8c8;
    // height: 7%;
    padding-right: 10px;

    ion-text {
        display: block;
    }

    // ion-buttons {
    //     ion-button {
    //         ion-img {
    //             width: 30px;
    //         }
    //     }
    // }
}

ion-row {
    width: 100%;
}

.close-btn-icon {
    font-size: 29px;
    font-weight: 700;
}


.second-second-btn {
    margin-left: 25%;
}

.principle_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    ion-img {
        width: 45%;
        align-self: center;
    }

}

.numbered_data_section {
    .text_desc {
        text-align: left;
    }
}

.tick_icon_background {
    height: 25px;
    background: #b2a847;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;

    ion-icon {
        align-self: center;
        font-weight: bold;
        color: #fff;
    }
}

.tick_icon_background_none {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;

    ion-icon {
        align-self: center;
        font-weight: bold;
        color: #fff;
    }
}

.tick_col {
    display: flex;
}

.item_white_section {
    ion-card {
        width: 100%;
        margin: 0;

        ion-card-content {

            display: flex;
            justify-content: space-around;

            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}


.history_section {
    width: 100%;
}

.main_tick_div {
    display: flex;
    flex-direction: row;

    ion-label {
        margin-right: 5px;
        font-size: 10px;
        align-self: center;
    }
}



.profile-viewall {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-viewall ion-button {
    --border-radius: 25px;
    display: table;
    margin: auto;
    font-size: 12px;
}

.profile-viewall:before {
    content: "";
    position: absolute;
    background: #c1c1c1;
    height: 1px;
    width: 100%;
    top: 19px;
    left: 0;
}


.card_data_section {
    ion-card {
        width: 100%;
        // height: 210px;
        margin: 0;
        padding: 5px;
        
        ion-card-header {
            padding: 5px;
            display: flex;
            flex-direction: column;
        }

        ion-card-content {
            padding: 5px;
            display: flex;
            flex-direction: column;
        }

    }
}

// .card-box:before {
//     content: "";
//     border-right: 20px solid #F4B183;
//     border-top: 20px solid #F4B183;
//     border-left: 20px solid #ff000000;
//     border-bottom: 20px solid #ff000000;
//     position: absolute;
//     top: 0;
//     right: 0;
//     z-index: 999;
// }

.card-box {
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    padding: 5px;
}

.ribbon-wrapper-1 {
    width: 51px;
    height: 65px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ribbon-1 {
    font: bold 15px Sans-Serif;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: rotate( 47deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: 0px;
    top: 16px;
    height: 44px;
    width: 150px;
    background: var(--ion-btn-custom-color);
    color: #fff;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    letter-spacing: 0.5px;
    z-index: 1;
}


.desc_text {
    display: flex;
}

.close_icon {
    align-self: center !important;
    font-weight: bold !important;
    color: #000 !important;
    font-size: 23px !important;
}