<!-- <ion-header>
  <ion-toolbar>
    <ion-title>physical-activity-creation-menu</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" *ngIf="firstPage">
  <ion-row class="ion-margin-top">
    <ion-label> Type de plan </ion-label>
  </ion-row>
  <ion-row class="plan_btn_section">
    <ion-col size="4" class="first_col">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn == 'program' ? 'primary' : 'light'"
          expand="full"
          (click)="plansBtn = 'program'"
          >Programme
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn == 'detail_section' ? 'primary' : 'light'"
          expand="full"
          (click)="plansBtn = 'detail_section'"
          >Séance détaillée
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn == 'free_session' ? 'primary' : 'light'"
          expand="full"
          expand="full"
          (click)="plansBtn = 'free_session'"
          >Séance libre
        </ion-button>
      </div>
    </ion-col>
  </ion-row>


  <ion-row class="select_box_section ion-margin-top">
    <ion-col size="12">
      <ion-item lines="none">
          <ion-label class="filter-text">Sélectionnez un sport dans la liste suivante : 
          </ion-label>
          <ion-select interface="action-sheet" class="custom-options">
              <ion-select-option value="Aux arachides">Tout</ion-select-option>
              
          </ion-select>
      </ion-item>
  </ion-col>
  </ion-row>


  


  <ion-row class="masculation_section">
  
      <!-- <div class="coachingathlete" (click)="firstPage = !firstPage"> -->

      <div class="coachingathlete">
        <ion-row>

          <ion-col size="4" class="coachingathleteCol">


            <img src="assets/icon/masculation.png">

            <!-- <ion-label class="small_text_bold">
              
              {{ plansBtn == 'program' ? 'MUSCULATION' : plansBtn == 'free_session' ? 'CYCLISME' : 'CROSSFIT' }}
              
  
            </ion-label> -->
          </ion-col>

          <ion-col size="8" class="select_section">
              <ion-select interface="action-sheet" class="custom-options" [(ngModel)]="programmeSelect">
                  <ion-select-option value="masculation"> MUSCULATION </ion-select-option>
                  <ion-select-option value="crossfit"> CROSSFIT </ion-select-option>

                  
              </ion-select>
          </ion-col>


 
  </ion-row>

  

      </div>
  </ion-row>









<div *ngIf="plansBtn == 'program' || plansBtn == 'detail_section'">

  <ion-row class="ion-margin-top">
    <ion-label> Mode de création
 </ion-label>
  </ion-row>

  <ion-row class="plan_btn_section ion-margin-top">
    <ion-col size="6" class="first_col">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="creationMode == 'manual' ? 'primary' : 'light'"
          expand="full"
          (click)="creationMode = 'manual'"
          >Manuel
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="creationMode == 'automatic' ? 'primary' : 'light'"
          expand="full"
          (click)="creationMode = 'automatic'"
          >Automatique
        </ion-button>
      </div>
    </ion-col>
    
  </ion-row>  



  <ion-row class="select_box_section ion-margin-top" *ngIf="creationMode == 'automatic' && programmeSelect == 'masculation'">
    <ion-col size="12">
      <ion-item lines="none">
          <ion-label class="filter-text">Type de séance souhaité 
          </ion-label>
          <ion-select value="fullbody" interface="action-sheet" class="custom-options">
              <ion-select-option value="fullbody">Fullbody</ion-select-option>
              
          </ion-select>
      </ion-item>
  </ion-col>
  </ion-row>




  <ion-row class="select_box_section ion-margin-top" *ngIf="creationMode == 'automatic' && programmeSelect == 'crossfit'">
    <ion-col size="12">
      <ion-item lines="none">
          <ion-label class="filter-text">Type de WOD souhaité
          </ion-label>
          <ion-select value="Complexs" interface="action-sheet" class="custom-options">
            <ion-select-option value="Complexs">Benchmarks</ion-select-option>

              <ion-select-option value="Complexs">Complexs</ion-select-option>
              <ion-select-option value="Open Workouts">Open Workouts</ion-select-option>

              
          </ion-select>
      </ion-item>
  </ion-col>
  </ion-row>



</div>


  <ion-row *ngIf="plansBtn == 'free_session'" class="ion-margin-top">
    <div class="ion-margin-top card_data_section row-padding-left">
      <ion-card mode="ios" class="card-box">
        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar>
              <ion-img
                src="assets/icon/transformatics_small_logo.png"
              ></ion-img>
            </ion-avatar>
            <ion-label class="list_section_title">
              <ion-label class="medium_text">
                NOTE SUR LES THEMES DU CARNET
              </ion-label>
            </ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-label class="small_text">
            Afin de créer un carnet riche en informations, sélectionnez les
            différents thèmes que vous souhaitez afficher en récurrence sur
            votre carnet. Ceux-ci seront directement intégrés dans votre base
            de données et vous permettra de les sélectionner plus rapidement
            et de gagner du temps !
          </ion-label>
        </ion-card-content>

        <div class="ribbon-wrapper-1">
          <div class="ribbon-1">Ribbon</div>
      </div>
      
      </ion-card>
    </div>


    <div class="small_card_row ion-margin-top">
    <ion-card>
      <ion-card-content>
        <ion-label class="small_text">
          Durée de l’activité (minutes)


        </ion-label>
        <ion-input class="extra_large_text" placeholder="65"></ion-input>
        <!-- <ion-label class="extra_large_text">7,65
        </ion-label> -->
      </ion-card-content>
    </ion-card>
  </div>



  <div class="big_card_row ion-margin-top">
    <ion-card>
      <ion-card-content>

        <ion-img src="assets/icon/cycling.png"></ion-img>
        <ion-label class="extra_large_text">
          55


        </ion-label>

        <ion-label class="small_text_bold" style="margin-top: 5%;">
          kcl
        </ion-label>
       
      </ion-card-content>
    </ion-card>
  </div>

</ion-row>


</ion-content>


<!--Second Content -->
<ion-content class="ion-padding" *ngIf="!firstPage">

  <ion-row class="ion-margin-top">
    <ion-label class="small_text_bold"> Objectif du WOD
    </ion-label>
  </ion-row>
  <ion-row class="plan_btn_section">
    <ion-col size="4" class="first_col">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn2 == 'program' ? 'primary' : 'light'"
          expand="full"
          (click)="plansBtn2 = 'program'"
          >Groupe C

        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn2 == 'detail_section' ? 'primary' : 'light'"
          expand="full"
          (click)="plansBtn2 = 'detail_section'"
          >Groupe H 
          (haltérophilie)
          
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="steptwofirstbtn">
        <ion-button
          [color]="plansBtn2 == 'free_session' ? 'primary' : 'light'"
          expand="full"
          expand="full"
          (click)="plansBtn2 = 'free_session'"
          >
          Groupe ?

        </ion-button>
      </div>
    </ion-col>
  </ion-row>


  <ion-grid *ngIf="plansBtn2 == 'program'" class="ion-margin-top">
    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Warm-up
      </ion-label>
  
      <ion-col size="12" class="list_item_col">
        <ion-label class="very_small_text">
          Aucun exercice pour le moment
  
        </ion-label>
      </ion-col>
    </ion-row>
    

    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Skill
      </ion-label>
  
      <ion-col size="12" class="list_item_col">
        <ion-label class="very_small_text">
          Aucun exercice pour le moment

  
        </ion-label>
      </ion-col>
    </ion-row>



    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Mini-WOD’s

      </ion-label>
  
      <ion-col size="12" class="list_item_col">
        <ion-label class="very_small_text">
          Aucun exercice pour le moment

  
        </ion-label>
      </ion-col>
    </ion-row>


    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Etirements


      </ion-label>
  
      <ion-col size="12" class="list_item_col">
        <ion-label class="very_small_text">
          Aucun exercice pour le moment

  
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>





  <ion-grid *ngIf="plansBtn2 == 'detail_section'" class="ion-margin-top">
    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Warm-up
      </ion-label>
  
      <ion-col size="12" class="list_item_col2">
        <ion-label class="very_small_text">
          Aucun exercice pour le moment
  
        </ion-label>
      </ion-col>
    </ion-row>
    

    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Skill
      </ion-label>
  
      <ion-col size="12" class="list_item_col2">
        <ion-item lines="none">
          <div class="black_box"></div>
  
          <ion-label class="list_section_title">
            <ion-label class="very_small_text_1"> Nom de l’exercice </ion-label>
            <ion-label class="very_small_text_1">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-col>
    </ion-row>



    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Mini-WOD’s

      </ion-label>
  
      <ion-col size="12" class="list_item_col3">
        <ion-row class="select_body_section ion-margin-top" (click)="openModal()">
          <ion-label class="small_text_bold">
            FAQAYC / AFAP

          </ion-label>
        </ion-row>
      </ion-col>

        <ion-col size="12" class="list_item_col2 ion-margin-top">
          <ion-item lines="none">
            <div class="black_box"></div>
    
            <ion-label class="list_section_title">
              <ion-label class="very_small_text_1"> Nom de l’exercice </ion-label>
              <ion-label class="very_small_text_1">
                Sous nom de l’exercice
              </ion-label>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <ion-item lines="none">
            <div class="black_box"></div>
    
            <ion-label class="list_section_title">
              <ion-label class="very_small_text_1"> Nom de l’exercice </ion-label>
              <ion-label class="very_small_text_1">
                Sous nom de l’exercice
              </ion-label>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
      </ion-col>
    </ion-row>


    <ion-row class="ion-margin-bottom">
      <ion-label class="small_text bold_text">
        Etirements



      </ion-label>
  
      <ion-col size="12" class="list_item_col2">
        <ion-item lines="none">
          <div class="black_box"></div>
  
          <ion-label class="list_section_title">
            <ion-label class="very_small_text_1"> Nom de l’exercice </ion-label>
            <ion-label class="very_small_text_1">
              Sous nom de l’exercice
            </ion-label>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-col>


    </ion-row>
  </ion-grid>

  <ion-row *ngIf="plansBtn2 == 'free_session'" class="ion-margin-top">
    cc
  </ion-row>


  
  </ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-button *ngIf="firstPage && plansBtn != 'free_session'" (click)="redirectPageProgram()">
  Lancer la création
  </ion-button>
  
  <ion-button *ngIf="plansBtn == 'free_session'" (click)="firstPage = true">
    Ajouter
   </ion-button>

  <ion-button *ngIf="!firstPage" (click)="firstPage = true">
    Ajouter des exercices
   </ion-button>

</ion-footer>
