<ion-grid>
    <form [formGroup]="stepOneForm">
        <ion-row>
            <ion-col>
                <h3 class="steper-heading"> INFORMATIONS GÉNÉRALES ET DONNÉES PHYSIOLOGIQUES</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <p class="steper-title">Vous êtes</p>
            </ion-col>
            <ion-col>
                <div class="gender">
                    <ion-button [color]="gender == 'male' ? 'primary' : 'light'" expand="full"
                        (click)="changeGender('male')">
                        Un
                        homme
                    </ion-button>
                </div>
            </ion-col>
            <ion-col>
                <div class="gender">
                    <ion-button [color]="gender == 'female' ? 'primary' : 'light'" color="light" expand="full"
                        (click)="changeGender('female')">Une femme
                    </ion-button>
                </div>
            </ion-col>
            <ion-col size="12">
                <p class="steper-title dateDeNa">Date de naissance
                </p>
                <div>
                    <ion-list>
                        <ion-item style="--padding-start: 0px !important; --border-width: 0 0 1px 0;">
                            <ion-datetime displayFormat="MMMM YY" min="1989-06-04" max="2004-08-23"
                                value="1994-12-15T13:47:20.789" formControlName="birthday_date"
                                (ionChange)="changeDOB($event)"></ion-datetime>
                            <ion-icon class="calendar-icon" name="calendar-outline" item-right></ion-icon>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-col>
            <ion-col size="12">
                <ion-list>
                    <ion-list-header style="padding-inline-start: calc(var(--ion-safe-area-left, 0px) + 0px);">
                        <ion-label class="steper-title">Poids <small>en kilogrammes (kg)</small></ion-label>
                    </ion-list-header>
                    <ion-item style="--padding-start: 0px !important;">
                        <ion-range [min]="weightMinRange" max="200" (ionChange)="weightChange($event)">
                            <ion-label slot="start">{{weightMinRange}}</ion-label>
                            <ion-label slot="end">{{weightChangeRange}}</ion-label>
                        </ion-range>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-list-header style="padding-inline-start: calc(var(--ion-safe-area-left, 0px) + 0px);">
                        <ion-label class="steper-title">Taille<small> en centimètres (cm)</small></ion-label>
                    </ion-list-header>
                    <ion-item style="--padding-start: 0px !important;">
                        <ion-range [min]="heightMinRange" max="250" (ionChange)="heightChange($event)">
                            <ion-label slot="start">{{heightMinRange}}</ion-label>
                            <ion-label slot="end">{{heightChangeRange}}</ion-label>
                        </ion-range>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <p class="steper-title activitePhysiqueExterne">
                    <strong>Activité physique externe :</strong> remplissez le tableau suivant en fonction de vos
                    activités
                    journalières, sur les jours où vous vous entraînez et où vous êtes en repos, par le nombre d’heures
                    journalier pour chaque activité
                    :
                </p>
            </ion-col>

            <ion-col size="12">

                <div class="segment-box">
                    <ion-segment value="favorites" scrollable="true" mode="ios" [(ngModel)]="segmentModel"
                        (ionChange)="segmentChanged($event)">


                        <ion-segment-button value="favorites">
                            <ion-label>JOURS D’ENTRAINEMENT</ion-label>
                        </ion-segment-button>


                        <ion-segment-button value="profile">
                            <ion-label> JOURS DE REPOS</ion-label>
                        </ion-segment-button>


                    </ion-segment>
                </div>


                <ion-card class="mi-0" *ngIf="segmentModel === 'favorites'">
                    <ion-card-content class="">

                        <ion-item class="item ios in-list ion-focusable hydrated item-label"
                            *ngFor="let item of training_days">
                            <div class="input-price" slot="end">
                                <ion-button class="p-0 remove" size="small" fill="clear" (click)="decrease(item.id)">
                                    <ion-icon name="remove-outline"></ion-icon>
                                </ion-button>
                                <div class="display-price">
                                    {{ item.quantity }} h
                                </div>
                                <ion-button class="p-0 add" size="small" fill="clear" (click)="increase(item.id)">
                                    <ion-icon name="add-outline"></ion-icon>
                                </ion-button>
                            </div>
                            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                                {{ item.name }}
                            </ion-label>
                        </ion-item>

                        <ion-item class="item ios in-list ion-focusable hydrated item-label ">
                            <div class="total" slot="end">
                                <p>
                                    TOTAL/24 : {{totalTrainingHours}} heures
                                </p>
                            </div>
                        </ion-item>

                    </ion-card-content>
                </ion-card>

                <ion-card class="mi-0" *ngIf="segmentModel === 'profile'">
                    <ion-card-content class="">
                        <ion-item class="item ios in-list ion-focusable hydrated item-label"
                            *ngFor="let item of days_off">
                            <div class="input-price" slot="end">
                                <ion-button class="p-0 remove" size="small" fill="clear"
                                    (click)="decreaseDaysOff(item.id)">
                                    <ion-icon name="remove-outline"></ion-icon>
                                </ion-button>
                                <div class="display-price">
                                    {{ item.quantity }} h
                                </div>
                                <ion-button class="p-0 add" size="small" fill="clear"
                                    (click)="increaseDaysOff(item.id)">
                                    <ion-icon name="add-outline"></ion-icon>
                                </ion-button>
                            </div>
                            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                                {{ item.name }}
                            </ion-label>
                        </ion-item>


                        <ion-item class="item ios in-list ion-focusable hydrated item-label ">
                            <div class="total" slot="end">
                                <p>
                                    TOTAL/24 : {{totalDaysHours}} heures
                                </p>
                            </div>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <h3>Quels sports pratiquez-vous ?</h3>
            </ion-col>
            <ion-col size="3" *ngFor="let item of sportsData">
                <div class="sports-box">
                    <ion-button [class]="item.isActive ? 'p-0 active' : 'p-0' " expand="full" shape="round"
                        (click)="clickSportButton(item)">
                        <ion-img class="ion_img_icon" [src]="item.icon"></ion-img>
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </form>
</ion-grid>