.daybox {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.daybox-title {
    display: inline-block;
    background: #626262;
    padding: 3px 20px;
    border-radius: 25px;
    border: 2px solid #333;
    z-index: 1;
    position: relative;
}
.toggle-button {
    position: absolute;
    right: 15px;
    top: 10px;
}
.detail-box {
    padding-left: 20px;
    padding-right: 20px;
}
ion-item {
    ion-label {
        font-size: 12px;
        font-family: 'Oswald';
    }
}
.next {
    --background: var(--ion-btn-custom-color);
    font-size: 10px;

}

ion-toggle {
    --handle-background:  #fff url('../../../../assets//icon/female.png') no-repeat center / contain;
    --handle-background-checked: #fff url('../../../../assets//icon/female.png') no-repeat center / contain;
}
ion-datetime {
    font-size: 12px;
    font-weight: 100;
}
ion-select {
    font-size: 12px !important;
    font-weight: 100;
}