<ion-content>
  <!-- <div class="daybox">
    <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
    <div class="daybox-title">AUJOURD’HUI</div>
  
    <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
</div> -->
  <div class="toggle-button">
  
      <ion-toggle class="rainy-toggle" (ionChange)="showDetail($event)"></ion-toggle>
   
    
  </div>
  <div *ngIf="!showDetails">
    <ion-calendar  [(ngModel)]="date"
    (onChange)="onChange($event)"
    [options]="options"
    type="string"
    format="YYYY-MM-DD">
  </ion-calendar>
  </div>
  <div *ngIf="showDetails">
    <ion-calendar  class="custom-calendar" [(ngModel)]="date"
    (onChange)="onChange($event)"
    [options]="options"
    type="string"
    format="YYYY-MM-DD">
  </ion-calendar>
  </div>
  <div *ngIf="showDetails">
    <div class="detail-box">
      <p class="small_text">Le calendrier vous permet accessoirement de délimiter vos périodes menstruelles. Pour intégrer cette fonctionnalité sur votre calendrier personnel, remplissez les lignes suivantes:</p>
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            Date de début de vos dernières menstruations
          </ion-label>
          <ion-datetime  placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Date de fin de vos dernières menstruations
          </ion-label>
          <ion-datetime placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            Durée moyenne d’un cycle menstruel
          </ion-label>
          <ion-select placeholder="Select Days">
            <ion-select-option *ngFor="let val of days; index as i">{{i + 1}}</ion-select-option>
          </ion-select>
          
        </ion-item>
      </ion-list>
      <ion-button class="next" expand="full" shape="round" (click)="save()">Sauvegarder les dates des menstruations
      </ion-button>
    </div>
  </div>
</ion-content>
