.steps {
    height: 5px;
    background: #000;
    border-radius: 10px;
}

.steps.active {
    background: #c1c1c1;
}

.back,
.next {
    --ion-button-round-border-radius: 5px;
    --ion-button-border-radius: 5px;
    --ion-border-radius: 5px;
    --border-radius: 5px;
    height: 40px;
}

.header-md::after {
    background-image: none;
}

.next {
    --background: var(--ion-btn-custom-color);

}

.back {
    --background: linear-gradient(to right, #161616e0, #c1c1c1);
}